/* Skin colore primario #002e60 */
/* Skin colore secondario #8096ae*/
a,a:hover,a:focus {color:#002e60;}
.titFinalita {display:none !important;}

.main-visual {border-top:solid 6px #002e60;}
.main-visual .fascione,.main-visual .promo-box {background: #002e60 ;color:#fff;}
.bordato {border-color:#8096ae;}
ul.mTabs {display:block;}
ul.mTabs li a.selected  span {border-color:#8096ae; border-bottom:0 none;color:#8096ae;}
.checkbox label::after {color:#8096ae;}
ul.mTabs li a,ul.mTabs li a:focus {border-bottom: solid 2px #8096ae;}
#mCalcCons .sliderBlock .slider-selection, .radio label::after,#mCalcCons .sliderBlock .tooltip.top .tooltip-inner,.mData .mGauge, .btn-grlit, .btn,.btn:active,.btn:hover,.btn:focus  {background-color:#8096ae !important;}
h3.tipomutuo-title {display:none;}
h2.titFinalita {border-color:#7ebcb1; display:none !important;}
h2.titFinalita span {color:#002e60;}

.box-captcha, .box-captcha-right input.form-control {border-color: #8096ae !important;}

/* Sostituzione immagini */
#mCalcCons .plusmin {background-image:url(../../fe/img/blue_icon_plus.png);}
#mCalcCons .plusmin.min {background-image: url(../../fe/img/blue_icon_min.png);}
.mData .scheda {background-image: url(../../fe/img/blue_freccia_link.png);}
#mCalcCons .sliderBlock .slider-handle {background-image: url(../../fe/img/blue_mutui_cursore.png);}
a.icoinfo {background-image:url(../../fe/img/blue_icon_info.png);}

/* Cookie bar 2021 */
.cookie-banner .cookie-console button {
    background-color:#8096AE; color: #fff;border:solid 2px #8096AE;
}
.cookie-banner .cookie-console button:hover {opacity:0.8;}
.cookie-banner .cookie-console button.evidente {
	background-color:#fff; color: #666;border:solid 2px #fff;
}
/* Fine cookie bar 2021 */