
.accordion {
  .card, .acc-item {
    border: none;
    background: $white;
    margin-bottom: 1rem;
    &:not([class*="b-r-"]) {
      border-radius: 0;
    }
    .card-header {
      border-radius: 0;
      border: none;
      background: $gray7;
      cursor: pointer;
      @include no_user_select();
      .card-header-title {
        font-size: $bodyFontSize;
        font-weight: bold;
        color: $greenLink; 
      }
      // SG Multi Elements Header Contain
      .full-contain {
        width: max-content;
        //IE11 Force NOBR
        white-space: nowrap;
      }
      // End
      .card-header-icon {
        @include icon-font-family();
        color: $greenLink;
        border: solid 2px $greenLink;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.3rem;
        text-align: center;
        border-radius: 1rem;
        &:before {
          display: block;
          font-size: 14px;
          content: "\e914";
        }
        &.plus-minus:before {
          @include icon-font-family();
          content: '\2013';
          font-size: 22px;
          font-weight: bold;
          line-height: 13px;
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            transform: translate(0,3px);
          }
        }
      }
      &.collapsed {
        .card-header-title {
          color: $gray2;
        }
        .card-header-icon {
          line-height: 1.5rem;
          border-color: $gray2;
          color: $gray2;
          &:before {content: "\e913"}
          &.plus-minus:before {
            content: '\002B';
          }
        }
      }
    }
    
    .card-body {
      padding: 1rem;
      font-size: $bodyFontSize;
    }
    .up-body-separator {
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  &.bordered-style {
    .card {
      background: $white;
      border: solid 1px $grayBordered;
      .card-header {
        background: transparent;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background: none;
        .card-header-title {
          font-size: 22px;
        }
      }
      .card-body {
        background: transparent;
        padding: 1rem 1rem 2rem 1rem;
      }
    }
    &.bordered-only-top {
      .card {
        border:0;
        border-top: solid 1px $grayBordered;
      }
      .card-header {
        padding-top: 1rem;
      }
    }
  }
  

  &.ico-close-pa {
    .card-header {
      position: relative;
    }
   
    .card-header-icon {
      position: absolute;
      right: 0.8rem;
      @media (max-width:$bp_sm_min) {
        right: 0.5rem;
        top: 1rem;
      }
    }
    
    .card-header {
       padding-right:2.5rem;
       @media (max-width:$bp_sm_min) {
        padding-right:0;
      }
    }
  }
  // SG New Style
  &.always-active {
  // Importa icomoon per fruire delle variabili icona (solo qui, diversamente)
  @import "../../css/icomoon";


    .card, .acc-item {
      /* Border-color differente per coerenza con i bordi dei bordi 
      degli altri elementi (#DDDDDD) */
      border: solid 1px $gray4;
      .card-header {
        &.collapsed {
          .card-header-title {
            color: $greenLink;
          }
          .card-header-icon {
            @extend .icon-circle_arrow_down; 
            line-height: 1.5rem;
            border:none;
            color: $greenLink;
            width: 30px; // IE 100% problem
            &:before {
              font-size:20px;
            }
                /*
                &:before {
                
                content: "\e95b";
                font-size: 21px;
                font-weight: 600;
                }
                */
              
            
          }
        }
        .card-header-icon {
          @extend .icon-circle_arrow_up;
          line-height: 1.5rem;
          border:none;
          color: $greenLink;
          width: 30px; // IE 100% problem
          &:before {
            font-size:20px;
          }
          /*
          &:before {
            content: "\e95a";
            font-size: 21px;
            font-weight: 600;
          }
          */
        }
      }
    }
  }
  // Accordion Boxata con immagine e sfondo $blueLight
  &.accordion-with-image {
    border: 0px;
    border-radius: 4px;
    box-shadow: 4px 2px 4px 1px rgb(0 0 0 / 8%);
    .card, .acc-item {
      background: $blueLight;
      border: 0px;
      border-radius: 4px;
    }
    .card .card-body {
      padding-top: 0px;
    }
    .up-body-separator {
      margin: 0px 5px 18px 5px;
    }
    .card-body-text {
      font-size: 16px;
      padding-left:5px;
    }
    .left-image img {
      max-width: 200px;
    }
    .card-header {
      position: relative;
      & > .row {
        padding-right: 40px;
      }
      .header-accord-icon {
        position: absolute;
        top: 20px;
        right: 25px;
        .icon {
          color: #2F9988;
          font-size: 26px;
        }
      }
    }
  }
}