
.accordion {
  .card, .acc-item {
    border: none;
    background: $white;
    margin-bottom: 1rem;
    &:not([class*="b-r-"]) {
      border-radius: 0;
    }
    .card-header {
      border-radius: 0;
      border: none;
      background: $gray7;
      cursor: pointer;
      @include no_user_select();
      .card-header-title {
        font-size: $bodyFontSize;
        font-weight: bold;
        color: $greenLink; 
      }
      // SG Multi Elements Header Contain
      .full-contain {
        width: max-content;
        //IE11 Force NOBR
        white-space: nowrap;
      }
      // End
      .card-header-icon {
        @include icon-font-family();
        color: $greenLink;
        border: solid 2px $greenLink;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.3rem;
        text-align: center;
        border-radius: 1rem;
        &:before {
          display: block;
          font-size: 14px;
          content: "\e914";
        }
        &.plus-minus:before {
          @include icon-font-family();
          content: '\2013';
          font-size: 22px;
          font-weight: bold;
          line-height: 13px;
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            transform: translate(0,3px);
          }
        }
      }
      &.collapsed {
        .card-header-title {
          color: $gray2;
        }
        .card-header-icon {
          line-height: 1.5rem;
          border-color: $gray2;
          color: $gray2;
          &:before {content: "\e913"}
          &.plus-minus:before {
            content: '\002B';
          }
        }
      }
    }
    
    .card-body {
      padding: 1rem;
      font-size: $bodyFontSize;
    }
    .up-body-separator {
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  &.bordered-style {
    .card {
      background: $white;
      border: solid 1px $grayBordered;
      .card-header {
        background: transparent;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background: none;
        .card-header-title {
          font-size: 22px;
        }
      }
      .card-body {
        background: transparent;
        padding: 1rem 1rem 2rem 1rem;
      }
    }
  }
  &.with-squared {
    .card-header .text {
      font-size: 18px;
      .text-alert {
        font-size:12px;
        font-weight: normal;
        float: right;
        line-height: 20px;
        position: relative;
        top:5px;
        .icon {
          float: left;
        }
      }
    }
    
  }

  &.ico-close-pa {
    .card-header {
      position: relative;
    }
   
    .card-header-icon {
      position: absolute;
      right: 1rem;
      top: 2rem;
      @media (max-width:$bp_sm_min) {
        right: 0.5rem;
        top: 1rem;
      }
    }
    
    .card-header {
       padding-right:2.5rem;
       @media (max-width:$bp_sm_min) {
        padding-right:0;
      }
    }
  }
  // SG New Style
  &.always-active {
  // Importa icomoon per fruire delle variabili icona (solo qui, diversamente)
  @import "../../css/icomoon";


    .card, .acc-item {
      /* Border-color differente per coerenza con i bordi dei bordi 
      degli altri elementi (#DDDDDD) */
      border: solid 1px $gray4;
      .card-header {
        &.collapsed {
          .card-header-title {
            color: $greenLink;
          }
          .card-header-icon {
            @extend .icon-circle_arrow_down; 
            line-height: 1.5rem;
            border:none;
            color: $greenLink;
            width: 30px; // IE 100% problem
            &:before {
              font-size:20px;
            }
                /*
                &:before {
                
                content: "\e95b";
                font-size: 21px;
                font-weight: 600;
                }
                */
              
            
          }
        }
        .card-header-icon {
          @extend .icon-circle_arrow_up;
          line-height: 1.5rem;
          border:none;
          color: $greenLink;
          width: 30px; // IE 100% problem
          &:before {
            font-size:20px;
          }
          /*
          &:before {
            content: "\e95a";
            font-size: 21px;
            font-weight: 600;
          }
          */
        }
      }
    }
  }
 
}