.boxOutput {
  //margin-top: -1px;
  
  h3 {
    color:$gray2 !important
  }
  
  .borderBottom {
    border-bottom: 1px solid $grayBordered;
  }
  
  .borderRight {
    border-right: 1px solid $grayBordered; 
  }
   
  @media (max-width: 767px)
  {
    .borderRight {
      border-bottom: 1px solid $grayBordered;
      border-right: none !important;
    }

    .paddingTopResponsive {
      padding-top: 16px
    }
  }
} 

.box-bonifico {
    border-top:1px solid $grayLightBorder;
    border-bottom:1px solid $grayLightBorder;
    margin-left: -1rem!important;
    margin-right: -1rem!important;
    .col-md:first-child {padding-left: 1.5rem!important;}
    .col-md:last-child {padding-right: 1.5rem!important;}
    .radio {
      padding-top:1rem;
    }
   .highlight {
    background: rgba(49, 157, 141, 0.06) url(../img/bck_bon_istant.png) no-repeat right bottom ;
    background-size: 30% ;
    .text-highlight{
      text-transform:uppercase;
      color:$green;
      font-weight: bold;
    }
    .radio.control-group label{ background: url(../img/ico_bon_ista.png) no-repeat 10px 0; background-size:25px; padding-left:45px}
   }
   .separator:after {
     border-left:1px solid $grayLightBorder;
   }
   
}
@media (max-width: 767px) { 
  .box-bonifico {
    .highlight {
      background-size: 20%;
      min-height: 160px;
      margin-top:1rem;
      .separator, .separator.d-block, .separator.d-block:after { 
        display: none!important;
      }
    }
   }
  }

 .bordered .top-evidente {
    padding: 15px;
    margin: -14px -14px 14px;
    background-color: #f4f8f7;
  }
 
  /* BOX PROMO*/
  .box-promo {
    background-color: $white;
    box-shadow: 4px 2px 4px 1px rgba(0, 0, 0, 0.08);
    &-left {
      padding: 28px;
      background-color: $blueLight;
      img {
        max-width: 134px;
      }
    }
    &-top, &-bottom {
      padding-left:16px;
      padding-right:22px;
      .pull-right a {
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    .box-promo-doc {
      font-size: 14px; 
      line-height: 24px;
      a {
        text-decoration: none;
        margin-right:15px;
      }
    }
    p { padding-bottom:10px;}
      hr {
        margin-left:-32px;
        margin-right:-22px;
        color:#e1e1e1;
      }
    .col-md {
      padding: 16px;
    }
    &.no-promo {
      .box-promo-left {
        padding: 74px 0 0 0;
        img {
          max-width: 445px;
         
        }
      }
      
      h4 {display: block;}
    }
  }
  
@media (max-width: 767px) {  
  .box-promo{
    &-left {
      img {
        max-width: 184px;
      }
    }
    .col-md {
      hr {
        margin-left:-16px;
      }
    }
    p { padding-bottom:0;}
    &.no-promo {
      .box-promo-left {
      img {
        max-width: 267px;
       
      }
      }
    }
 }
}

/* BOX OUTPUT*/
.box-output {
  .row {min-height:0}
  padding-bottom:1rem;
  .label-output {
    font-size:15px;
    color:$gray1;
  }
  .value-output {
    color: $gray2;
    text-align: right;
  }
  h4 {
    padding-left:8px;
  }
}

/* BOX DI ESITO */
.esito-inline {
  position:relative;
  .esito-icon {
    width: 40px;
  }
  .esito-text {
    position: absolute;
    left: 58px;
    top: 8px;
  }
}

/*BOX DOCUMENTI*/
.box-document-style { 
  .card {
    background: $white;
    border: solid 1px $grayBordered;
    .card-header {
      background: transparent;
      padding-top: 1.1rem;
      padding-bottom: 1.1rem;
      background: none;
      border-bottom: 1px solid $grayBordered;
      background: $white;
      &.collapsed {
        border-bottom: 0
      }
      .card-header-title {
        font-size: 18px;
        color:$gray2;
      } 
    }
    .card-body {
      background: transparent;
      padding: 1rem 1rem 2rem 1rem;
    }
  }
}
/*
@media (max-width: 767px) {  
  .box-document-style { 
    .card {
      .card-header {
        padding-left:0;
        padding-right:0;
        margin: 0 1rem; 
    }
  }
}
}
*/