.carousel {
  $arrowWidth : 25px;
  $arrowHeright: 25px;
  width: 100%;
  min-height: $arrowHeright;
  &-inner {
    height: 100%;
  }
  &-item {
    height: 100%;
    &-centerer {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      > div {
        width: 100%;
      }
    }
  }
  &-indicators {
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 3;
    li {
      height: 5px;
      width: 35px;
      background: $green;
      opacity: 0.5;
      cursor: pointer;
      &.active,
      &:hover {
        background: $green;
        opacity: 1;
      }
    }
  }
  &-control-prev,
  &-control-next {
    opacity: 1;
    height: $arrowHeright;
    width: $arrowWidth;
    top: 50%;
    z-index: 3; 
    transform: translate(0,-50%);
    &-icon {
      display: block;
      height: $arrowHeright;
      width: $arrowWidth;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &-control-prev-icon {
    @include icon-img-prev($green);
    @at-root [disabled] & {
      @include icon-img-prev($gray3); 
    } 
    @at-root .disabled & {
      @include icon-img-prev($gray3); 
    } 
  }
  &-control-next-icon {
    @include icon-img-next($green);
    @at-root [disabled] & {
      @include icon-img-next($gray3); 
    } 
    @at-root .disabled & {
      @include icon-img-next($gray3); 
    } 
  }
  &-arrows-outside {
    margin: 0 calc(#{$arrowWidth} + #{$spacer});
    width: calc( 100% - (#{$arrowWidth*2} + #{$spacer*2}) );
    .carousel-control-prev { left: calc( -#{$arrowWidth} - #{$spacer}); }
    .carousel-control-next { right: calc( -#{$arrowWidth} - #{$spacer}); }
  }
}

// Nuovo Carousel Multicard con gestione Desktop + Mobile & Swipe & arrow

.carousel-multicard {
  .carousel-item-centerer {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    > .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .carousel-inner {
    position:relative;
  }
  .carousel-card {
    height: 100%;
    padding: 0 5px 10px 5px;
  }
  .hide-control {
    display: none !important;
  }
  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .carousel-control-prev, .carousel-control-next {
    display: block;
  }
}

/* ONLY for Mobile */
@media screen and (max-width: 768px) {
  .carousel-multicard {
    &.carousel-arrows-outside {
      margin: 0;
      width: 100%;
    }
    /* Correzione "salto" */
    .carousel-item-centerer {
      width: calc(100% - 20%);
      margin-left: 10%;
      margin-right: 10%;
      overflow: hidden!important;
      &.prev-el {
        width: 100%;
        margin: 0px;
        padding: 0px;
      }
      &.prev-right {
        position:absolute;
        top:0;
        right: calc(-100% + 10%);
      }
      &.prev-left {
        position:absolute;
        top:0;
        left: calc(-100% + 10%);
      }
    }
    .carousel-control-prev, .carousel-control-next {
      display: none;
    }
  }
}