//.dashboard #datepicker { DISPLAY:NONE; }

.dashboard {
  $dhbMinHeight : 330px;
  $dhbMinHeightInner : calc( #{$dhbMinHeight} - #{$spacer*2}); // somma px e rem
  [class*="col-"] {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    > .box {
      flex: 1;
      position:relative;
      min-height: $dhbMinHeight;
      > .overflow-auto {
        max-height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        left:0;
      }
    }
    >.row {
      margin-left:0;
      margin-right:0;
      border: red solid 1px;
    }
    .title {
        min-height: 30px
    }
    .ui-datepicker {
      width: 100%;
      height: 100%;
      border: none !important;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      margin:0;
      .ui-datepicker-header, .ui-datepicker-prev, .ui-datepicker-next {
        height: 35px;
        line-height: 35px;
      }
      .ui-datepicker-calendar {
        flex: 1;
        margin-top: 5px;
        td {
          padding: 0 !important;
          height: 40px;
          a {
            max-width: 2.5em;
            height: 2.5em;
            line-height: 2.5em;
          }
        }
        th {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
      .ui-datepicker-header {
        .ui-datepicker-title {
          font-size: 1.2em;
        }
      }
    }
  }

  // COMPONENTI DASHBOARD

  .dhb-riepilogo {
    &-list {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: flex;
        min-height: 50px;
        align-items: center;
        padding: 1rem 0;
        border-bottom: $grayBordered dashed 1px;
        &:last-child {
          border-bottom: none;
        }
        > * {
          flex-grow: 1;
          padding: 0 5px;
          &:first-child, &:last-child {
            flex-grow: 0;
          }
          &:first-child {
            padding-left: 0px;
          }
          &:last-child {
            padding-right: 0px;
          }
        }
        @include icon { @include svg-icon-color($blue); }
        a {
          text-decoration: underline;
        }
      }
      &__num {
        color: $blue;
        font-size: 1.3em;
        font-weight: bold;
      }
    }
  }

  .dhb-notifiche {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &-list {
      width: 100%;
      flex-grow: 1;
      margin: 0;
      padding: 0;
      overflow: auto;
      li {
        list-style: none;
        display: flex;
        align-items: space-between;
        padding: 0.25rem 0;
        border-bottom: $grayBordered solid 1px;
        justify-content: space-between;
        > * {
          flex-grow: 1;
          padding: 0 5px;
          &:first-child, &:last-child {
            flex-grow: 0;
          }
          &:first-child {
            padding-left: 0px;
            padding-top: 2px;
          }
          &:last-child {
            padding-right: 0px;
          }
        }
        @include icon { @include svg-icon-color($green); }
        a {
          text-decoration: underline;
        }
      }
    }
    &-icon {
      padding: 3px;
      margin:0;
      float:none;
      display: inline-block;
      width: 44px;
      height: 44px;
      line-height: 44px;
      @include svg-icon-color($blue);
      &__wrapper {
        border: $blue solid 2px;
        border-radius: 50%;
        float:none;
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
    }
    &-text {
      padding-left: 10px;
      font-size: 30px;
      color: $blue;
      font-weight: bold;
    }
    .btn.btn-filter {
      min-width: 0;
      text-align: center;
      padding: 0 0.5em;
      flex: 1;
      margin: 0 5px;
      height: 30px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .dhb-banner {
    background:url('../../fe/img/banner_home.png') right center no-repeat ;
    background-size: auto 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    &__title {
      color: $blue;
      font-size: 20px;
      text-transform: uppercase;
    }
    &__text {
      line-height: 1.7em;
      font-size: 1.1em;
      opacity: 0.8;
    }
    &__placeholder {
      height: 100%;
      padding-left: 45%;
    }
    &__btn {
      width: 200px;
      max-width: 100%;
    }
  }

  .dhb-carousel {
    width: 100%;
    .carousel {
      min-height: $dhbMinHeightInner;
    }
  }

  .dhb-arrow {
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items:center;
    text-decoration: none !important;
    &.disabled {
      color: #ddd;
      cursor: default;
      pointer-events: none;
    }
  }

}
