/* Datepicker */

.datepicker {
  position: relative;
  button {
    position: absolute;
    width: $inputHeight;
    border: 0;
    height: $inputHeight;
    background: transparent;
  }
}

.ui-datepicker {
  width: 300px;
  border: solid 1px $gray4 !important;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  z-index: 9999 !important;
  a {
    text-decoration: none;
  }
  .ui-datepicker-calendar {
    flex: 1;
    th {
      padding-top: 5px;
      font-size: 0.9em !important;
      color: $gray2;
      border-bottom: solid 1px $grayBordered;
    }
    td {
      background: none !important;
      padding: 0 1px !important;
      cursor: pointer;
      a, span {
        transition: all 0.1s !important;
        color: $gray2;
        display: block;
        width: 100%;
        max-width: 2em;
        height: 2em;
        line-height: 2em;
        border-radius: 50%;
        margin: 1px auto;
        text-align: center;
        text-decoration: none;
      }
      &:hover a {
        color: $white !important;
        background: $gray4 !important;;
      }
      &.ui-datepicker-current-day,
      &.ui-datepicker-current-day:hover {
        a {
          color: $white !important;
          background-color: $greenLink !important;
        }
      }
    }
  }
  .ui-datepicker-header, .ui-datepicker-prev, .ui-datepicker-next {
    margin:0;
    height: 30px;
    line-height: 30px;
  }
  .ui-datepicker-prev, .ui-datepicker-next {
    margin:0;
    cursor: pointer;
    &:hover, &:active, &:focus {
      color: $green !important;
    }
  }
  .ui-datepicker-prev:before {
    content: "<";
  }
  .ui-datepicker-next:before {
    content: ">";
  }
  .ui-datepicker-week-end {
    opacity: 0.3;
  }
  a,
  a.ui-datepicker-prev,
  a.ui-datepicker-next {
    text-decoration: none;
  }
}
