.dropdown-item,
a.dropdown-item,
a.dropdown-item:hover,
a.dropdown-item:not(.btn) {
  &, &:hover {
    font-size: 14px;
    color: $grayMid !important;
    text-decoration: none;
    &.active,
    &:active {
      background: $greenLink !important;
      color: $white !important;
    }
    &.disabled,
    &[disabled] {
      &,
      &.active,
      &:active {
        cursor: default !important;
        opacity: 0.5 !important;
        color: $gray3 !important;
        background: transparent !important;
      }
    }
  }
}

.dropleft {
  .btn {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }
  .dropdown-menu {
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    &:before,
    &:after {
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 0 7.5px 7px;
      position: absolute;
      top:5px;
      left: 100%;
    }
    &:before {
      border-color: transparent transparent transparent $white;
      z-index: 2;
    }
    &:after {
      border-color: transparent transparent transparent rgba(0,0,0,.1);
      z-index: 1;
      transform: translate(1px,0);
    }
    .dropdown-item {
      font-size: 14px;
    }
  }
  &.show {
    .btn {
      @extend .btn-primary;
    }
  }
}

body > .dropdown-menu,
[tm-bsTable-v2] .dropdown-menu {
  transform: translate(0%,0%) !important;
  &.show:not(.shown) {
    opacity: 0 !important;
    display: none !important;
  }
  &.shown {
    opacity: 1 !important;
    display: block !important;
  }
}

.dropdown-menu {
  width: 230px !important;
  min-width: 230px !important;
  max-width: 230px !important;
  .dropdown-item, a.dropdown-item {
    white-space: normal !important;
    line-height: 1.1em !important;
    padding: .5rem 1.5rem !important;
    text-decoration: none !important;
  }
}
