.c-filter {
    // declinazione delle tabs (nav) quando sono inserite in un elemento "filters"
    .nav-tabs {
        //border: red solid 1px !important;
        margin: 0;
        padding: 0;
        .nav-link {
            margin: 0 2px;
            font-weight: normal;
            font-size: 1.1rem;
            font-size: 1.1rem;
            height: 34px;
            line-height: 34px; 
            border-radius: 34px;
            padding: 0 1em;
            min-width: 0;
            width:auto;
            border: none;
            box-shadow: none !important; // elimina box shadow di default
            // reimposta colori
            @include btnPalette($color:$gray1, 
                                $bkg:$gray4, 
                                $bkg_hover: $gray4_hover, 
                                $color_disabled:$gray3 );
            &.active {
                @include btnPalette($color: $white, 
                                    $bkg: $greenLink, 
                                    $bkg_hover: $greenLink_hover);
            }
        }
    }
    // declinazione dello scroll
    .clickScroll-container .clickScroll-arrow {
        top: 10px;
    }
    .table-heading-filters .align-items-center {
        .checkbox, .radio {
            padding: 5px 15px 5px 45px;
            label {
                white-space: nowrap;
            }
        }
    }
} 