.c-gruppi {
    &--box {
        position: relative;
        text-align: center;
        text-decoration: none !important;
        .bordered {
            position: relative;
            @include bordered($allpadding:true);
            height: 100%;
            min-height: 240px;
        }
        cursor: pointer;
        .c-title {
            margin: $spacer 0 0 0;
            padding:0;
            font-size: 20px;
            font-weight: 500;
            color: $gray2;    
        }
        .c-subtitle {
            margin: $spacer/2 0 0 0;
        }
        .c-icon {
            text-align: center;
            margin: 0;
            @include icon {
                @include svg-icon-size(110px);
                @include svg-icon-color($green);
                margin: auto;
                float: none;
            }
        }
        .c-text {
            min-height: 70px;
            margin-bottom: $spacer;
            color: $gray2;    
        }
        .c-delete {
            position: absolute;
            top:0;
            right:0;
            width: 35px;
            height: 35px;
            line-height: 35px;
            padding: 7px;
            border-left: $grayBordered solid 1px;
            border-bottom: $grayBordered solid 1px;
            background: $grayBG;
            text-align: center;
            cursor: pointer; 
            transition: all 0.3s;
            @include icon {
                @include svg-icon-size(20px);
                @include svg-icon-color($gray2);
                margin: 0;
                padding: 0;
                display: inline-block;
            }
        } 
        // STATO HOVER DEL BOX 
        &:hover {
            .c-delete {
                @include icon {
                    @include svg-icon-color($gray2);
                }
                &:hover {
                    background: darken($grayBG,3%);
                    @include icon {
                        @include svg-icon-color($gray1);
                    }
                }
            }
        }
        // BOX CON COLORE DI SFONDO DIFFERENTE
        &.add-new {
            .bordered {
                @include bordered($bkg:$greenLink,$color:$white,$allpadding:true);
            }
            .c-title,
            .c-text { 
                color: $white; 
            }
            .c-icon { 
                @include icon {
                    @include svg-icon-color($white); 
                }
            }
        }
    }
}