.login {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  > * {
    flex-basis: 50%;
    min-height: 500px;
    background: white;
    padding: 30px;
    display: flex;
    flex-flow: column;
    flex-basis: 50%;
    align-items: center;
    justify-content: space-between;
  }
  &__mask {
    min-height: 500px;
    position: relative;
    &, * {
      width: 100%;
    }
    &__logo {
      text-align: center;
      img, svg {
        max-width: 160px;
      }
    }
    &__form {
      position: relative;
      > .row {
        // hotfix porcaround - per row/col in form
        margin-left: -8px; 
        width: calc( 100% + 16px );
      }
      width: 100%;
      &__img {
        text-align: center;
        img, svg {
          max-width: 150px;
          height: auto;
        }
      }
    }
  }
  &__info {
    background: url('../../fe/img/login/info@2x.png') $greenLink no-repeat center / cover;
    text-shadow: 0 0 3px rgba(0,0,0,0.75);
    &, * {
      color: $white;
      width: 100%;
    }
    &__titolo {
      text-align: left;
      align-self: stretch;
      h2 {
        padding: 1rem 0 0 0;
        font-size: 24px;
        font-weight: normal;
      }
    }
    &__parag {
      $paragImgSize: 70px;
      padding: 1rem 0;
      overflow: auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .img {
        width: $paragImgSize;
        height: $paragImgSize;
        font-size: $paragImgSize;
        float:left;
        @include icon {
          @include svg-icon-color($white);
          @include svg-icon-size($paragImgSize);
          display: block;
          margin: auto;
          float: left;
        } 
      }
      .content {
        width: calc( 100% - #{$paragImgSize} - 1rem );
        float:right;
        text-align: left;
        line-height: 1.3em;
        h2 {
          font-size: 1.1em;
          margin: 0 0 0.25em 0;
          padding: 0;
          text-transform: uppercase;
        }
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
    &__icons {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      max-width: 350px;
      > * { flex-basis: 50%; }
    }
    &__icon {
      @include icon {
        @include svg-icon-color($white);
        @include svg-icon-size(50px);
        padding: 0;
        display: block;
        margin: auto;
      } 
      span {
        display: block;
        width: 100%;
        line-height: 1.2em;
        font-size: 1.1em;
      }
    }
  }
  @media (max-width:$bp_sm_max) {
    box-shadow: none;
    flex-flow: column;
    &__mask {
      order: 2;
      min-height: 500px;
    }
    &__info {
      order: 1;
      min-height: 120px;
    }
  }
}