.wrapper-f24 .wrapper-f {
    hr {
        margin-left:-1rem;
        margin-right:-1rem;
    }
    &-header {
        p {
            font-size: 14px;
            text-align: right;
            float: right;
            margin-bottom: 0;
         }
        span {
            font-size: 16px;
            &.color-light-green {
                color: $greenLight2;
                font-size: 20px;
                font-weight: bold;
            }
        }
        img { 
            max-width: 100%;
        }
    }
}
.wrapper-f24 label {
    letter-spacing: -0.5px!important;
}
.wrapper-f24 .input-group-text {
    padding: .375rem .2rem;
}
.form-control {
    padding: 0 2px;
}

.min-w-s {
    min-width:52px;
}
.min-w-m  {
    min-width:88px;
}
.max-w-c {
    max-width:110px;
}
.max-w-i {
    max-width:120px; 
}
.input-group-append {  
   img {
       margin-right:0!important;
   } 
}

@media screen and (min-width: 992px) {
  .display-tablet {display:none!important}
}