.wrapper-f24 .wrapper-f {
    hr {
        margin-left:-1rem;
        margin-right:-1rem;
    }
    &-header {
        p {
            font-size: 14px;
            text-align: right;
            float: right;
            margin-bottom: 0;
         }
        span {
            font-size: 16px;
            &.color-light-green {
                color: $greenLight2;
                font-size: 20px;
                font-weight: bold;
            }
        }
        img { 
            max-width: 100%;
        }
    }
}


.wrapper-f24 .input-group-text {
    padding: .375rem .2rem; 
}
.wrapper-f24 .form-control {
    padding: 0 2px;
}

.min-w-s {
    min-width:52px;
}

.input-group-append {  
   img {
       margin-right:0!important;
   } 
}

@media screen and (min-width: 992px) {
  .display-tablet {display:none!important}
  
}
@media screen and (max-width: 950px) {
    .min-w-f {
        min-width:13%
    }
    .max-w-f {
        max-width:12%
    }
    .wrapper-f24 label {
       font-size: 13px;
    }
}
.wrapper-f24 {
    .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto,
    .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
    .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
    .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
    .col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-auto,
    .col,    .col-1,    .col-10,    .col-11,    .col-12,    .col-2,    .col-3,    .col-4,    .col-5,    .col-6,    .col-7,    .col-8,    .col-9,    .col-auto {
    &:not([class*="p-"]):not([class*="px-"]):not([class*="pr-"]):not(.nav-item) {
        padding-right: 4px !important;
    }
    &:not([class*="p-"]):not([class*="px-"]):not([class*="pl-"]):not(.nav-item) {
        padding-left: 4px !important;
    }
    }
    .form-group .form-row, .input-group > .custom-file .form-row, .input-group > .custom-select .form-row, .input-group > .form-control .form-row, .input-group > .input-group-prepend .form-row, .input-group > .input-group-append .form-row {
        padding-left: 20px;
        padding-right: 20px;
    }
}



@media screen and (min-width: 992px) {
.l-h {margin-bottom:27px} 
.col-sm-12 label {
    max-width: 150px;
}
}
.wrapper-f24 label { 
    letter-spacing: -0.5px!important;
    font-size: 13px;
}



