.wrapper-f24 .wrapper-f {
    hr {
        margin-left:-1rem;
        margin-right:-1rem;
    }
    &-header {
        p {
            font-size: 14px;
            text-align: right;
            float: right;
            margin-bottom: 0;
         }
        span {
            font-size: 16px;
            &.color-light-green {
                color: $greenLight2;
                font-size: 20px;
                font-weight: bold;
            }
        }
        img { 
            max-width: 100%;
        }
    }
}
.wrapper-f24 {
    .input-group-text {
        padding: .375rem .2rem; 
    }
    form-control {
        padding: 0 2px;
    }
    .min-w-s {
        min-width:52px;
    }
    .input-group-append {  
        img {
            margin-right:0!important;
        } 
     }
     div[class*="col-"] { 
        &:not([class*="p-"]):not([class*="px-"]):not([class*="pr-"]):not(.nav-item) {
            padding-right: 4px !important;
        }
        &:not([class*="p-"]):not([class*="px-"]):not([class*="pl-"]):not(.nav-item) {
            padding-left: 4px !important;
        }
        }
        .form-group .form-row, .input-group > .custom-file .form-row, .input-group > .custom-select .form-row, .input-group > .form-control .form-row, .input-group > .input-group-prepend .form-row, .input-group > .input-group-append .form-row {
            padding-left: 20px;
            padding-right: 20px;
        }
        label { 
            letter-spacing: -0.5px!important;
            font-size: 13px;
        }
}


@media screen and (min-width: 992px) {
  .display-tablet {display:none!important}
}
@media screen and (max-width: 950px) {
    .wrapper-f24 {
        .min-w-f {
            min-width:13%
        }
        .max-w-f {
            max-width:12%
        }
        .wrapper-f24 label {
           font-size: 13px;
        }
    }
    
}


@media screen and (min-width: 992px) {
    .wrapper-f24 {
        .l-h {margin-bottom:27px} 
        .col-sm-12 label {
            max-width: 150px;
        }
    }
}



