/* DATI FORMATTATI */
.nega {
  color: red;
}

.posi {
  color: green;
}

.notFocused {
  &, &:focus {
    -moz-outline: 0px;
    outline: 0px;
    box-shadow: none;
  }
}

.ellipsed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgWrapperResponsive img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.img100 {
    width: 100%
}
