@import "styles/vars.scss";

.bar-wrap {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 85px;
    margin: 0;
    padding: 0 0 0 80px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 15px);

    .bar {
        border-bottom: 1px solid #cccccc;

        .steps {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            height: 70px;
            padding: 15px;
            border: 0;
            margin: 0;
            list-style: none;
            background-color: #fff;
        }

        &-step {
            display: block;
            width: 40px;
            height: 40px;
            margin: 0 0 0 10px;
            padding: 0;
            border: 2px solid $color-gray;
            border-radius: 50%;

            &:first-child {
                margin-left: 0;
            }

            &.open {
                cursor: pointer;

                &.active {
                    cursor: default;
                    border-color: $color-primary;
                }
            }

            &-num {
                display: block;
                width: 36px;
                height: 36px;
                border: 4px solid #fff;
                border-radius: 50%;
                line-height: 28px;
                font-size: 20px;
                text-align: center;
                background-color: #eee;

                .open & {
                    background-color: #fff;
                }

                .valid & {
                    color: #fff;
                    background-color: #009900;
                }

                .invalid & {
                    color: #fff;
                    background-color: #aa0000;
                }
            }
        }

        .session {
            width: 320px;
            padding: 6px;
            border: 1px solid $color-secondary;
            border-radius: 19px;
            margin: 16px 32px;
            text-align: center;
            background-color: #eee;
            strong {
                color: $color-secondary;
            }
        }

        .info-btn {
            width: 120px;
            padding: 15px 15px 16px 0;
        }

        .withloading {
            height: auto;
        }
    }
}

.step {
    padding-bottom: 70px;
}

.form-footer-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: calc(100% - 18px);
    height: 83px;
    padding: 15px 0 0 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 15px);

    .form-footer {
        width: 100%;
        height: 69px;
        padding: 15px;
        border-top: 1px solid #cccccc;
    }
}

/* Dentro gli step */
.infocert_logo {
    height: 75px;
    margin-bottom: 1rem;
    //noinspection CssUnknownTarget
    background: url("~images/infocert_logo.png") no-repeat right 0;
    background-size: 150px 75px;
}
