docs_aletti/src/**/*.map
docs_aletti/src/**/*.css
docs_aletti/build
docs_webank/librerie
docs_webank/wbresp
docs_webank/wscmn
docs_convergenza/common/fe/content-app
librerie/wscmn
librerie/youwebbusiness/node_modules
.DS_Store
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
