<script id="templateDetail_RIT" type="text/x-jsrender">


    <div class="row">
        <div class="col-xs-6 white-block">
            <div class="col-xs-12">
                <div class="text-center"><h1>Ordinante</h1></div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5">Intestato a:</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{:originalParam.Rapporto.DescrizioneAzienda}}</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5">Iban:</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{:originalParam.Rapporto.CodiceIban}}</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5">Banca:</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{:DescrIstitutoOrdinante}}</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5">Filiale:</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{:CodiceFilialeOrdinante}}</label>
                </div>
            </div>
        </div>
        <div class="col-xs-6 white-block">
            <div class="col-xs-12">
                <div class="text-center"><h1>Dati Ricarica</h1></div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5">Numero di telefono:</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{:originalParam.Chain.Order.NPrefisso}}/{{:originalParam.Chain.Order.NTelefono}}</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5">Gestore:</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{:originalParam.Chain.Order.Gestore}}</label>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-5">Taglio della ricarica:</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{:Importo}} {{:Divisa}}</label>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-5">Data Esecuzione</div>
                <div class="col-xs-7">
                    <label class="control-label" id="riepilogo-contoAppoggio-intestato" style="padding:0">{{:DataEsecuzione}}</label>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-5">Stato:</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{:StatoDistinta}}</label>
                </div>
            </div>

        </div>
    </div>

    


</script>