div.search {
    width: 100%;
    height: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

    div.search > table {
        width: 100%;
        height: 100%;
    }


.search table.itemtoolbar {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /*height: 20px;*/
    display: inline-block;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 12px;
}

    .search table.itemtoolbar td {
        /*height:20px;*/
        vertical-align: bottom;
        position: relative;
        top: 1px;
    }

.search .itemtoolbar .ipp-current-toolbar {
    padding-right: 5px;
    text-decoration: underline;
    color: #357745;
}

.search .itemtoolbar .ipp-next-toolbar {
    padding-right: 5px;
    cursor: pointer;
    text-decoration: underline;
}

.search table.toolbar {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 35px;
    /*display: inline-block;*/
}

.search table.piazzaturainline {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    height: 35px;
}

    .search table.piazzaturainline td {
        padding: 0 10px;
    }

.search td.azienda select {
    width: 230px;
}

.search td.banca select {
    width: 240px;
}

.search td.conto select {
    width: 160px;
}


.search .toolbar table.filter-toolbar {
    text-align: left;
    padding-right: 15px;
    height: 100%;
}


    .search .toolbar table.filter-toolbar a {
        text-align: left;
        cursor: pointer;
        margin: 0px 5px;
    }

        .search .toolbar table.filter-toolbar a.inactive {
            cursor: default;
        }


.search .toolbar table.export-toolbar {
    height: auto !important;
    text-align: left;
}


    .search .toolbar table.export-toolbar a {
        text-align: left;
        cursor: pointer;
        margin-left: 2px;
        margin-right: 2px;
    }

/***************** toolbar *****************/

/* ======================= rows per page =================== */


.search .paging span.rpp {
    text-align: center;
    display: inline-block;
    width: 33%;
    font-size: 12px;
    font-weight: bold;
}

.search .rpp-current {
    padding-right: 5px;
    text-decoration: none;
    color: #357745;
}

.search .rpp-next {
    padding-right: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: #003b79;
}

.search .toolbar table.ipp-toolbar {
    width: auto;
    font-size: 12px;
    font-weight: bold;
}

.search .toolbar .ipp-current-toolbar {
    padding-right: 5px;
    text-decoration: none;
    color: #357745;
}

.search .toolbar .ipp-next-toolbar {
    padding-right: 5px;
    cursor: pointer;
    text-decoration: none;
}
/* ======================= rows per page =================== */

/* ======================= pager =================== */
.search div.paging {
    position: relative;
    display: inline-block;
    width: 100%;
}


    .search div.paging span.spacer {
        width: 33%;
        display: inline-block;
    }

    .search div.paging span.help {
        width: 33%;
        text-align: right;
        display: inline-block;
    }


.search .paging table.pager {
    /*display: inline-block; */
    text-align: left;
}


.search .paging div.pager a {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.search .paging table.pager a {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.search .paging .pager input {
    text-align: right;
    display: inline-block;
}

.search .toolbar td.tdcenter {
    text-align: center;
}
/* ======================= pager =================== */

.saldo {
    width: 33%;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    padding-right: 3px;
    display: inline-block;
}

    .saldo .current {
        color: #357745;
        font-weight: bold;
    }

.dettaglio {
    width: 33%;
    text-align: left;
    padding-right: 3px;
    display: inline-block;
}

    .dettaglio .current {
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 2px;
        padding-top: 1px;
        cursor: pointer;
        color: white;
        font-size: 12px;
        background-color: rgb(0, 51, 101);
        font-weight: bold;
        width: 70px;
        text-align: center;
        height: 15px;
        vertical-align: middle;
    }

/* ======================= adv-filter =================== */
hr.adv-filter-separator {
    border: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: rgb(0, 51, 101);
    margin: 0;
    margin: 10px;
    color: rgb(0, 51, 101);
    background-color: rgb(0, 51, 101);
}

.adv-filter {
    text-align: center;
    width: 100%;
}

td.adv-filter-label-from {
    text-align: left;
    white-space: nowrap;
    font-weight: bold;
}

td.adv-filter-label-to {
    text-align: left;
    white-space: nowrap;
    padding-left: 2px;
    font-weight: bold;
}

td.adv-filter-label {
    text-align: right;
    white-space: nowrap;
}

td.adv-filter-range-from {
    text-align: left;
    white-space: nowrap;
}

td.adv-filter-range-to {
    text-align: left;
    white-space: nowrap;
}

td.adv-filter-editor {
    text-align: left;
    white-space: nowrap;
    width: 200px;
}

.search .textredbold {
    font-family: Helvetica, Arial, sans-serif;
    color: #357745;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}
