/* ======================= pager =================== */
/*.pager 
{
    background-color: lightgray;
}

.pager div
{
    display: inline-block;
}

.pager input
{
    width: 30px;
    text-align: right;
}
*/
/* ======================= pager =================== */