/* CLASSI GENERICHE */
body {background-color:#eee;margin:0;padding:0;font-size:16px}
#main {max-width:1460px;margin:0 auto;padding:0 30px}
.wrapper {max-width:1400px; margin:0 auto;display:block;padding:0}
@media (max-width:767px) {
    #main {padding:0 15px}
}

/* Reset di classi generiche "locali" */
p {margin-top:0;}


/* HEADER */
header .wrapper {border-bottom: solid 1px #ccc;}
header h1 { position:relative;max-width:calc(100% - 200px); text-transform:uppercase;font-weight:bold;color:#999; font-size:34px;margin:0;padding:10px 0; width:auto; display:inline-block; line-height:24px; padding:20px 0 20px  70px}
header h1 .logocs {width:60px;height:60px;background: #ccc; position:absolute; left:0; top:20px;}
header h1 .main-title {width:100%;display:inline-block;line-height:34px}
header h1 .payoff {font-size:18px;clear:both;width:100%;line-height:14px}
header .logo {float:right; margin-top:20px; height:60px;width:200px; background-color:#ddd;}

@media (max-width:767px){
    header {text-align:center;}
    header .logo {margin:10px auto; width:150px;height:45px;float:none;display:inline-block;}
    header h1 {max-width:100%; width:100%;text-align:center;float:none; padding-top:0;padding-left:0;}
    header h1 .logocs {display:none}
    header h1 .main-title {font-size:28px}
}
    
/* Stepper */
.stepper-wrapper {margin: 0 auto; text-align:right;}
.stepper {text-align:left;display:inline-block;margin:20px auto 30px;position:relative;height:10px;border-bottom:solid 1px #ccc;}
.stepper .step {position:relative;z-index:1;width:19px;height:19px; background:#fff; display:inline-block;border:solid 1px #ccc;border-radius:50%;margin:0 0 0 20px}
.stepper .step:first-child {margin-left:0}

/* Stepper status */
.stepper.status-1 .step:nth-child(1) {background-color:#000;border-color:#000}
.stepper.status-2 .step:nth-child(2) {background-color:#000;border-color:#000}
.stepper.status-3 .step:nth-child(3) {background-color:#000;border-color:#000}
.stepper.status-4 .step:nth-child(4) {background-color:#000;border-color:#000}
.stepper.status-5 .step:nth-child(5) {background-color:#000;border-color:#000}
.stepper.status-6 .step:nth-child(6) {background-color:#000;border-color:#000}
.stepper.status-7 .step:nth-child(7) {background-color:#000;border-color:#000}
.stepper.status-8 .step:nth-child(8) {background-color:#000;border-color:#000}
.stepper.status-9 .step:nth-child(9) {background-color:#000;border-color:#000}

@media (max-width:767px){
    .stepper-wrapper {text-align:center}
}

/* FOOTER */
footer .wrapper {border-top: solid 1px rgb(202, 186, 186); text-align:center;}
footer .wrapper .info {padding: 20px 0;display:inline-block;color:#999; font-size:14px}

/* CONTENUTI */

/* Questionario */
.quest {display:inline-block; width:100%; border:solid 1px #ccc;background:#fff;clear:both;margin:0 0 30px; padding:25px 25px 20px;}
.quest.feedback {background:transparent; color:#666;border:none;border-bottom:solid 1px #ccc; padding:35px 0;}
.quest.feedback .fb-message {max-width:545px;margin:0 auto 30px;text-align:center;background-color: #fff;padding: 20px;}
.quest.feedback .fb-message .title {font-size:30px;font-weight:bold;clear:both;display:block; line-height:34px;}
.quest.feedback .fb-message .payoff {font-size: 20px;display:block;margin-top: 10px;clear:both; line-height:25px;}
@media(max-width:767px) {
    .quest {padding:15px 15px 0}
    .quest.feedback .fb-message {max-width:100%}
    .quest.feedback .fb-message .title {font-size:30px;line-height:30px;}
    .quest.feedback .fb-message .payoff {font-size:20px;line-height:20px;}
}

/* Parti di form e input (solo radio buttons)*/
label.cbr {position:relative;padding:3px 0  15px 35px;cursor:pointer;font-weight:normal;width:100%;}
label.cbr input {display:none}
label.cbr .text:before {content:"";width:25px;height:25px; border-radius:50%; display:block;position:absolute;background:transparent; border:solid 1px #999;left:0;top:0;}
label.cbr .text:after {content:"";width:17px;height:17px; border:solid 1px #ccc; background:transparent;position:absolute;left:4px;top:4px;border-radius:50%;transition: all 0.3s}
label.cbr input:checked + .text:after {background-color:#666;border:#666;}
label.cbr .milestone {font-weight:bold; display:inline}
label.cbr .milestone:before {content: " - "}
@media (min-width:768px) {
    .cbr-wrapper.voto {width:100%;display:inline-block;padding:0;margin:0;position:relative}
    .cbr-wrapper.voto label.cbr {position:relative;width:10%;float:left;max-width:10%;margin:0 0 20px;padding:0; margin-top:15px; overflow:visible;text-align:center}
	.cbr-wrapper.voto label.cbr.cbrExt{width:12%;max-width:12%}
	.cbr-wrapper.voto label.cbr.cbrCol{width:8%;max-width:8%}
	.cbr-wrapper.voto label.cbr .text {border-radius: 50%;border:solid 1px #ccc; font-size:20px;font-weight:bold;line-height:45px;display:inline-block;width:45px;height:45px;margin:0 auto;float:none;clear:both; position:relative; text-align:center;}
    .cbr-wrapper.voto label.cbr .text:before {display:none;}
    .cbr-wrapper.voto label.cbr .text:after {display:none;}
    .cbr-wrapper.voto label.cbr input:checked + .text {color:#fff;background-color:#666; border-color:#666}
    .cbr-wrapper.voto label.cbr .milestone {position: relative;
    float:left;
    font-size: 12px;
    width: 100%;
    color: #333;
    font-weight: normal;}
    .cbr-wrapper.voto label.cbr .milestone:before {display:block; width:10px;height:10px;clear:both;float:none;clear:both;display:inline-block; content:"";border:solid 10px #fff;border-bottom:solid 10px #ddd;}
    .cbr-wrapper.voto label.cbr .milestone span {width:100%;clear:both;display:block; overflow:visible; text-overflow:ellipsis;overflow:hidden}
}
.textarea-wrapper {position:relative;width:100%; clear:both;}
.textarea-wrapper .countercont {display:inline-block;clear:both;text-align:right;width:100%;font-size:14px; color:#666;}
.textarea-wrapper .countercont .ccount{font-weight:bold}
.textarea-wrapper textarea {font-family:"bankfont"; border:solid 1px #ccc; width:100%;color:#666}
.textarea-wrapper textarea:hover, .textarea-wrapper textarea:active, .textarea-wrapper textarea:focus {outline:none !important;border-radius:0 !important}

/* Stili della domanda*/
p.question {font-weight:600;}

/* Errore */
.errore {
    color: #a94442;
    background-color: #f2dede;
    border:solid 1px #ebccd1;
    margin-bottom:20px;
    padding:15px;
}

/* Bottoniera e bottoni */
.btn-wrapper {width:100%;clear:both; margin-bottom:15px;display:inline-block;}
.btn-align-left {max-width:50%;float:left;}
.btn-align-right {text-align:right; max-width:50%;float:right}

.btn {outline:none !important;border:none !important; background:#999; padding: 10px 25px;color:#fff;margin-bottom:15px;display:inline-block; font-size:16px;font-weight:bold;text-transform:uppercase;border-radius: 28px;}
.btn:hover {opacity:0.8}
.btn:active,.btn:hover,.btn:focus {box-shadow:none !important; border:none !important;}
.btn-default:hover, .btn-default:focus, .btn-default:active { background:#aaa;color:#fff !important;}
