// MIXIN DEI COLORI DEI BOTTONI COI LORO STATI 
@mixin btnPalette($color, $bkg, $bkg_hover, $color_hover: false, $border: transparent, $color_disabled:$white, $bkg_disabled:$gray4, $border_disabled: transparent) {
  &:not(:disabled):not(.disabled) { 
    opacity: 1;
    color: $color;
    background-color: $bkg;
    @include svg-icon-color($color);
    &.active, &:active, &:focus, &:hover {
      background-color: $bkg_hover !important;
      @if $color_hover { // applica il colore in hever solo se settato;
        color: $color_hover;
      } @else {
        color: $color;
      }
    }
    .icon, svg, i {
      &, &:before {
        @include svg-icon-color($color);
      } 
    }
  } 
  &:disabled, &.disabled {
    opacity: 1;
    &, &:hover, &:active, &:focus {
      color: $color_disabled !important;
      background: $bkg_disabled !important;
      // applica il colore del bordo solo se settato, se no prende il bordo di default
      @if $border_disabled { 
        border-color: $border_disabled !important;
      } @else {
        border-color: $border !important;
      }  
      .icon, svg, i {
        &, &:before {
          @include svg-icon-color($color_disabled); 
        }
      }  
    }
  }
}

// PERSONALIZZAZIONI DEI BOTTONI 

.btn {
  &, &:not([href]):not([tabindex]) {
    @include btnPalette($color:$white, $bkg:$greenLink, $bkg_hover:$greenLink_hover);
    line-height: 28px;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    height: 44px;
    line-height: 28px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: normal;
    @include ellipsed();
    &:hover {
      box-shadow: 0 none !important;
    }
    &:active, &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    &.disabled, &:disabled {
      pointer-events: none; 
      cursor: default;
      &, &:hover, &:active, &:focus {
        text-decoration: none;
        background: none;
      }
    }
    .icon, svg, i {
      &, &:before {
        height: 15px;
        width: 15px;
        font-size: 15px;  
      }
      transform: translate(0,2px);
      display: inline-block;
      margin-right: 0.25em;
    }
    // - - STILI PERSONALIZZATI DEI BOTTONI 
    // PRIMARY
    &.btn-primary {
      @include btnPalette($color:$white, $bkg:$greenLink, $bkg_hover:$greenLink_hover);
    }
    // SECONDARY
    &.btn-secondary {
      @include btnPalette($color:$white, $bkg:$gray2, $bkg_hover:$gray2_hover);
    }
    // WHITE 
    &.btn-white {
      border-style: solid !important;
      border-width: 1px !important;
      @include btnPalette($color:$greenLink, $bkg:$white, $bkg_hover: $grayBG, $border: $grayBordered, $color_disabled:$gray3 );
      border-color: $grayBordered !important; // TODO: sistemare..... 
      text-transform: none;
      &:disabled, &.disabled {
        border-color: transparent !important; // TODO: sistemare.....
      }
      .icon, svg, i {
        &, &:before {
          margin-top: 0px;
          display: block;
          float: left;
          height: 25px;
          width: 25px;
          font-size: 25px;
          margin-right: 0; 
          transform: translate(-2px,0);
        }
        &.icon-arrow_up,
        &.icon-arrow_down {
          padding-top: 2px;
        }
        &.icon-menu {
          transform: translate(2px, 2px);
        }
      }
    }
    // FILTER 
    &.btn-filter {
      @include btnPalette($color:$gray2, $bkg:$white, $bkg_hover: $grayBG, $border: $grayBordered, $color_disabled:$gray3 );
      font-size: 14px;
      height: 34px;
      line-height: 28px;
      border-radius: 28px;
      text-transform: none;
      padding: 0 1em 0 0.5em;
      text-transform: uppercase;
      min-width: 110px;
      text-align: left;
      transition: all 0.3s;
      box-shadow: inset 0 0 0 1px $gray3 !important;
      .icon, svg, i {
        &, &:before {
          display: block;
          float: left;
          height: 25px;
          width: 25px;
          font-size: 25px;
          margin-right: 3px; 
          margin-top: 0;
        }
      }
      &:disabled, &.disabled { 
        box-shadow: none !important;
      }
      &.is-selected {
        @include btnPalette($color:$green, $bkg:$grayBG, $bkg_hover: $grayBG, $border: $grayBordered );
        box-shadow: inset 0 0 0 3px $green !important;
      }
    }
    &.btn-link {
      @include btnPalette($color:$greenLink, $bkg:transparent, $bkg_hover: transparent, $color_hover: $greenLink_hover, $border: $grayBG, $color_disabled:$greenLink, $bkg_disabled:transparent );
      text-decoration: underline; 
      &:disabled, &.disabled { 
        text-decoration: none;
        opacity: 0.4;
      } 
      text-transform: none;
      padding: 0.5rem;
      .icon, svg, i {
        margin-right: 10px;
        float:left;
        transform: translate(0,-2px);
        @include svg-icon-size(30px);
      }
    }
    // check di conferma a fianco dell'icona del bottone
    &.is--confirmed:before {
      content: '\2713';
      display: block;
      font-size: 2rem;
      height: 1.5rem;
      width: 1.5rem;
      line-height: 1rem;
      text-align:center;
      color: $greenMenu;
      background: $greenLight;
      float:left;
      border-radius:1rem;
      margin-right: 0.5rem;
    }
    // GRANDEZZE (da bootstrap e custom)
    &.btn-small {
      padding: 0.25rem 0.5rem;
      height: 30px;
      line-height: 15px; 
    } 
    &.btn-w-sm {
      min-width: 100px;
    }
    &.btn-w-md {
      min-width: 150px;
    }
    &.btn-w-lg {
      min-width: 200px;
    }
  }   
  // icona help e info a fianco di titoli e tooltip (icone non standard)
  &-icon-help,
  &-icon-info {
    ////&, &:not([href]):not([tabindex]) {
      border-style: solid !important;
      border-width: 2px !important;
      @include btnPalette($color:$greenLink, $bkg:transparent, $bkg_hover:transparent, $border:$greenLink );
      //transform: translateY(3px);
      background-size: cover;
      cursor: pointer;
      width: 22px;
      min-width: 22px;
      font-size: 14px !important;
      height: 22px;
      line-height: 19px;
      background-color: transparent;
      border: solid 2px $greenLink;
      color: $greenLink;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      font-weight: bold;
      padding: 0;
      &:before {
        content: "i";
      }
      &:hover {
        text-decoration: none !important;
        color: $green;
        border-color: $green;
      }
      // se è figlio di un h1...
      @at-root h1 & { 
        transform: translate(8px,-2px);
      }     
      // se è figlio di un control-label...
      @at-root .control-label & {
        float: right;
      } 
    ////}
  }
  // solo per help
  &-icon-help {
    ////&, &:not([href]):not([tabindex]) {
      &:before {
        content: "?";
      }
    ////} 
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/* Bottoni particolari con icone */

.ico-btn {
  color: $blue;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: text-bottom;
  //line-height: 46px;
  position: relative;
  &.flagged span {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    right: 4px;
    background: $green;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
  }
  &.userinfo {
    width: auto;
    span.nominativo {
      display: inline-block;
      font-size: 14px;
      margin: 0 10px 0 0;
      line-height: 40px;
      top: 0;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}