.appuntamento-wrapper {
    textarea {
        height:88.5%;
        resize: none;
    }
    .ca-calendario  {
        .ui-datepicker {
            width:100%!important;
            z-index: 9!important;
            td.ui-datepicker-week-end { 
                opacity:1;
                a, span {
                    color: red; 
                }
               
            }
            &.disabled {
                opacity:0.5;
                .ui-datepicker-prev, .ui-datepicker-next{
                    cursor: default;
                }
            }
        }
    }
    .form-check.radio.w-field { 
        .form-check-label::before, .form-check-input {
            position: absolute;
            bottom:-37px;
            left:23px;
        }
        .form-check-input {
            position: absolute;
            bottom:26px;
            left:23px;
        }
        .form-check-label::after {
            position: absolute;
            bottom:-26px;
            top:auto;
            left:26px;
        }
        .form-check-label {
            margin-left:-23px;
            padding-left:0;
        }
        select, input[type=text] {width: 99%;}
    }
    @media screen and (max-width: 992px) {
        .form-check.radio.w-field select, .form-check.radio.w-field input[type=text] {float:right;width: 96%;}
    }
    @media screen and (max-width: 767px) {
        textarea {
            height:auto;
            min-height: 120px;
        }
    }
    @media screen and (max-width: 850px) {
        .form-check-label {
            letter-spacing:-0.5px;
        }
    }
   
} 

