/* Elementi form */

.control-label {
  width: 100%;
  font-weight: normal;
  color: $gray2;
  line-height: 21px;
}

label,
.control-label {
  img.helper-label-icon {
    cursor:pointer;
    float:right;
    width: 18px;
    height:auto;
    margin-top: 3px;
  }
}

.form-control {
  border: solid 1px $gray4;
  &:focus {
    border: solid 1px $gray4;
    box-shadow: nosvg-icon-size
    ne;
  }
}

.form-control,
.form-control[readonly] {
  border-radius: 3px;
  background-color: $grayBG;
  box-shadow: none;
  margin-bottom: 16px;
  height: $inputHeight;
  padding: 0 8px;
  &:focus,
  &:focus::-ms-value /* fix per ie 11 */ {
    background-color: $grayBG;
  }
}

.form-control[readonly]:not([data-file]) {
  font-style: italic;
  //background-color: darken($grayBG,5%);
}

.form-group,
.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control,
.input-group>.input-group-prepend,
.input-group>.input-group-append {
  margin-bottom: 16px;
  .form-row {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.input-group>.input-group-append,
.input-group>.input-group-prepend {
  + .valid-feedback,
  + .invalid-feedback {
    transform: translate(0, -16px);
  }
}

label[for] {
  cursor: pointer;
}

select {
  &.form-control,
  &.form-control:not([size]):not([multiple]) {
    height: $inputHeight;
    background: $grayBG url(../img/form_select.gif) no-repeat right center;
    appearance: none;
    -webkit-appearance: none;
    padding-right: 30px;
    user-select: none;
    -ms-user-select: none;
    &[disabled] {
      background-image: url(../img/form_select_disabled.gif);
    }
  }
  &::-ms-expand {
    display: none;
  }
}

// FILE
input[type="file"].form-control {
  display:none;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

span.output {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  margin-bottom: 16px;
  min-height: $inputHeight;
  padding: 10px 0;
  &.big {
    font-size: 18px;
  }
  &.verde {
    color: $greenLink;
  }
}

.output-label {
  color: $gray3;
  font-size: 1.1em;
}

$noLabelSize : calc( 21px + .5rem );
.no-label {
  margin-top: $noLabelSize;
}
@media (min-width: $bp_lg_min) {
  .no-label-lg {
    margin-top: $noLabelSize;
  }
}
@media (min-width: $bp_md_min) {
  .no-label-md {
    margin-top: $noLabelSize;
  }
}
@media (min-width: $bp_sm_min) {
  .no-label-sm {
    margin-top: $noLabelSize;
  }
}
@media (max-width: $bp_sm_max) {
  .no-label-xs {
    margin-top: $noLabelSize;
  }
}

.input-group-append,
.input-group-prepend {
  max-width: 50px;
  .input-group-text {
    max-width: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0;
    background-color: $gray6;
    cursor: pointer;
    @include icon {
      @include svg-icon-color($greenLink);

    }
  }
}
select, input, textarea {
  &, &.form-control, &.form-control:not([size]):not([multiple]) {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $input_placeholder;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $input_placeholder;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $input_placeholder;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $input_placeholder;
    }
    &[disabled] {
      border: $input_disabled_bkg;
      background-color: $input_disabled_bkg;
      color: $input_disabled_color;
      // cerca gli elementi direttamente vicini O vicini ad un bottone
      &, + button {
        + .input-group-append,
        + .input-group-append .input-group-text,
        + .input-group-prepend,
        + .input-group-prepend .input-group-text,
        + .input-group-addon {
         cursor: default;
         pointer-events: none;
       }
      }
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $input_disabled_placeholder;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $input_disabled_placeholder;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $input_disabled_placeholder;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $input_disabled_placeholder;
      }
    }
  }
 
}

.datepicker {
  input + button {
    position: absolute;
    width: $inputHeight;
    height: $inputHeight;
    z-index: 1;
    right: 0;
    top: 0;
    border: 0;
    cursor: pointer;
  }
  input[disabled] + button {
    width: 0;
    height: 0;
    z-index: -1;
    opacity: 0;
    cursor: disabled;
  }
  
}

.bootstrap-timepicker-widget {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  tr:first-child, tr:last-child {
    display: none !important;
  }
  .separator {
    position: relative;
    width: auto;
    border: none;
    &:after  {
      display: none !important;
    }
  }
  input {
    min-width: 4ch;
    text-align: center;
    background-color: $grayBG;
    border: solid 1px $gray4;
    border-radius: 3px;
    box-shadow: none;
  }
}

// validazione standard

.form-group.invalid .form-control {
    border-color: $error;
}

.invalid-feedback {
  color: $error;
}

.valid-feedback,
.invalid-feedback {
  transform: translate(0,-1em);
  margin-top: .25rem;
}


 
/*stilizzazione campi di input in campi di output */ 
.field-output {
   select, input, textarea {
    border:0!important;
    background-color:transparent!important;
    color: $gray1!important;
    padding-left:0;
    font-weight:bold;
  }
  button + .input-group-append {
    display:none
  }
  .timepicker {
     .input-group-append {
      display:none;
     }
     .input-group-addon {
      cursor:default;
    }
  }
  .autocomplete {
    button {
      display:none
    }
  }
  textarea {
    height: 25px;
    resize: none;
  }
} 