@import 'styles/theme.scss';

.DayPicker {
    /* Classi DayPicker generico */
    background-color: #fff;
    font-size: 14px;
    .DayPicker-NavBar {
        position: relative;
        .DayPicker-NavButton {
            position: absolute;
            left: 5px;
            z-index: 3;
            top: 17px;
            &.DayPicker-NavButton--next {
                right: 5px;
                left: auto;
            }
        }
    }
    .DayPicker-Caption {
        padding: 0;
        div {
            font-weight: bold;
            width: 100%;
            padding: 0 20px;
            text-align: center;
            position: relative;
            z-index: 1;
            text-transform: uppercase;
        }
        select {
            display: inline-block;
            width: auto;
            padding-right: 25px;
            &:first-child {
                margin-right: 5px;
            }
        }
    }
    .DayPicker-Day--today {
        color: #000;
        &:hover {
            background-color: #ccc
        }
    }
    .DayPicker-Day {
        border-radius: 0;
        &:hover {
            background-color: #ddd
        }
    }

    /* DayPicker inline */
    &.inline {
        width: 100%;
        margin: 0;
        .DayPicker-Caption {
            margin: 0
        }
        .DayPicker-NavButton {
            top: 7px
        }
        .DayPicker-Month {
            padding: 0;
            margin: 5px 0 0;
            width: 100%
        }
        .DayPicker-Weekday {
            padding: 0;
        }
        .DayPicker-Day {
            padding: 0 0 0 0;
            line-height: 16px;
        }
    }

    &.yearMonthSelect {
        .DayPicker-NavButton {
            top: 22px;
        }
        .DayPicker-NavButton--prev {
            left: auto;
            right: 5px;
            
        }
    }
}

.DayPickerInput-OverlayWrapper {
    z-index:999
}
@mixin theme($theme-name, $theme-map) {
    .#{$theme-name} {
        @each $section, $map in $theme-map {
        .DayPicker {
            .DayPicker-NavBar {
                .DayPicker-NavButton {
                   &.DayPicker-NavButton--prev {
                        border-top: solid map-get($map, agendaArrowBorderTop);
                        border-right: solid map-get($map, agendaArrowLeftBorderRight);
                        border-bottom: solid map-get($map, agendaArrowBorderBottom);
                    }
                    &.DayPicker-NavButton--next {
                        border-top: solid map-get($map, agendaArrowBorderTop);
                        border-left: solid map-get($map, agendaArrowLeftBorderLeft);
                        border-bottom: solid map-get($map, agendaArrowBorderBottom);
                    }
                }
            }
            &.inline {
                .DayPicker-Day {
                    border: solid map-get($map, borderTableWidth) #ccc;
                }
                .DayPicker-Day div:not(.day-app) {
                    height: 36px;
                    display: block;
                    padding-top: 10px;
                }
                .DayPicker-Day--today {
                    div {
                        background-color: map-get($map, agendaDayBgColorInner);
                        margin:0 auto;
                        width: map-get($map, agendaDayW); 
                    }
                }
            }
            .DayPicker-Day--today {
                background-color: map-get($map, agendaDayBgColor);
                color: map-get($map, agendaDayColor);
                div {
                    &:hover {
                        background-color: map-get($map, agendaDayBgColorInnerHover); 
                    }
                }
                &:hover {
                    background-color: map-get($map, agendaDayBgColor);
                }
            }
            .DayPicker-Day {
                div {
                    border-radius: map-get($map, agendaDayRadius);
                }
                &:hover {
                    background-color: map-get($map, agendaDayBgColorHover)!important;
                }
            }
        }
        }
    }
}
@include theme(default, $default);
@include theme(light, $light);