// FILE TEMPORANEO. RIASSORBIRLO NEI VARI PARZIALI.
.custom-table-heading-with-filters {
  margin-bottom: 15px;
  h4 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .align-items-center {
    .checkbox, .radio {
      margin-bottom: 0;
      padding-left: 45px;
      margin-right: 0px;
      min-height: 0px;
      padding-top: 2px;
    }
  }
  .title {
    font-weight: bold;
  }
}

.breadcrumb {
  background: none;
}
