$bodyFontSize : 14px;

// Bootstrap Grid

$bp_sm_min : 576px;
$bp_sm_max : $bp_sm_min - 1;
$bp_md_min : 768px;
$bp_md_max : $bp_md_min - 1;
$bp_lg_min : 992px;
$bp_lg_max : $bp_lg_min - 1;
$bp_xl_min : 1200px;
$bp_xl_max : $bp_xl_min - 1;

// CUSTOM BP

$bp_tablet_min : 1025px;
$bp_tablet_max : $bp_tablet_min - 1;

// MISURE 

$spacer : 1rem;

$footerHeight: 260px;
$footerHeight_md_max: 600px;
$headerHeight: 70px;

$checkboxSize: 24px;
$checkboxSizeGap: 0.5rem;
$inputHeight: 44px;

// COLORI

$white : #FFFFFF;
$black : #000000;
$green : #37AD9C;
$greenLink : #2F9988; // menu primo lv
$greenLink_hover : #248C7B;
$greenMenu : #097562; // menu 2 lv
$greenMenu_hover : #046957;
$greenLight : #30C9B4; 
$greenLighter : mix($green, $white, 15%);
$grayBordered : #c8c8c8; // bordi dei box
$gray1 : #3e3e3e; // menu user
$gray1_hover : #333333;
$gray2 : #737373;
$gray2_hover : #5c5c5c;
$gray3 : #999999;
$gray4 : #DDDDDD;
$gray4_hover : $grayBordered;
$gray5 : #888888; // NEW COLOR ADDED 14/11/2019
$gray6: #e4e4e4;
$grayBG : #F5F5F5;
$blue : #0b2147;
$orange: #ee9314;

$input_placeholder: #aaa;
$input_disabled_bkg: #ddd;
$input_disabled_color: $white;
$input_disabled_placeholder: #eee;
  
$warning : #CF9418; // "alert" status
$error : #CC1615 ; // "error" status
$success : $greenLink; // "pass" status

// Array per le classi .color-NOMECOLORE e .bkg-NOMECOLORE

$colors:(
    white  : $white,
    black  : $black,
    green  : $green,
    greenLink  : $greenLink,
    gray1  : $gray1,
    gray2  : $gray2,
    gray3  : $gray3,
    gray4  : $gray4,
    gray5  : $gray5,
    grayBG  : $grayBG,
    warning  : $warning,
    error  : $error,
    success  : $success 
);