// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
// FONTS 

$bodyFontSize : 14px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
// Bootstrap Grid

$bp_sm_min : 576px;
$bp_sm_max : $bp_sm_min - 1;
$bp_md_min : 768px;
$bp_md_max : $bp_md_min - 1;
$bp_lg_min : 992px;
$bp_lg_max : $bp_lg_min - 1;
$bp_xl_min : 1200px;
$bp_xl_max : $bp_xl_min - 1;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
// CUSTOM BREAKPOINTS

$bp_tablet_min : 1025px;
$bp_tablet_max : $bp_tablet_min - 1;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
// MISURE 

$spacer : 1rem;

$footerHeight: 260px;
$footerHeight_md_max: 600px;
$headerHeight: 70px;

$checkboxSize: 24px;
$checkboxSizeGap: 0.5rem;
$inputHeight: 44px;