@import 'styles/theme.scss';
.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    width: 100%;
    padding-left: 80px;
    transition-duration: 250ms;
}
@mixin theme($theme-name, $theme-map) {
    .#{$theme-name} {
        @each $section, $map in $theme-map {
           .header {
            height: map-get($map, headerHeight);
            background-color: map-get($map, headerBgColor);
            .menu-open & {
                padding-left: 250px;
            }
            &-logo {
                height: 48px;
                margin-top: 16px;
                cursor:pointer;
            }
            &-menu {
                float: right;
            }
            .container-fluid {
                height: 80px;
                border-top: map-get($map, headerBorderTop);
                border-bottom: map-get($map, headerBorderBottom);
            }
          } 
        }
    }
}
@include theme(default, $default);
@include theme(light, $light);

