.icLogo{
    position: absolute;
    width: 90px;
    height: 40px;
    right: 30px;
    top: -10px;
    background: transparent url(/logo-infocert.png) no-repeat 0 0;
    background-size: cover;;
}

.otp {padding:20px;border:solid 1px #ccc;margin: 0 0 25px;border-radius:5px;
    .otp-block {text-align:center; width:250px; margin:0 auto}
    label {width:100%;font-style: italic}
    input {text-align:center;width:100%;margin-bottom:10px}
    .otp-sender {font-size:12px;text-transform:uppercase;background:#eee;border:solid 1px #ccc;width:100%;display:block; padding:5px; border-radius:5px;cursor:pointer}

}
.otp-feedback.ko {color:#900;font-weight:bold;margin-bottom:10px;}

.otp-feedback.ok {
    background:#dce7b5;
    border:solid 1px #090;
    padding:15px;text-align:center;
    display:block;width:100px;
    font-weight:bold;
    margin-bottom:30px;
    border-radius:5px;
    width:100%;
}

.otp-new-code {    
    margin-top:42px;border: solid 1px #ccc;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 13px;
    height: 40px;
    font-weight:bold;
    max-width: 120px;
    cursor:pointer;
}