@CHARSET "ISO-8859-1";


html { height: 100%; background: url(../images/header_bkg_repeat.jpg) left top repeat-x; }

body {
	/*height: 100%; 12/06/2015 eliminato per popUp*/
	margin: 0;
	background: url(../images/header_bkg.jpg) center top no-repeat;
	font-size: 11px;
	font-family: Helvetica, Arial, sans-serif;
}

.wrapper { min-height: 100%; }


.row { margin: 0; }

.main { margin-top: 30px; padding-bottom: 125px; }

strong {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

a, a:link, a:visited, a:active, a:focus { color: #003b79; text-decoration: none; }
a:hover { color: #003b79; text-decoration: underline; }

h1 {
	display: inline-table;
	position: relative;
	color: #666;
	background: #fff;
	box-shadow: 0 8px 8px -6px rgba(97,162,211,0.6);
	border-bottom: 1px solid #61a4d3;
	padding: 0 15px 0 45px;
	margin: 10px 0 15px 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0px;
	/*behavior: url(../js/css3pie.htc);*/
}

	#contentLeft h1 {
		font-size: 1.4em;
		line-height: 24px;
		letter-spacing: 0px;
		padding: 0 15px 0 40px;
		margin: 10px 0px 20px 0px;
		/*behavior: url(../js/css3pie.htc);*/
	}
	
	#contentLeft h1.centered-title {
		display: block;
		width: 80%;
		margin: 0px auto;
		margin-top: 10px;
		margin-bottom: 25px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}
	
	div.generic_text {
		margin: 15px;
		font-size: 1.04em;
	}
	
h3 {
	display: inline-block;
zoom:1;
*display:inline;
	padding-left: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 28px;
	letter-spacing: 0px;
	
}
table th {
	text-align: center;
}

table td{
	/*text-align:left;*/
}

.oRight, table td.oRight{
	text-align:right;
}


.breadcrumb {
margin-bottom: 10px;
}


.section {
	clear: both;
	position: relative;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
	/*background: #fafcfe;*/
	background: #f5f9fc;
}


.section.left {
	clear: none;
	float: left;
	width: 48%;
}
	
.section.right {
	clear: none;
	float: right;
	width: 48%;
}




.titleSection {
	display: inline-block;
zoom:1;
*display:inline;
	color: #003b79;
	background: url(../images/sf_titolo.png) right center no-repeat;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-right: 50px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: 300;
}

	.success .titleSection {
		/*background: url(../images/sf_titolo_verde.png) right center no-repeat;*/
		background: url(../images/general-sprite.png) right -114px no-repeat;
		color: #fff;
	}
	
	.alert .titleSection,
	.waiting .titleSection {
	background: url(../images/sf_titolo_giallo.png) right center no-repeat;
	}
	
	.error .titleSection {
		background: url(../images/general-sprite.png) right -38px no-repeat;
		color: #fff;
	}
	
	.error .error-field label { color: #d00; }
	.error .error-field input,
	.error .error-field select,
	.error .error-field textarea { border: 1px solid #d00; }



div.context-buttons {
	float: right;
	margin-bottom: 5px;
}
	.context-buttons a {
		display: inline-block;
zoom:1;
*display:inline;
		width: 35px;
		height: 35px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
	
		.context-buttons a.btnTable { background: url(../images/btn-i-tabella.png) center top no-repeat; }
		.context-buttons a.btnChart { background: url(../images/btn-i-grafico.png) center top no-repeat; }
		.context-buttons a.btnTimeline { background: url(../images/btn-i-timeline.png) center top no-repeat; }
		
		.context-buttons a:hover { background-position: center center; }
		.context-buttons a.disabled { background-position: center bottom; cursor: default; }
	
	
div.context-links {
	float: right;
	margin-bottom: 5px;
}
	.context-links a,
	.context-links a:link,
	.context-links a:visited,
	.context-links a:active,
	.context-links a:focus {
		display: inline-block;
zoom:1;
*display:inline;
		height: 28px;
		padding: 0 20px 0 40px;
		background: url(../images/sf_link_contestuali.png) left center no-repeat;
		color: #fff;
		line-height: 30px;
	}	
	.context-links a:hover { text-decoration: none; }
	
	.context-links select.form-control {
		height: auto;
		width: auto;
		display: inline-block;
zoom:1;
*display:inline;
		margin-left: 4px;
	}
	

.bs-example {
	position: relative;
	margin: 0px;
	padding: 0 0px 15px px;
	font-size: 1.06em;
}

	.bs-example p { margin: 0; padding: 0; padding-top: 10px; }

.top10{
	position: relative;
	top: 10px;
}
.top5{
	position: relative;
	top: 5px;
}


.btn {
	display: inline-block;
zoom:1;
*display:inline;
	margin: 0 5px;
	margin-bottom: 10px;
	padding: 4px 8px;
	background: #003b79;
	border: 2px solid #003b79;
	border-radius: 6px;
	color: #fff;
	font-size:12px;
	line-height: 14px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	/*behavior: url(../js/css3pie.htc);*/
}

.btn:hover, .btn:focus, .btn:active, .btn.active { color: #fff; background: #6689af; border-color: #6689af; }


.form-horizontal .form-group{ margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }


.form-group .btn { margin-bottom: 0; }




.btn-primary {
	position: relative;
	margin: 0 10px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	padding: 6px 12px;
	text-transform: uppercase;
	background: #003b79;
	border: 2px solid #003b79;
	/*behavior: url(../js/css3pie.htc);*/
}

.btn-primary.execute {
	color: #fff;
	background: #61a4d3;
	border: 2px solid #003b79;
}
	.btn-primary.execute:hover { background: #a0c8e5; border-color: #6689af; }

.btn.disabled { background: #999; border-color: #999; }



.select-button {
	display: inline-block;
zoom:1;
*display:inline;
	position: relative;
	min-width: 60px;
	margin: 10px;
	padding: 6px 12px;
	background: #003b79;
	border: none;
	border-radius: 6px;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.04em;
	font-weight: bold;
	line-height: 16px;
	text-transform: uppercase;
	/*behavior: url(../js/css3pie.htc)*/
}
.select-button.active { background: #ffd801; color: #003b79; }



.form-control.thin{
	padding:2px;
}
.floatl-marginr10{
	float:left;
	margin-right:10px;
}
.form-control.w-auto { width: 75%; 
display: inline-block;
zoom:1;
*display:inline;
 }

.form-control.with-help {
	display: inline-block;
zoom:1;
*display:inline;
	width: auto;	
}

.form-control{
	border-radius: 0;
	background-color: #f9f9f9;	
}

button[disabled], html input[disabled] { background-color: #eaeaea !important; border: 1px solid #ccc; }


/***** NEW FORM STYLES *****/

div.form-field-input {}

	div.form-field-input label {
		display: block;
		padding-bottom: 3px;
		border-bottom: none;
		text-align: left;
	}
	
	div.form-field-input .form-field {
		display: block;
		text-align: left;
	}
	div.form-field-input .form-field > div { padding-left: 0; padding-right: 0; }

	div.form-field-input .form-field > div.field-buttons { 
display: inline-block;
zoom:1;
*display:inline;
	margin-top: 5px; }
	
	div.form-field-input .form-field > div.field-buttons .btn { margin: 0; }


div.form-field-resume { padding: 0 15px; }

	.form-field-resume label {
		display: block;
		border-bottom: 1px dotted #a2b7cb;
		text-align: left;
	}
	
	.form-field-resume .resume {
		display: block;
		text-align: left;
	}
	.form-field-resume .resume.importo { display: block; float: right; padding-top: 0; text-align: right; white-space: nowrap; }


input#importoInt, input.importo { width: 100px; 
display: inline-block;
zoom:1;
*display:inline;
text-align: right; }
span.virgola { 
display: inline-block;
zoom:1;
*display:inline;
padding: 0 5px; }
input#importoDec { 
display: inline-block;
zoom:1;
*display:inline; 
width: 40px; text-align: left; }


/***************************/


.logo{
	position:absolute;
	z-index:50;
	background: url(../images/logo.png) no-repeat 0px 0px;
	width: 150px;
	height: 64px;
	top: 40px;
}

.logo a { display: block; width: 140px; height: 103px; cursor: pointer; }

.logo span{
	display: none;
}

.user-info { float: left; font-size: 10px; font-weight: normal; }


.breadcrumb{
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 5px 10px 0px 0px;
	background: transparent;
	color: #666;
	font-size: 1.04em;
	font-weight: normal;
	/*text-transform: capitalize;*/
}
	.breadcrumb>li+li:before { color: #aaa; }


div.circle{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	display: inline-block;
zoom:1;
*display:inline;
	margin-right: 3px;
	background: #7697ba;
	position: relative;
	top: 5px;
	/*behavior: url(../js/css3pie.htc);*/
}
div.circle_line{
	border-bottom: 3px solid #7697ba;
	width:90%;
	margin-top: 1px;
	position:absolute;
	font-size: 7px;
}
div.circle_line.current {
	width: auto;
	border-color: #003b79;
}

.pager{
	position:relative;
	margin-right: 15px;
}

div.circle.current_page{
background: #003b79;
}


/****** SELEZIONE RAPPORTO ********/

#mainContent .riquadro .table { border-collapse: separate; margin-bottom: 0; }
	

#mainContent .riquadro .table tr td,
#mainContent .riquadro .table tr th {
	border-top: 2px solid #fff;
	
}	
	#mainContent .riquadro .table tbody tr.odd { background-color: #f5f5f5; }
	#mainContent .riquadro .table tbody tr.even { background-color: #e7eff5; }
	
	#mainContent .riquadro .table tr th {
		border-bottom: none;
		border-top: none;
		background-color: #bcd9ec;
		vertical-align: middle;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 1.04em;
		font-weight: bold;
		line-height: 14px;
	}

#mainContent .riquadro .tabellaSelezioneCC { background: #e7eff5; padding: 0 5px 5px 5px; }

#mainContent .riquadro .tabSelezioneCC .dataTables_wrapper { padding: 5px; background: #fff; }

	#mainContent .riquadro .tabSelezioneCC .table { margin-bottom: 0; }
	
	#mainContent .riquadro .tabSelezioneCC .table tbody > tr.hover td,
	#mainContent .riquadro .tabSelezioneCC .table tbody > tr.hover.odd td,
	#mainContent .riquadro .tabSelezioneCC .table tbody > tr.hover.even td { cursor: pointer; background: #45719e !important; color: #fff; }


.CCselezionato {
	display: block;
	position: relative;
	margin: 10px 0 5px 0;
	padding: 3px;
}
	.CCselezionato span {
		display: inline-block;
zoom:1;
*display:inline;
		margin: 0 8px 0 0;
		padding: 3px 4px;
	}
	
		.CCselezionato #numero,
		.CCselezionato #agenzia,
		.CCselezionato #intestazione { font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-weight: 600; }
		
		.CCselezionato #numeri span { float: left; margin-right: 10px; width: 80%; }
		.CCselezionato #numeri span strong { float: right; text-align: right; }
		
	.CCselezionato .btnSelezioneCC {
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -10px;
	}
	
	.CCselezionato .btnSelezioneCC.open { transform: rotate(180deg); }


	
	.dataTable th.sorting { cursor: pointer; background: url(../images/sort-none.png) 5px center no-repeat; }
	.dataTable th.sorting_asc { cursor: pointer; background: url(../images/sort-asc.png) 5px center no-repeat; }
	.dataTable th.sorting_desc { cursor: pointer; background: url(../images/sort-desc.png) 5px center no-repeat; }

.dataTables_length { width: 40%; float: right; text-align: right; }
.dataTables_filter {
	float: left;
	width: 240px;
	margin: 5px 0 8px 10px;
	padding-right: 30px;
	background: url(../images/ico-filter.png) right center no-repeat;
}
	.dataTables_filter label { display: block; margin-bottom: 0; padding: 3px 0; font-weight: normal; }
	.dataTables_length label { margin-bottom: 8px; padding: 8px 10px 0px 0; font-weight: normal; }
	
	.dataTables_filter input { margin: 0 10px; border: 1px solid #aaa; background: #f9f9f9; }
	.dataTables_filter input:after {
		content: " ";
		display: inline-block;
zoom:1;
*display:inline;
	}

.dataTables_paginate { text-align: center; margin-bottom: 20px; }


/* Hide Prev and Next links */
.dataTables_paginate > a { display: none; }


	.dataTables_paginate span a,
	.dataTables_paginate span a:link,
	.dataTables_paginate span a:visited,
	.dataTables_paginate span a:active,
	.dataTables_paginate span a:focus {
		display: inline-block;
zoom:1;
*display:inline;
		position: relative;
		margin: 10px 5px;
		width: 24px;
		height: 24px;
		padding: 0;
		border-radius: 12px;
		color: #fff;
		background: #99b1c9;
		font-weight: bold;
		font-size: 12px;
		text-align: center;
		cursor: pointer;
		line-height: 26px;
		/*behavior: url(../js/css3pie.htc);*/
		outline: none;
	}
	
	.dataTables_paginate span a.current { background: #003b79; }

	.dataTables_paginate span a:hover { background: #4c75a1; text-decoration: none; }
	
	.dataTables_paginate span a.paginate_ellipsis {
		background: none;
		width: 36px;
		color: #003b79;
		font-size: 20px;
		font-family: Georgia, "Times New Roman", Times, serif;
		letter-spacing: 3px;
	}
	.dataTables_paginate span a.paginate_ellipsis:hover { color: #4c75a1; }


/****************************************/
/********* TABELLA ESPANDIBILE **********/

#mainContent .riquadro table {}

	#mainContent .riquadro .table.expandable tbody tr.odd { background-color: #f5f5f5; }
	#mainContent .riquadro .table.expandable tbody tr.even { background-color: #e7eff5; }
	

	#mainContent .riquadro table.expandable tbody tr td table { width: 100%; }
	
		#mainContent .riquadro table.expandable tbody tr td table tr,
		#mainContent .riquadro table.expandable tbody tr td table tr:nth-child(odd),
		#mainContent .riquadro table.expandable tbody tr td table tr:nth-child(even),
		#mainContent .riquadro .section .riquadro.importi table tr:nth-child(odd),
		#mainContent .riquadro .section .riquadro.importi table tr:nth-child(even) { background: none; }
		
		
			#mainContent .riquadro table.expandable tbody tr td table tr td { border: none; }

	#mainContent .riquadro table.expandable tbody tr.details { display: none; }
	
		#mainContent .riquadro table.expandable tbody tr.details > td { padding: 0px; padding-top: 5px; border: none; }
		
		#mainContent .riquadro table.expandable tr td .riquadro,
		#mainContent .riquadro .section .riquadro.importi {
			box-shadow: none;
			border: 1px solid #dae6f0;
		}
		
		#mainContent .riquadro table.expandable tr td .riquadro h4,
		#mainContent .riquadro .section .riquadro.importi h4 {
			display: block;
			position: relative;
			color: #666;
			background: #fff;
			box-shadow: 0 8px 8px -6px rgba(97,162,211,0.6);
			border-bottom: 1px solid #61a4d3;
			margin: 5px 10px;
			padding: 0 10px;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 1.2em;
			font-weight: 300;
			text-align: center;
			line-height: 1.3em;
			letter-spacing: 0px;
			/*behavior: url(../js/css3pie.htc);*/
		}
		
		#mainContent .riquadro table.expandable tr td .riquadro div,
		#mainContent .riquadro .section .riquadro.importi div {
			margin-top: 10px;
			padding: 5px;
			font-size: 0.9em;
		}
			#mainContent .riquadro table.expandable tr td .riquadro div table,
			#mainContent .riquadro .section .riquadro.importi div table { margin-bottom: 5px; }
			
			#mainContent .riquadro table.expandable tr td .riquadro div table td,
			#mainContent .riquadro .section .riquadro.importi div table td {
				border: none;
				padding: 0 0 2px 7px;
				font-size: 1em;
				letter-spacing: -0.2px;
			}
			#mainContent .riquadro table.expandable tr td .riquadro div table td.oRight,
			#mainContent .riquadro .section .riquadro.importi div table td.oRight { padding: 0 7px 2px 0; }


	a.table-expand-collapse,
	a.table-expand-collapse.expand,
	a.table-expand-collapse.collapse {
		display: block;
		position: relative;
		bottom: auto;
		right: auto;
		margin: 0 auto;
		width: 24px;
		height: 24px;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
	}
		a.table-expand-collapse.expand { background: url(../images/ico-expand.png) center center no-repeat; }
		a.table-expand-collapse.collapse { background: url(../images/ico-collapse.png) center center no-repeat; }


/****************************************/


#mainContent .riquadro .section .riquadro.importi { margin: 10px; }
#mainContent .riquadro .section .riquadro.importi div { margin-top: 0; }

#mainContent .riquadro .section .riquadro.importi table tr td,
#mainContent .riquadro .section .riquadro.importi table tr td.oRight {
	font-size: 1.1em;
	padding: 10px 8px;
}

	#mainContent .riquadro .section .riquadro.importi div table tr.total td {
		/*border-top: 2px solid #a2b7cb;*/
		background: #e7eff5;
		color: #003b79;
	}




.checkbox input[type=checkbox]{
	position:relative;
	margin:0;
}

.form-horizontal .control-label {
	text-align: left;
}

	.form-horizontal .control-label.txt_right {
		text-align: right;
	}

.checkbox label{
	font-weight: 700;
}

.form-control{
	padding:4px;
	height: auto;
	font-size: 1em;
}

select.form-control { height: 25px; }

input.default-text,
textarea.default-text { color: #aaa; font-style: italic; }


span.resume {
	display: inline-block;
	zoom:1;
	*display:inline;
	padding-top: 7px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: -0.2px;
}


.riquadro {
	position: relative;
	display: block;
	background: #fff;
	height: auto;
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
	border: 1px solid #b7c5d1;
	color: #001831;
	border-radius: 2px;
	box-shadow: 0px 1px 3px 1px #bbb;
	/*behavior: url(../js/css3pie.htc);*/
}

#contentLeft .riquadro p { margin: 10px; }

#contentLeft ul.link-list {
	margin: 0;
	margin-left: 10px;
	margin-top: 10px;
	padding: 0;
}

	#contentLeft ul.link-list  li {
		list-style-type: none;
		display: block;
		margin: 0px 10px 8px 10px;
		padding: 0;
	}
	
	#contentLeft .link-list li a { font-family: Helvetica, Arial, sans-serif;
font-weight: bold; }
	


div.flag {
	width: 25px;
	height: 40px;
	display: block;
	float: left;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 4;
}

#contentLeft .flag { top: 9px; }


div.flag.login 					{ background: url(../images/pins-sprite.png) no-repeat 0px -164px; }
div.flag.compila 				{ background: url(../images/pins-sprite.png) no-repeat 0px 0px; }
div.flag.ricaricaCellulare		{ background: url(../images/pins-sprite.png) no-repeat -208px 0px; }
div.flag.ultimeRicariche		{ background: url(../images/pins-sprite.png) no-repeat -234px 0px; }
div.flag.assistenza				{ background: url(../images/pins-sprite.png) no-repeat -234px -164px; }
div.flag.news					{ background: url(../images/pins-sprite.png) no-repeat 0 -205px; }
div.flag.riepilogo				{ background: url(../images/pins-sprite.png) no-repeat -52px -205px; }
div.flag.funzioniRecenti		{ background: url(../images/pins-sprite.png) no-repeat -26px -205px; }
div.flag.disposizioneBonifico	{ background: url(../images/pins-sprite.png) no-repeat -78px 0px; }
div.flag.ultimiBonifici			{ background: url(../images/pins-sprite.png) no-repeat -104px 0px; }
div.flag.info					{ background: url(../images/pins-sprite.png) no-repeat -78px -205px; }
div.flag.history				{ background: url(../images/pins-sprite.png) no-repeat 0px -41px; }
div.flag.aperturaConto			{ background: url(../images/pins-sprite.png) no-repeat -104px -205px; }
div.flag.documenti				{ background: url(../images/pins-sprite.png) no-repeat -130px -205px; }




h1 a,
h3 a,
a.help-icon,
a.action { 
display: inline-block;
zoom:1;
*display:inline;
margin-right: 10px; vertical-align: middle; }

	h1 a img.imgSrv,
	h3 a img.imgSrv,
	a.help-icon img,
	a.action img { float: none; margin-left: 10px; margin-right: 0; }
	

.topbar {
	height: 35px;
	font-weight: bold;
	background-color: #d2e6f4;
	border: none;
	color: #003b79;
	padding: 2px 0px;
}

.topbar span {
	color: #666;
}

.topbar .buttons div {
	padding: 2px 5px;
}

.logout a {
	width: 25px;
	height: 25px;
	background: url(../images/sprite.png) no-repeat -222px -89px;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.pref a {
	width: 25px;
	height: 25px;
	background: url(../images/sprite.png) no-repeat -200px -88px;
	display: block;
}

.lock a {
	width: 25px;
	height: 25px;
	background: url(../images/sprite.png) no-repeat -172px -89px;
	display: block;
}

/* menu */
.navbar { margin-bottom: 0px; }

nav.nav-main.navbar-right {
	padding: 0;
}

ul#topMain>li {
	width: 90px;
	height: 84px;
}

.nav>li>a {
	padding: 0;
	height: 80px;
}


#topNav .disabled { opacity: 0.5; padding-top: 4px; }
#topNav .disabled #topMain ul.nav li,
#topNav .disabled #topMain ul.nav li strong { color: #ddd; }


ul#topMain>li>a:hover {
	/*border-bottom: 5px solid #61a4d3;*/
	border-radius: 0;
}

ul#topMain a:hover strong { color: #61a4d3; }

ul#topMain>li.active {
	border-bottom: 5px solid #61a4d3;
	border-radius: 0;
}

ul.dropdown-menu .row {
	margin: 0;
}

ul.dropdown-menu .row .col-md-4 ul {
	padding: 15px;
}

ul.dropdown-menu .row .col-md-4 {
	padding: 0;
}

#topNav ul.nav>li.mega-menu div div.menu-info { margin: 0px; padding: 0px 10px; color: #003b79; }
#topNav ul.nav>li.mega-menu div div.menu-info div { padding-top: 5px; font-family: Helvetica, Arial, sans-serif; font-size: 0.9em; font-weight: normal; line-height: 1.2em; text-transform: none; }

#topNav ul.nav>li.mega-menu div div.menu-info h3 {
	margin: 8px 0px;
	padding: 0px 10px;
	color: #003b79;
	background: #d6e8f4;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 1.25em;
	box-shadow: 0 10px 8px -6px rgba(0,59,121,0.5);
	border-bottom: 1px solid #4883c0;
	/*behavior: url(../js/css3pie.htc);*/
}

ul#topMain li .ico {
	width: 32px;
	height: 32px;
	margin: 0 auto;
	margin-bottom: 5px;
}

ul#topMain div.sportello { background: url(../images/menu-sprite.png) no-repeat 0px 0px; }
ul#topMain li.active div.sportello,
ul#topMain li.hover div.sportello,
ul#topMain a:hover div.sportello { background: url(../images/menu-sprite.png) no-repeat 0px -32px; }

ul#topMain div.contodeposito { background: url(../images/menu-sprite.png) no-repeat -32px 0px; }
ul#topMain li.active div.contodeposito,
ul#topMain li.hover div.contodeposito,
ul#topMain a:hover div.contodeposito { background: url(../images/menu-sprite.png) no-repeat -32px -32px; }

ul#topMain div.pagamenti { background: url(../images/menu-sprite.png) no-repeat -64px 0px; }
ul#topMain li.active div.pagamenti,
ul#topMain li.hover div.pagamenti,
ul#topMain a:hover div.pagamenti { background: url(../images/menu-sprite.png) no-repeat -64px -32px; }

ul#topMain div.carte { background: url(../images/menu-sprite.png) no-repeat -96px 0px; }
ul#topMain li.active div.carte,
ul#topMain li.hover div.carte,
ul#topMain a:hover div.carte { background: url(../images/menu-sprite.png) no-repeat -96px -32px; }

ul#topMain div.alert { background: url(../images/menu-sprite.png) no-repeat -128px 0px; }
ul#topMain li.active div.alert,
ul#topMain li.hover div.alert,
ul#topMain a:hover div.alert { background: url(../images/menu-sprite.png) no-repeat -128px -32px; }

ul#topMain div.posta_personale { background: url(../images/menu-sprite.png) no-repeat -160px 0px; }
ul#topMain li.active div.posta_personale,
ul#topMain li.hover div.posta_personale,
ul#topMain a:hover div.posta_personale { background: url(../images/menu-sprite.png) no-repeat -160px -32px; }

ul#topMain div.investimenti { background: url(../images/menu-sprite.png) no-repeat -192px 0px; }
ul#topMain li.active div.investimenti,
ul#topMain li.hover div.investimenti,
ul#topMain a:hover div.investimenti { background: url(../images/menu-sprite.png) no-repeat -192px -32px; }

ul#topMain div.servizi_per_te { background: url(../images/menu-sprite.png) no-repeat -224px 0px; }
ul#topMain li.active div.servizi_per_te,
ul#topMain li.hover div.servizi_per_te,
ul#topMain a:hover div.servizi_per_te { background: url(../images/menu-sprite.png) no-repeat -224px -32px; }

.mega-menu.dropdown .alert{
	padding:0;
} 


ul#topMain li ul.dropdown-menu>li {
	padding-top: 10px;
}

ul#topMain li ul.dropdown-menu .row {
	background: #d6e8f4;
	padding: 10px 0px;
	border: 1px solid #8f9ba4;
	box-shadow: 0 2px 8px 0px rgba(0,0,0,0.6);
	/*behavior: url(../js/css3pie.htc);*/
}


#topMain > li.sub-open > a {
	height: 90px;
	background: url(../images/menu-arrow.png) center 77px no-repeat;
	z-index: 2000;
}
/*
#topMain > li.sub-open > a:after {
	position: absolute;
	top: 77px;
	display: block;
	width: 21px;
	height: 15px;
	content: '';
	background: url(../images/menu-arrow.png) center bottom no-repeat;
	left: 50%;
	margin-left: -11px;
	z-index: 99900;
}
*/

/* Submenu positions */
#topMain li ul.dropdown-menu.sportello			{ left: 0px; }
#topMain li ul.dropdown-menu.contodeposito		{ left: 0px; }
#topMain li ul.dropdown-menu.pagamenti			{ left: 0px; }
#topMain li ul.dropdown-menu.carte				{ left: 0px; }
#topMain li ul.dropdown-menu.alert				{ left: 0px; }
#topMain li ul.dropdown-menu.posta_personale	{ left: 80px; }
#topMain li ul.dropdown-menu.investimenti		{ left: 0px; }
#topMain li ul.dropdown-menu.servizi_per_te		{ left: 80px; }






#topMain li ul.dropdown-menu.sportello:after {
	left: 45px;
	/*border-right: 8px solid transparent;
	border-bottom: 8px solid #d6e8f4;
	border-left: 8px solid transparent;*/
}

#topMain li ul.dropdown-menu.contodeposito:after {
	left: 145px;
}

#topMain li ul.dropdown-menu.pagamenti:after {
	left: 245px;
}

#topMain li ul.dropdown-menu.carte:after {
	left: 350px;
}

#topMain li ul.dropdown-menu.alert:after {
	left: 450px;
}

#topMain li ul.dropdown-menu.posta_personale:after {
	left: 550px;
}

#topMain li ul.dropdown-menu.investimenti:after {
	left: 655px;
}

#topMain li ul.dropdown-menu.servizi_per_te:after {
	left: 755px;
}


/* fine menu*/


/**** LINK RAPIDI ****/

ul.quick-links { margin: 5px 10px; padding: 0; }

	ul.quick-links li {
		list-style-type: none;
		display: block;
		min-height: 24px;
		margin: 0;
		margin-bottom: 6px;
		padding: 0;
		vertical-align: middle;
		font-weight: bold;
		text-align: left;
	}

		ul.quick-links li img { 
display: inline-block;
zoom:1;
*display:inline;
		vertical-align: middle; margin-right: 5px; }







#mainContent { padding-left: 0; padding-right: 0; }
	
	
.loginMessage {
	margin: 20px;
	margin-bottom: 40px;
	padding: 0px;
}
	.loginMessage img { float: left; max-width: 200px; margin: 0px 15px 15px 0; padding: 0; }
	.loginMessage p { margin: 0; margin-bottom: 10px; padding: 0; }

.loginMessage .fullContent { display: none; }


a.expand,
a.collapse {
	display: block;
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 15px;
	bottom: 15px;
	text-decoration: none;
}

	.collapsed a.collapse { display: none; }
	.expanded a.expand { display: none; }


.ibandiviso label {
height: 41px;
}

.imgSrv{
	float: left;
	margin-left: 10px;
}

form#formInserimento .nickname {
display: none;
}

.ui-dialog-title { font-family: Helvetica, Arial, sans-serif;
font-weight: bold; font-size: 16px; color: #fff; }

.ui-dialog,
.ui-dialog .ui-dialog-content{
	padding:0;
}

div.dialog-content {
	margin: 15px;
}

.form-group label,
.form-horizontal .control-label { padding-top: 7px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; }

.formPopUp .form-group > div{
	margin-top:5px;
}

.padding10{
	padding:10px;
}

.padding10-0{
	padding:10px 0;
}

.formPopUp{
	margin-bottom: 10px;
}

.box-riquadro {
	box-shadow: 0px 1px 3px 1px #bbb;
	padding: 7px;
	margin-bottom: 20px;
	border-radius: 2px;
	/*behavior: url(../js/css3pie.htc);*/
}

.table.tableflat>tbody>tr>td{
	border-top:0;
	text-align:left;
}

.footer{
	padding: 0px 0 8px 0px;
	border-top: 1px solid #7db77d;
	background: #d8e9d8;
	color: #003b79;
	min-height: 125px;
	font-size: 0.85em;
}

div.footer > div.container > div {
    font-size: 1.2em;
    line-height: 1.2em;
}


.footer p { margin: 4px 0px; }

.footer a{
	text-decoration: none;
	color:#003b79;
}

.footer a:hover{
text-decoration: underline;
}

.footer .social{
	text-align: left;
	
}
.footer .social a{
	margin-right:10px;
	margin-top:10px;
}
.footer .social a:last-child{
	margin-right:0;	
}
.footer-logo{
	margin-top:10px;
	float:right;	
	background: url(../images/sprite.png?v=1) no-repeat 0px -178px;
	width: 170px;
	height: 52px;
}
.footer-logo span{
display:none;
}

.footer h4 {
    font-size: 1.1em;
    font-weight: bold;
}

.footer .assistenza { }

	.footer .assistenza > div { margin-bottom: 5px; }
	
	.footer .assistenza a.ico-assistenza,
	.footer .assistenza a.ico-manuale,
	.footer .assistenza a.ico-gestore {
		float: left;
		width: 28px;
		height: 28px;
		margin-right: 5px;
		margin-bottom: 5px;
		text-decoration: none;
	}
	
		.footer .assistenza a.ico-assistenza { background: url(../images/assistenza-footer.png) no-repeat; }
		.footer .assistenza a.ico-manuale { background: url(../images/manuale-footer.png) no-repeat; }
		.footer .assistenza a.ico-gestore { background: url(../images/gestore-footer.png)  no-repeat; }
		
.footer .manuale { margin-top: 36px; }

div.footer > div.container > div.disclaimer { font-size: 1em; }

.spalla  .table{
	margin-bottom: 10px;
	margin-top: 10px;
}


.spalla  .table td {
	border:none;
	padding:0 0 2px 7px;
	font-size: 1em;
	letter-spacing: -0.2px;
}
.spalla  .table td strong { letter-spacing: -0.5px; }

.spalla .table-responsive{
	border-bottom:1px solid #eee;
}

.spalla .table-responsive:last-child{
	border:none;
}


/* GRAFICI e TIMELINE */

.tablePanel { display: block; clear: both; }
.timelinePanel { opacity: 0; clear: both; }
.chartPanel {
	opacity: 0;
	width: 75%;
	margin: 0px auto;
	text-align: center;
}
.chart-canvas { margin: 0px auto; margin-bottom: 10px; }

div.legend {
	position: absolute;
	top: 20px;
	right: 30px;
	padding: 5px 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	z-index: 1000;
	background: rgba(255,255,255,0.75);
}

	.legend ul.chart-legend {
		display: block;
		margin: 0;
		padding: 0;
	}
	
		.legend ul.chart-legend li {
			display: block;
			list-style-type: none;
			margin: 4px 0px;
			padding: 4px 0;
		}
			.legend ul.chart-legend li span.color {
				display: table-cell;
				width: 20px;
				height: 20px;
				margin-right: 10px;
				padding: 0;
				/*border: 1px solid #888;*/
				box-shadow: 0 0 2px 0px rgba(0,0,0,0.7);
				border-radius: 3px;
			}
			.legend ul.chart-legend li span.label {
				display: table-cell;
				vertical-align: middle;
				padding-top: 5px;
				color: #444;
				font-size: 0.8em;
				font-weight: normal;
			}



a.pdf {
	display: block;
	min-height: 24px;
	margin-bottom: 8px;
	padding-left: 32px;
	padding-top: 4px;
	color: #003b79;
	text-decoration: none;
	background: url(../images/i_pdf.png) left 0px no-repeat;
	line-height: 20px;
}

.display-none { display: none; }


.left { float: left; }
.right { float: right; }

.txt_center { text-align: center; }
.txt_left { text-align: left; }
.txt_right { text-align: right; }

.vertical_center,
.table>tbody>tr>td.vertical_center { vertical-align: middle; }


.txt16 { font-size: 16px; }
.txt14 { font-size: 14px; }
.txt11 { font-size: 11px; }
.txt10 { font-size: 10px; }


.line24 { line-height: 24px; }
.line20 { line-height: 20px; }
.line16 { line-height: 16px; }
.line14 { line-height: 14px; }

.blue { color: #003b79; }
.red { color: #b40303; }

.margin-bottom20 { margin-bottom: 20px; }

div.messagePanel {
	display: none;
	min-height: 100px;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 0;
	border: none;
	border-radius: 0;
	font-size: 1.04em;
}

div.messagePanel.error { background: url(../images/ico_msg_error.png) #fff3ef 20px 36px no-repeat; }
div.messagePanel.alert { background: url(../images/ico_msg_alert.png) #fdfce4 20px 36px no-repeat; }
div.messagePanel.waiting { background: url(../images/ico_msg_awaiting.png) #fdfce4 20px 36px no-repeat; }
div.messagePanel.success { background: url(../images/ico_msg_ok.png) #f3fdf2 20px 36px no-repeat; }


	.messagePanel h3 { margin-top: 0px; }
	.messagePanel ul, .messagePanel p { margin-left: 100px; margin-right: 10px; padding: 0px; }
	.messagePanel strong { font-size: 1.04em; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-weight: bold; }



.newsItem {
	margin: 10px;
}

	.newsItem span.date { display: block; color: #666; font-size: 1.04em; font-family: Helvetica, Arial, sans-serif;
font-weight: bold; font-weight: 600; }
	.newsItem strong.title { display: block; margin: 3px 0px 10px 0; font-size: 1.04em; }
	.newsItem a img { display: block; margin: 0 auto; max-width: 95%; }
	.newsItem p { margin: 0px; margin-top: 10px; padding: 0px; font-size: 13px; text-align: justify; }



.ui-dialog .ui-dialog-titlebar { border-radius: 2px 2px 0 0; }




/*
@media (max-width:767px){ body { width: 980px; } .container{ width:960px; padding: 0; } }
@media (min-width:768px){ body { width: 980px; } .container{ width:960px; padding: 0; } }
@media (min-width:1000px){ body { width: 100%; } .container{ width: 960px; padding: 0; } }
@media (min-width:1200px){ body { font-size: 12px; } .container{ width: 960px; padding: 0; } .spalla { display: block; } }
@media (min-width:1320px){ body { font-size: 13px; } .mainContent { font-size: 1.05em; }
*/
/*AGGIORNAMENTI DEL 28-05-2015*/
/*				
@media (max-width:767px){ body { max-width: 980px; } .container{ width:960px; padding: 0; margin: 0 auto; } .container-wide { width: auto; margin: 0 10px; } } /* da width a max-width cambiato per popUp bonifici SEPA 
@media (min-width:768px){ body { width: 980px; } .container{ width:960px; padding: 0; margin: 0 auto; } .container-wide { width: auto; margin: 0 10px; } }
@media (min-width:1000px){ body { width: 100%; } .container{ width: 960px; padding: 0; margin: 0 auto; } .container-wide { width: auto; margin: 0 10px; } }
@media (min-width:1200px){ body { font-size: 12px; } .container{ width: 960px; padding: 0; margin: 0 auto; } .container-wide { width: 99%; margin: 0 auto; } }
@media (min-width:1320px){ body { font-size: 13px; } .container-wide { width: 90%; margin: 0 auto; } .mainContent { font-size: 1.05em; }
*/
/*	AGGIORNAMENTI Richiesti da TM il 16/07/2015
*/
.container{ width:auto; min-width: 1000px; max-width: 1320px; }
.container-wide { margin: 0 auto; max-width: 1320px; width:100%;}
@media (max-width:767px){ body { width: 100%; } .container{ width:980px; } }
@media (min-width:768px){ body { width: 100%; } .container{ width:980px; } }
@media (min-width:1000px){ body { width: 100%; } .container{ width: 100%; } }
@media (min-width:1200px){ body { font-size: 12px; } .container{ width:auto; min-width: 1000px; max-width: 1320px; }}
@media (min-width:1320px){ body { font-size: 13px; } .mainContent { font-size: 1.05em; } }

/* Aggiunto il 19/06/2015 per la pagina Anagrafica -> Profilo Postazione -> Elenco Banche 
.container{
	width: 960px;
}	
*/
/* AGGIUNTE 11/08/15 */
.margin-top10 {
    margin-top: 10px;
}	