// COLORI

$white : #fff;
$black : #000;
$primary : #0e977f;
$primaryLight : #00a592;
$primaryDark : #007c66;
$acqua : #75c2b8;
$giallo : #edb54d;
$tableStripe : #eaeded;
$grayLight : #d7d7d7;
$grayLight2 : #dadde0;
$grayMidLight : #ccc;
$gray : #666;
$grayMid : #92989C;
$grayDark : #474B4E;
$blue : #2a3d63;
$rosso : #eb4e62;
$verde : #289730;

// BREAKPOINTS

$smmin : 768px;
$mdmin :  992px;
$lgmin :  1201px;
$xsmax : $smmin - 1px;
$smmax : $mdmin - 1px;
$mdmax : $lgmin - 1px;

// FONTSIZE ICONE PER WEBANK
$fontSize : 16px;
$fontSizeX2 : ( $fontSize * 2 );
$fontSizeX3 : ( $fontSize * 3 );
$fontSizeMob : 40px;
// SOVRASCRIUTTURE FONTSIZE ICONE IN YOUWEB
$fontSize : 16px;
$fontSizeX2 : 24px;
$fontSizeX3 : 40px;

////////////////////////////////////
// WB COLORS VARS
////////////////////////////////////

$colorBank1: $primary; // #6f8f0a;
$colorBank2: $primaryLight; // #8ab10b;
$colorBank3: desaturate(lighten($primaryLight,10%),10%); //#96c10c;
$colorBank2b: $colorBank2;
$colorBank3b: $colorBank3;
$colorBank4: desaturate(lighten($primaryLight,25%),40%); //#a8c44e;
$colorBank5: desaturate(lighten($primaryLight,35%),50%); //#b6ca77;
$colorBank6: desaturate(lighten($primaryLight,45%),50%); //#c4d885;
$colorBank7: desaturate(lighten($primaryLight,55%),50%); //#dce7b5;
$colorBank8: desaturate(lighten($primaryLight,60%),50%); //#e3e3e3;
$colorBank9: desaturate(lighten($primaryLight,70%),40%); //#FAFFEB;

/* Colore dei testi personalizzato per banca */
$textColorBank: $colorBank1;
$textColorBank2: $colorBank2;
$textColorBank3: #fff;

/* VARIABILI COLORE SPECIFICHE PER OGNI BANCA*/
/* Colore dei testi */
$textColor: #666;
$textColorDark: #171717;
$textColorValuePositivo: #00a651;
$textColorValueNegativo: #f00;
$textColorWhite: #fff;
$textColorDisabled: #ccc;
$textColorGrey: #999;
$textColorBlack: #000;
$textColorHightlight: #1060c7;

/* Colore dei link */
$linkColor: $colorBank1;
$linkBgColorMobile: $colorBank2;

/* Colore dei bottoni */
$bgColorBtn: $colorBank2b;
$bgColorBtnGrey: #aaa;
$bgColorBtnDis: #dfdfdf;
$bgColorBtnOver: $colorBank3b;
$bgColorBtnGreyOver: #b5b5b5;
$borderColorBtn: $colorBank2;
$gradientBgColorFrom: $colorBank4;
$gradientBgColorTo: $colorBank2;

/* Colore delle tabelle */
$borderColorTab: #afafaf;
$borderColorCel: #c6c6c6;
$bgColorHeading: #f2f2f2;
$bgColorDispari: #fff;
$bgColorPari: #fbfbfb;
$bgColorEvident: $colorBank7;

/* Colore Pin2 */
$bgColorPinText: #555;
$bgColorPinForm: #363636;

/* Colore dei form*/
$borderColorForm: #DADEE1;
$borderColorFormHover: #122E5C;
$borderColorSelettore: #e3e3e3;
$bgColorForm: #fff;
$bgColorDisabled: #dfdfdf;
$bgColorDisabled2: #f8f8f8;
$colorPlaceholder: #999;
$borderColorDisabled: #ddd;
$borderColorDisabled2: #e5e5e5;
$bckFocusInput: fade($colorBank1, 40%);
$hoverColorSelettore: $colorBank9;
$bgColorSelettore: #fafafa;

/* Colore dei bottoni personalizzato per banca */
$gradientBgColorFrom: $colorBank4;
$gradientBgColorTo: $colorBank2;

/* Tab */
$borderColorFrontPageOn: $colorBank2;
$borderColorOn: #ccc;
$borderColorOff: #e9e9e9;

/* BOX GENERICI */
$bgColorTitleBox: #f6f6f6;
$borderColorBox: #eee;

/* Colore del calendario*/
$borderSelected: $colorBank5;
$bckSelected: $colorBank6;