// Mappatura filtri per colori
// Per creare i filtri usare il convertitore: https://codepen.io/martapetrella-the-lessful/pen/povZEpN

$colors_filters:(
    white               : 'invert(100%) sepia(10%) saturate(4904%) hue-rotate(45deg) brightness(119%) contrast(108%)',
    black               : 'invert(0%) sepia(91%) saturate(9%) hue-rotate(87deg) brightness(97%) contrast(100%)',
    green               : 'invert(66%) sepia(9%) saturate(2907%) hue-rotate(122deg) brightness(88%) contrast(78%)',
    greenLink           : 'invert(48%) sepia(64%) saturate(452%) hue-rotate(121deg) brightness(93%) contrast(81%)',
    greenLink_hover     : 'invert(43%) sepia(84%) saturate(378%) hue-rotate(121deg) brightness(88%) contrast(85%)',
    greenMenu           : 'invert(19%) sepia(88%) saturate(6384%) hue-rotate(168deg) brightness(92%) contrast(93%)',
    greenMenu_hover     : 'invert(24%) sepia(39%) saturate(2926%) hue-rotate(145deg) brightness(97%) contrast(97%)',
    greenLight          : 'invert(66%) sepia(96%) saturate(357%) hue-rotate(117deg) brightness(89%) contrast(81%)',
    greenLighter        : 'invert(96%) sepia(9%) saturate(264%) hue-rotate(109deg) brightness(101%) contrast(91%)',
    grayBordered        : 'invert(92%) sepia(0%) saturate(1289%) hue-rotate(154deg) brightness(97%) contrast(71%)',
    gray1               : 'invert(17%) sepia(7%) saturate(236%) hue-rotate(316deg) brightness(105%) contrast(82%)',
    gray1_hover         : 'invert(14%) sepia(11%) saturate(21%) hue-rotate(326deg) brightness(100%) contrast(83%)',
    gray2               : 'invert(45%) sepia(0%) saturate(1%) hue-rotate(161deg) brightness(98%) contrast(90%)',
    gray2_hover         : 'invert(34%) sepia(0%) saturate(103%) hue-rotate(157deg) brightness(100%) contrast(85%)',
    gray3               : 'invert(69%) sepia(31%) saturate(18%) hue-rotate(314deg) brightness(83%) contrast(85%)',
    gray4               : 'invert(99%) sepia(2%) saturate(1987%) hue-rotate(224deg) brightness(115%) contrast(73%)',
    gray4_hover         : 'invert(92%) sepia(0%) saturate(1289%) hue-rotate(154deg) brightness(97%) contrast(71%)',
    gray5               : 'invert(55%) sepia(7%) saturate(7%) hue-rotate(93deg) brightness(96%) contrast(95%)',
    gray6               : 'invert(99%) sepia(0%) saturate(1614%) hue-rotate(23deg) brightness(109%) contrast(79%)',
    gray7               : 'invert(100%) sepia(0%) saturate(1396%) hue-rotate(204deg) brightness(114%) contrast(87%)',
    grayBG              : 'invert(100%) sepia(2%) saturate(959%) hue-rotate(256deg) brightness(119%) contrast(92%)',
    grayMid             : 'invert(51%) sepia(0%) saturate(55%) hue-rotate(237deg) brightness(77%) contrast(91%)',
    blue                : 'invert(11%) sepia(12%) saturate(7403%) hue-rotate(196deg) brightness(97%) contrast(99%)',
    orange              : 'invert(52%) sepia(99%) saturate(487%) hue-rotate(357deg) brightness(102%) contrast(87%)',
    warning             : 'invert(59%) sepia(100%) saturate(382%) hue-rotate(1deg) brightness(84%) contrast(94%)',
    error               : 'invert(12%) sepia(87%) saturate(4754%) hue-rotate(356deg) brightness(98%) contrast(90%)',
    success             : 'invert(48%) sepia(64%) saturate(452%) hue-rotate(121deg) brightness(93%) contrast(81%)',
    input_placeholder   : 'invert(80%) sepia(12%) saturate(15%) hue-rotate(334deg) brightness(86%) contrast(82%)',
    input_disabled_bkg  : 'invert(99%) sepia(0%) saturate(7496%) hue-rotate(61deg) brightness(133%) contrast(73%)',
    input_disabled_color : 'invert(98%) sepia(98%) saturate(0%) hue-rotate(316deg) brightness(101%) contrast(101%)',
    input_disabled_placeholder : 'invert(100%) sepia(0%) saturate(1396%) hue-rotate(204deg) brightness(114%) contrast(87%)',
    tableStriped        : 'invert(99%) sepia(0%) saturate(5626%) hue-rotate(85deg) brightness(108%) contrast(97%)',
);

// Cerca i colori e se sono presenti come variabile
// li converte in filtri compatibili con IE

@function color_exist_in_maps($hex){
  $exists : false;
  // Se il colore esiste nel'array colori...
  $key_in_colors : map_get_key($colors,$hex);
  @if( $key_in_colors != false ) {
    // ... allora cerco la chiave trovata nell'array dei filtri...
    $value_in_filters : map-get($colors_filters,$key_in_colors);
    @if( $value_in_filters != false ) {
      // ... e se la trovo, applico a filter il fallback per IE.
      $exists : true;
  } @else {
      @warn $key_in_colors + " is not in $colors_filters array!";
    }
  } @else {
    @warn $hex + " is not in $colors array!";
  }
  @return $exists;
}

@mixin color_overlay($hex: $black){
  // Applica i filters per webkit
  @include color_overlay__svg_inline('-webkit-filter',$hex);
  // Se il colore esiste negli array $colors e $colors_filters
  // usa il fallback utile alla compatibilità IE.
  // Se no usa la sintassi webkit.
  @if( color_exist_in_maps($hex) ) {
    @include color_overlay__filter('filter',$hex);
  } @else {
    @include color_overlay__svg_inline('filter',$hex);
  }
}

@mixin color_overlay__svg_inline($property,$hex: $black){
  // COLOR A NOT-INLINE SVG: https://codepen.io/mstadius/pen/pJoNJX
  // get rgb values from hex
  $red: red($hex);
  $green: green($hex);
  $blue: blue($hex);
  // convert rgb to 0 ... 1
  $red_c: ($red / 255);
  $green_c: ($green / 255);
  $blue_c: ($blue / 255);
  $name: #{$red}_#{$green}_#{$blue};
  $id: "co#{$name}";
  $svg: "<svg xmlns='http://www.w3.org/2000/svg' version='1.1'> " +
          "<defs> <filter id='#{$id}'> " +
            "<feColorMatrix in='SourceGraphic' type='matrix' values='" +
              "0 0 0 0 #{$red_c} 0 0 0 0 #{$green_c} 0 0 0 0 #{$blue_c} 0 0 0 1 0' " +
            "/> " +
            "</filter> </defs> " +
        "</svg>";
  $data: "data:image/svg+xml,#{$svg}#"+"#{$id}";
  #{$property}:url("#{$data}");
}

@mixin color_overlay__filter($property,$hex){
  $key_in_colors : map_get_key($colors,$hex);
  $value_in_filters : map-get($colors_filters,$key_in_colors);
  #{$property}: #{ $value_in_filters };
}

@mixin svg-icon-color($color) {
  color: #{$color} !important;
  fill: #{$color} !important;
  @include color_overlay($color);
}
 
