<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Proxy PMI site" />
                <rule name="Menu" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="/Anchise.Web/distinte/autorizzadistinte_new" appendQueryString="true" redirectType="Temporary" />
                </rule>
            </rules>
            <outboundRules>
                <remove name="Redirect" />
                <rule name="Redirect" preCondition="RedirPrecond" enabled="true" stopProcessing="true">
                    <match serverVariable="RESPONSE_Location" pattern="^http://(.*)" />
                    <conditions />
                    <action type="Rewrite" value="https://{R:1}" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
