<div class="headerContainerNoBootS">
    <div class="tableContainerNoBootS">
        <table>
            <thead>
                <tr>
                    <th *ngFor="let col of headingsCol;index as i"> 
                       <ng-container [ngTemplateOutlet]="colsThTemplate" [ngTemplateOutletContext]="{data:col}"></ng-container>
                    </th>
                </tr>
            </thead>
            
            <tbody> 
            <tr *ngFor="let el of rowData;index as i" [ngClass]="{'pari': i %2 == 1}">
                <td *ngFor="let colTemplate of colsTemplate"  [ngClass]="'pad_0'">
                   <ng-container [ngTemplateOutlet]="colTemplate" [ngTemplateOutletContext]="{data:el}"></ng-container>
                 </td>
            </tr>
            </tbody>
          </table>
     </div>
</div>


