<div class="headerContainerNoBootS">
    <div class="tableContainerNoBootS">
        <table>
            <thead>
                <tr>
                   <th *ngFor="let col of headingsCol;index as i" [ngClass]="col.class"> 
                      <ng-container  [ngTemplateOutlet]="colsThTemplate" [ngTemplateOutletContext]="{data:col}">
                                {{col.title}}
                        </ng-container>
                    </th>
                </tr>
            </thead>
            
            <tbody> 
                <tr *ngFor="let el of rowData;index as i" [ngClass]="i %2 == 1 ? 'pari ' +  classTrSimpleTable[i] :  classTrSimpleTable[i]" #row>
                    <td *ngFor="let colTemplate of colsTemplate;index as j" [ngClass]="isObject(el[columnssref[j]]) ? ('pad_0 ' + classTdSimpleTable[j]) : classTdSimpleTable[j]" [headers]="headers[j]">
                        <ng-container [ngTemplateOutlet]="colTemplate" [ngTemplateOutletContext]="{data:el,id:i,row:row}"></ng-container>
                    </td>
                </tr>
            </tbody>
          </table>
     </div>
</div>


