// PERSONALIZZAZIONI DEI BOTTONI

.btn {
  @include btnPalette($color:$white, $bkg:$greenLink, $bkg_hover:$greenLink_hover);
  border-radius: 3px;
  border: none;
  font-size: 14px;
  max-width: 100%;
  text-transform: uppercase;
  height: $inputHeight;
  line-height: 30px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-weight: normal;
  @include ellipsed();
  &:hover {
    box-shadow: 0 none !important;
  }
  &:active, &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  &.disabled, &:disabled {
    pointer-events: none;
    cursor: default;
    &, &:hover, &:active, &:focus {
      text-decoration: none;
      background: none;
    }
  }
  
  @include icon {
    @include svg-icon-size(25px);
    line-height: 1px !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0.25em !important;
    margin-left: -0.25em !important;
    // transform: translate(0,2px);
    // display: block;
    // float: left;
    transform: translate(0, -2px);
    display: inline-block;
    float: none;

    @at-root {
      .btn i.icon {
        line-height: 1px !important;
        height: 1px !important;
        min-width: 1px !important;
        overflow: visible !important;
        &:before {
          transform: translate(0, 5px) !important;
        }
      }
    }
    
  }
  // - - STILI PERSONALIZZATI DEI BOTTONI
  // PRIMARY & SECONDARY
  &.btn-primary,
  &.btn-secondary {
    text-transform: uppercase;
  }
  // PRIMARY
  &.btn-primary {
    @include btnPalette($color:$white, $bkg:$greenLink, $bkg_hover:$greenLink_hover);
  }
  // SECONDARY
  &.btn-secondary {
    @include btnPalette($color:$white, $bkg:$gray2, $bkg_hover:$gray2_hover);
    }
  // WHITE
  &.btn-white {
    //outline: red dashed 3px !important;
    border-style: solid !important;
    border-width: 1px !important;
    @include btnPalette($color:$greenLink, $bkg:$white, $bkg_hover: $grayBG, $border: $grayBordered, $color_disabled:$gray3 );
    border-color: $grayBordered !important; // TODO: sistemare.....
    text-transform: none;
    &.brd-green {
      border-color: $greenLink !important;
    }
    &:disabled, &.disabled {
      border-color: transparent !important; // TODO: sistemare.....
    }
    @include icon {
      @include svg-icon-size(25px);
    }
    .icon-menu {
      transform: translate(2px, 2px);
    }
    &.in-table {
      max-height: 30px;
      border-color: $greenLight!important;
      color: $greenLight!important;
      line-height: 14px;
      margin-bottom:0;
    }
    
  }
  // FILTER
  &.btn-link {
    @include btnPalette($color:$greenLink, $bkg:transparent, $bkg_hover: transparent, $color_disabled:$gray3, $bkg_disabled: transparent );
    //outline: pink dashed 3px !important;
    text-decoration: underline;
    text-transform: none;
    padding: 0.5rem;
    @include icon {
      margin-right: 10px;
      float:left;
      @include svg-icon-color($greenLink);
      @include svg-icon-size(30px);
    }
  }
  // FILTER
  &.btn-filter {
    @include btnPalette($color:$gray1, $bkg:$gray4, $bkg_hover: $gray4_hover, $color_disabled:$gray3 );
    font-size: 1.1rem;
    height: 34px;
    line-height: 28px;
    border-radius: 28px;
    padding: 0 1em;
    text-transform: uppercase;
    text-align: left;
    transition: all 0.3s;
    @include icon {
      display: block;
      float: left;
      margin-right: 3px;
      margin-top: 0;
    }
    &:disabled, &.disabled {
      box-shadow: none !important;
    }
    &.is-selected {
      @include btnPalette($color: $white, $bkg: $greenLink, $bkg_hover: $greenLink_hover);
      box-shadow: inset 0 0 0 3px $greenLink !important;
    }
    &.m-w-s {
      min-width: 100px;
      text-align: center;
      font-size:12px
    }
  }

 
  // check di conferma a fianco dell'icona del bottone
  &.is--confirmed:before {
    content: '\2713';
    display: block;
    font-size: 2rem;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1rem;
    text-align:center;
    color: $greenMenu;
    background: $greenLight;
    float:left;
    border-radius:1rem;
    margin-right: 0.5rem;
  }
  // GRANDEZZE (da bootstrap e custom)
  &.btn-small {
    padding: 0.25rem 0.5rem;
    height: 30px;
    line-height: 15px;
  }
  &.btn-w-sm {
    min-width: 100px;
  }
  &.btn-w-md {
    min-width: 150px;
  }
  &.btn-w-lg {
    min-width: 200px;
  }
  // icona help e info a fianco di titoli e tooltip (icone non standard)
  &-icon-help,
  &-icon-info {
    @include btnPalette($color:$greenLink, $bkg:transparent, $bkg_hover:transparent, $border:$greenLink );
    border-style: solid !important;
      border-width: 2px !important;
      background-size: cover;
      cursor: pointer;
      width: 22px;
      min-width: 22px;
      font-size: 14px !important;
      height: 22px;
      line-height: 19px;
      background-color: transparent;
      border: solid 2px $greenLink;
      color: $greenLink;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      font-weight: bold;
      padding: 0;
      &:before {
        content: "i";
      }
      &:hover {
        text-decoration: none !important;
        color: $green;
        border-color: $green;
      }
      // se è figlio di un h1...
      @at-root h1 & {
        transform: translate(8px,-2px);
      }
      // se è figlio di un control-label...
      @at-root .control-label & {
        float: right;
      }
  }
  &-icon-help {
    &:before {
      content: "?";
    }
    &.position-absolute {
      right: 0;
      top:-30px;
    }
  }
  &-config {
    text-transform: none !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 8px 37px;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/* Bottoni particolari con icone */

.ico-btn {
  color: $blue;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: text-bottom;
  position: relative;
  &.flagged span {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    right: 4px;
    background: $green;
    color: $white;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
  }
  &.userinfo {
    width: auto;
    span.nominativo {
      display: inline-block;
      font-size: 14px;
      margin: 0 10px 0 0;
      line-height: 40px;
      top: 0;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &.plus-minus {
    width: 21px;
    height: 21px;
    line-height: 0;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: $greenLink solid 1px;
    color: $greenLink;
    position: relative;
    &.color-white {
      color: $white;
      border: $white solid 1px;
      &:before {
        color: $white;
      }
    }
    &:before {
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      display: inline-block;
      line-height: 0;
      content: '\002B';
      color: $greenLink;
      font-weight: bold;
    }
    &.is-active {
      border: $gray2 solid 1px;
      color: $gray2;
      &:before {
        content: '\2013';
        color: $gray2;
      }
      &.color-greenLink {
        border: $greenLink solid 1px;
        color: $greenLink;
        &:before {
        color:$greenLink;
        }
      }
    }
    &.color-white {
      color: $white;
      border: $white solid 1px;
      &:before {
        color: $white;
      }
    }
  }
}

// SG Classi da ottimizzare per bottoni full
@media (max-width: $bp_sm_max) {
  .btn-xs-full {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
@media (min-width: $bp_sm_min) and (max-width: $bp_md_max) {
  .btn-sm-full {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
@media (min-width: $bp_md_min) and (max-width: $bp_lg_max) {
  .btn-md-full {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
@media (min-width: $bp_lg_min) {
  .btn-lg-full {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}