#searchSocieta {
    .btnWrapper {
        clear: both;
    }

    .selector-wrap {
        clear: both;
        max-height: 400px;
        overflow-y: auto;

        .selector-box {
            min-height: 180px;
            float: left;

            span.definition {
                display: block;
                line-height: 14px;
            }
        }
    }
}
