.button, .btn {
  // copre tutti i casi compresi i doppi stati
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  &:hover {
    background-color: $grayDark;
    color: $white;
  }
  &.active {
    background-color: $primary;
  }
  &.btn-primary,
  &.btn-filtra,
  &.btn-filtra-attivo,
  &.btn-navigation {
    background-color: $primary;
    margin-left: 20px;
    
    &:first-child {
      margin-left:0;
    }
    &:hover {
      background-color: $primaryDark;
    }
  }
  .modal-footer & {margin-bottom:0;}
  &.btn-secondary {
    border:0 none;
    border-radius:20px;
    text-transform:uppercase;
    background-color:#92989C;
    font-weight:600;
    padding:8px 15px 5px;
  }
  &.btn-default {
    margin-left: 20px;
  }
  &.btn-disable,
  &.btn-disabled {
    &, &:hover, &:focus, &:active, &.active {
      cursor: default;
      background : $grayLight !important;
      box-shadow: none !important;
    }
  }
  &.slider-button {
    border-radius: 16px;
    padding: 9px 28px 7px 28px;
    font-weight: 600;
    height: 30px;
    line-height: 14px;
  }
  // Bottone con icona
  .icon + .icon-text { 
    display: inline-block;
    margin-left:5px;
  }
}

.btnWrapper .btn, .btnWrapper .btn-align-left, .ricFilter .btn-align-left {
    margin-left: 0px;
    margin-right:15px;
}

.btnWrapper,.ricFilter {
  .btn-align-right {
    margin-right: 0px;
    margin-left:15px;
    &.col-xs-3{margin-left:0 !important}
  }
}

.btnWrapper .btn:last-child,.btnWrapper .btn-align-left:last-child, .ricFilter .btn-align-left:last-child{
   margin-right:0
}

.btnWrapper.topBtn {
  margin-bottom:0;
}

@media (max-width:767px) {
  .btnWrapper {
    display: inline-block;
    vertical-align:top;
    width:100%;
    div:only-child {
      max-width:100% !important;
    }
    .btn-align-left,.btn-align-right {
      margin: 0;
      display:inline-block;
      max-width:50%;
      
      &.btn-align-left {
        padding-right:8px;
        text-align:left;
        float:left;
      }
      &.btn-align-right {
        padding-left:8px;
        text-align:right;
        float:right;
      }
      .btn {
        margin-left:0;
        margin-right:0;
        max-width:100%;
        margin-bottom:15px;clear:both;
        text-overflow:ellipsis;
        overflow:hidden;
      }
    }
  }
  .btn-block{
    margin-bottom:0;
  }
}

/* Icone bottoni */
.btn-icon:not(.text-term):not(.plusmin) {
  width: 25px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 25px;
  font-size:20px;
  cursor:pointer;
  .icon {
    vertical-align:text-bottom;
    line-height:24px;
  }
  &.btn-icon-text {
    width:auto; font-size:14px; color: $primary;
  }
  .note & {
    color: #fff;
    background-color: #0e977f;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 0 0 6px;
    position: relative;
    top: -4px;
    text-align: center;
  }
}
//fix btn icon in scheda fondo 
#fesFondoWrap .fundPanel.fundPanelImg .btn-icon{
    width: auto;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    text-align: left; 
    height: auto;
}
.tab-wrap .documenti, .fundPanel {
  margin:0;
  li{
    margin-bottom: 5px;
  }
  .btn-icon
  {
    width: auto;
    height: auto;
    font-size: 14px;
    text-align: left;
    span {
      padding-left:10px;
    }
  }
}
.tab-wrap .documenti {

  a.btn-icon {
    position: relative;
    padding-left: 30px;
    i{
      position: absolute;
      left:0;
      top:0;
    }
    span {
      padding-left:0;
      line-height: 25px;
    }
  }
}
#cercaSel {
  .btn-icon
  {
    width: auto;
    height: auto;
    font-size: 14px;
    text-align: left;
  }

}



 
/* Icone bottone nelle note in testa */
p.note.flRight {
  a.btn-icon {
    margin-left: 5px;
    background-color: #0e977f;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
  }
}
/* Icona in rotazione */
.btn-icon .icon-push_on {
  animation: spin 5s linear infinite
}

/* sovrascrittura classe icon-text perchè non erediti lo stile icomoon */
.icon-text {
  font-family: 'bankFont', Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
}
.btnWrapper .icon, .btn .icon {
  height: auto;
  line-height: 7px;
  position: relative;
  top: 3px;
}
.btnWrapper .btn-link-icon .icon {
  position: absolute;
}

/* NUOVA BOTTONIERA PER INVESTIMENTI CON FILETTO*/
.line-button {
  position: relative;
    hr {
      position: absolute;
      width: 100%;
      top:17px;
      left:0;
      border-color: #ccc;
    }
    .btnWrapper {
        position: absolute;
        right:0;
        .icon {
          height: auto; 
          line-height: 7px;
          position: relative;
          top: 3px;
        }
      }
      .last hr {
        display :none
      }
}
@media (max-width:1200px) {
  .line-button .btn-primary {
    padding: 11px 10px 7px 10px;
  }
}




@media (max-width:767px) {
  .line-button {
      position: static;
      hr {
        display :none;
      }
      
      .btnWrapper {
          position: static;
          right:0;
      }
      .icon {
          font-size:20px!important;
      }
      .btn {
        padding: 11px 18px 7px 18px;
      }
      .btn-align-left {
          text-align: center!important;
          float: none!important;
          max-width: none!important;
          display: block;
          padding-right: 0!important;
          &.last {
              position: relative;
              hr {
                  display :block;
                  top: 15px;
              }
              .btn {
                  position: relative;
              }
          }
      }
      .btn {
          width: auto!important;
          min-width: 250px;
          text-align:left;
      }
  }
}

/* Pulsante autorefresh */
.push-button {
  .icon-push_on {display:none}
  &.disabled {
    background-color:#ccc !important;
    opacity:0.8;
  }
  &.active {
    .icon-push_off {
      display:none;
    }
    .icon-push_on {
      display: inline-block;
      line-height: 25px;
      vertical-align: middle;
      padding-top: -2px;
      height: 25px;
      width: 25px;
      text-align: center;
    }
  }
}

/*bottone di ricerca rapida */ 
.toggleRicercaRapida .icon {
  margin-right :10px
 
}

/* Bottoni con padre no-label */
@media (min-width: 992px) {
  .no-label .btn {
    margin-top:6px;
  }
}
@media (max-width: 991px) {
  .tabbed-buttons {.btn-align-left {max-width:100% !important}}
}