.control-label-output {
  display: inline-block;
  float:left;
  font-weight: normal;
  width: 100%;
  &.txthelp { 
     width: auto;
     float: none;
  }
}

.formGenerico {
  //border-top: solid 2px $tableStripe;
  padding-top: 15px;
  &.borderFormRounded {
    border: 0;
    padding:0;
    box-shadow:none!important;
    .marginBottomNone {
      padding:10px;
      .control-label-output {
        margin-bottom: 20px;
      }
    }
    .control-label {display: inline-block; width:100%;
      &.txthelp, &[data-toggle=tooltip] {
        width: auto;
      }
    .btn-icon{
      left:0;
      i {
        margin-left:0!important
      }
    }
    }
    .marginBottomNone {
      margin: 0 15px;
    }
  }
  input:focus {
    outline:none;
    box-shadow: none;
  }
  .form-group {
    label { min-height: 13px;
    
      .textWrapper {
        position:relative;
        padding-left:25px;
        input {
          margin-right:5px;
          margin-right:-25px;
        }
      }
    
    }
    &.btnWrapper {
      .btn-align-left {
        margin-right: 0;
      }
    }
  }

}

.boxDefault label {
  font-weight: bold;
}

.selector {
  position: absolute;
  z-index: 2;
  left: 0;
  overflow: auto;
  border: 1px solid #ccc;
  border-top: 0 none;
  background-color: #fff;
  width: 100%;
  margin: 0;
  .group {
    display: block;
    a {
      display: block;
      padding: 10px;
      @extend .notFocused;
      border-bottom: 2px solid  $tableStripe;
      //&:nth-child(odd) { background-color: $tableStripe; }
    }
    &.selected {
      //background-color: #FAFFEB;
      a{
        //padding-left: 30px;
        //border-left: $grayMid solid 3px;
        background-color: $tableStripe;
        border-color: $white;
        &.selected {
          border-left: $primary solid 5px;
        }
      }
    }
  }
}

.inputOption {
  @extend .ellipsed;
}

.no-label {
    padding-top: 28px;
    > div {
      a:not([type="button"]) {
        color: #0E977F;
        text-decoration: underline;
      }
    }
}
.no-label-output {
  padding: 14px 5px;
  .btn.btn-primary {
    padding: 11px 10px 7px 10px;
    letter-spacing: -0.5px;
  }
}
.modal-body .selector-wrap.selector-mini .selector-box {
    width: 111px
}

.input-group-addon {
    padding: 0 5px;
    border-radius: 0;
    background-color: $borderColorForm;
    color: $blue;
    &.date {
      color: $blue;
      background-color: $white;
      position: relative;
      min-width:30px;
    }
}
input[type=checkbox] {
  top:0;
  cursor: pointer;
}

.ui-datepicker-trigger {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;
}
/* Selector box */

.selector-wrap {
    text-align: left;
}

.selector-box {
    //min-height: 280px;
    border: solid 2px #eee;
    cursor: pointer;
    //padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.selector-box img {
    margin: 0 auto
}

.selector-auto .selector-box img {
    margin: 0;
}

.selector-box span.titoletto {
    display: inline-block;
    clear: both;
    width: 100%;
    font-size: 18px;
}

.selector-box.disabled {
    opacity: 0.3;
    cursor: default;
}

.selector-box.selected {
    border: solid 2px $textColorBank2
}

/* Selector box mini */

.selector-wrap.selector-mini {
    width: auto;
    margin: 0 -10px;
    text-align: left;
}

.selector-wrap.selector-mini .selector-box {
    width: 115px;
    min-height: 90px;
    display: inline-block;
    margin: 0 10px 20px;
}

/* Selettore in overlay */

.modal-body .selector-wrap.selector-mini .selector-box {
    width: 111px
}

/* Multiselettore */

.multi-selector {
    width: 100%;
    border: solid 1px $borderColorForm;
    padding: 0 7px;
    height: 40px;
    line-height: 40px;
    &:hover {
      border-color: $borderColorFormHover;
    }
    a.reset {
        float: right;
        text-decoration: none;
        cursor: pointer;
        i.icon {
            color: $blue;
            font-size: 20px;
            margin: 12px 0 0 0;
        }
    }
    a {
      cursor:pointer;
      text-decoration:underline;
    }
}

.textScroller {
    border: solid 1px $borderColorForm;
    height: 250px;
    overflow-y: scroll;
    padding: 14px
}

@media (max-width: $xsmax) {
    .textScroller {
        height: auto;
    }
}



.form-control {
  padding: 15px 16px 15px 14px;

}
@media (max-width: $smmax) {
 .form-control {
    padding-top: 11px;
 }
}

.formGenerico .icon-console {
  float: left;
  display: block;
  position: relative;
  a.btn-icon {
    margin: 15px 0 0 10px;
    float: left;
    cursor:pointer;
    &:first-child {
      margin-left: 0;
    }
  }
}

.btnMultiSel {
  position:relative;
  width:100%;
  float: left;
  line-height: 32px;
  border: 1px solid #ccc;
  padding:12px 16px 15px 14px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #fff;
  span {
    height: 26px;
    line-height: 26px;
    float:left;
    max-width: calc(100% - 10px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor:pointer;
    text-decoration:underline;
    color: $primary;
  }
  .icon {
    right: 10px;
    position:absolute;
    height: 20px;
    width: 20px;
    line-height: 20px;
    min-width: 20px;
    margin-top: 3px;
    text-align:center;
    font-weight: bold !important;
    &:hover {
      color: $primary;
    }
  }

  @media (max-width: 767px) { &{margin-bottom:20px;}}

}

/* Selettori generici */
.fesSelCont {

  .selEl {font-weight:normal; width:33.331%; position:relative;margin-bottom:10px; padding-left:25px; padding-right:10px;
    cursor: pointer;display:inline-block; vertical-align:top;

    @media (max-width:767px) {
      & {width:100%}
    }
    input[type=checkbox],input[type=radio] {position:absolute !important;left:0;top:0;
      &[type=radio] {top:-3px}
    }
    .selElName {font-weight:bold}
  }

  /* slider */
  .sliderRange {
    position:relative;
    margin:0 0 25px;
    padding:0 15px;
    .ui-slider {
      margin-top:20px;
      height:4px; 
      background:#dadee1 none 0 0 !important;
      .ui-slider-handle {
        background: #007c66 none no-repeat center center;
        width: 30px;
        border-radius: 15px;
        height: 30px;
        margin: -8px 0 0 -16px;
        cursor: pointer;
        &:before {
          content: "\2039"; 
          line-height:26px;
          font-size: 25px;
          font-weight:normal;
          color:#fff;
        }
        &:last-child {
          &:before {
            content: "\203A"
          }
        }
        &:focus,&:active {
          outline:none;
          box-shadow:0 none;
        }
      }
      .ui-slider-range {
        background: #007c66;
      }
    }
    .slider-milestones {
      width:100%;position:relative;
      .milestone {
        display:inline-block; 
        position:absolute;
        width: 10%;
        height: 50px;
        &:first-child{
            margin-left: 0;
        }
       
        .thick {
            width: 1px;
            height: 15px;
            background-color: #ddd;
            margin: 10px 0 0;
        }
        .number {
            width: 80px;
            margin-left: -40px;
            text-align: center;
        }


      }
    }
  }
  

}

/* Personalizzazione colonne */
#tablePersOverlay {
  #tablePersCont {  
    width:100%;
    display:inline-block;
    clear:both;
    border-bottom:solid 1px #dedede;
    padding:5px 0;
    text-align:right;
    margin-bottom:15px;
  }
  .fesSelCont {
    width:100%;
    clear:both;
    margin-bottom:15px;
    display:inline-block;
  }
}

/* Societa di gestione */
#selContCodSocieta {
    max-height: 400px;
    margin-bottom: 20px;
    overflow-y: scroll;
    display: inline-block;

    .selEl {
        width: 23%!important;
        height: 160px;
        border: solid 2px #ddd;
        overflow: hidden;
        padding: 85px 5px 5px!important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center -15px;
        cursor: pointer;
        margin: 1%;
        font-size: 12px;



        &.selected {
            cursor: default;
            border-color: #202d50;
        }

        input {
            display: none;
        }

        .selElLabel {
            line-height: 14px;
            margin: 0;
            border-top: solid 2px #ddd;
            padding: 7px 0 0;
            text-align: center;
            display: block;
            .selElTotal {
                display: block;
                clear: both;
                font-size: 12px;
            }
        }
    }
}

#selContCodRating {
  margin: 0 -1.51%;
  @media (max-width:767px) {
    & {width:100%; margin: 0}
  }
  .selEl{
    width:30%;
    margin:0 1.51% 15px;
    border:solid 2px #ccc;
    padding:25px 10px 10px;
    text-align:center !important;
    @media (max-width:767px) {
      & {width:100%; margin: 0 0 15px;}
    }

    input {display:none}
    .selElLabel {width:100%; display:inline-block;
      .selElName {width:100%; display:inline-block;}
      .selElTotal {width:100%; display:inline-block;}
    }
    &.selected {border-color:$primary}
  }
  
}

#selContCodSettore {
  margin: 0 -1.51%;
  @media (max-width:767px) {
    & {width:100%; margin: 0}
  }
  .selEl{
    width:30%;
    min-height:135px;
    margin:0 1.51% 15px;
    border:solid 2px #ccc;
    padding:25px 10px 10px;
    text-align:center !important;
    @media (max-width:767px) {
      & {width:100%; margin: 0 0 15px;}
    }
    .icon {font-size:38px; width:38px;height:38px; color:#999;margin-bottom:10px;}
    input {display:none}
    .selElLabel {width:100%; display:inline-block;
      .selElName {width:100%; display:inline-block; line-height:14px;}
      .selElTotal {width:100%; display:inline-block;}
    }
    &.selected {border-color:$primary;
    .icon {color: $primary}}
  }
}

#selContFesCategoria {
  .fesRadio {
      label {
        cursor: pointer;
        padding-right:20px;
        margin-bottom:15px;
      }     
  }
  .fesSelect {
    select.form-control {margin-bottom:20px;}
  }
  .btnConsole {
    margin-bottom:20px; 
    display:inline-block;
    width:100%;
    .btn-align-right {float:right;}
    @media (max-width:767px) {
      & {.btn-align-right,.btn-align-left {float:none; margin:0;
        .btn {width:100%;}
      }}
    }
    .btn {font-weight:bold; text-transform:uppercase; border-radius:15px;padding: 9px 10px 7px 10px; display:inline-block;
    height:30px;line-height:15px;}
  }
} 

/* Speciale Volatilita' e minimi */
#selContFesVolatilita,#selContFesRendimento {
  .form-inline {
    margin-bottom:15px;
  }
  .refresh.icon { 
    color:#fff;
    cursor: pointer;
    background: #007c66;
    width: 30px;
    border-radius: 15px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top:8px;
  }
}

/* Filtri geografici (solo desktop) */
@media (min-width: 768px) {
  #selContCodArea {
    width:640px;
    margin:0 auto;
    height:371px;
    background: #fff url("/HT/fe/img/fes_world_map.png") no-repeat center center;
    margin-bottom:25px;
    .selEl {background: rgba(255,255,255,0.5);
      width: auto;
      height: 24px;
      padding: 5px 5px 3px 23px;
      border: solid 1px #fff;
      border-radius: 3px;
      position:absolute;
    input {
      top: 2px;
      left: 3px;}

      &#id14 {
        top: 166px;
        left: 518px;
    
    }

    &#id25 {
      top: 153px;
      left: 100px;
    }

    &#id60 {
      top: 120px;
      left: 336px;
  
    }

    &#id61 {
      top: 213px;
      left: 299px;
    }

    &#id67 {
      top: 270px;
      left: 98px;
    }

    &#id68 {
      top: 90px;
      left: 505px;

    }

    &#id75 {
      top: 150px;
      left: 270px;
    }

    &#id81 {
      top: 360px;
      left: 410px;
    }

    &#id130 {
      top: 181px;
      left: 314px;
    }

    &#id347 {
      top: 254px;
      left: 410px;
    }

    &#id348 {
      top: 150px;
      left: 366px;
    }

    &#id-1 {
        top: 360px;
    }

    }
  }
}


#filtriAvanzatiSwitch {
  width: 100%;
  position: relative;
  margin-bottom:15px;
  cursor: pointer;
  text-align: left;
  min-width: 250px;
  .nascondi {
      display: none;
  }
  &.opened {
    .nascondi {
    display: inline-block;
    }
    .mostra {
      display: none;
    }
  }
  .icon {
    position: absolute;
    right:15px;
    top:14px;
  }

}

/* switch*/
#vendImporto, #vendQuote 
{
  margin:0;
  padding:0
}
#tbFunds th{
  text-align: center!important;
}

@media (max-width: 480px) {
    #selContCodSocieta .selEl {
        width: 48%
    }

    .otpdesc {
        .introtext {
            height: 80px;
            display: block
        }
    }

}
/* SIMULATORE PAC */
#btnCatGroup .btn-align-left {
  margin-bottom:20px;
}
@media (max-width: 767px) {
  .autoClearWrapper { 
    margin-bottom:20px
  }
}
.ui-spinner {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 100%;
  margin-bottom: 14px;
  height: 50px !important;
  .ui-spinner-input,
  input,
  input[type="text"].form-control {
    border-left: 0;
    padding-left: 46px;
    padding-right: 46px;
    text-align: center;
    margin:0;
    min-width: 150px;
  }
  .ui-spinner-button {
    /* .icomoonfont();*/
    -webkit-appearance: none;
    width: 34px;
    height: 100%;
    line-height: 100%;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    color: $white;
    background-color: $primary;
    margin: 0 !important;
    border-radius: 0 !important;
    font-size: 25px;
    padding-top: 3px;
    transition: all 0.3s;
    &:hover,
    &:active,
    &:focus {
      background-color: $primaryDark;
      cursor: pointer;
    }
    &:active,
    &:focus {
      color: $colorBank6;
    }
    &,
    &:hover,
    &:active,
    &:focus {
      &.ui-spinner-down {
        top: 0;
        left: 0;
        border-radius: 4px 0 0 4px;
        /* &:before { content: "\e92b"; } */
      }
      &.ui-spinner-up {
        top: 0;
        right: 0;
        border-radius: 0 4px 4px 0;
        /* &:before { content: "\e92c"; } */
      }
    }
    .ui-button-text {
      display: inline-block;
      height: 34px;
      padding: 1px 0;
      .ui-icon {
          text-indent:0;
          position: absolute;
          margin-top: -16px;
          width: 35px;
          top: 50%;
          height: 30px;
          left: 0;
        }
    }
    .icon {
      background-image: none;
      font-size: 0;
      &:before {
        font-size: 32px;
        line-height: 32px;
        top: 1px;
        position: relative;
      }
    }
    @media (max-width: 1023px) {
      & {
        height: 38px;
      }
    }
  }
}
table td .ui-spinner {
  margin: 10px 0;
  max-height: 38px;
  input {
    max-height: 38px;
  }
  .ui-spinner-button .icon:before{
    color:#fff;
  }
}
.borderFormRounded .output {
    float: none;
    width:100%;
    display:inline-block;
    &.no-label{padding-top:0}
    &.txthelp {
      width:auto;
      display:inline-block;
    }
    a:not(.btn){color:$primary}
}
a.output {color: $primary;text-decoration:underline}

@media (min-width: $smmin)
{
  .form-inline .form-group {
      width: 100%;
  }
}

// Campi con addon
.input-group {
  .form-control.hasDatepicker {
    position:relative;
    padding-right:50px;
  }
  .input-group-addon.btn-icon {
    position: absolute;
    right: 0;
    width: 50px;
    z-index: 5;
    padding: 0;
    
  }
  .input-group-addon.date {
    position: absolute;
    top:15px;
    right: 5px;
    z-index: 3;
    border:0;
    height: 30px;
    .icon.icon-calendar_filled {
      margin-top:0;
    }
  }
}


@media screen and (max-width: 1023px) {
  .input-group {
    .input-group-addon.btn-icon {
      .icon {
        margin-top: 7px;
      }
    }
  }
}

// Datepicker
.ui-datepicker {
  table tbody tr:nth-child(odd) {background-color: transparent !important}
  th {background-color: transparent !important;text-align: center !important;}
  th,td {border:0 none}
}
/* Selettore in overlay */
.modal-body .selector-wrap.selector-mini{
  .selector-box { width: 111px}
  &.only-definition .selector-box {width:188px;}
}
#searchSocieta .selector-wrap .selector-box {
  min-height: 187px;
  float: left;
  margin:0 20px 20px;
}
@media (max-width: 767px) {
  .modal-body .selector-wrap.selector-mini.only-definition .selector-box {width:100%;}
  .input-group .input-group-addon.date {
    top:10px;
  }
}
/* Selettore solo testo ad altezza automatica */
.selector-wrap.only-definition {
  display:flex;
  flex-wrap: wrap;
  .selector-box {
      width:158px;
      span.definition {
          display:flex; align-items:center; height:100%; justify-content:center;
          p {line-height:20px; font-size:14px; font-weight:600;margin-bottom:0}
      }
  }

}

.select-content {
  max-width:400px;
  width:100%;
  padding:0 0 25px;
  select {
    @extend .form-control;
    font-weight:bold;
  }
}

/* SELECT ADVANCED (con grafica e overlayer per mobile) */
.sel-adv {
  width: 100%;
  position: relative;
  /* Formattazione dei dati */
  .sel-adv-selector {
    width: 100%;
    display: block;
    background: #eaeded url('/HT/fe/img/icon_accordion_closed.png') no-repeat 98% center;
    height: 80px;
    line-height: 80px;
    background-size: 20px;
  }
}
.opened .sel-adv-selector {
  background:#eaeded url('/HT/fe/img/icon_accordion_opened.png') no-repeat 98% center;
  background-size: 20px;
}

.sel-adv .sel-adv-selector,
.sel-adv .sel-adv-options .sel-adv-voice {
  vertical-align: top;
  white-space: nowrap;
  position: relative;
  padding: 15px 15px 15px 70px;
  cursor: pointer;
  line-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sel-adv .sel-adv-selector .flag,
.sel-adv .sel-adv-options .sel-adv-voice .flag {
  display: block;
  width: 50px;
  position: absolute;
  left: 15px;
}
.sel-adv .sel-adv-selector span,
.sel-adv .sel-adv-options .sel-adv-voice span {
  display: inline;
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 10px;
  vertical-align: top;
}
.sel-adv .sel-adv-selector .label,
.sel-adv .sel-adv-options .sel-adv-voice .label {
  font-size: 16px;
}
.sel-adv .sel-adv-selector .dato,
.sel-adv .sel-adv-options .sel-adv-voice .dato {
  display: inline;
}
.sel-adv .sel-adv-selector .dato-negativo,
.sel-adv .sel-adv-options .sel-adv-voice .dato-negativo {
  color: #E82426;
}
.sel-adv .sel-adv-selector .dato-positivo,
.sel-adv .sel-adv-options .sel-adv-voice .dato-positivo {
  color: #3AA746;
}
.sel-adv .sel-adv-options {
  display: none;
}
.sel-adv .sel-adv-options .sel-adv-voice {
  border-top: solid 1px #dedede;
}
.sel-adv .sel-adv-options .sel-adv-voice:first-child {
  border-top: none;
}
.sel-adv .sel-adv-options .sel-adv-voice:hover {
  background-color: #f1f1f1;
}
.sel-adv .modal .sel-adv-options {
  display: block;
}
.sel-adv .modal .sel-adv-options .sel-adv-voice {
  padding-left: 50px;
}
.sel-adv .modal .sel-adv-options .sel-adv-voice .flag {
  display: block;
  width: 50px;
  position: absolute;
  left: 0;
}
@media (min-width: 768px) {
  .sel-adv.opened .sel-adv-options {
    max-height: 500px;
    overflow-y: auto;
    display: block;
    position: absolute;
    margin-top: -1px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    border: solid 1px #ccc;
    z-index: 5;
    width: 100%;
    background: #fff;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Grafici interattivi trading */
#tradingArea {
  .compLegend {
    span:not(.check) {margin-right:20px;}
    span.check {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;
        margin-right:5px;
        &.checkVerde {background-color: #18a018;}
        &.checkBlue {background-color: #0d1c34;}
        &.checkOrange {background-color: #fb6002;}
        &.checkLightBlue {background-color: #27d3ed;}
        &.checkRed {background-color: #d82818;}

      }
    }
}

/* Selettore rapporto/deposito */
.selectRapp {
  position:relative;
  margin-bottom:15px;
  &>.inputOption {
    background:#fff url(/HT/fe/img/select_down.gif) no-repeat 98% center; 
    @media(max-width:991px) {
      & {line-height:27px;}
    }
  }
}

.form-group.w100 {
  .input-group, .input-inline {
    width: 100% !important;
  }
}

/* Classi "select" speciali: sono oggetti stilizzati come select ma non lo sono */
.spsel {
   .spsel-btn-console {
     line-height:20px;
   }
   &.spsel-hasconsole .spsel-option.spsel-selected .spsel-btn-console {
    display: none;
   }
}

.totCols.has-error {
    color: #f00;
}

/* select di periodo alternabile */

.select-periodo-switch {
  display: table;
  width: 100%;
  > div {
   width: calc( 100% - 42px );
   float:left;
 }
 > a {
   width: 28px;
   float:right;
   margin-top: 43px;
   text-decoration: none;
   text-align: center;
   display: block;
   z-index: 6;
   cursor: pointer;
   @media (max-width: 991px) {
     margin-top: 25px; 
   }
 }
 .input-group-addon {
   text-decoration: none;
 }
 .hasDatepicker {
   padding-right: 20px !important;
 }
 
}
.print_periodo_switch i {
  font-size:26px
} 

/* Elemento form tipo ricerca interattiva  */
.magicSearch {
  width: 100%;
  position: relative;

  @media (max-width: 767px) { &{margin-bottom:20px;}}

  input {
      padding:17px 16px 15px 14px;
      height: 50px;
      width: 100%;
      border:1px solid #ccc;
      &:focus,&:active {
        border: 1px solid #122E5C;
        box-shadow: none !important;
        outline:none;
      }
  }
  .msButton {
      position: absolute;
      width: 34px;
      height: 34px;
      font-size: 20px;
      margin-top: 3px;
      text-align: center;
      text-decoration: none;
      right: 11px;
      top: 11px;
      &:before {
          font-size: 24px;
      }
    }
    .msList {
      margin:0;padding:0;
      position:absolute;
      border:solid 1px #ccc;
      box-shadow: 0 7px 10px 5px rgba(0, 0, 0, 0.15);
      width: 100%;
      left:0;
      list-style-type: none; 
      background-color:#fff;
      z-index:1;
      li {padding:5px 10px;
        &:hover,&:active,&:focus {
          background-color:#eee; 
          cursor:pointer
        }
        border-top:solid 1px #ddd;
        &:first-child {border-top: 0 none}
      }
    }

}

/* Selettore rapporto/deposito */
#selDepForm {
  label.control-label-output {float:left;width:auto;}
  span.output {float:right;width:auto;text-align:right;} 
  .no-label {padding-top:0;
    .output {float:left;text-align:left}
  }

  @media (max-width:767px) {
    & {
      .form-group {
        margin-bottom:0
      }
      .output {
        max-width:80%;
        text-align:right;
        margin-bottom:15px;
        }
    }  
    
  }
}
textarea{
  resize: none;
}
@media (max-width:767px) {
  .formGenerico {
    .form-control{ margin-bottom:15px }
    .form-group {margin-bottom:0}
    select.form-control {float:none}
    
  }
  
}
@media (max-width:1200px) {
  textarea {
    min-height: 80px;
  }
}
/*ELEMENTO OSCURANTE */
.wrapper-obscurate {
  position: relative;

  .element-obscurate {
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 0;
      background-color: #fff;
      opacity: 0.5;
  }
}
 
.form-control.versTot {
  min-width: 60px;
} 
.form-control.periodicita {
  min-width: 90px;
} 