.profRisNum {
  display: inline-block;
  width: 20px;
  text-align: right;
  margin-right: 5px;
}
.profRisBar {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: darken($tableStripe,10%);
  margin-left: 2px;
  border-radius: 2px;
}
.profRisBar:first-child {
  margin-left: 0;
}
.profRisBarOn {
  background-color: $rosso;
}
