/* Tempistiche (versione lineare) */
.tempi {
    padding: 0 0 0 5px;
    margin-bottom: 30px;
    float: left;
    width: 100%;

    .tempo {
        border-left: solid 2px $primary;
        padding: 0 0 15px 15px;
        margin: 0 0 0 -2px;
        float: left;
        width: 100%;

        .milestone {
            position: relative;
            height: 15px;
            color: $primary;
            font-weight: bold;
            border-top: solid 2px $primary;
            text-transform: uppercase;
            font-size: 16px;
            margin: 0 0 5px -15px;

            span {
                position: absolute;
                left: 8px;
                background: #fff;
                padding: 0 5px;
                top: -12px;
            }

            .dot {
                left: -5px;
                top: -5px;
                background: #fff;
                display: block;
                position: absolute;
                width: 8px;
                height: 8px;
                border: solid 2px $primary;
                border-radius: 50%;
                padding: 0
            }
        }

        .contenuto {
            margin-bottom: 15px;
            width: 100%;
            padding-left: 15px;

            .titolo {
                border-bottom: solid 1px #e3e3e3;
                padding-bottom: 10px;
                margin-bottom: 10px;
                margin-left: -15px;
            }
        }

        &:last-child {
            padding-bottom: 0;
        }

        *[class^="col-"] {
            border-left: solid 1px #e3e3e3;
        }

        *[class^="col-"]:first-child {
            border-left: 0;
        }

    }

    .intestazioni {
        width: 100%;
        padding: 0 2px 15px 15px;

        .tempi-intestazione {
            display: block;
            font-weight: bold;
            padding: 10px 0 0;
            height: 50px;

            span.dettagli {
                font-weight: normal;
            }
        }

        *[class^="col-"] {
            border-left: solid 1px #e3e3e3;
        }

        *[class^="col-"]:first-child {
            border-left: 0;
        }
    }


}

/* Tempistiche versione "orizzontale" */
@media (min-width: 768px) {
    .tempi {

        &.tempi2 .tempo {
            width: 50%;
        }

        &.tempi3 .tempo {
            width: 33.333%;
        }

        &.tempi4 .tempo {
            width: 25%;
        }

        &.tempi5 .tempo {
            width: 20%;
        }

        &.tempi6 .tempo {
            width: 16.666%;
        }

        &.tempi7 .tempo {
            width: 14.285%;
        }

        &.tempi2, &.tempi3, &.tempi4, &.tempi5, &.tempi6, &.tempi7 {
            .tempo {
                border-left: 0 none;

                .milestone {
                    span {
                        left: 9px;
                    }

                    .dot {
                        display: none;
                    }
                }

            }

            .tempo:first-child .milestone .dot {
                display: block;
                left: -5px;
            }
        }

    }
}

@media (max-width: 767px) {
    .tempi .tempo .milestone span {
        background-color: #fbfbfb;
    }

    .panel .tempi .tempo .milestone span {
        background-color: #fff;
    }
}
