/* Definizione di grandezze, font, ecc... dei tag "generici" riguardanti la formattazione dei testi */
h2 {
	font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
 li.linkOn a {
    font-weight: normal !important;
    text-decoration: underline!important;
    color:#202d50!important;
 }
.linkFonte,.linkFonte:hover { text-decoration:underline }

.tab-wrap .control-label + span.output, 
.tab-wrap .control-label + .tooltip + span.output,
.control-label-output + span.output,
.control-label-output + .tooltip + span.output
{
    font-weight: bold;
    display: block;
}

@media screen and (max-width:  767px) {
    .tab-wrap .control-label + span.output, 
    .tab-wrap .control-label + .tooltip + span.output,
    .control-label-output + span.output,
    .control-label-output + .tooltip + span.output
    {
        margin-bottom: 14px;
    }
}

strong .tooltip-inner, h4 .tooltip-inner {
    font-weight: normal!important;
    b, strong {
        font-weight: bold!important;
    }
}
/* tooltip inline*/
h4.txthelp.control-label, div.txthelp.control-label, h4.txthelp {
    display: inline-block;
}
@media (max-width:767px) {
    .note.flRight.noFloatMobile {
        span.flLeft {display:none}
    }
}

.openinfo .icon {
    text-align:middle;
    margin-right:5px;
}