/* Definizione di grandezze, font, ecc... dei tag "generici" riguardanti la formattazione dei testi */
h2 {
	font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
 li.linkOn a {
    font-weight: normal !important;
    text-decoration: underline!important;
    color:#202d50!important;
 }
.linkFonte,.linkFonte:hover { text-decoration:underline }

h4 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    width: 100%;
    padding-right: 0;
    text-transform: uppercase;

}
.tithelp h4 {
    width: 90%;
    float:left
}

.tab-wrap .control-label + span.output, 
.tab-wrap .control-label + .tooltip + span.output,
.control-label-output + span.output,
.control-label-output + .tooltip + span.output
{
    font-weight: bold;
    display: block;
}

@media screen and (max-width:  767px) {
    .tab-wrap .control-label + span.output, 
    .tab-wrap .control-label + .tooltip + span.output,
    .control-label-output + span.output,
    .control-label-output + .tooltip + span.output
    {
        margin-bottom: 14px;
    }
}

strong .tooltip-inner, h4 .tooltip-inner {
    font-weight: normal!important;
    b, strong {
        font-weight: bold!important;
    }
}
/* tooltip inline*/
h4.txthelp.control-label, div.txthelp.control-label, h4.txthelp {
    display: inline-block;
}
h4.txthelp.control-label {
    display: inline;
}
h4.txthelp {
    width:auto;
    clear:both;
}
@media (max-width:767px) {
    .note.flRight.noFloatMobile {
        span.flLeft {display:none}
    }
}

.openinfo .icon {
    text-align:middle;
    margin-right:5px;
}

/* Testo con enfasi */
.testoIcona.emphasis {
    .icon-arrow_emphasis {
        color:#dadee2;
        font-size:40px;
        margin-top:-10px;
    }
    .leftTesto {
        padding-left:55px;
    }
}
/* LINK A HREF STILIZZATO IN MANIERA EVIDENTE*/
.inputFormCont.topped a {
    color: #0E977F!important;
    text-decoration:underline;
}