/* Tempistiche (versione lineare) */
.tempi {
    padding: 0 0 0 5px;
    margin-bottom: 30px;
    float: left;
    width: 100%;

    .tempo {
        border-left: solid 2px $primary;
        padding: 0 0 15px 15px;
        margin: 0 0 0 -2px;
        float: left;
        width: 100%;

        .milestone { 
            position: relative;
            height: 15px;
            color: $primary;
            font-weight: bold;
            border-top: solid 2px $primary;
            text-transform: uppercase;
            font-size: 16px;
            margin: 0 0 5px -15px;
            font-family: Arial, Helvetica, sans-serif;
            span {
                position: absolute;
                left: 8px;
                background: #fff;
                padding: 0 5px;
                top: -12px;
            }

            .dot {
                left: -5px;
                top: -5px;
                background: #fff;
                display: block;
                position: absolute;
                width: 8px;
                height: 8px;
                border: solid 2px $primary;
                border-radius: 50%;
                padding: 0
            }
        }

        .contenuto {
            margin-bottom: 15px;
            width: 100%;
            padding-left: 15px;

            .titolo {
                border-bottom: solid 1px #e3e3e3;
                padding-bottom: 10px;
                margin-bottom: 10px;
                margin-left: -15px;
            }
        }

        &:last-child {
            padding-bottom: 0;
        }

        *[class^="col-"] {
            border-left: solid 1px #e3e3e3;
        }

        *[class^="col-"]:first-child {
            border-left: 0;
        }

    }

    .intestazioni {
        width: 100%;
        padding: 0 2px 15px 15px;

        .tempi-intestazione {
            display: block;
            font-weight: bold;
            padding: 10px 0 0;
            height: 50px;

            span.dettagli {
                font-weight: normal;
            }
        }

        *[class^="col-"] {
            border-left: solid 1px #e3e3e3;
        }

        *[class^="col-"]:first-child {
            border-left: 0;
        }
    }


}

/* Tempistiche versione "orizzontale" */
@media (min-width: 768px) {
    .tempi {

        &.tempi2 .tempo {
            width: 50%;
        }

        &.tempi3 .tempo {
            width: 33.333%;
        }

        &.tempi4 .tempo {
            width: 25%;
        }

        &.tempi5 .tempo {
            width: 20%;
        }

        &.tempi6 .tempo {
            width: 16.666%;
        }

        &.tempi7 .tempo {
            width: 14.285%;
        }

        &.tempi2, &.tempi3, &.tempi4, &.tempi5, &.tempi6, &.tempi7 {
            .tempo {
                border-left: 0 none;

                .milestone {
                    span {
                        left: 9px;
                    }

                    .dot {
                        display: none;
                    }
                }

            }

            .tempo:first-child .milestone .dot {
                display: block;
                left: -5px;
            }
        }

    }
}

@media (max-width: 767px) {
    .tempi .tempo .milestone span {
        background-color: #fbfbfb;
    }

    .panel .tempi .tempo .milestone span {
        background-color: #fff;
    }
}


/* Profilo di rischio */
.profRisNum {
    display: inline-block;
    width: 20px;
    text-align: right;
    margin-right: 5px;
  }
  .profRisBar {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: darken($tableStripe,10%);
    margin-left: 2px;
    border-radius: 2px;
  }
  .profRisBar:first-child {
    margin-left: 0;
  }
  .profRisBarOn {
    background-color: $rosso;
  }
  
  /* Rating */
  .rating {
    white-space: nowrap;
    .icon-corona {
      position: relative;
      top: 0;
      width: 15px;
      padding-left: 3px;
      font-size: 12px;
      &:first-child {
        width: 12px;
        padding-left: 0;
      }
    }
    &.small {
      display: none;
    }
  }
  
  .icon-corona {
      font-size: 12px;
      color: darken($tableStripe,10%);
  
      &-on {
          color: $giallo;
      }
      &::-moz-selection {
          background: $primary;
          color: #fff;
          text-shadow: none;
      }
      &::selection {
          background: $primary;
          color: #fff;
          text-shadow: none;
      }
  }
  
  #fesFondoWrap {
      .rating 
        {
         padding-top: 10px;
         .icon-corona {
          font-size: 20px;
          margin-right: 5px;
         }
      }
     .big-rating { 
          background-color: #ebeef0;
          color: #202d50;
          border-radius: 50%;
          line-height: 100px;
          font-weight: bold;
          text-align: center;
          display: block;
          font-size: 75px;
          margin: 10px auto;
          width: 100px;
      }
  }
     
  
  /* Rating-gauge */
  @mixin rating-gauge($bkg:#eaeded,$disabled:lightgray,$negative:red,$positive:#5bc162) {
    overflow: hidden;
    width: 100%;
    padding-top: 50%;
    position: relative;
    .circle {
        position: absolute;
        width: 100%;
        padding-top: 100%;
        margin-bottom: 0;
        border-radius: 50%;
        background: linear-gradient(90deg, $disabled, $disabled 47%, $bkg 47.1%, $bkg 53%, $disabled 53.1%, $disabled 100%);
        bottom: 0;
        left: 0;
        transform: translate(0, 50%);
        .pointer {
            width: 20%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -10%;
            &:before {
                content: '';
                display: block;
                background: $bkg;
                width: 75%;
                height: auto;
                padding-top: 100%;
                transform: rotate(45deg) translate(-35%, 35%);
                position: absolute;
                top: 7%;
                left: 50%;
                z-index: 2;
            }
        }
        &:before {
            content: '';
            display: block;
            width: 75%;
            height: 75%;
            border-radius: 50%;
            background: $bkg;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &.status-1, &.status-2, &.status-3, &.status-4 {
        .circle {
            background: linear-gradient(90deg, $negative, $negative 47%, $bkg 47.1%, $bkg 53%, $disabled 53.1%, $disabled 100%);
        }
    }
    &.status-9, &.status-8, &.status-7, &.status-6 {
        .circle {
            background: linear-gradient(90deg, $disabled, $disabled 47%, $bkg 47.1%, $bkg 53%, $positive 53.1%, $positive 100%);
        }
    }
    &.status-1 .pointer {
        transform: rotate(-75deg);
    }
    &.status-2 .pointer {
        transform: rotate(-56deg);
    }
    &.status-3 .pointer {
        transform: rotate(-38deg);
    }
    &.status-4 .pointer {
        transform: rotate(-20deg);
    }
    &.status-9 .pointer { 
        transform: rotate(75deg);
    }
    &.status-8 .pointer {
        transform: rotate(56deg);
    }
    &.status-7 .pointer {
        transform: rotate(38deg);
    }
    &.status-6 .pointer {
        transform: rotate(20deg);
    }
  }
  
  
  .rating-gauge {
    @include rating-gauge();
  }
  
/* Videoplayer */


/* Stili del videoPlayer */

.videoPlayer {
    width: 100%;
    display: block;
    height: auto;
    float: left;
    margin: 0;
    padding: 0;
    &.fs {
        float: none;
        .console {
            bottom: 0;
            position: absolute;
        }
        .vidBtn.fullscreen {
            background-position: 0 -72px
        }
    }
    video {
        width: 100%;
        display: block;
        height: auto;
        clear: left;
        float: left;
        background-color: #000;
        margin: 0;
        padding: 0
    }
    .playBig {
        z-index: 99;
        position: absolute;
        text-align: center;
        display: block;
        cursor: pointer;
        background: transparent url(/HT/fe/img/videoplayer_play.png) no-repeat center center;
        width: 100%
    }
    .console {
        border-top: solid 1px #454545;
        float: left;
        clear: left;
        height: 25px;
        background: #333 url(/HT/fe/img/videoplayer_console_bg.gif) repeat-x 0 center;
        width: 100%;
        padding: 0 120px 0 32px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: 0
    
    }
    .vidBtn {
        float: left;
        height: 24px;
        width: 31px;
        background: transparent url(/HT/fe/img/videoplayer_buttons.gif) no-repeat 0 0;
        border-right: solid 1px #333;
        margin: 0;
        &.play {
            margin-left: -32px
        }
        &.fullscreen {
            float: right;
            background-position: 0 -48px;
            margin-right: -120px;
            border-left: #454545;
            border-right: 0
        }
    }
    &.pause{
        .vidBtn.play {
            background-position: 0 -23px
        }
        .playBig {
            display: none;
        }

    }
    .vidBox {
        margin: 0;
        height: 24px;
        padding: 0;
        display: block;
        float: left;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        .ui-slider-handle {
            background-color: transparent!important;
            top:0!important;
            border:0!important;
            width: 0;
    
        }
       &.timeLine {
        width: 100%;
        margin: 0
        }
        .bar {
            background: #333!important;
            width: 100%;
            margin: 0;
            float: left;
            height: 24px;
            cursor: pointer;
            .ui-slider-range {
                float: left;
                height: 24px;
                background: #0e977f url(/HT/fe/img/videoplayer_gauge.gif) repeat-x 0 center
            }
        }
        &.volume {
            width: 90px;
            padding: 0;
            margin-right: -90px;
            float: right;
            border-left: solid 1px #454545;
            border-right: solid 1px #333;
            .volIcon {
                float: left;
                width: 24px;
                height: 24px;
                background: transparent url(/HT/fe/img/videoplayer_buttons.gif) no-repeat -2px -96px;
                
            }
            .bar {
                float: right;
                background-color: transparent;
                width: 60px;
                height: 24px
            }
            .ui-slider-range {
                background: transparent url(/HT/fe/img/videoplayer_volume.gif) no-repeat 0 4px
            }
        }
    }
}



/********************************/