/**
 * Css del contenuto delle pagine dell'applicazione Ibis Enterprise.
 * @author Enterprise Spa
 */

input{
	margin-right: 5px;
}

.font_space{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	white-space: nowrap;
}
/* struttura delle pagine - non cambiare! */
#mainContent{
	/*border-color: #92A5BC;
	background-color: #EEEEEE;	
	border-style: solid;
	border-width: 1px 1px 1px 1px;*/	
}
#paramSel{
	/*padding: 0px 0px 5px 0px;
	background-color: #f4f5f8; 
	border-color: #92A5BC;
	background-color: #F4F5F8;	
	border-style: solid;
	border-width: 1px 1px 1px 1px;	
	background-color: #eeeeee;*/
}

input[type=text]{ /*border: 1px solid #7F9DB9;*/}
/*textarea{ border: 1px solid #7F9DB9;}*/
textarea.form-control{
     FONT-FAMILY: Monospace !important;
	 FONT-SIZE: 13px !important;
	 height: auto;
	 width: auto;
	 overflow: scroll !important; 
	 padding: 0px;
	 /*text-transform: uppercase;*/
}

/* necessario a rimuovere il pulsante clear di IE10/IE11 dai campi di input ('X')*/
::-ms-clear{display: none;}

legend {
	/*cursor: pointer !important;*/
	padding-left: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	font-weight: normal;
	line-height: 28px;
	letter-spacing: 0px;
	color: #357745;
	background: url(../images/general-sprite.png) right 0px no-repeat;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-right: 50px;
	width: auto !important;
	border: none !important;
	
}
.fieldsetSecLiv legend{
	width: auto !important;
	border: none !important;
	background: none;
	padding-left: 0px;
	display: inline;
	font-size: 1.05em;
	font-weight: bold; 
}

.pulLegend legend{
    width: auto !important;
    border: none !important;
    background: none;
    padding-left: 0px;
    display: inline;
    font-size: 1.05em;
}

fieldset.fieldsetOperazioneKO{
     background: #fff9f9;
} 

fieldset.fieldsetOperazioneOK{
     background: #f3fdf2;
} 

legend.legendOperazioneKO {
    background: url(../images/general-sprite.png) right -260px no-repeat;
    font-weight: bold;
    padding-right: 50px;   
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
}

legend.fieldsetOperazioneOKSalva {  
    background: url(../images/general-sprite.png) right -75px no-repeat;
    font-weight: bold;
    padding-right: 50px;
    color: #003b79;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
}


/* Tabella FIELDSET contiene i campi di inserimento (form) */
fieldset{
	margin-top: 10px;
	background: #f7fcf7;
	/*margin: 2px 5px 2px 5px;  padding: 2px 2px 10px 2px; border: 1px solid #92A5BC; */
}
fieldset.fieldsetSecLiv{
	/*margin: 2px 2px 2px 2px;  padding: 2px 2px 2px 2px; border: 1px solid #BBC7D5;*/ 
} 

.div_PaginaAutorizzativa{
   display:inline;
   float:left;
   border:0;
   display:inline-block;
   width:100%;
} 

.div_DatiSintesi{
   width:48%;
   height:495px;
   background:#fff;
   border:1px solid #b7c5b7;
   display: inline-block;
   float:left;
   white-space: nowrap;
   margin-left:15px;
   border-radius: 2px;
   box-shadow:0px 1px 3px 1px #bbb;
}     

div.sectionInput_DatiSintesi {
    width:50%;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    float:left;
}

.div_OTP{
    width:98%;
    height:auto !important;
    /*background:#fff;*/
    background:lightgrey;
    border: 1px solid #7F9DB9;
    /*border:1px solid #b7c5b7;*/
    float:left;
    margin:15px;
    text-align:center;
    border-radius: 2px;
    box-shadow:0px 1px 3px 1px #bbb;
}    
.div_Disclaimer{
    width:48%;
    height:495px;    
    background:#fff;
    border:1px solid #b7c5b7;
    float:right;
    display: inline-block;
    white-space: nowrap;
    margin-right:15px;
    border-radius: 2px;
    box-shadow:0px 1px 3px 1px #bbb;
}   

.desc_pagAutorizzativa{
    font-weight: bold;
    background: lightgrey;
    border: 1px solid #7F9DB9;
    margin:0px 10px 10px 10px;
} 
    
.desc_disable{
	display: inline;
	font-weight: bold;
	background: lightgrey;
	border: 1px solid #7F9DB9;
} 
	
.input_Bold{   
    font-weight: bold;
}	

.input_Disclaimer{
	margin:55px 45px 10px 45px;
	position:absolute;
    display: inline-block;
    text-align:left;
}   	
	
/* user format */
fieldset, legend {
/*-webkit-border-radius: 5px;
-moz-border-radius:5px;
border-radius: 5px;*/
}


/* tabella liste */

table td.cellTable{
	border-bottom: 1px solid #7F9DB9;
	border-left: 0px;
	border-right: 1px solid #7F9DB9;
	border-top: 0px;
	vertical-align: middle !important;
	height: 20px;
}
table td.cellTable:first-child {
	border-right: 1px solid #7F9DB9;
}
.cellTableMulti{
	background-color: #f4f5f8;
	border-left: none;
	border-top: none;
	border-right: 1px solid #7F9DB9;
	border-bottom: 1px solid #7F9DB9;
}
table td.cellTable:first-child {
	border-bottom: 1px solid #7F9DB9;
	border-right: 1px solid #7F9DB9;
	border-left: 1px solid #7F9DB9;
	border-top: 0px;
}
table td.cellTableMulti:first-child {
	vertical-align: middle !important;
}
table td.cellTableMulti:first-child {
	border-left: 1px solid #7F9DB9;
}

.recA{
	background-color: #FEFEFE;
}

.recB{
	background-color: #EBEDF3;
}

caption {
	margin: 2px 0 2px 0;
	padding: 2px;
	font-weight: bold;
	color: #036;
	text-align: left;
	border-bottom: 2px solid #BBC7D5;
} 
 
/* titoli delle maschere delle pagine dispositive */
.service h2 {
    margin-top: 10px;
    padding: 3px;
}

.body_div_lista{
	width: 99%;height: 100%;position: fixed;
}


label {display: inline;font-weight: normal;}



/* ANCORE */
a:hover { text-decoration: none; }
a:hover img { background-color: #036 !important; }

form p {
    /*padding: 3px 0;
    margin: 0;*/
}

table.form-table {
	border-collapse: separate; 
	border-spacing: 10px;
	
    /*width: 100%;*/
    /*background-color: #eeeeee;*/
}

table.form-table-errori {
    border-collapse: separate; 
    border-spacing: 10px;
     background: #fff9f9;
    /*width: 100%;*/
    /*background-color: #eeeeee;*/
}


table.form-table-testata {
	border-collapse: separate; 
    border-spacing: 1px;
    line-height: 1.25;
    background: #e7f5e7;
    position: relative;
    padding: 0 5px 5px 5px;
}

div.div_testataGar {
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    position: relative;
    min-height: 1px;
}

div.lastSection_TestataGar{
    width:35%;
    padding-left:10px;
    padding-right:10px;
    float:left;
}   

div.subtitleTestata {
    display: inline-block;
    margin: 0;
    padding: 3px 4px;
   /* width:25%;*/
    float: left;
    font-weight: bold;
    font-size: 1.05em;
    font-family: Helvetica, Arial, sans-serif;
    color: #357745;
}   


span.label_disable {
    display: inline-block;
    margin: 0;
    padding: 3px 4px;
   /* width:25%;*/
    float: left;
    width: 42%;   
}	

span.label_disable_min {
    display: inline-block;
    margin: 0;
    padding: 3px 4px;
    float: left;
    width: 26%;
    color: #036;
}

span.input_disable {
    display: inline-block;
    margin: 0 20px 0 0;
    /*margin: 0 8px 0 0;*/
    padding: 3px 4px;
    /*width:25%;
    float:left;*/
    font-weight: 600;
    font-family: Helvetica, Arial, sans-serif;
}   

div.div_campiTestata_50{	
	padding-left:10px;
	padding-right:10px;
	float:left;
	width:50%;
}

div.div_campiTestata_25{    
    padding-left:10px;
    padding-right:10px;
    float:left;
    width:25%;
}

.form-table td {
    vertical-align: top;
}

.form-table label,
.form-table input {/*padding: 2px;*/}
.form-table input {margin-bottom: 2px;}

.body,
.body-text,
.info,
#success,
#warn,
#error {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 2px 2px 2px;
    border-width: 1px 1px 1px 1px;
    border-color: #CC3300;
    border-style: solid;
    background-color: #FFF;
    color: #036;
    /*font-family: Courier;
    font-size:14px;*/
}

.title {
	margin-left: auto;
    margin-right: auto;
    padding: 2px;
    border-bottom: 1px solid #BBC7D5;
    /*margin-top: 5px;*/
    margin-top: 0px;
    background-color: #FFF;
}

/* div degli errori */
.div-errori{
	background-color: #F4F5F8;
	margin-left: auto;
    margin-right: auto;
}

.info {
    border-color: #BBC7D5;
    background-color: #FFF
}
.info p {margin-bottom: 1px;}


/* operazione completata */
#success {
    color: #4FA600;
    padding: 2px;
    border-width: 0 1px 1px 1px;
    border-color: #66CC00;
    border-style: solid;
    background-color: #FFF
}
#success2 { color: #4FA600; }
#success p { font-size: 17px }
#success img { vertical-align: middle }

/* TABLE */
.th_title {background-color: #BBC7D5; color: #036;border: 1px solid #7F9DB9;border-left:0px;}
.th_title:first-child {
	border-left: 1px solid #7F9DB9;
}
.th_titleSeleziona{background-color: #BBC7D5; color: #036;border: 1px solid #7F9DB9;}
.th_title_s {background-color: #BBC7D5; color: #036; text-align: left}
.th_title_sub {background-color: #E3E9F2; color: #036; font-weight: normal;}
.th_title_data {background-color: #BBC7D5; color: #036; width: 116px;} /* data - valuta in em per problemi firefox su bordi */
.th_title_valuta {background-color: #BBC7D5; color: #036; width: 116px; }
.th_title_caus{background-color: #BBC7D5; color: #036; width: 45%; }
.th_title_dare{background-color: #BBC7D5; color: #036; width: 18%;}
.th_title_avere{background-color: #BBC7D5; color: #036; width: 18%;}
/* Impostazioni per il dettaglio Conti Famiglia - Dare/Avere - Ricerca per Causale */
.th_title_caus_mpc{background-color: #BBC7D5; color: #036; width: 55%; }
.th_title_caus_fddr{background-color: #BBC7D5; color: #036; width: 55%; }
.th_title_data_dettaglio {background-color: #BBC7D5; color: #036; width: 208px;} /* data - valuta in em per problemi firefox su bordi */
.th_title_valuta_dettaglio {background-color: #BBC7D5; color: #036; width: 208px; }
.th_title_imp{background-color: #BBC7D5; color: #036; width: 25%;}
.th_width{width: 15%;}

.td_generico_ANTEPRIMA { background-color: #DEDEDE; color: #036; width:80%; height:15px;padding: 2px;font-weight: bold;}


/* Tabella ROW-LIST
   contiene riepiloghi dei campi, tipicamente usata nelle maschere di conferma
*/
/*.tdButtonSelezionaRecord{
	border-bottom: 1px solid #7F9DB9;
	border-right: 1px solid #7F9DB9;
	border-left: 1px solid #7F9DB9;
	border-top: 0px;
}*/
table.row_list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2px;
}

table.row_list th,
table.row_list td {
    border-bottom: 1px solid #E3E9F2;
    padding-top: 2px;
    padding-bottom: 2px;
}

table.row_list th {
    font-size: 19px;
    font-weight: normal;
    text-align: left;
}


#buttons{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: -1px;
    padding: 2px;
    background-color: #eeeeee;
}


/* pulsante che esegue una funzione legata alla navigazione, eg. Prosegui, Torna */
input.navigation {
    border: 3px double;
    border-color: #C4CCCC #ACB5B5 #6F7777 #ACB5B5 !important;
    color: #2B333C;
    font-size: 10px;
    cursor: pointer;
    font-weight: bold;
}



input.navigation:focus { border-color: #ADBDCE #ADBDCE #003366 #ADBDCE !important; }
input.navigation:hover,
input.navigation:focus { border-color: #ADBDCE #ADBDCE #003366 #ADBDCE !important; }

/* pulsante che esegue una funzione non legata alla navigazione, eg. ricerca ABI/CAB */
input.function {
    /*background: #FEFEFE !important;*/
    border: 1px solid;
    border-color: #C4CCCC #ACB5B5 #6F7777 #ACB5B5 !important;
    color: #2B333C;
    cursor: pointer;
    height: 20px;
    margin-left: 5px;
    font-weight: bold;
}

input.function:hover,
input.function:focus { border-color: #ADBDCE #ADBDCE #003366 #ADBDCE !important; background: #DBDBDB;}


.setSectionKO{
	/*cursor:pointer;
	padding-left: 5px;
	background-image:none;
	background-color: #6F8DCC;*/
}
.setSectionOK{
}
.div-exp-coll{
	position:relative;
	width:20px;
	height:20px;
	right:10px;
	margin:0px 0px 10px 0px;
	float:right;	
}
.div-exp-coll .hidden{
	background-image: none;
}


.setOperazioneOK{
	font-weight: bold;
	/*font-weight: regular;
	background: # f3fdf2;*/
	padding-right: 50px;
    color: #003b79;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
}

.setOperazioneKO{
    background: #fe9999;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding-right: 50px;
    color: #fff9f9;
}

.MessOperazioneOK{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    background: #f3fdf2;
    vertical-align: middle !important;
}

.MessOperazioneKO{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    background: #fff9f9;
}


.obbligatorio {
    color: #c00;
}
.obbl,obbl2{
	/*border: 1px solid red !important;*/
}
.normal{
	/*border: 1px solid #7f9db9 !important;*/
}

.protetto{
    background-color: lightgrey !important;
}

.protettoNoPointer{
    background-color: lightgrey !important;
    pointer-events: none;	
}

.div_modifica{
	text-align:center;
	margin-left:43%;
}

.div_modificaHidden{
    display:none;
}

.div_esitoaHidden{
	display:none;
}

input[type=checkbox].normal {
	/*border-color: #f4f5f8 !important;*/
}
input[type=checkbox], input[type=radio]{
	margin-left: 5px;
	margin-right: 5px;
	display: inline;
	width: auto;
}

.skippy{
	width:1px;
	height:1px;
	margin:0px;
	padding:0px;
	background-color:#f4f5f8;
	font-color:#f4f5f8;
	color:#f4f5f8;
	font-size:1px;
}
.skippy a{
	margin:0px;
	padding:0px;
	font-color:#f4f5f8;
	color:#f4f5f8;
	font-size:1px;
}

/* redefines datepicker calendar jquery */
.ui-datepicker-trigger{
    margin-left: 2px;
    margin-bottom: 3px;
    cursor: pointer;
    vertical-align: bottom;
}

.ui-widget-content{
	border-radius: 2px;
}
.ui-widget-header{
	border: 0px solid #aaaaaa;
	border-radius: 2px;
	background: #7DB77D url("../css/images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;	
}

.body-popup{
	font-size: 10pt;
	background:none !important;
	background-color:#fff !important; 
	font-family: Helvetica, Arial, sans-serif;
	margin:0px;
}
.title-popup{
	position:relative;
	height: 24px;
	padding-left:5px;
	padding-right:5px;
	line-height:24px;
	background-color:#7EA889;
	color:#fff;
	font-size: 12pt;
	font-weight:bold;
}

.title-popup-credoc{
    padding-left: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: 0px;
    color: #357745;
    background: url(../images/general-sprite.png) right 0px no-repeat;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-right: 50px;
    width: 242px;
    border: none !important;
}

.description-popup-credoc.textarea{
    FONT-FAMILY: Monospace !important;
    FONT-SIZE: 13px !important;
    position:relative;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:10px;
    color: #003b79; 
    top: 20px; 
}

.description-popup{
	padding-left:5px;
	padding-right:5px;
	color: #003b79;
}
.description-popup.textarea{
	FONT-FAMILY: Monospace !important;
	FONT-SIZE: 13px !important;
	position:relative;
	padding-left:5px;
	padding-right:5px;
	color: #003b79;	
}

.printImg{
	cursor:pointer;
	position:absolute;
	top:0px;
	right:5px;
	height:23px;
	width:25px;
	background: url('../images/quick-links-sprite.png') no-repeat 0px -216px;
}

.printImgCredoc{
    cursor:pointer;
    top:0px;
    height:23px;
    width:25px;
    float:right;
    background: url('../images/quick-links-sprite.png') no-repeat 0px -216px;
}

.alertCliente{
	color: red;
    font-weight: bold;  
    margin-left: 10px;  
    background: #f7fcf7;
}

.tab-box-testataCredoc{
    background:#7DB77D;
    width:100%;
    border-radius:2px;
    border:1px solid #aaa;
    font-weight:bold;
    cursor:pointer;
}

.tab-testataCredoc{
    background:#357745; 
    border-radius:2px;
    padding:10px;
    display:inline-block;
    min-width:10%;
    margin-top:5px;
}

.popup-box-testataCredoc{
    background:#7DB77D;
    width:100%;
    border-radius:2px;
    font-weight:bold;
    cursor:pointer;
    color:white;
}

.tab-popup-testataCredoc{
    background:#357745; 
    border-radius:2px;
    padding-bottom:10px;
    padding-top:10px;
    padding-right:3px;
    padding-left:4px;
    display:inline-block;
    margin-top:5px;
    white-space:normal;
    width:80px;
}

.tabSel{
    background:#e7f5e7;
}

.descSel{
    color:#003b79 !important;
}

.descriptionTab-testataCredoc{
    color:white;
}

table.box-contentTab-testataCredoc{
    border:1px solid #aaa;  
}

td.input_center{
    text-align:center;
}	

.help_textarea{
    display: inline;
    float:right;
    position:absolute;
}

div.subtitleBon {
    display: inline-block;
    margin: 0;
    padding: 3px 4px;
   /* width:25%;*/
    font-weight: bold;
    font-size: 1.05em;
    color: #003b79;
}   