
@import 'styles/theme.scss';

.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    transition-duration: 250ms;
    .container-fluid {
        position: relative;
        height: 100%;
        padding:0;
        overflow-y: scroll;
       &.onboarding-form {
            padding-top: 55px;
            padding-bottom: 52px;
            padding-right: 0;  
            overflow-y: hidden;
        }
        .content-wrapper {
            border-radius:20px;
            padding: 10px;
        }
    }

}
        
    
@mixin theme($theme-name, $theme-map) {
    .#{$theme-name} {
        @each $section, $map in $theme-map {
            .main {
                padding-top: map-get($map, headerHeight);
                padding-left: map-get($map, headerHeight);
                background-color: map-get($map, mainBgColor);
                .container-fluid {
                    background-color: map-get($map, contentsWrapperBgColor);
                    border-radius: map-get($map,contensWrapperRadius);
                    padding: map-get($map, contensWrapperPadding); 
                    .content-wrapper {
                        background-color: map-get($map, contentsWrapperBgColor);
                    }
                }
            }
           
        }
    }
}
@include theme(default, $default);
@include theme(light, $light);
