.form-group {
    .form-control {border:solid 1px #ccc; padding:5px 5px;border-radius:5px}
    &.no-label {padding-top:0;min-height:40px;}
    &.no-margin-bottom {margin-bottom:0};
    position: relative;

    span.output {
        border-bottom:solid 1px #ddd;
        width:100%;
        display:inline-block;
        padding: 5px 0;
        height:38px;
        overflow:hidden;
    }

    .checkradio {
        width:auto;
        display:inline-block;
        position:relative;
        cursor: pointer;
        min-height:40px;
        padding: 12px 0 8px 30px;
        clear:both;
        span.text {font-style:normal;font-size:16px}
        input {position:absolute;left: 0;top: 10px; width:25px;height:20px; background:#fff;}
        &.output {
            input {
                &::after {
                    display:inline-block;
                    position:absolute;
                    width:22px;
                    height:22px;  
                    content:""; 
                    background:#fff; 
                    border:solid 1px #666;
                    border-radius:3px;
                }
                &[type=radio]::after {
                    border-radius: 50%;
                }
                &[checked]::after {
                    content: "\2714";
                    text-align:center;
                    font-size:20px;
                    line-height:20px;
                }
                &[type=radio][checked]::after {
                    content: "\25CF";
                    font-size:28px;
                    line-height:16px;
                }
            }
        }
    }

    .checkfile {
        position:relative;
        min-height:40px;
        padding: 10px 0 10px 30px;
        i.icon {position:absolute;left:0;font-size:20px;top:4px}
        .text {text-decoration:underline}
        &.clicked {
            color:#999;    
        }
    }

    .file-input-wrapper {
        .file-check-label {width:100%;display:inline-block; position:relative; font-style:normal;
        padding-left:20px; margin:10px 0; clear:both;
            input {position:absolute; top:3px;left:0;}
        }
        .file-input-parts {border:solid 1px #ccc; padding:15px;position:relative;
        text-align:center;margin-top:10px;
            .document-wrapper {
                max-width:50%;min-width:120px; display:inline-block;padding:10px;
                .document-thumbnail {opacity:0.3; position:relative;
                    margin-bottom:10px;
                    display:inline-block;width:70px;height:70px;background: transparent url(/img/documenti_unico.png) no-repeat center center; background-size:cover;
                    &.fronte {background-image: url(/img/documenti_fronte.png)}
                    &.retro {background-image: url(/img/documenti_retro.png)}
                    &.solo {background-image: url(/img/documenti_solo.png)}
                    
                }
                .btn {width:100%;}
                &.ok {
                    .document-thumbnail{
                        cursor:pointer;
                        opacity:1;
                        &::before {
                            content: "\2714";
                            position: absolute;
                            border-radius: 50%;
                            line-height: 30px;
                            text-align: center;
                            top: -8px;
                            right: -3px;
                            color: #fff;
                            width: 30px;
                            background-color: #21557e;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

    

    /* Datepicker */
    .daypicker-wrapper { width:200px;
        position:relative;
        .DayPickerInput {
            position:relative;
            width:100%;
            input.form-control[readonly] {
                background:transparent; position:relative;cursor:pointer;padding-right:40px;z-index:2;
                &:disabled {background: rgba(220,220,220,0.6);}
            }
            &:before {
                content: "\e990";
                font-family:"icomoon";
                text-align:center;
                font-size:25px;
                line-height:40px;
                display:inline-block;
                color:#21557e;
                background:#ccc;
                z-index:1;
                width:40px;
                height:38px;
                background:#eee;
                border-radius:0 5px 5px 0;
                position:absolute;
                right:0
            }
            
        }
        .canc {
            position:absolute;cursor:pointer;width:30px;height:30px;display:inline-block;right:45px; border-radius:50%;background:#ddd;top:4px;
            color:#fff;
            text-align:center;
            line-height:26px;font-size:25px;font-weight:bold;
            z-index:10;
        }
        .DayPickerInput-OverlayWrapper {
            z-index:999;
            /* Stilizzazione dell'overlay del daypicker*/
            background-color: #fff;
            font-size: 14px;
            .DayPicker-NavBar {
                position: relative;
                .DayPicker-NavButton {
                    position: absolute;
                    left: 5px;
                    z-index: 3;
                    top: 17px;
                    &.DayPicker-NavButton--next {
                        right: 5px;
                        left: auto
                    }
                }
            }
            .DayPicker-Caption {
                padding: 0;
                div {
                    font-weight: bold;
                    width: 100%;
                    padding: 0 20px;
                    text-align: center;
                    position: relative;
                    z-index: 1
                }
                select {
                    display: inline-block;
                    width: auto;
                    padding-right: 25px;
                    &:first-child {
                        margin-right: 5px;
                    }
                }
            }
            .DayPicker-Day--today {
                color: #000;
                background-color: #fff;
            }
            .DayPicker-Day--selected {
                background-color: #ddd;
                color:#000;
                border:solid 2px #ccc;
            }
            .DayPicker-Day {
                border-radius: 0;
                &:hover {
                    opacity: 0.8;
                }
                &.DayPicker-Day--sunday {background:#fafafa;color:#000}
                &.DayPicker-Day--disabled {color:#000;opacity:0.3}
                &.DayPicker-Day--outside {visibility:hidden}
            }
            .DayPicker-WeekdaysRow {
                border-bottom:solid 1px #eee;
                .DayPicker-Weekday:last-child {background:#fafafa}
            }

            /* DayPicker inline */
            &.inline {
                width: 100%;
                margin: 0;
                .DayPicker-Caption {
                    margin: 0
                }
                .DayPicker-NavButton {
                    top: 7px
                }
                .DayPicker-Month {
                    padding: 0;
                    margin: 5px 0 0;
                    width: 100%
                }
                .DayPicker-Weekday {
                    padding: 0;
                }
                .DayPicker-Day {
                    padding: 0;
                    border: solid 1px #ddd
                }
            }

            &.yearMonthSelect {
                .DayPicker-NavButton {
                    top: 22px;
                }
                .DayPicker-NavButton--prev {
                    left: auto;
                    right: 5px;
                }
            }
        }

        .dayPicker-month-selector {
            position:relative; 
            display: table-caption;
            text-align:center;
            height:40px;
            select {
                width:70px;height:30px;
                display:inline-block;
                &.mese {width:110px;margin-right:10px;}
            }
        }
    }
    &.error {
        .form-control-label {color:#c00}
        input,select,.file-input-parts {border-color: #c00}
        span.text {color:#c00}
        span.error {color:#c00;clear:both;display:block}
       
    }
}

// Preview nella modale
.modal img.file-preview {
    display:inline-block;
    width:100%;
}