<script id="templateDetail_CCBO" type="text/x-jsrender">
    <div class="row">
        <div class="col-xs-6 white-block">
            {{include tmpl="#template_ordinante"/}}
        </div>
        <div class="col-xs-6 white-block" id="subArea-datibollettino">
            <div class="col-xs-12">
                <div class="text-center"><h1>DATI OPERAZIONE</h1></div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5">Riferimento Interno</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{:Operazione}}</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5">Operazione</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{mapOperazione:TipoDisposizione}}</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5">Codice Operazione</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{:Dato3}}</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5">Data e ora Inserimento</div>
                <div class="col-xs-7">
                    <label class="control-label" id="riepilogo-contoAppoggio-filiale" style="padding:0">{{formatDataOra:DataOra}}</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5">Data Esecuzione</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{formatData:DataEsecuzione}}</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-5">Sanzione</div>
                <div class="col-xs-7">
                    <label class="control-label" style="padding:0">{{formatSaldo:Sanzione}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 white-block">
            {{include tmpl="#template_stato"/}}
        </div>
        <div class="col-xs-6 white-block">
            {{include tmpl="#template_datibollettino"/}}
        </div>
    </div>
</script>