/* Variabili colore */
/* ##STRUTTURA */
/* Header */
.aletti {
  /* Spalla */
  /* Contenuti */
}
.aletti header #headerDesktop {
  background: #092442;
}
.aletti header .contMenuDesk ul#firstMenu li a {
  color: #fff;
}
.aletti header .contImpDxDesk {
  background: #a89a80;
}
.aletti header .contImpDxDesk .badge {
  background-color: #092442;
}
.aletti .cta.personalizza,
.aletti .table-scroller .datioutput,
.aletti a {
  color: #a69a84 !important;
}
.aletti #mainContent .dashboard-widgets .dbwidget table {
  color: #232e4e;
}
.aletti footer {
  color: #232e4e;
  background-color: #f2efea;
}
.aletti footer a, .aletti footer .numeriUtiliPub {
  color: #a59a84;
}
.aletti #mainContent .dashboard-widgets .datioutput .evidente,
.aletti #mainContent .dashboard-widgets .datioutput .grafico-wrap.placeholder,
.aletti #mainContent .dashboard-widgets .datioutput table.legenda.altri,
.aletti #mainContent .dashboard-widgets .datioutput table tr.dispari td,
.aletti #mainContent .dashboard-widgets .datioutput table tr.totale td {
  background-color: #f0efea;
}
.aletti #spalla {
  background: #092442;
}
.aletti #spalla .widget.widget-top {
  background-color: #dbd7ce;
}
.aletti #spalla .widget.widget-top ul li {
  border-color: #3f4f66;
}
.aletti #spalla .widget.widget-top ul li a,
.aletti #spalla .widget.widget-top ul li a:hover {
  color: #3f4f66;
}
.aletti #spalla .widget.widget-top h2 > a, .aletti #spalla .widget.widget-top .icon {
  color: #3f4f66;
}
.aletti #spalla .widget .cta {
  color: #a59983;
}
.aletti #spalla .widget .wdg-carousel.carousel.slide {
  color: #fff;
  background: #a89a80;
}
.aletti #spalla .widget:last-child {
  border-bottom: solid 2px rgba(168, 154, 128, 0.5);
}
.aletti #mainContent {
  /*Icona ricarica*/
  /* icona */
  /* Icone switcher */
  /* ##Grafo */
}
.aletti #mainContent .dbwidget .titlebar a.minibtn {
  background-color: #a79a87;
}
.aletti #mainContent .dbwidget .selector .selector-el span {
  color: #232e4e !important;
}
.aletti #mainContent .bottom-console a.cta {
  color: #a89a80;
}
.aletti #mainContent .datioutput .evidente .icon {
  color: #a69a84;
}
.aletti #mainContent .titlebar-console > a {
  color: #a79a87 !important;
}
.aletti #mainContent .titlebar-console > a.selected {
  color: #ebedee !important;
}
.aletti #mainContent #dbgraphwrapper {
  background: linear-gradient(120deg, rgba(132, 145, 160, 0.3) 0%, rgba(82, 101, 123, 0.1) 100%);
}
.aletti #mainContent #dbgraphwrapper span,
.aletti #mainContent #dbgraphwrapper #dbgraphconsole span,
.aletti #mainContent #dbgraphwrapper text tspan,
.aletti #mainContent #dbgraphwrapper button.selected,
.aletti #mainContent #dbgraphwrapper button:hover {
  color: #232e4e;
}
.aletti #mainContent #dbgraphwrapper button {
  color: rgba(35, 46, 78, 0.5);
}
.aletti #mainContent #dbgraphwrapper #dayselector button.selected {
  border-bottom: solid 2px #232e4e;
}
.aletti li .subMenuXL, .aletti li.open > .subMenuX {
  background-color: #092442;
}
.aletti .dropdown-menu.headerDxUserMenu li a {
  background-color: #a89a80;
  color: #3f4f66;
  border-bottom: 2px solid #092442;
}
.aletti .selezioneCC, .aletti .selezioneCC.tabellaSelezioneCC {
  background-color: #f0efea;
}
@media screen and (max-width: 1023px) {
  .aletti {
    /*
    .accordionMenuWrap ul li,
    #menuUserMobile .first-levelMenu li .ui-accordion-content a
    {
      color: $main-text;
      background-color: $primary !important;
      border-bottom: solid 2px $primary-light !important;
    }
    */
  }
  .aletti #headerMobile,
.aletti nav#menuMainMobile .mm-list.opened {
    background-color: #092442;
  }
  .aletti #headerMobile {
    border-bottom: solid 2px transparent;
  }
  .aletti .mm-list.opened,
.aletti li span.openSubMenu,
.aletti .second-levelMenu li a {
    color: #fff;
  }
  .aletti .second-levelMenu .ui-accordion-content li a,
.aletti .ui-accordion-header,
.aletti .ui-accordion-header {
    color: #232e4e;
  }
  .aletti #buttonUserMobile {
    background-color: #a89a80;
    margin-bottom: -2px;
  }
}

/*# sourceMappingURL=aletti_skin.css.map */
