/* ALERTS */

.boxesito {
  display: table;
  width: 100%;
  &.positivo { color: @acqua; }
  &.attenzione { color: @giallo; }
  &.negativo { color: @rosso; }
  &:after {
    float: none;
    width: 100%;
    clear: both;
  }
  > .icon {
    float:left;
  }
  > .text {
    float:right;
    /*width: calc( 100% - 30px );*/
    padding-top: 2px;
  }
}

.messagePanel .success  {
  color: @acqua;
}

.boxesitoWrap {
  margin-bottom: 0;
  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
