.button, .btn {
  // copre tutti i casi compresi i doppi stati
  &, &:hover, &:focus, &.focus, &:active, &.active {
    &, &:hover, &:focus, &.focus, &:active, &.active {
      display: inline-block;
      position: relative;
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;
      border: 0;
      color: @white;
      background-color: @grayMid;
      background-image: none;
      text-transform: uppercase;
      border-radius: 20px;
      min-width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      text-decoration: none;
      padding: 0 1rem;
    }
  }
  &:hover {
    background-color: @grayDark;
    color: @white;
  }
  &.active {
    background-color: @primary;
  }
  &.btn-primary,
  &.btn-filtra,
  &.btn-filtra-attivo,
  &.btn-navigation {
    background-color: @primary;
    &:hover {
      background-color: @primaryDark;
    }
  }
  &.btn-disable,
  &.btn-disabled {
    &, &:hover, &:focus, &:active, &.active {
      cursor: default;
      background : @grayLight !important;
      box-shadow: none !important;
    }
  }
}

.btnWrapper .btn, .btnWrapper .btn-align-left, .ricFilter .btn-align-left {
    margin-left: 0px;
    margin-right:15px;
}
.btnWrapper .btn:last-child,.btnWrapper .btn-align-left:last-child, .ricFilter .btn-align-left:last-child{
   margin-right:0
}
