/* Paginazione top nell'heading (reprise da youweb-main ma con restyle completo */
  div.pager {
    position: relative;
    top: 14px;
    margin-right: 15px;
    margin: 0;
    width: 100%;
    text-align: right;
    .circle {
      width: 22px;
      height: 22px;
      line-height:24px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 3px;
      background: #d7d7d7;
      position: relative;
      top: 5px;
      color:#fff;
      text-align: center;
      &.current_page {
        background: #003b79;
      }
    }
  }

  @media (max-width:500px){
     div.pager {top:-20px;}
  }


  // Contenitore della paginazione

  .fixed-table-pagination {
    display: table;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  // Paginazione

  .pagination-info {
    display: table;
    > * {
      display: table-cell;
    }
    .label-group {
      padding-right: 1rem;
    }
  }

  ul.pagination {
    display: block;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0 0.5rem;
      display: inline-block;
      font-weight: bold;
      a {
        display: inline-block;
        position: relative;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
        border: 0;
        padding: 0 0.5rem;
        color: @white;
        background-color: @grayLight;
        background-image: none;
        text-transform: uppercase;
        border-radius: 20px;
        min-width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        &:hover {
          background-color: @grayDark;
        }
      }
      &.active a {
        background-color: @primary;
      }
    }
  }

  // Select di lista paginata

  .page-list {
    .btn-group {
      margin-left: 0.5rem;
    }
    .btn-default,
    .open > .dropdown-toggle.btn-default {
      &,
      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        &,
        &:focus,
        &.focus,
        &:active,
        &.active {
          background-color: @grayLight;
          color: @white;
        }
      }
    }
  }
