/* Definizione di grandezze, font, ecc... dei tag "generici" riguardanti la formattazione dei testi */
h2 {
	font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
 li.linkOn a {
    font-weight: normal !important;
    text-decoration: underline!important;
    color:#202d50!important;
 }