/* Colori delle icone */
/* Colore dei testi personalizzato per banca */
/*Colore tabelle evidenziate */
/* VARIABILI COLORE SPECIFICHE PER OGNI BANCA*/
/* Colore dei testi */
/* Colore dei link */
/* Colore dei bottoni */
/* Colore delle tabelle */
/* Colore Pin2 */
/* Colore dei form*/
/* Colore dei bottoni personalizzato per banca */
/* Tab */
/* BOX GENERICI */
/* Colore del calendario*/
/*Colori profili commissionali */
/*Colore numeri verde */
#formSelRapporto {
  margin-bottom: 0;
}
#chartwrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  margin-top: 30px;
}
#chartdiv {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
}
.empty #chartdiv {
  background: repeating-linear-gradient(45deg, #ffffff, #ffffff 8px, #e3e3e3 8px, #e3e3e3 10px);
  border-radius: 50%;
}
#outercircle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ddd;
  border-radius: 50%;
}
#innercircle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  margin-top: -15%;
  margin-left: -15%;
  border: 2px solid #ddd;
  border-radius: 50%;
  background-color: #fff;
}
.empty #innercircle {
  border: 2px solid #fff;
  z-index: 1;
}
.empty #innercircle:before {
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  border: 2px solid #ddd;
  border-radius: 50%;
}
#chartCover {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 242px;
  height: 242px;
  border: 2px solid #A8A9AB;
  border-radius: 50%;
  background: #EDF5FF;
}
#chartCoverText {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#chartCoverText p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 13px;
  color: #262626;
}
#tradingChart {
  padding-top: 30px;
  margin-bottom: 30px;
}
#tradingChart .graficoLeg {
  margin: 20px 0 0 0;
  padding-left: 30px;
  border-left: 2px solid #E3E3E3;
  list-style: none;
}
#tradingChart .graficoLeg li {
  line-height: 30px;
}
#tradingChart .graficoLeg .icon {
  display: inline-block;
  margin-right: 8px;
  font-size: 12px;
}
#tradingChart .graficoLeg .legAzI .icon {
  color: #6fa3de;
}
#tradingChart .graficoLeg .legAzE .icon {
  color: #c1ad9b;
}
#tradingChart .graficoLeg .legObb .icon {
  color: #535150;
}
#tradingChart .graficoLeg .legDer .icon {
  color: #ffd54a;
}
#tradingChart .graficoLeg .legCwc .icon {
  color: #8a9d77;
}
#tradingChart .graficoLeg .legEtf .icon {
  color: #245e80;
}
#tradingChart .graficoLeg .legMar .icon {
  color: #7be8d1;
}
#tradingChart .graficoLegWrap {
  position: relative;
}
#tradingChart #graficoLegArrow {
  position: absolute;
  top: 50%;
  left: 3px;
  background-color: #fff;
  transform: rotate(90deg);
}
#tradingChart #graficoLegArrow .icon-cursore-menu-down {
  font-size: 8px;
  color: #E3E3E3;
}
#tradingChartTitle {
  /* padding-top: 20px; */
  margin-bottom: 30px;
}
.totChart {
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 700;
}
.totChart:after {
  display: table;
  content: " ";
  clear: both;
}
.valTotChart .valuta {
  font-weight: 400;
}
#fpTrading .posi {
  color: #68b31e;
}
#fpTrading .nega {
  color: #d83217;
}
#tradingChartBtns {
  padding-bottom: 20px;
  margin-bottom: 70px;
  border-bottom: 1px solid #E3E3E3;
}
#chartLegend {
  font-size: 12px;
  border: 0;
}
#chartLegend th,
#chartLegend td {
  border: 0;
  background-color: #fff;
  padding: 0;
}
#chartLegend .nome {
  width: 150px;
}
#chartLegend .nome span {
  display: block;
  padding: 18px 0 6px 0;
}
#chartLegend .valore {
  width: 100%;
}
#chartLegend .valore span {
  display: block;
  padding: 18px 0 7px 30px;
}
#chartLegend tbody .valore span {
  border-bottom: 1px solid #e3e3e3;
}
#chartLegend tbody .nome span {
  border-bottom: 3px solid #e3e3e3;
}
#chartLegend tbody .nome .nomeAit {
  border-bottom-color: #6fa3de;
}
#chartLegend tbody .nome .nomeAes {
  border-bottom-color: #c1ad9b;
}
#chartLegend tbody .nome .nomeObb {
  border-bottom-color: #535150;
}
#chartLegend tbody .nome .nomeDvt {
  border-bottom-color: #ffd54a;
}
#chartLegend tbody .nome .nomeCwc {
  border-bottom-color: #8a9d77;
}
#chartLegend tbody .nome .nomeEtf {
  border-bottom-color: #245e80;
}
#chartLegend tbody .nome .nomeMar {
  border-bottom-color: #7be8d1;
}
.wrapTradChange {
  margin-bottom: 20px;
}
#watchlistBtns {
  margin-bottom: 10px;
}
#tradingBanner {
  text-align: left;
  overflow: auto;
  padding: 15px;
  border: solid 1px #ccc;
  border-bottom: solid 3px #8ab10b;
  width: 100%;
}
#tradingBanner .ban-img,
#tradingBanner .ban-cta {
  display: block;
}
#tradingBanner .ban-img {
  width: 60px;
  margin: 0 0 0 20px;
  float: left;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), inset 0 -1px 1px 0 rgba(0, 0, 0, 0.19);
}
#tradingBanner .ban-img img {
  width: 100%;
  height: auto;
}
#tradingBanner .ban-img:hover {
  opacity: 0.75;
}
#tradingBanner .ban-cta {
  margin: 18px 10px 0 0;
  float: left;
  width: calc( 100% - 255px );
  height: 30px;
  font-size: 18px;
  font-weight: bold;
}
#tradingBanner .ban-cta a {
  margin: 0;
  float: left;
  height: 30px;
  width: auto;
  font-size: 20px;
  text-decoration: none;
}
#tradingBanner .ban-cta a:hover {
  text-decoration: underline;
}
#tradingBanner .ban-cta a .icon {
  font-size: 16px;
}
#boxinfoTrPlus {
  padding-bottom: 0;
}
#boxinfoTrPlus .tit {
  height: 0;
  padding-top: 19.92653811%;
  margin: 5px 0 20px;
  background: url(/WB/fe/img/str_bg_markinsight.png) no-repeat 0 0;
  background-size: cover;
}
#boxinfoTrPlus .desc,
#boxinfoTrPlus .title {
  display: inline-block;
  height: 40px;
  overflow: hidden;
}
#boxinfoTrPlus .desc {
  color: #000;
}
#boxinfoTrPlus .title {
  color: #ff0000;
}
#boxinfoTrPlus .text {
  padding: 0 0 11px 0;
  margin: 0 0 10px 0;
  border-bottom: solid 1px #e3e3e3;
}
#carouselPlusinfoTr {
  position: relative;
}
#carouselPlusinfoTr .carouselPlusNav {
  border-top: 0;
}
.boxApriDepTit {
  padding: 20px 30px 25px 30px;
  border-radius: 8px;
  margin-bottom: 30px;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.boxApriDepTit a,
.boxApriDepTit a:hover {
  text-decoration: none;
  color: #8ab10b;
}
.titleApriDepTit {
  display: inline-block;
  margin-bottom: 20px;
  line-height: 32px;
  font-size: 32px;
  color: #8ab10b;
}
.titleApriDepTit .icon {
  font-size: 20px;
  color: #fff;
}
.platformApriDepTit,
.walletApriDepTit {
  display: table;
}
.platformApriDepTit {
  padding-right: 29px;
  border-right: 1px solid #b2b2b2;
  margin-right: -15px;
}
.walletApriDepTit {
  padding-left: 15px;
}
.icoLinkApriDepTit .icon {
  position: relative;
  top: 4px;
}
.icoLinkApriDepTit,
.infoLinkApriDepTit {
  display: table-cell;
  vertical-align: top;
}
.icoLinkApriDepTit .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  line-height: 32px;
  text-align: center;
  font-size: 32px;
  color: #b2b2b2;
}
.titleLinkApriDepTit {
  font-size: 20px;
  font-weight: 400;
  color: #8ab10b;
}
.titleLinkApriDepTit .icon {
  font-size: 16px;
  color: #fff;
}
.textLinkApriDepTit {
  color: #b2b2b2;
}
@media (min-width: 480px) and (max-width: 767px) {
  #chartwrap {
    width: 80%;
    padding-top: 80%;
    margin: 30px 10%;
  }
}
@media (max-width: 1023px) {
  .boxTradInd .icon-arrow_trading_right,
  .tradingNewsfooter .icon-arrow_trading_right {
    font-size: 8px;
  }
  .tradingNewsLegendItem .icon,
  .tradingNewsIcon .icon {
    display: block;
    float: left;
  }
  .tradingNewsLink {
    display: block;
  }
}
/*# sourceMappingURL=fp_trading.css.map */