<div>
    <p [innerHTML]="textIntro"></p>
    <simple-table  [headingsCol]="headingsCol" [rowData]="rowData" [cellClassName]="cellClassName" [colsTemplate]="colsTemplate" [colsThTemplate]="colsThTemplate"></simple-table>
    <!--template header-->
    <ng-template #importi let-data="data">
        <input  class="form-control" type="text" name="totinv{{DataFromService[0].idaa}}" id= "totinv{{DataFromService[0].idaa}}" maxlength="10" size="9" *ngIf="data.id==='importi'" (keyup)="calcImporti($event,DataFromService)" #inputImporto>
     </ng-template>

    <!--template row-->
    <ng-template #MacroAssetClass let-data="data">
       {{data.MacroAssetClass}}
    </ng-template>
    <ng-template #Peso let-data="data">
        {{data.Peso}}%
    </ng-template>
    <ng-template #AssetClass let-data="data">
        <div class="block-table" *ngFor="let el of data.AssetClass">
            <span class="block-cell-table">
                {{el}}
            </span>
        </div>
    </ng-template>
    <ng-template #Pesi let-data="data">
       <div class="block-table" *ngFor="let el of data.Pesi">
            <span class="block-cell-table">
                {{el}}%
            </span>
        </div>
    </ng-template>
    
    <ng-template #Importo let-data="data">
        <div class="block-table" *ngFor="let el of data.Importo;let i=index">
           <span class="block-cell-table">
               <span id="val{{DataFromService[0].idaa}}-{{el}}">0</span>
               <input type="hidden" value="" id="hval{{DataFromService[0].idaa}}-{{el}}" #importoValue>
               <input type="hidden" value="" id="hmin{{DataFromService[0].idaa}}-{{el}}">
            </span>
        </div>
     </ng-template>
     <ng-template #Fondo let-data="data">
        <div class="block-table" *ngFor="let el of data.Fondo">
            <span class="block-cell-table">
                <a id="txt{{DataFromService[0].idaa}}-{{el}}"></a>
                <input type="hidden" value="" id="hisin{{DataFromService[0].idaa}}-{{el}}" class="pf-isin-{{DataFromService[0].idaa}}" #isinValue>
            </span>
        </div>
     </ng-template>
     <ng-template #btnId let-data="data">
       <div class="block-table" *ngFor="let el of data.btnId.idac">
            <span class="block-cell-table">
               <a type="button" class="btn btn-primary btn-small"  id="btn{{DataFromService[0].idaa}}-{{el}}" data-toggle="modal" data-target="#modaleFondiSuggeriti" (click)="setFondiSuggeriti($event, data.btnId.labelOv,DataFromService[0].idaa,el)">Seleziona Fondo</a>
            </span>
        </div>
     </ng-template>

     <!-- bottoni del carrello-->
     <div class="form-group btnWrapper">
         <div class="btn-align-right" id="addcar{{DataFromService[0].idaa}}" *ngIf="isBtnaddCarVisible">
            <a type="button" class="btn btn-primary" (click)="addToCart(DataFromService[0].idaa)">aggiungi al carrello</a>
        </div>
        <div class="btn-align-right" id="updcar{{DataFromService[0].idaa}}" *ngIf="isBtnupDateCarVisible">
            <a type="button" class="btn btn-primary" id="">aggiorna il carrello</a>
            <a type="button" class="btn btn-primary" id="">vedi il carrello</a>
        </div>
    </div>
</div>