/* HEADER */
#contenuto .hero {
    background: #eee url("../img/visual_web_view_AA_amex_oro.jpg") no-repeat center center;
    background-size: cover;
}

/* GENERICI */
a {
    color: #344a86;
    text-decoration: none;
}

h2 {
    font-size: 18px;
    line-height: 22px;
    color: #212122;
    margin: 0 0 15px;
}

/* Bullet "ordinali" */
ol li::before {
    background-color: #344a86;
}

/* Accordion */
.accordion .accordion-toggle span {
    color: #344a86;
}

.accordion .accordion-toggle span::after {
    background: transparent url("../img/youweb_vedi_piu.png") no-repeat center center;
    background-size: 16px 16px;
}

.accordion .accordion-toggle span.opened::after {
    background-image: url("../img/youweb_vedi_meno.png");
}

/* Bottom*/
.bottom-promo { 
    background: url("../img/marmo_background.jpg") no-repeat center center;
    background-size: cover; 
}

.wrapper-visual .visual {
    background: url("../img/bg_blue_stories_card@2x.png") no-repeat center center;
    background-size: contain;           
}
.wrapper-cta .cta {
    background: #344a86;
}

footer .cta {
    background: #344a86;
}