/* BOTTONE PER PILOTARE LO STILE*/
.style-type {
    position:fixed;
    top: 22px;
    right: 220px;
    z-index: 30;
    button {
        width:auto; height:30px; font-size:12px;text-transform:uppercase;color:#333;
        background-color:#eee;border:solid 1px #ccc;border-radius:5px;
    }
    .light & {
        top:35px;
    }
} 

