// icona con carattere speciale "bullet"
.icon-bullet:before {
    font-family: 'roboto', sans-serif;
    content: "\2B24";
}
.wrapper-icon-bullet {
  position: relative;
  .icon-bullet:before {
    position: absolute;
    top:4px;
    left:0;
  }
  .text{
    padding-left:20px;
    display: block;
  }
}
.colonna1,
.colonna2 {
    @include icon {
        @include svg-icon-color($greenLink);
        @include svg-icon-size(30px);
        margin:0 0 0 1rem;
    }
    margin:0.5rem 0;
}

// rewrite dello zoom di alcune icone
i.icon.icon-aggiorna:before {
    zoom: 100%;
    transform: translate(0, 0);
}

// correzione alcuni font-iconici in bottone
button, a.btn {
  i.icon.icon-mostra {
    margin-top: 10px;
  }
}
