@import 'styles/theme.scss';
@mixin theme($theme-name, $theme-map) {
    .#{$theme-name} {
        @each $section, $map in $theme-map {
            .hsb {
                border: solid 1px map-get($map, searchBarColor);
                width:48px;
                height:48px; 
                float:left; 
                margin:15px 0 0 15px;
                border-radius:24px; 
                overflow:hidden; 
                transition: all 0.3s;
                color: map-get($map, searchBarColor);

                .search-btn { 
                    float:right; 
                    cursor:pointer; 
                    height:48px;
                    width:48px; 
                    text-align:center;
                    line-height:45px; 
                    color: map-get($map, searchBarColor);
                    &:hover,&:active {
                        opacity:0.9;
                        color: map-get($map, searchBarColor);
                    }
                    i {font-size:25px;font-style:normal;}
                    &.search-annulla {display:none; transition: all 0.6s; transform: rotate(-360deg);opacity:0}
                    &.search-go {display:none;}
                }
                .search-annulla {display:none;}
                .form-control {
                    float:left; 
                    display:none; 
                    border:solid 1px map-get($map, searchBarTextColor);
                    margin: 4px 0 0 10px
                }
                select {
                    width:130px; 
                    border: 0 none !important;
                }
                input {width:220px}

                &.opened {
                    width: 420px;
                    background-color: #fff;
                    .search-btn {cursor:pointer}
                    .form-control {display:inline-block; padding:0 5px}
                    .search-annulla {
                        display:inline-block; 
                        transform: rotate(0deg);
                        opacity:1;
                        color: map-get($map, searchBarTextColor);
                    }
                    .search-go {display:inline-block;}
                    .search-toggle {display:none;}
                }

            }
        }
    }
}
@include theme(default, $default);
@include theme(light, $light);