@charset 'utf-8';

/*
@function unicode($str) {
  @return unquote("\"")+unquote(str-insert($str, "\\", 1))+unquote("\"");
}
*/

@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?re3jm0');
  src:  url('../font/icomoon.eot?re3jm0#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?re3jm0') format('truetype'),
    url('../font/icomoon.woff?re3jm0') format('woff'),
    url('../font/icomoon.svg?re3jm0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
  @include icon-font-family();
}

.icon {
  display:inline-block;
  @include svg-icon-size(20px);
}

img.icon {
  display:inline-block;
  margin-top: -3px;
  @include svg-icon-size(24px);
}

.icon-svg {
  display:inline-block;
  margin-right:5px;
  @include svg-icon-size(24px);
  //margin-top: 2px;
}

.icon-format {
  width: 36px !important;
  height: 36px !important;
}

.icon-span {
  margin: 0.5em 0.5em 0 0;
  float: left;
  text-decoration: underline;
  font-family: 'roboto', sans-serif !important;
}

.icon-check {
  margin-top: 0.2em !important;
}

// INCOLLARE I FONT ICONICI DA QUI IN AVANTI 
@import "../css/icomoon.css";