.icon-img-prev {
    background-position: left center !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{encodecolor($green)}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.icon-img-next {
    background-position: right center !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{encodecolor($green)}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

// DEMO PER LIBRERIA

.icon-style-demo {
    @include svg-icon-color($error);
  }   

// icona con carattere speciale "bullet" 

.icon-bullet:before {
    font-family: 'roboto', sans-serif;
    content: "\2B24";
}

.colonna1 svg,
.colonna2 svg {
    @include svg-icon-color($greenLink);
    @include svg-icon-size(30px);
    margin-left:1rem;    
}