<div class="content-app {{loadingclass}}">
    <!-- Navigatore spalla -->
    <div id="leftmenu" class="col-sm-12 col-md-2">

        <!-- MENU STATICO QUARTO LIVELLO  -->
        <h2>Soluzioni guidate</h2>
        <ul>
            <li [ngClass]="{'selected': contenuto === 'overview'}"><a title="Overview" (click)="naviga('overview')">Overview</a></li>
            <li [ngClass]="{'selected': contenuto === 'topselection'}"><a title="Top Selection" (click)="naviga('topselection')">Top Selection</a></li>
            <li [ngClass]="{'selected': contenuto === 'pmodello'}"><a title="Portafoglio modello" (click)="naviga('pmodello')">Portafoglio modello</a></li>
        </ul>
    </div>
    <!-- Fine navigatore spalla -->
    <!-- Wrapper con il routing dell' applicazione -->
    <div id="contenuti" class="contenuti col-sm-12 col-md-10">
    <!-- Fine wrapper con il routing dell'applicazione -->
    Contenuto richiesto: <strong>{{contenuto}}</strong>
    <!-- Template root -->
        <overview *ngIf="contenuto==='overview'" [navto]="naviga"></overview>
        <top-selection *ngIf="contenuto==='topselection'"></top-selection>
        <pmodello *ngIf="contenuto==='pmodello'"></pmodello>
    <!-- Fine template root -->
    </div> 
</div>
