<div class="content-app {{loadingclass}}">
    <!-- Navigatore spalla -->
    <div id="leftmenu" class="col-sm-12 col-md-2">

        <!-- MENU STATICO QUARTO LIVELLO  -->
        <h2>Soluzioni guidate</h2>
        <ul>
            <li class=""><a href="#">Overview</a></li>
            <li class=""><a href="#">Top Selection</a></li>
            <li class=""><a href="#">Portafoglio modello</a></li>
        </ul>
    </div>
    <!-- Fine navigatore spalla -->
    <!-- Wrapper con il routing dell' applicazione -->
    <div id="contenuti" class="contenuti col-sm-12 col-md-10">
    <!-- Fine wrapper con il routing dell'applicazione -->

    Qui sarà presente il codice dell'applicativo per i contenuti.
    Contenuto richiesto: <strong>{{contenuto}}</strong>
</div>
