.boxOutput {
  //margin-top: -1px;
  
  h3 {
    color:$gray2 !important
  }
  
  .borderBottom {
    border-bottom: 1px solid $grayBordered;
  }
  
  .borderRight {
    border-right: 1px solid $grayBordered;
  }
   
  @media (max-width: 767px)
  {
    .borderRight {
      border-bottom: 1px solid $grayBordered;
      border-right: none !important;
    }

    .paddingTopResponsive {
      padding-top: 16px
    }
  }
} 