.configura {
    &--box {
        @include bordered($allpadding:true);
        display: flex;
        flex-direction: column;
        height: 100%;
        // HEADER 
        .c-header {
            display: flex;
            flex-direction: row;
            margin-bottom: $spacer;
            .c-title {
                flex-grow: 1;
                margin:0;
                font-size: 24px;
                font-weight: 500;
                padding-top: 3px;
            }
            .c-icon {
                .icon {
                    float: right;
                    margin-right:0;
                    margin-left: $spacer;
                    @include svg-icon-size(35px);
                    @include svg-icon-color($gray3);
                }    
            }
        }
        // BODY
        .c-body { 
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            min-height: 120px;
            line-height: 1.8em;
            &.desktop-only-content { 
                border: bliue solid 1px;
            }
            .c-cta {
                text-align: center;
                margin: $spacer 0;
                a {
                    text-decoration: underline;
                    font-size: 1.1em;
                }
            }
            .c-description {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
        }
        // Versione coi contenuti solo per desktop
        &.desktop-only { 
            .c-body {
                &.desktop-only-content {
                    text-align: center;
                    color: $warning;
                    font-weight: bold;
                    .icon {
                        display: block; 
                        float: none;
                        margin: $spacer auto;
                        @include svg-icon-size(100px);
                        @include svg-icon-color($warning);
                    }
                }
                @media (max-width:$bp_md_max) {
                    &:not(.desktop-only-content) { 
                        display: none !important; 
                    } 
                }
                @media (min-width:$bp_md_min) {
                    &.desktop-only-content { 
                        display: none !important; 
                    }                            
                }
            }
        }

    }
}