ul.pagination {
  margin:0;
  padding:0;
  width: 100%;
  justify-content: space-between;
  max-width: 310px;
  li.page-item {
    .page-link {
      background: $gray4;
      color: white;
      border: none;
      padding: 0;
      text-align: center;
      text-decoration: none;
      margin: 0 0 0 2px;
      height: 2rem;
      min-width: 2rem;
      line-height: 2rem;
      border-radius: 1rem;
      transition: background 0.3s, color 0.3s;
      &:hover {
        background: $greenLink;
      }
    }
    &.page-item-arrow {
      .page-link {
        -moz-outline: 0;
        outline: 0;
        box-shadow: none;
        color: $greenLink;
        background: none;
        padding: 0;
        font-size: 2rem;
        width: 2rem;
        min-width: 2rem;
        margin:0;
        &:hover {
          color: darken($greenLink, 10);
        }
      }
    }
    &.page-item-of {
      .page-link {
        background: transparent;
        color: $gray1;
        min-width: 0;
      }
    }
    &.active .page-link {
      &, &:hover {
        background: $greenLink;
        cursor: default;
        color: white;
      }
    }
  }
}
