.c-pannello-controllo {
  @media (min-width:$bp_md_min) {
    .list {
      .list-key,
      .list-value {
        width: 50%;
        text-align: left;
      }
    }
  }
  .list-input {
    width: 100%;
  }
  .read-mode {
    display: block;
  }
  .write-mode {
    display: none;
  }
  .is-editable {
    .read-mode {
      display: none;
    }
    .write-mode {
      display: block;
    }
  }
  .nav {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    .nav-item {
      float: none;
      flex-grow: 1;
      flex-basis: 0;
      margin: 0 0.5rem;
      input { display: none; }
    }
  }
  .switch {
    .form-check-input {
      + .form-check-label .enabled-label { display: none; }
    }
    .form-check-input:checked {
      + .form-check-label .disabled-label { display: none; }
      + .form-check-label .enabled-label { display: inline; }
    }
  }
  .sub-options {
    display: none;
  }
  input:checked ~ .sub-options {
    display: flex;
  }
  dl, .list {
    dt, &-key {
      padding: 0;
    }
    dd, &-value {
      padding: 0 0 1em 0;
    }
    dt, dd, &-key, &-value {
      width: 100%;
      flex-basis: 100%;
      text-align: left;
    }
  }
}
