/* Tabelle */

.table {
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  > tbody > tr > th {
    border-top: solid 1px #ececec;
  }
  > tfoot > tr > {
    td, th {
      border-top: solid 1px #ececec;
    }
  }
  > thead > tr > {
    td, th {
      border-top: solid 1px #ececec;
    }
  }
  span.output {
    font-weight: normal;
    padding: 0;
    margin: 0;
    min-height: 0;
  }
}

.table-heading {
  h4 {
    color: #666;
    float: left;
    font-size: 1.3em;
  }
  &-filters {
    margin-top: 10px;
    h4 {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .align-items-center {
      .checkbox, .radio {
        margin-bottom: 0;
        padding-left: 45px;
        margin-right: 0px;
        min-height: 0px;
        padding-top: 5px;
      }
    }
  }
}

.table-filters {
  float: right;
  .radio-inline {
    padding: 0;
    .radio {
      display: inline-block;
      margin: 5px 0 0 10px;
    }
  }
}

.table-heading-firstline,
.table-filters {
  .title {
    display: inline-block;
    font-weight: bold;
    color: #333;
  }
  .btn {
    &, &:not([href]), &:not([tabindex]) {
      &, &:not([href]), &:not([tabindex]) {
        margin-bottom: 0;
        padding: 0 1rem;
        height: 34px;
        line-height: 34px;
        i { margin-top: 3px; } 
      }
    }
  }
}

.table-heading-firstline {
  border-bottom: solid 1px #ddd;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

/* Smartphones */
@media (max-width: $bp_md_max) {
  .table-filters {
    width: 100%;
    overflow-x: auto;
    float: none;
    display: block;
    .radio-inline .radio {
      display: inline-block;
      margin: 0 16px 0 0;
    }
  }
}

.table-filters-accordion {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem 1rem 0 1rem;
  border-bottom: solid 1px #ddd;
}

.marginTop-1 {
  margin-top: -1px;
}