@mixin before(){
    &:before {
        content: '';
        display: block;
        border-bottom: 1px solid $gray4;
        width: 5px;
        height: 1px;
        position: absolute;
        top: 16px;
        left: 0px;
        z-index: 2;
    }
}

@mixin after(){
    &:after {
        content: '';
        display: block;
        border-left: 1px solid $gray4;
        width: 1px;
        height: 100%;
        position: absolute;
        top: -12px;
        left: 0px;
        z-index: 2;
    }
}

.c-treeview {
    position: relative;
    ul {
        position: relative;
        list-style: none;
        padding-left: 0;
        margin: 0;
        li {
            padding: 0 0 $spacer/2 0;
            position: relative;
            @include before();
            @include after();
            &:last-child {
                padding-bottom: 0;
                &:after {
                    height: 28px;
                }
            } 
            .radio, 
            .checkbox { 
                label {
                    max-width: calc( 100% - 5px ) !important;
                    line-height: 1.1em;    
                    padding-top: 3px;
                }
                label::before {
                    margin-top: -5px;
                }
                label::after {
                    margin-top: 1px;
                    margin-left: -23px;
                }
            }
        }
        ul {
            padding-left: $spacer;
            padding-top: 6px;
        }
    }
    >ul>li:first-child:after {
        height: 100%;
        top: 16px;
    }  
    >ul>li:first-child:last-child {
        &:before,
        &:after {
            display: none !important;
        }
    } 
}
