
/*TEMA CSS LIGHT*/
$light: (
    /*stili light dell'header */
   structure: (
       headerBgColor: #284659,
       headerBorderTop: 10px solid #dbc099,
       headerHeight: 95px,
       switchPrivacyColor: #d5dfe4,
       searchBarColor:#d5dfe4,
       searchBarTextColor:#003366,
       menuBgColor: #284659,
       menuTopPosition: 70px,
       menuBtnColor:#ffffff,
       menuNavLinkColor:#dbc099,
       menuNavLinkColorActive:#284659,
       menuNavLinkOpacityHover: 1,
       menuBgOpenedColor: #e0eaee,
       menuOpenedColor: transparent,
       menuOpenedSlideLeft: 155px,
       menuWidth:95px,
       userMenuColor: #dbc099

    ),
    contents: (
       mainBgColor: #284659,
       mainColorText:#153648,
       contentsWrapperBgColor: #e0eaee,
       contensWrapperRadius: 15px,
       boxRadius: 15px,
       boxPadding:10px 20px 20px,
       colorH1: #284659,
       colorHeading: #ab9269,
       contentsBgColor:#fff,
       borderTableWidth: 0,
       legendWidth: 24px,
       legendHeight: 14px,
       legendRadius: 10px,
       legendPaddLeft:32px,

       agendaArrowBorderTop: 10px #fff,
       agendaArrowLeftBorderLeft: 17px #ab9269,
       agendaArrowLeftBorderRight: 17px #ab9269,
       agendaArrowBorderBottom: 10px #fff,
       agendaDayBgColor: transparent,
       agendaDayBgColorInner: #153648,
       agendaDayColor: #fff,
       agendaDayBgColorHover: trasparent,
       agendaDayBgColorInnerHover: #e0eaee,
       agendaDayRadius : 50%,
       agendaDayW: 40px,

    )
);

$default: (
    structure: (
        headerBgColor: #fff,
        headerBorderBottom: 1px solid #003366,
        headerHeight: 80px,
        switchPrivacyColor: #ccc,
        searchBarColor:#003366,
        searchBarTextColor:#003366,
        menuBgColor: #21557e,
        menuTopPosition: 0,
        menuBtnColor:#fff,
        menuNavLinkColor:#fff,
        menuNavLinkColorActive: #fff,
        menuNavLinkOpacityHover: 0.6,
        menuWidth:95px,
        userMenuColor: #21557e

    ),
    contents: (
        mainBgColor: #f9f9f9,
        mainColorText:#212529,
        contentsWrapperBgColor: #f9f9f9,
        boxPadding:10px,
        colorH1: #78040f,
        colorHeading: #a7a5a5,
        borderTableWidth: 1px,
        legendWidth: 10px,
        legendHeight: 10px,
        legendRadius: 50%,
        legendPaddLeft:20px,
        agendaArrowBorderTop: 0,
        agendaArrowLeftBorderRight: 0,
        agendaArrowLeftBorderLeft: 0,
        agendaArrowBorderBottom: 0,
        agendaDayBgColor: #eee,
        agendaDayBgColorInner: #eee,
        agendaDayColor: #000,
        agendaDayBgColorHover:#ccc,
        agendaDayBgColorInnerHover: #F0F8FF,
        agendaDayRadius : 0,
        agendaDayW: 100%



    )
);