$font-stack: "Aletti", Helvetica, Verdana, sans-serif;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$color-primary: #21557e;
$color-secondary: #78040f;
$color-tertiary: #787204;
$color-disabled: #888;
$color-gray: #aaa;
$color-text: #212529;
$color-link: $color-primary;
$color-link-active: $color-secondary;
$color-link-hover: $color-tertiary;
$color-field-focus: #80bdff;
$color-invalid: #dc3540;
$color-valid: #28a745;
