/*

CSS relativo a:
chi-siamo.html -> Chi siamo                                                                           
dati-societari.html -> Chi siamo - Dati societari      

*/


.chi-siamo.basic-content {margin: 0}
.chi-siamo.basic-content.cover{width:100%;position:relative;margin-bottom:0px;}
.chi-siamo.basic-content.cover .promoimg {display:block; width:100%;}
.chi-siamo.basic-content.cover h3{position:absolute;top:100px;left:50px;color:#fff;text-transform:uppercase;}
.chi-siamo.basic-content.cover h3 span{color:#d3ff40;}

.chi-siamo.basic-content.content{background: #fff url(/wbresp/img/chi-siamo/chi-siamo_bg.jpg)0 0 no-repeat;background-size:100%;float:left;}
.chi-siamo.basic-content.content .small-content{padding:0 50px;overflow:hidden;}
.chi-siamo.basic-content.content .bcrumbs{margin:10px 0 40px 0;}
.chi-siamo.basic-content.content p{color:#999999;}
.chi-siamo.basic-content.content p b{color:#666666;}
.chi-siamo.basic-content.content h4{font-size:16px;text-transform:uppercase}

.dati-societari.basic-content {margin: 0}
.dati-societari.basic-content.cover{width:100%;position:relative;margin-bottom:0px;}
.dati-societari.basic-content.cover .promoimg {display:block; width:100%;}
.dati-societari.basic-content.content .bcrumbs{margin:10px 0 40px 0;}


.dati-societari.basic-content.content{background: #fff url(/wbresp/img/chi-siamo/chi-siamo_bg.jpg)0 0 no-repeat;background-size:100%;float:left;min-height: 880px;}
.dati-societari.basic-content.content .small-content{padding:0 50px;overflow:hidden;}
.dati-societari.basic-content.content p{color:#999999;}
.dati-societari.basic-content.content p b{color:#666666;}
.dati-societari.basic-content.content h3{font-size:32px;color:#666666;}
.dati-societari.basic-content.content h4{font-size:16px;color:#666666;text-transform:uppercase;}


@media (max-width: 767px) {

	.chi-siamo.basic-content.content .small-content{padding:0 10px;overflow:hidden;}
	.dati-societari.basic-content.content .small-content{padding:0 10px;overflow:hidden;}
}

@media (max-width: 768px) {

	.chi-siamo.basic-content.content h4{margin-top: 20px;}
	.chi-siamo.basic-content.cover h3{top:30%;}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.chi-siamo.basic-content.content h4{margin-top: 70px;}
}

@media screen and (min-width: 991px) and (max-width: 1200px) {

	.chi-siamo.basic-content.content h4{margin-top: 140px;}
}

@media (max-width: 1199px) {

	.dati-societari.basic-content.content{min-height: auto;}

}
