/* =================== */ 
/* CAROUSEL HOME PAGE  */
/* =================== */
#myCarousel {background:#000;padding-bottom:32px;font-family:"ralewaymedium",Arial,Serif;}

#myCarousel .item {max-height:520px; overflow:hidden; bottom:0;}
#myCarousel .container {position:static;}

#myCarousel .carousel-caption {text-align: left; left:15%;right:15%;bottom:10px;position:absolute;padding-bottom:15px;}
#myCarousel .carousel-caption h2 {color:#fff;font-size:38px; text-transform:uppercase; color:#d4fd52; line-height:43px;font-family:"ralewaysemibold",Arial,Serif; margin-top:0;}
#myCarousel .carousel-caption h2.bianco, #myCarousel .carousel-caption h2 .bianco {color:#fff;}
#myCarousel .carousel-caption h2 .verde {color:#d4fd52}
#myCarousel .carousel-caption h2 .secondary,#myCarousel .carousel-caption h2 .big, #myCarousel .carousel-caption h2 .piccolo {clear:both; display:block;margin:0;}
#myCarousel .carousel-caption h2 .big {font-size:80px;line-height:80px;}
#myCarousel .carousel-caption h2 .big.numero {margin:-10px 0 15px;}
#myCarousel .carousel-caption h2 .piccolo {font-size:21px; line-height:25px;}
#myCarousel .carousel-caption ul {padding:0 30px 20px;font-size:20px;list-style-image: url(/wbresp/img/carousel/flag.png);text-transform:uppercase;}
#myCarousel .carousel-caption ul.margbottomlarge {margin-bottom:30px;}
#myCarousel .carousel-caption ul li {margin-bottom:5px;font-size:20px;}
#myCarousel .carousel-caption p.note {clear: both;font-size: 11px !important;padding: 20px 0 0;max-width: 630px;line-height: 13px;color:#eee !important; text-transform:none !important}
#myCarousel .carousel-caption p {font-size:18px; max-width:60%;text-transform:uppercase;}
#myCarousel .carousel-caption p.note a {color:#fff;text-decoration:underline;}

/* APP */
#myCarousel .item.app .btn-grlit {margin-bottom:30px;}


@media (max-width: 1199px) {

}

/* Media queries */
@media (max-width: 991px) {
#myCarousel .carousel-caption {bottom:0;}
#myCarousel .carousel-caption h2 {font-size:23px; line-height:21px; padding:0 0 10px;margin:0}
#myCarousel .carousel-caption h2 span.secondary {font-size:23px}
#myCarousel .carousel-caption ul li {margin-bottom:3px;}
#myCarousel .carousel-caption p {max-width:100%}
#myCarousel .carousel-caption p.note {line-height:12px;padding-top:10px;}
#myCarousel .carousel-caption ul.margbottomlarge {margin-bottom:0px;}
}

@media (max-width: 767px) {
   #myCarousel .carousel-caption {left:10%;right:10%; bottom:0;}
   #myCarousel .carousel-control {width:10%}
   #myCarousel .carousel-caption .btn-grlit {margin:5px 10px 5px 0;}
   #myCarousel .carousel-caption ul {list-style-type:disc;list-style-image:none;}
}

@media (max-width: 466px) {
	 #myCarousel .item {max-height:auto;}
     #myCarousel .carousel-caption {margin-bottom:0px;padding-bottom:0;top:0;padding-top:10px;text-shadow: 1px 1px 2px rgba(0,0,0,1)}
     #myCarousel .carousel-caption h2 {font-size:20px}
     #myCarousel .carousel-caption h2 .big {font-size:50px;line-height:50px;}
     #myCarousel .carousel-caption h2 .big.numero {margin: 0 0 10px}
     #myCarousel .carousel-caption h2 .piccolo {font-size:18px; line-height:21px}
     #myCarousel .carousel-caption ul {padding-left:18px; padding-right:0;}
     #myCarousel .carousel-caption ul.margbottomlarge {margin-bottom:0;}
     #myCarousel .carousel-caption ul li { line-height: 15px;font-size: 15px;}
     #myCarousel .carousel-caption p {font-size:14px;line-height:16px;}
     #myCarousel .carousel-caption p.note {position:absolute;bottom:0;}
}

/* ======================== */ 
/* FINE CAROUSEL HOME PAGE  */
/* ======================== */