/*

CSS relativo a:
mobile-banking.html -> Le nostre app - mobile banking                                                 
mobile-trading.html -> Le nostre app - mobile trading    

*/


.mobile-banking .main_hero {height:488px; background: #1d300c url("/wbresp/img/app/banking-hero.jpg?a=1") no-repeat left 0; background-size: cover; overflow:hidden; clear:both; float:none;}
.mobile-banking .main_hero h2 {margin: 64px 0 10px 47px; font-size:30px; font-family:"ralewaysemibold",arial, sans-serif; color: #fff; text-transform:uppercase; max-width:390px;}
.mobile-banking .main_hero ul {font-size:14px; text-transform:uppercase; margin:0 0 0 47px; text-indent: -9px; padding: 0 0 0 12px; list-style: none; color: #d3ff40; font-family:"ralewaysemibold",arial, sans-serif; width:240px;}
.mobile-banking .main_hero ul li {margin-bottom: 4px;}
.mobile-banking .main_hero ul li:before {content: "\2022   "; color: #fff; /* or whatever color you prefer */}

/* Nuova mini hero 22/01/2018 */
.mobile-banking .main_hero.app {background: #1d300c url("/wbresp/img/app/mini_hero_app.jpg") no-repeat left 0;padding:30px;background-size:cover;}
.mobile-banking .main_hero.app h2 {color:#d3ff40;text-shadow: 0 2px 1px rgba(0,0,0,0.9);margin:30px 0 20px;max-width:40%;}
.mobile-banking .main_hero.app ul {list-style-type:none;margin:0;padding:0;width:auto;max-width:60%}
.mobile-banking .main_hero.app ul li {list-style-type: none;color: #fff; width:100%;text-transform: none;background: transparent url(/wbresp/img/carousel/flag.png) no-repeat 0 3px;margin: 0 none;font-size: 18px;text-indent: 0;padding: 0 0 10px 31px;}
.mobile-banking .main_hero.app ul li:before {content:"";}
@media (max-width:768px) {
	.mobile-banking .main_hero.app {height:400px;}
	.mobile-banking .main_hero.app h2 {margin-top:0px;font-size:25px;max-width:100%;}
	.mobile-banking .main_hero.app ul {max-width:100%;padding:0;margin:0;}
	.mobile-banking .main_hero.app ul li {font-size: 18px;
    padding-left: 23px;
    line-height: 18px;
    background-size: 16px;}
}


.mobile-banking.container03 {overflow: hidden; background:#fff url("/wbresp/img/app/container_03_bg.jpg") no-repeat center 0; height:auto; margin-top:20px; clear:both; float: none; border-bottom:2px solid #e4f0be; padding-bottom:25px;}
.mobile-banking.container03 h4 {text-align: left; color:#cbcbcb; font-family:"ralewaysemibold",arial,sans-serif; text-transform:uppercase; font-size:20px; margin: 50px 45px 0px 0; letter-spacing:1px;}
.mobile-banking.container03 h3 {text-align: left; margin: 10px 45px 0 0; font-family:"ralewaybold",arial,sans-serif; font-size: 30px; color: #666;}
.mobile-banking.container03 p {color:#999999; margin: 10px 50px 0 0px; text-align:left; font-size:16px;}
.mobile-banking.container03 img.screen {margin: 50px 0 0 0;}
.mobile-banking.container03 .feat {min-height:140px; margin-bottom: 10px;}
.mobile-banking.container03 .feat p {padding: 0 0 0 110px; font-size: 14px; color: #999;}
.mobile-banking.container03 .feat p b {font-size: 16px; color: #666; font-family:"ralewaysemibold",arial,sans-serif; font-weight:normal;}
.mobile-banking.container03 .feat1 {background: transparent url("/wbresp/img/app/feat1.png") no-repeat 0 0;}
.mobile-banking.container03 .feat2 {background: transparent url("/wbresp/img/app/feat2.png") no-repeat 0 0;}
.mobile-banking.container03 .feat3 {background: transparent url("/wbresp/img/app/feat3.png") no-repeat 0 0;}
.mobile-banking.container03 .feat4 {background: transparent url("/wbresp/img/app/feat4.png") no-repeat 0 0;}
.mobile-banking.container03 .feat-investimenti {background: transparent url("/wbresp/img/app/feat_investimenti.png") no-repeat 0 0;}

.mobile-banking.container05 {overflow: hidden; background:#fff; margin-top:20px; clear:both; float: none; border-bottom:2px solid #e4f0be; padding-bottom:20px;}
.mobile-banking.container05 h4 {margin:10px 0 20px 0; font-size:18px; text-align: center; color:#cbcbcb; font-family:"ralewaysemibold",arial,sans-serif; text-transform:uppercase;letter-spacing:1px;}
.mobile-banking.container05 .box {margin-bottom:10px;}
.mobile-banking.container05 .box1 {background: transparent url("/wbresp/img/app/container_05_icon_1.png") no-repeat 0 0;}
.mobile-banking.container05 .box2 {background: transparent url("/wbresp/img/app/container_05_icon_2.png") no-repeat 0 0;}
.mobile-banking.container05 .box3 {background: transparent url("/wbresp/img/app/container_05_icon_3.png") no-repeat 0 0;}
.mobile-banking.container05 .box4 {background: transparent url("/wbresp/img/app/container_05_icon_4.png") no-repeat 0 0;}
.mobile-banking.container05 .box5 {background: transparent url("/wbresp/img/app/container_05_icon_5.png") no-repeat 0 0;}
.mobile-banking.container05 .box6 {background: transparent url("/wbresp/img/app/container_05_icon_6.png") no-repeat 0 0;}
.mobile-banking.container05 .box7 {background: transparent url("/wbresp/img/app/container_05_icon_7.png") no-repeat 0 0;}
.mobile-banking.container05 .box8 {background: transparent url("/wbresp/img/app/container_05_icon_8.png") no-repeat 0 0;}
.mobile-banking.container05 .box9 {background: transparent url("/wbresp/img/app/container_05_icon_9.png") no-repeat 0 0;}
.mobile-banking.container05 .box10 {background: transparent url("/wbresp/img/app/container_05_icon_10.png") no-repeat 0 0;}
.mobile-banking.container05 .box11 {background: transparent url("/wbresp/img/app/container_05_icon_11.png") no-repeat 0 0;}
.mobile-banking.container05 h6 {font-family:"ralewaybold",arial,sans-serif; color: #666666; font-size: 15px; text-transform:uppercase; letter-spacing:1px; margin:0px 0 10px 0; padding: 15px 0 0 50px;}
.mobile-banking.container05 p {font-size: 14px; margin: 0 0 4px 0; padding: 0 0 0 57px;}
.mobile-banking.container05 ul {margin:0; text-indent: -9px; padding: 0 0 0 57px; list-style: none;}
.mobile-banking.container05 ul li {font-size: 14px; margin-bottom: 4px;}
.mobile-banking.container05 ul li:before {content: "\2022   "; color: #aed03c; /* or whatever color you prefer */}

.mobile-banking.container08 {overflow: hidden; background:#fff; margin-top:20px; clear:both; float: none; border-bottom:2px solid #e4f0be; padding-bottom:20px;}
.mobile-banking.container08 h4 {margin:10px 0 20px 0; font-size:18px; text-align: center; color:#cbcbcb; font-family:"ralewaysemibold",arial,sans-serif; text-transform:uppercase;letter-spacing:1px;}
.mobile-banking.container08 .box {margin-bottom:10px;}
.mobile-banking.container08 h6 {font-family:"ralewaybold",arial,sans-serif; color: #666666; font-size: 15px; text-transform:uppercase; letter-spacing:1px; margin:0px 0 10px 0; padding: 15px 0 0 50px;}
.mobile-banking.container08 p {font-size: 14px; margin: 0 0 4px 0; padding: 0 0 0 57px;}
.mobile-banking.container08 ul {margin:0; text-indent: -9px; padding: 0 0 0 57px; list-style: none;}
.mobile-banking.container08 ul li {font-size: 14px; margin-bottom: 4px;}
.mobile-banking.container08 ul li:before {content: "\2022   "; color: #aed03c; /* or whatever color you prefer */}
.mobile-banking.container08 .box {margin-bottom:10px;}
.mobile-banking.container08 .box1 {background: transparent url("/wbresp/img/app/container_08_icon_1.png") no-repeat 0 0;}
.mobile-banking.container08 .box2 {background: transparent url("/wbresp/img/app/container_08_icon_2.png") no-repeat 0 0;}
.mobile-banking.container08 .box3 {background: transparent url("/wbresp/img/app/container_08_icon_3.png") no-repeat 0 0;}
.mobile-banking.container08 .box4 {background: transparent url("/wbresp/img/app/container_08_icon_4.png") no-repeat 0 0;}
.mobile-banking.container08 .box5 {background: transparent url("/wbresp/img/app/container_08_icon_5.png") no-repeat 0 0;}
.mobile-banking.container08 .box6 {background: transparent url("/wbresp/img/app/container_08_icon_6.png") no-repeat 0 0;}
.mobile-banking.container08 .boxDaily{background: transparent url("/wbresp/img/app/container_08_icon_daily.png") no-repeat 0 0;}
.mobile-banking.container08 .box-investimenti {background: transparent url("/wbresp/img/app/container_08_icon_investimenti.png") no-repeat 0 0;}
.mobile-banking.container08 .box-finanziamenti {background: transparent url("/wbresp/img/app/container_08_icon_finanziamenti.png") no-repeat 0 0;}

.mobile-banking.container09 {overflow: hidden; background:#fff url("/wbresp/img/app/container_08_bg.jpg") no-repeat 0 0; margin-top:20px; clear:both; float: none; padding-bottom:40px;}
.mobile-banking.container09 h4 {margin:10px 0 20px 0; font-size:18px; text-align: center; color:#cbcbcb; font-family:"ralewaysemibold",arial,sans-serif; text-transform:uppercase;letter-spacing:1px;}
.mobile-banking.container09 h3 {text-align: center; margin: 10px 0 0 0 ; font-family:"ralewaybold",arial,sans-serif; font-size: 30px; line-height:36px; color: #666666;}
.mobile-banking.container09 img {margin:0 auto; display:block;}

.mobile-trading .main_hero {height:488px; background: #1d300c url("/wbresp/img/app/trading-hero.jpg") no-repeat left 0; background-size: cover; overflow:hidden; clear:both; float:none;}
.mobile-trading .main_hero h2 {max-width:450px; margin:31px 0 32px 47px;}
.mobile-trading .main_hero p {font-size: 15px; color: #fff; margin: 0px 0px 10px 47px; line-height:22px; text-transform:uppercase; font-family:"ralewaysemibold",arial,sans-serif; max-width:290px;}
.mobile-trading .main_hero p.teaser1 {color: #d3ff40;}
.mobile-trading.container03 h4 {text-align:center;}
.mobile-trading.container03 h3 {text-align:center;}
.mobile-trading.container03 img.screen {display:block; margin:20px auto 10px auto;}
.mobile-trading.container03 p.introapp {text-align:center; }
.mobile-trading.container03 .feat1 {background: transparent url("/wbresp/img/app/feat1_trading.png") no-repeat 0 0;}
.mobile-trading.container03 .feat2 {background: transparent url("/wbresp/img/app/feat2_trading.png") no-repeat 0 0;}
.mobile-trading.container03 .feat3 {background: transparent url("/wbresp/img/app/feat3_trading.png") no-repeat 0 0;}
.mobile-trading.container03 .feat4 {background: transparent url("/wbresp/img/app/feat4_trading.png") no-repeat 0 0;}
.mobile-trading.container09 img {margin:20px auto; display:block;}
.mobile-trading .outroapp {text-align:center; font-family:"ralewaysemibold",arial,sans-serif; font-weight:bold; color:#999999;}
.mobile-trading.container05 .box1 {background: transparent url("/wbresp/img/app/trading_icon_1.png") no-repeat 0 0;}
.mobile-trading.container05 .box2 {background: transparent url("/wbresp/img/app/trading_icon_2.png") no-repeat 0 0;}
.mobile-trading.container05 .box3 {background: transparent url("/wbresp/img/app/trading_icon_3.png") no-repeat 0 0;}
.mobile-trading.container05 .box4 {background: transparent url("/wbresp/img/app/trading_icon_4.png") no-repeat 0 0;}
.mobile-trading.container05 .box5 {background: transparent url("/wbresp/img/app/trading_icon_5.png") no-repeat 0 0;}
.mobile-trading.container05 .box6 {background: transparent url("/wbresp/img/app/trading_icon_6.png") no-repeat 0 0;}
.mobile-trading.container05 .box7 {background: transparent url("/wbresp/img/app/trading_icon_7.png") no-repeat 0 0;}
.mobile-trading.container08 .box1 {background: transparent url("/wbresp/img/app/trading_icon_8.png") no-repeat 0 0;}
.mobile-trading.container08 .box2 {background: transparent url("/wbresp/img/app/trading_icon_9.png") no-repeat 0 0;}
.mobile-trading.container08 .box3 {background: transparent url("/wbresp/img/app/trading_icon_10.png") no-repeat 0 0;}
.mobile-trading.container08 .box4 {background: transparent url("/wbresp/img/app/trading_icon_11.png") no-repeat 0 0;}
.mobile-trading.container08 .box5 {background: transparent url("/wbresp/img/app/trading_icon_12.png") no-repeat 0 0;}

/* Container video */
.mobile-banking.container10 {text-align:center;border-bottom:solid 2px #e4f0be;padding-bottom:20px;margin-top:20px}
.mobile-banking.container10 p {text-align:center; padding: 0 20px 20px;}
.mobile-banking.container10 h4 {margin:10px 0 20px 0; font-size:18px; text-align: center; color:#cbcbcb; font-family:"ralewaysemibold",arial,sans-serif; text-transform:uppercase;letter-spacing:1px;}
 .mobile-banking.container10 h3 {text-align: center;margin: 0 0 15px 0;font-family: "ralewaybold",arial,sans-serif;font-size: 30px;line-height: 36px;color: #666}


@media (max-width: 767px) {
    
  .mobile-banking .main_hero h2 {margin:30px 0 10px 10px;}
  .mobile-banking .main_hero ul {margin: 0 0 0 10px;}
  .mobile-banking .container09 img {width:80%;}
  .mobile-trading .main_hero p.teaser1 {margin-left:10px;}
  .mobile-trading .main_hero p.teaser2 {margin-left:10px;}
  .mobile-banking .main_hero h3, .mobile-banking .main_hero p {text-shadow: 0 0 4px rgba(0, 0, 0, 1);}
  .mobile-banking a.btn-windows  img{margin-top:1px;}    

}

@media (max-width: 480px) {
	.mobile-banking .main_hero {background-image: url(/wbresp/img/app/banking-hero_mobile.jpg); background-position: left bottom;}
}
