/* Overlayer bloccante */
.overlay {position:absolute;width:100%;height:100%;background:#transparent;}
.overlay.loading {background:#fff url(/wbresp/img/loading.gif) no-repeat center center;opacity:0.7;}
.overlay .bgol {position:absolute;width:100%;height:100%;background;background:#fff;opacity:0.7}
.overlay .cont {position:relative;margin-top:50%;margin-left:50%;} 

/* Blocchi loading */
#mutuiWrap {width:100%;min-height:300px;}
#mutuiWrap.loading {background:#fff url(/wbresp/img/loading.gif) no-repeat center center;}
#mutuiWrap.loading * {visibility:hidden;}

#mutuiWrap.detail .intro {display:none;}
#mutuiWrap.detail {padding-top:20px;}
 
#mutuiWrap .radio-inline .tooltip {width:300px;}

/* Generali */
#mCalcCons .form-group {margin-bottom:20px;}
#mutuiWrap input[type=radio] {outline:0;}

/* Wrapper */
#mutuiWrap .intro {padding:15px 15px 10px; text-align:center; color:#666;}
#mutuiWrap .intro h3 {text-transform:uppercase; font-family:"ralewaybold",arial, sans-serif; font-size:30px; text-transform:uppercase;color:#666;}
#mutuiWrap .intro h3 span {color: #a6cc28;}

/* STILI CALCOLATORE */
/* Tabs */ 
ul.mTabs{float:left;display:block;clear:left; width:100%;padding:0;margin:0;list-style-type:none;}
ul.mTabs li {height:44px;float:left;width:50%;border:solid 2px #a6cc28;border-radius:10px 10px 0 0;border-bottom:none;}
ul.mTabs li:first-child {border-right:none;}
ul.mTabs a {width:100%;float:left; text-align:center;border-bottom:solid 2px #a6cc28;color:#666;text-decoration:none;padding:10px 0; text-transform:uppercase;font-family:"ralewaybold",Arial,sans-serif;font-size:14px;;}
ul.mTabs a:first-child {border-right:0;}
ul.mTabs a.selected {border-bottom:none; color:#a6cc28;}
/* Fine tabs */

/* console */
#mCalcStatic {background:#fff;display:block;clear:both;width:100%;/* border: solid 2px #a6cc28; */ border-top:none; margin-top:-2px;padding:0}
#mCalcCons {border-bottom: solid 1px #dedede;float:left; display:block; width: 100%;padding:25px 15px 10px}
#mCalcCons label {font-weight:normal}

/* Wrapper per indentazione  */
.indentwrap {padding: 0; width:100%; float:left;}
.indentwrap hr {border-top:solid 1px #ccc; clear:both;margin-top:5px;}

/* Incona informativa con tooltip */
a.icoinfo {display:inline-block; margin:-7px 0 -6px 10px; width:25px;height:25px;background: transparent url(/wbresp/img/icon_info.png) no-repeat 0 0;}

/* Spinners */
#mCalcCons .spinnerblock {padding: 0 40px;width:100%;border:solid 1px #ccc;}
#mCalcCons .spinnerblock input {border:0;}
#mCalcCons #mValore,#mCalcCons #mImporto {text-align:center;left:0; font-size:21px;}
#mCalcCons .plusmin {width: 40px;font-size: 40px;margin-top: 8px;line-height: 22px; margin-right: -40px;float: right;font-weight: normal;text-align: center;text-decoration: none;border-left: solid 1px #ccc;background: url(/wbresp/img/icon_plus.png) no-repeat center center; text-indent:-1000px;overflow:hidden;}
#mCalcCons .plusmin.min {right:0;float:left;margin-left:-40px;border-left:0;border-right:solid 1px #ccc;background-image:url(/wbresp/img/icon_min.png);}

/* Bottoni */
#mutuiWrap a.btn-grlit, #mutuiWrap a.btn-whlit  {margin:20px 0 15px 0}
#mutuiWrap #mResults a.btn-whlit.btn-whlit-arrow {margin:0;}

/* Slider */
#mCalcCons .sliderBlock {padding: 0 40px;}
#mCalcCons .sliderBlock .plusmin {border:0 !important;}
#mCalcCons .sliderBlock .plusmin.disabled {opacity:0.4;}
#mCalcCons .sliderBlock .sliderel {width:100%;padding:0 3px}
#mCalcCons .sliderBlock .sliderel .slider.slider-horizontal {width:100%;}
#mCalcCons .sliderBlock .slider-handle {background: transparent url("/wbresp/img/mutui_cursore.png") no-repeat 0 0; width: 44px;height: 74px;text-align: center;line-height: 31px; font-size: 18px; margin-top: -57px; box-shadow: 0 0 0 0; border-radius: 0; margin-left: -22px;}
#mCalcCons .sliderBlock .slider-track {box-shadow:0 0 0 0;background-color:#dfdfdf; height:4px;border-radius:2px; margin-top:6px;}
#mCalcCons .sliderBlock .slider-selection {box-shadow:0 0 0 0;background:#a6cc28;border-radius:2px;}
#mCalcCons .sliderBlock .sliderrange {width:100%;}
#mCalcCons .sliderBlock .sliderrange span {width:50%;float:left;font-size:12px;}
#mCalcCons .sliderBlock .sliderrange .max {text-align:right;}
#mutuoButton {float:right;}

/* Risultati */
#mResults{float:left;clear:both;display:block; width:100%;position:relative; padding:0;}
#mCalcStatic .note {font-size:12px;display:block;color:#aaa;clear:both; padding: 10px 15px 15px}
#mResults .legalnote {font-size:12px;display:block;color:#aaa;clear:both; padding: 5px 0 5px}

/* Blocchetti mutui */
.mData {float:left;padding: 20px 15px 10px;border-bottom:solid 1px #dedede;width: 100%;}
.mData .btn-whlit {float:right;height:40px;margin:0px;margin-bottom:15px;line-height:38px; min-width:120px;}
.mData .title {font-size:21px;text-transform:uppercase;float:left;line-height:22px;padding-bottom:10px;font-family:'ralewaymedium',arial,serif;font-weight:normal;}
.mData .scheda {background: transparent url(/wbresp/img/icon_doc_small.png) no-repeat 0 0;
    font-size: 12px;
    float: left;
    display: block;
    margin: 0 15px 15px 0;
    padding: 0 0px 0 25px;
    min-height: 24px;
    height: auto;
    line-height: 26px;
    color: #666;
    text-decoration: none;}
.mData .scheda.hidden-xs {margin-bottom:10px; clear:both;}
.mData .mGauge {clear:left; float:left; width:100%;background:#dce7b5 url(/wbresp/img/mutuo_tiles.gif);height:40px;text-align:right;border-radius:8px;line-height:40px}
.mData .mGauge .rata {font-size:25px;padding: 0 10px; color: #333}
.mData .mGauge .rata .small {font-size:18px}
.mData .mGauge .rata .smaller {font-size:12px}
#selectDurata {font-size:18px}
.mData .mBlock {width:100%;float:left;padding:0 0 10px;}
.mData .mBlock .mButt {float:right;}

.mData .tassi {clear: left;display: block;color: #666;font-size: 12px;padding: 7px 0 15px 25px;position:relative;}
.mData .tassi .tassi-switch {width: 30px; height: 30px; left: 0; top: 10px; position: absolute;background: transparent url(/wbresp/img/ico_espandi_testo.png) no-repeat 0 0;cursor:pointer;}
.mData .tassi.opened .tassi-switch {background-image: url(/wbresp/img/ico_contrai_testo.png);}
.mData .tassi .testo-esteso {vertical-align:top; clear:both;display:block;padding-top:7px;}
.mData .tassi strong {font-size:14px;font-weight:bold;color:#333;font-family:'ralewaysemibold',arial,serif;}
.mData .tassi.detail {padding: 0 0 15px;}

/* Assicurazioni */
.mData span.assTitle {width:100%;clear:both; font-size:16px;float:left; font-family:'ralewaybold',arial,serif; margin-top:20px;}
.mData .assBlock {float:left;width:100%;padding: 10px 0 0}
.mData .assBlock a.check {float:none; display: table-cell; width:19px;height:19px;background: transparent url(/wbresp/img/mutuo_cb_off.gif) no-repeat left 3px;margin:0 5px 0 0}
.mData .assBlock a.check.selected {background: transparent url(/wbresp/img/mutuo_cb_on.gif) no-repeat left 3px}
.mData .assBlock a.check.default {background-position: 0 3px}
.mData .assBlock a.detail {display:block;float:left; width:22px;height:22px}
.mData .assBlock .title {float: none; display: table-cell; padding: 0 5px; margin: 0; line-height: 25px; vertical-align: top; font-size:16px;font-weight:400;text-transform:none;}
.mData .assBlock .payoff {clear: left; float: none; display: block; margin-top: 0; padding: 0 0 10px 25px;}
.mData .assBlock .icoinfo {float: none; display: table-cell; cursor:pointer;}

/* .mData .assBlock span.payoff {background: url("/img/mutui_payoff.gif") no-repeat scroll 0 0 transparent;color: #666666;display: block;float: left;font-size: 14px;height: 25px;line-height: 25px;margin-top: -2px;padding-left: 37px} */
.mData .goCons {width:100%;float:left;clear:both;}
/* Messaggio */
.mData .message {float:left;clear:left;width:100%;border:solid 2px #ccc;background:#f1f1f1;border-radius:10px;color:#999;padding:15px 0;margin: 0 0 10px}
.mData .message p {padding:0 10px;margin:0}
#mCalcStatic .mData .goCons a.mButt.left {margin-top:15px;width:130px}

/* Bottoniera per richiesta */
.mData .fleft {float:left;}
.mData .fright {float:right;}
.mData .goCons .btn-whlit {margin:31px 0 10px;}

/* HACK IE8*/
#mCalcCons .form-group{min-width:300px \9;}
#mCalcStatic .mData .btn-whlit.btn-whlit-arrow {min-width: 0 \9;}

#mResults .errore-generico {
    border-bottom: solid 1px #ddd;
    padding: 20px 15px 10px;
    margin-bottom: 20px;
}

/* Media queries smartphone portrait*/
@media (max-width: 1199px) {
    #mutuiWrap a.btn-grlit,#mutuiWrap a.btn-whlit  {margin: 40px 0 15px 0;}
}

@media (max-width: 767px) {
    #mCalcCons .form-group label{margin-top:5px;}
    #mutuiWrap .btn-grlit,#mutuiWrap .btn-whlit {width:100%;}
    #mutuiWrap a.btn-grlit , #mutuiWrap a.btn-whlit{margin: 15px 0 30px 0;}
}
