.chat{
                    width:360px; 
                    height:534px;
                    background: none repeat scroll 0 0 transparent;
                    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
                    color: #000000;
                    font-family: Tahoma,tahoma,Arial,Sans serif;
                    font-size: 11px;
                    text-align: left;
                    z-index: 9999;
                    border: 0px;
                    background-color: white;
                    position: absol;
                }
                
                div.intestazioneChat{
                    color: #8ab10b;
                    font-family: arial,serif;
                    font-size: 18px;
                    width: 100%; 
                    height: 26px;
                    background-color: white;
                    cursor: move;
                }
                
                label.intestazioneChat {
                    margin-left: 70px;
                }
                
                .chatheader{cursor: move;
                    height: 30px;
                    padding-top: 3px;
                }
         
                .chatheader-image{
                    margin-top: 5px;
                    float: left;
                    margin-left: 10px;
                    margin-right: 5px;
                }
                
                .chatheader-image-chat{
                    background-image: url(/wbresp/img/chat_symbol.png);
                    height: 22px;
                    width: 28px;
                    }
                
                .chatheader-button{
                    margin-top: 5px;
                    float: right;
                    margin-left: 10px;
                    margin-right: 15px;
                    cursor: pointer;
                }
                
                .chatheader-filler{float: left; width: 345px; height: 22px; float: left;}
                
                .chatheader-button-close{
                    background-image: url(/wscmn/fe/img/chat_close.png);
                    height: 14px;
                    width: 15px;
                    margin-top: 5px;
                }
                
                .chatheader-button-minimize{
                    background-image: url(/wscmn/fe/img/chat_minimize.png);
                    height: 2px;
                    width: 15px;
                    margin-top: 15px;
                }
                
                .chatheader-button-maximize{
                    background-image: url(/wscmn/fe/img/chat_maximize.png);
                    height: 13px;
                    width: 15px;
                    margin-top: 5px;
                }
                
                .chatheader-typing{
                    margin-top: 10px;
                    margin-left: 30px;
                    display: none;
                    float: left;
                }
                
                .chatheader-typing-img{
                    background: url(/wscmn/fe/img/matita_animazione.gif) no-repeat 0 0;
                    width: 20px;
                    height: 13px;
                    background-size: 20px 13px;
                }
                
                .iframe-chat{
                    position: absolute; 
                    width:100%; 
                    border: 0px;
                }
                
                .div-switch{
                    width: 280px;
                    height: 110px;
                    background: none repeat scroll 0 0 transparent;
                    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
                    color: #000000;
                    font-family: Tahoma,tahoma,Arial,Sans serif;
                    font-size: 11px;
                    text-align: left;
                    z-index: 9999;
                    border: 0px;
                    background-color: white;
                    position: relative;
                    padding: 10px;
                    display: none;
                }
                
                .div-switch-close{
                    background-image: url(/wscmn/fe/img/chat_close.png);
                    height: 14px;
                    width: 15px;
                }
                
                .div-switch-main{
                    padding-top: 15px;
                    height: 83px;
                    background-color: ghostwhite;
                    text-align: center;
                    font-size: 1.3em;
                    font-weight: bold;
                    color: #666;
                }
                
                .footer-switch{
                    background-color: rgb(138, 177, 11);
                    position: absolute;
                    width: 280px;
                    bottom: 10px;
                    height: 55px;
                }
                
                .btn-switch{
                    text-align: center;
                    font-size: 1.3em;
                    font-weight: bold;
                    border: 0;
                    border-top: 1px solid #96CA6D;
                    padding: 5px 10px 5px 10px;
                    margin-top: 10px;
                    margin-left: 25px;
                    margin-right: 10px;
                    border-top-color: transparent;
                    border-top-width: 1px;
                    color: #ffffff;
                    background-color: #a6cc28 !important;
                    border-top-left-radius: 25px !important;
                    border-top-right-radius: 25px !important;
                    border-bottom-right-radius: 25px !important;
                    border-bottom-left-radius: 25px !important;
                    height: 35px;
                    width: 100px;
                    line-height: 35px;
                    padding-top: 0px !important;
                    padding-bottom: 0px !important;
                    margin-bottom: 20px;
                    position: relative;
                    float: left;
                    cursor: pointer;
                }
                
                .sticky{
                    position: fixed;
                }