#vvc_widget_56b4551a502b7f57058b456c.vivocha_widget {right: 100px;bottom: 0px;width: 278px; z-index: 2147483646;}

#vvc_widget_56b4551a502b7f57058b456c.vivocha_widget *:focus {outline:none !important;}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container {
  position: fixed !important;
  right: -400px;
  top: -400px;
  text-align: left;
  width: 360px;
  font-family: Tahoma,tahoma,Arial,Sans serif;
  font-size: 11px;
  background: transparent 0px 0px;
  color: #000000;
  z-index: 2147483647;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container #vivocha_media_header{
	background:#fff;
	height:74px;
  margin:0; padding:0;
}


#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_closeButton,
#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_mycloseButton,
#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_mycloseButtonMin,
#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_resizeButton
{
  background: url('/wbresp/img/chat_close.png') no-repeat center center;
  height: 40px;
  width: 40px;
  margin: 0px;
  display: block;
  float: right;
  cursor: pointer;
}
#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_resizeButton {
  background-image: url('/wbresp/img/chat_minimize.png');
}

#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_resizeButton.vivocha_media_resizeButtonMax {
   background-image: url('/wbresp/img/chat_maximize.png');
}

#vvc_widget_56b4551a502b7f57058b456c span.window_title {
  font-family:ralewaysemibold,arial,serif; font-size:18px; color:#8ab10b; margin:40px 0 0 20px;float:left;
}


#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_closeButton {
  display: none;
}

/*
#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_resizeButton {
  background: url('https://webank.cloudando.com/pro/vvcws/img/chat_min.gif') no-repeat center center;
  margin-right: -8px;
}


#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_resizeButton:hover {
  background: url('https://webank.cloudando.com/pro/vvcws/img/chat_min_over.gif') no-repeat center center;
}

#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_resizeButton.vivocha_media_resizeButtonMin {
  background: url('https://webank.cloudando.com/pro/vvcws/img/chat_min.gif') no-repeat center center;
}

#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_resizeButton.vivocha_media_resizeButtonMin:hover {
  background: url('https://webank.cloudando.com/pro/vvcws/img/chat_min_over.gif') no-repeat center center;
}

#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_resizeButton.vivocha_media_resizeButtonMax {
  background: url('https://webank.cloudando.com/pro/vvcws/img/chat_max.gif') no-repeat center center;
}

#vvc_widget_56b4551a502b7f57058b456c span.vivocha_media_resizeButton.vivocha_media_resizeButtonMax:hover {
   background: url('https://webank.cloudando.com/pro/vvcws/img/chat_max_over.gif') no-repeat center center;
}

*/
/*
#vvc_widget_56b4551a502b7f57058b456c .vivocha_chatMessages_top,
#vvc_widget_56b4551a502b7f57058b456c .vivocha_chatMessages_bottom, 
#vvc_widget_56b4551a502b7f57058b456c .vivocha_chatMessages_top_dis, 
#vvc_widget_56b4551a502b7f57058b456c .vivocha_chatMessages_bottom_dis {
  background: url('https://webank.cloudando.com/pro/vvcws/img/box_chat_body_top.gif') no-repeat 0px 0px;
  width: 252px;
  height: 7px;
  float: left;
}

#vvc_widget_56b4551a502b7f57058b456c *html .vivocha_chatMessages_top, 
#vvc_widget_56b4551a502b7f57058b456c *html .vivocha_chatMessages_top_dis {
  background: url('https://webank.cloudando.com/pro/vvcws/img/box_chat_body_top.gif') no-repeat 0px 0px;
  overflow: hidden;
}


#vvc_widget_56b4551a502b7f57058b456c .vivocha_chatMessages_bottom {
  background: url('https://webank.cloudando.com/pro/vvcws/img/box_chat_body_bottom.gif') no-repeat 0px 0px;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_chatMessages_top_dis {
  background: url('https://webank.cloudando.com/pro/vvcws/img/box_chat_body_top_disabled.gif') no-repeat 0px 0px;
 }
 
#vvc_widget_56b4551a502b7f57058b456c .vivocha_chatMessages_bottom_dis {
  background: url('https://webank.cloudando.com/pro/vvcws/img/box_chat_body_bottom_disabled.gif') no-repeat 0px 0px;
 }
*/
/* Fine header */

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_agentWriting {
  display: none;  
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_agentWriting img{
  display: block;
  margin: 10px auto;
  position: relative;  
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_agentWriting .vivocha_writingDot {
  background: transparent url('/wbresp/img/chat_writing.gif') no-repeat;
  width: 8px;
  height: 8px;
  position: relative;
  float: left;
  margin: 5px;
  margin-top: 10px;
  opacity: .33;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_unread_container {
  width: auto;
  float: right;
  display: none;
  margin: 10px 0 4px;
  text-shadow: 1px 1px 1px #0e365d;
}
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_unread_container p{
  float: left;
  text-align: right;
  margin-left: 20px;
}
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_unreadCounter {
  display: none;
  float: right;
  position: relative;
  color: #FFFFFF;
  height: 18px;
  width: 18px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  text-shadow: 1px 1px 1px #0e365d;
}


#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container #vivocha_media_body {
  padding: 0; 
  margin:0;
  position: relative;
  background: #8ab10b;
  height: 460px;
}


#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container #vivocha_media_footer {
  background: #EBEBEB;
  display: block;
  height: 24px;
  font-style: italic;
  font-size: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  border: 1px solid #c2c2c2;
  border-top: none;
  border-bottom: none;
  color: #747474;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container #vivocha_media_footer img {
  margin-left: 3px;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container #vivocha_media_footer a,
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container #vivocha_media_footer a:hover,
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container #vivocha_media_footer a:visited {
  color: #747474;
  text-decoration: none;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_bodyComponent {
  display: none;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container #vivocha_media_bodyChat {
  display: block;
  overflow: auto;
  width: 100%;
  position: absolute;
  padding:0;
  margin:0;
}


#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_chatMessages {
  font-family:ralewaynormal,Arial,serif;
  background: #fff url(/wbresp/img/chat_bg.gif) repeat-x 0 top;
  font-size:13px;
  padding:0;
  margin:0;
  padding:10px 20px;
  height: 270px;
  overflow: auto;
  width:100%;
  margin:0;
  box-sizing:border-box;
} 

/*
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_chatAgent,
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_chatUser,
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_chatSys,
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_chatErr {
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  color: #black;
  display: block;  
  font-family: Tahoma,tahoma,Arial,Sans serif;
  margin-top: 12px;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_separator{
  padding-top: 6px;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_chatSys,
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_chatErr{
  font-weight: 700;
 }

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_chatErr {
  color: #ed1c24;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_chatSys {
  color: #454545;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .ombra{
  width: 94%;
  margin: 0 3% 5px;
  height: 15px;
  display: block;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_chatTextareaContainer_disabled {
   background:url("https://webank.cloudando.com/pro/vvcws/img/box_chat_body.gif") repeat-y scroll 0 0 transparent;
}


#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container #vivocha_media_body .vivocha_media_form .vivocha_media_chatTextareaContainer textarea#vivocha_media_chatTextarea {
  font-family:Tahoma,tahoma,Arial,Sans serif;
  font-size:11px;
  padding:0;
  border:0;
  margin: 0px;
  width: 238px;
  height: 53px;
  overflow:auto;
  background: transparent;
  text-align:left;
  resize: none;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_chatTextareaContainer textarea:disabled {
   background: transparent;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_media_chatButtonContainer .vivocha_media_chatButton:active{
  top: 1px;
}
*/

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container .vivocha_preview {
  display: none;
}

#vvc_widget_56b4551a502b7f57058b456c .hidden { display: none; }

#vivocha_media_body .vivocha_chatMessages_cont {
  padding-bottom:10px;
}
#vvc_widget_56b4551a502b7f57058b456c .vivocha_routePoint {
  padding: 10px;
  color:#666;
  font-weight: normal;
  font-family:ralewaymedium,Arial,serif;
  font-size:12px;
  line-height:16px;  
  display:block;
  margin-bottom:10px;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_chatMessages_bottom_writing {
  float:left;width:100%;
  height:30px;background:#eee;
}

#vvc_widget_56b4551a502b7f57058b456c #vivocha_media_body .vivocha_chatWriting {
  position: relative;
  width: 16px;
  height: 10px;
  top: 6px;
  left: 12px;
  display: none;
  margin:0 10px
}

#vvc_widget_56b4551a502b7f57058b456c #vivocha_chat_minimized .vivocha_chatWriting {
  position: relative;
  width: 16px;
  height: 10px;
  top: 32px;
  left: 50px;
  display: none;
}

#vvc_widget_56b4551a502b7f57058b456c .space {
  display:none;
  height:5px;
  float:left;
  width:190px;
  overflow:hidden;
}

/* fix form form size */
#vvc_widget_56b4551a502b7f57058b456c form[name="vivocha_media_form"]{
  box-sizing: border-box;
  display:block;
  padding:20px;
  width:100%;
  float:left;
}

/*
 #vvc_widget_56b4551a502b7f57058b456c #vivocha_chatFooter {
   background: url('https://webank.cloudando.com/pro/vvcws/img/box_chat_bottom.png') no-repeat 0 0;
   width: 280px;
   height: 12px;
   float:left;
}
*/

/* BOTTONE INVIO */
#vvc_widget_56b4551a502b7f57058b456c .vivocha_chatSendBtn, 
#vvc_widget_56b4551a502b7f57058b456c .vivocha_chatSendBtn_dis {
  text-align: left;
  margin: 0;
  float: left;
  width: 100%;
  background-color: #8ab10b;
  /* padding-bottom: 2px; */
  overflow: hidden;
  padding: 10px 0;
  height: auto;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_chatSendBtn input {
  float:right;width:100px;height:50px;padding:0 20px; line-height:50px;font-family:"ralewaysemibold",arial,serif; 
  color:#fff; background-color:#a6cc28; text-transform:uppercase; font-size:16px; border-radius:25px;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_chatSendBtn.vivocha_chat_SendBtn_dis input.vivocha_media_chatButton { /*opacity: 0.3; cursor: default !important*/}

#vivocha_chatHiddenWrapper {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  visibility: hidden;
  width: 100% !important;
  height: 100% !important;
  z-index: -10000000;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_widget_submitButtonContainer.vivocha_chatSendBtn .vivocha_button {
  float:right;width:100px;height:50px;padding:0 20px; line-height:50px;font-family:"ralewaysemibold",arial,serif; 
 color:#fff; background-color:#a6cc28; text-transform:uppercase; font-size:16px; border-radius:25px; margin-right:20px;
 text-align:center;
}


#vvc_widget_56b4551a502b7f57058b456c #vivocha_chat_minimized {
  position: fixed !important;
  left: 100px;
  top: 0px;
  text-align: left;
  width: 170px;
  font-family: Tahoma,tahoma,Arial,Sans serif;
  font-size: 11px;
  background: #fff url(/wbresp/img/chat_symbol.png) no-repeat 15px 10px;
  box-shadow:0 2px 10px 0 rgba(0,0,0,0.5);
  border-radius:25px;
  color: #000000;
  z-index: 2147483647;
  display: none;
}

.vvc_min_blink {
 opacity:0.6;
}

.vvc_max_blink {
   opacity:1;
}

#vvc_widget_56b4551a502b7f57058b456c #vivocha_chatQuestionario,
#vvc_widget_56b4551a502b7f57058b456c #vivocha_chatBye {
  font-family:ralewaynormal,Arial,serif;
  background: #fff url(/wbresp/img/chat_bg.gif) repeat-x 0 top;
  font-size:13px;
  padding:0;
  margin:0;
  padding:10px 0 0;
  min-height: 270px;
  overflow: auto;
  width:100%;
  margin:0;
  box-sizing:border-box;
  display:none;
}


#vvc_widget_56b4551a502b7f57058b456c #vivocha_chatQuestionario .vivocha_chatBodyMessage,
#vvc_widget_56b4551a502b7f57058b456c #vivocha_chatBye .vivocha_chatBodyMessage
 {
  padding: 0 10px;
}

#vvc_widget_56b4551a502b7f57058b456c #vivocha_chatBye .vivocha_chatBodyMessage
{
}

#vvc_widget_56b4551a502b7f57058b456c #vivocha_media_body {
}

#vvc_widget_56b4551a502b7f57058b456c .inputRow {
  width: 100%;
  float: left;
  clear: both;
  font-family: ralewaymedium;
  box-sizing: border-box;
  font-weight: normal;
  background: #ecf6d3;
  padding: 7px 5px;
  border-radius: 20px;
  margin: 0 0px 5px;
  border: solid 1px #dce7b5;
}
#vvc_widget_56b4551a502b7f57058b456c #vivocha_chatQuestionario form {padding:0 10px 20px;margin:0;float:left;width:100%;}
#vvc_widget_56b4551a502b7f57058b456c .inputRow label {font-weight:normal;}
#vvc_widget_56b4551a502b7f57058b456c .inputRow label input {margin-right:5px; float:left;}
#vvc_widget_56b4551a502b7f57058b456c .inputRow.norisp {background:#eee;border:solid 1px #ddd;}

/*
#vvc_widget_56b4551a502b7f57058b456c .inputRow.buona {
   background: url('https://webank.cloudando.com/pro/vvcws/img/input_buona.gif') no-repeat 0 0;
   color:#eeeeee;
}

#vvc_widget_56b4551a502b7f57058b456c .inputRow.ottima {
   background: url('https://webank.cloudando.com/pro/vvcws/img/input_ottima.gif') no-repeat 0 0;
   color:#eeeeee;
}

#vvc_widget_56b4551a502b7f57058b456c .inputRow.sufficiente {
   background: url('https://webank.cloudando.com/pro/vvcws/img/input_sufficiente.gif') no-repeat 0 0;
   color:#eeeeee;
}

#vvc_widget_56b4551a502b7f57058b456c .inputRow.insufficiente {
   background: url('https://webank.cloudando.com/pro/vvcws/img/input_insufficiente.gif') no-repeat 0 0;
   color:#eeeeee;
}

#vvc_widget_56b4551a502b7f57058b456c .inputRow.norisp {
   background: url('https://webank.cloudando.com/pro/vvcws/img/input_norisp.gif') no-repeat 0 0;
   color:#eeeeee;
}
*/

#vivocha_media_chatTextarea {width:100%;color:#999;font-size:14px;height:55px; background-color:#fff;border:0; resize: none; }
.vivocha_media_chatTextareaContainer_disabled #vivocha_media_chatTextarea {opacity:0.3;}

#vvc_widget_56b4551a502b7f57058b456c .inputRow input {
   margin: -1px 0 2px 6px;
   padding:0;
   width:15px;
   height:15px;
   cursor: pointer;

}

#vvc_widget_56b4551a502b7f57058b456c .inputRow label {
  font-weight: normal;
  margin-bottom: 0;
  padding: 5px 0 0;
}

#vvc_widget_56b4551a502b7f57058b456c  #vivocha_chatQuestionario .vivocha_chatBodyMessage p,
#vvc_widget_56b4551a502b7f57058b456c  #vivocha_chatBye .vivocha_chatBodyMessage p
{
  padding-left: 12px;
  padding-bottom: 4px;
  margin: 2px 0 2px 0;
  text-align: left;
  line-height: 13px;
  font-size: 13px;
  font-family: "ralewaymedium",Arial,sans-serif;
  color: #666;
}

#vvc_widget_56b4551a502b7f57058b456c  #vivocha_chatBye .vivocha_chatBodyMessage p
{
  padding: 10px;
  color: #666;
  font-weight: normal;
  font-family: "ralewaymedium",Arial,sans-serif;
  font-size: 13px;
  line-height: 16px;
  display: block;
  margin-bottom: 10px;
  text-align:center;
}

#vvc_widget_56b4551a502b7f57058b456c  #vivocha_chatQuestionario .vivocha_chatBodyMessage p
{
  padding-bottom: 8px;
}

#vvc_widget_56b4551a502b7f57058b456c #vivocha_media_body input {
  border: 0px;
  cursor: pointer;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_chiudi {
  text-decoration: underline;
  color: #6f8f0a;
  padding:5px 0 0 0;
  font-size: 11px;
  height: 21px;
  cursor: pointer;
}

/*
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_container {
  right: 0px;
  top: 0px;
}
#vvc_widget_56b4551a502b7f57058b456c #vivocha_media_body { display: block; }
#vvc_widget_56b4551a502b7f57058b456c #vivocha_chatBye { display: none; }
#vvc_widget_56b4551a502b7f57058b456c #vivocha_chatQuestionario { display: none; }
#vvc_widget_56b4551a502b7f57058b456c #bye { display: block !important; }
#vvc_widget_56b4551a502b7f57058b456c #onlypublic { display: none !important; }
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_chatWaiting {display: block;}
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_chatMessages_container {display: block;}
*/

/* Conversazione */
#vvc_widget_56b4551a502b7f57058b456c #vivocha_media_chatMessages_container>span {box-sizing:border-box;overflow-x:hidden;
  float:left;width:100%; padding:10px !important; margin:5px 0 5px;font-family: ralewaymedium,Arial,Serif; font-size:12px !important;background:#ecf6d3;line-height:14px;border-radius:10px;
}
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_chatNick{color:#333;font-family:ralewaybold,Arial,Serif;
}


#vvc_widget_56b4551a502b7f57058b456c #vivocha_media_chatMessages_container .vivocha_media_chatUser {background:transparent; padding: 5px 10px !important;}
#vvc_widget_56b4551a502b7f57058b456c #vivocha_media_chatMessages_container span span {color:#666;}

/* Conversazione trascorsa */
#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_chatMessages>span {
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 10px !important;
  margin: 5px 0 5px;
  font-family: ralewaymedium,Arial,Serif;
  font-size: 12px !important;
  background: #ecf6d3;
  line-height: 14px;
  border-radius: 10px;
  overflow-x:hidden;
}

#vvc_widget_56b4551a502b7f57058b456c .vivocha_media_chatMessages .vivocha_media_chatUser {
  background:transparent; padding: 5px 10px !important;
}