<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
















<html lang="it" xmlns="http://www.w3.org/1999/xhtml">
<head>






<meta charset="utf-8">

<meta name="language" content="it"> 
<meta http-equiv="x-ua-compatible" content="ie=edge">


	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
	<meta name="HandheldFriendly" content="True" /> 	
	<meta name="MobileOptimized" content="320" /> 		
	<meta http-equiv="cleartype" content="on"> 			


<meta name="description" content="YouWeb - Banco BPM">	
<meta name="format-detection" content="telephone=no">		



<meta name="apple-mobile-web-app-title" content="YouWeb"> 
<link rel="apple-touch-icon" href="/HT/IMAGES/favicon/apple-touch-icon.png">		                          
<link rel="apple-touch-icon" sizes="76x76"   href="/HT/IMAGES/favicon/apple-touch-icon-76.png" />    
<link rel="apple-touch-icon" sizes="120x120" href="/HT/IMAGES/favicon/apple-touch-icon-120.png" />   
<link rel="apple-touch-icon" sizes="152x152" href="/HT/IMAGES/favicon/apple-touch-icon-152.png" />   
<link rel="apple-touch-icon" sizes="167x167" href="/HT/IMAGES/favicon/apple-touch-icon-167.png" />   
<link rel="apple-touch-icon" sizes="180x180" href="/HT/IMAGES/favicon/apple-touch-icon-180.png" />   

<link rel="shortcut icon" href='/HT/IMAGES/favicon.ico' type="image/x-icon" />
<link rel="icon" sizes="128x128" href="/HT/IMAGES/favicon/touch-icon-128.png" type="image/png" />  
<link rel="icon" sizes="192x192" href="/HT/IMAGES/favicon/touch-icon-192.png" type="image/png" />  

<meta name="application-name" content="YouWeb" />               
<meta name="msapplication-TileColor" content="#003B79" />		
<meta name="msapplication-square150x150logo" content="/HT/IMAGES/favicon/touch-icon-150.png" />  
<meta name="msapplication-square310x310logo" content="/HT/IMAGES/favicon/touch-icon-310.png" />  
<meta name="msapplication-square70x70logo" content="/HT/IMAGES/favicon/touch-icon-70.png" />     













<link media="screen, print" rel="stylesheet" type="text/css" href="/HT/fe/css/bootstrap.min.css"  />
<link media="screen, print" rel="stylesheet" type="text/css" href="/HT/fe/css/bootstrap.height.plugin.css" />

	<link media="screen" rel="stylesheet" type="text/css" href="/HT/fe/css/ie10-viewport.css"  />

<link media="screen" rel="stylesheet" type="text/css" href="/HT/fe/css/youWeb-main.css?v=161229"  />
 

	<link media="screen and (max-width: 991px)" rel="stylesheet" type="text/css" href="/HT/fe/css/youWeb-xs-mobile-struttura.css?v=161229" />
	<link media="screen and (min-width: 992px)" rel="stylesheet" type="text/css" href="/HT/fe/css/youWeb-sm-desktop-struttura.css?v=161229" />
	<link media="screen and (max-width: 544px)" rel="stylesheet" type="text/css" href="/HT/fe/css/youWeb-xxs-mobile.css?v=161229" />
	<link media="screen and (max-width: 991px)" rel="stylesheet" type="text/css" href="/HT/fe/css/youWeb-xs-mobile.css?v=161229" />
	<link media="screen and (min-width: 992px)" rel="stylesheet" type="text/css" href="/HT/fe/css/youWeb-sm-desktop.css?v=161229" />




<!--CSS AGGIUNTO PER STILIZZARE SITO COME INDICAZIONI UI -->
	<link media="print" rel="stylesheet" type="text/css" href="/HT/fe/css/print.css"  />
	
<!--[if IE 8]>
<link media="screen,print" rel="stylesheet" type="text/css" href="/HT/fe/css/ie8.css" />
<![endif]-->


	<link media="print" rel="stylesheet" type="text/css" href="/HT/fe/css/print.css" />
	
	<link media="screen" rel="stylesheet" type="text/css" href="/HT/fe/css/jquery.cookiebar.css" />











	
		<title>YouWeb full</title>
	
	

</head>

<body id="bgBodyPublic">
	<span id="video"></span>
	<div id="outerwrapper" class="outerWrapperPubblic">
	<span id="header"></span>
		<div id="main">
			<div class="wrapper" id="mainContentPub">
				<!-- CONTENITORE PRINCIPALE -->
				<div>
					<div class="contentLogin">
						









<div class="row">
	<div class="col-sm-5 col-sm-push-7">

		<form class="form-horizontal" id="frmLogin" name="frmLogin" action="/WEBHB/j_security_check" method="post"	target="_top">
			<div class="riquadro clearfix">
				
				
				 
		 		
				<noscript>
					







<div class="messagePanel error show" role="alert">
	<h3 class="titleSection">Attenzione</h3>
	<div>
		<strong>Javascript disabilitato!
		</strong> <br />
		Per accedere e visualizzare correttamente il sito è necessario abilitare i controlli JavaScript nelle impostazioni del browser.
	</div>
</div>
				</noscript>
				
				
				
				
				 
					
						
						
						
						
								
								
							
							
						
								
						
						
						
						
						
					
					
				 
				
				<div class="row bgLoginForm">
					<div class="col-sm-12 hidden-xs">
						<p>
							
								
									<a href="https://youwebcertificatopprod.bancopopolare.it/" onclick="createCookieAccess()">Accesso Easy</a>
								
								
							
						</p>
					</div>
					
				<div class="col-sm-12">
					<div class="form-field-input">
						
							
							
								<label class="control-label hidden-error">
									Codice Identificativo
										<a href="#!" data-toggle="popover"  data-trigger="click" data-placement="bottom" data-content='<p>Il codice identificativo è un dato non modificabile riportato sul &ldquo;Foglio codici&rdquo;.<br/><br/><strong>Per i clienti ex BPM Banking il Codice Identificativo corrisponde alla User ID utilizzato su BPM Banking.</strong><br/><br/>&Eacute; sempre possibile recuperare il Codice Identificativo utilizzando la procedura &ldquo;RECUPERA CODICI&rdquo; accessibile dal men&uacute in alto.<br/><br/>Per qualsiasi necessit&agrave; non esitare a contattare l&quot;Assistenza Clienti</p>' class="publicHelp">
										</a>
								</label>
										
						
						<div class="form-field">
							<input id="utente" class="form-control" name="j_username" type="text" value="" size="25" maxlength="50" autocomplete="off" placeholder="Codice Identificativo" tabindex="1" autofocus/>
						</div>	
					</div>
				</div>	

				<div class="col-sm-12">
					<div class="form-field-input">
					
						
							<label class="control-label hidden-error">
								PIN <span>(Ex BPM Banking: <a href="#!" id="passwordLabel" class="tooltipPwd">PASSWORD</a>)</span>
									<a href="#!" data-toggle="popover"  data-trigger="focus" data-placement="bottom" data-content='<p>Il PIN &eacute; strettamente personale ed &eacute; parzialmente riportato sul &ldquo;Foglio codici&rdquo; rilasciato in fase di sottoscrizione del servizio. Il codice PIN &eacute; modificabile all&rsquo;interno della tua area riservata (dopo la fase di login) nella sezione &ldquo;Il mio profilo&rdquo;.<br/><br/> <strong>Per i clienti ex BPM Banking il PIN corrisponde alla Password utilizzata su BPM Banking.</strong><br/><br/> Verifica di non aver attivo il Blocco Maiuscole.<br/><br/> &Eacute; sempre possibile recuperare il PIN utilizzando la procedura &ldquo;RECUPERA CODICI&rdquo; accessibile dal me&uacute; in alto. <br/><br/>Per qualsiasi necessit&aacute; non esitare a contattare l&rsquo;Assistenza Clienti</p>' class="publicHelp">
							 		 </a>
							</label>
						 
						<div class="form-field">
							<input id="password" class="form-control" name="j_password" type="password" value="" size="25" maxlength="50" autocomplete="off" tabindex="2" placeholder="PIN "/>
							 
						</div>	
					</div>
					<div style="display:none">
									<input type="hidden" id="loginKey" name="loginKey" value="uw8dn2h30pH76du1" />
									<input type="hidden" id="device"  name="device"/>	
					</div>
				</div>

				
				<div class="col-sm-12">
					<input type="submit" value="Accedi" class="btn btn-primary btnLogin" alt="Accedi" />
				</div>
					
				</div>
			</div>
		</form>
	</div>
	    <div class="col-sm-7 col-sm-pull-5 loginTxt">
  		<div class="logoLogin"></div>
  		<div class="textLogin"> 
  		
  		<h3>Benvenuto nel servizio di internet banking di Banco BPM.</h3><p>Per accedere inserisci: <ul style=padding-left:15px><li>il codice identificativo (User ID) composto da 7 cifre <strong>(compresi gli zeri iniziali ad es. 0012345)</strong></li><li>il Pin (Password).<br/>Presta attenzione all&rsquo;utilizzo del carattere maiuscolo e minuscolo.</li></ul></p><p>Sei un cliente ex BPM Banking?<br> <strong><a href="primoAccesso.do"><u>Leggi le istruzioni primo accesso</u></a></strong></p><p><a href=AccessoEasyInfo.do><u>Scopri l&rsquo;accesso in modalit&aacute; &laquo;Easy&raquo;</u></a></p>

		

  		</div>
    </div>
	
</div>






<div id="helpDialog" class="modal fade bs-example-modal-lg helpDialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header clearfix">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
			
		</div>
    </div>
  </div>
</div>

					</div>
				</div>
			</div>
		</div>

		<!-- FOOTER -->
		<span id="footer"></span>
		
	</div>
	
	

<script type="text/javascript" language="javascript" src="/HT/JS/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" language="javascript" src="/HT/JS/jquery/jquery-migrate-1.0.0.min.js"></script>
<script type="text/javascript" language="javascript" src="/HT/JS/jquery/bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="/HT/JS/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" language="javascript" src="/HT/JS/jquery/jquery.ui.touch-punch.min.js"></script>

	<script type="text/javascript" language="javascript" src="/HT/JS/script/ie10-viewport.js"></script> 

<script type="text/javascript" language="javascript" src="/HT/JS/script/jsapi.js"></script>


<script type="text/javascript" language="javascript" src="/HT/JS/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/HT/JS/jquery/jquery.dataTables.dateIT.js"></script>
<script type="text/javascript" language="javascript" src="/HT/JS/jquery/jquery.dataTables.altImg.js"></script>
<script type="text/javascript" language="javascript" src="/HT/JS/jquery/jquery.dataTables.formattedNum.js"></script>
<script type="text/javascript" language="javascript" src="/HT/JS/jquery/jquery.dataTables.natural.js"></script>


<script type="text/javascript" language="javascript" src="/HT/JS/jquery/jquery.form.js"></script>





<script type="text/javascript" language="javascript" src="/HT/JS/js.cookie.js"></script>
<script type="text/javascript" language="javascript" src="/HT/fe/js/script/funzioniYW.js?v=161229"></script>

<script type="text/javascript" language="javascript" src="/HT/fe/js/script/struttura.js"></script>


<script>


$(document).ready(function(e) {
	var resizeTimer;
	var servVal = '';
	$(window).resize(function () {
		if ( servVal != isMobile() && location.href.search('login') ==-1) {
			clearTimeout(resizeTimer);
			resizeTimer = setTimeout(function() {
				
				$.post(getPathContext()+'/common/refreshBreakpoint.do', { device: getBreakpoint()}, function(response, status) { 
					servVal = isMobile();
				});
			}, 500);
		}
	});
});
</script>

<script type="text/javascript">
function getPathImages() { return "/HT/IMAGES/";}
function getPathImagesFe() { return "/HT/fe/img/";}
function getPathContext() {	return "/WEBHB";}
function getKBanca() {	return "";}
function getLineaTol() {	return "";}
</script>

	
	
<script type="text/javascript">
function getPathImages() { return "/HT/IMAGES/";}
function getPathImagesFe() { return "/HT/fe/img/";}
function getPathContext() {	return "/WEBHB";}
function getKBanca() {	return "";}
function getLineaTol() {	return "";}
</script>

	<script src="/HT/fe/js/script/cookieNG.js"></script>
	<!-- ESEMPIO DI SCRIPT PER IL POPOVER-->
	<script>
		$(document).ready(function() {
			$('[data-toggle="popover"]').popover({ 
				html : true
				});
		});
	</script>

	<!-- JS gestione errori campi di input  -->
	<!--ESEMPIO DI CORREZIONE ERRORI INSERIMENTO TOKEN CON LA LIBRERIA JQUERY VALIDATOR -->
	<script type="text/javascript" language="javascript" src="/HT/JS/jquery/jquery.validate.min.js"></script>
	<script>
		$(function() {
			$.validator.addMethod("userCheck", function (value, element) {
        		var b = true;
        		if ($.isNumeric(value) && value.length < 7) {
        			b = false;
        		} 
        		return b; 
    		}, 'Il Codice identificativo deve essere di 7 cifre');
			
			
			$("#frmLogin").validate(
					{
						rules : {
							j_password : { //vengono stabilite le regole per ogni campo da controllare
								required : true
							//controlla che il campo non sia vuoto
							},
							j_username : { //vengono stabilite le regole per ogni campo da controllare
								required : true,
								userCheck: true
							//controlla che il campo non sia vuoto
							}

						},
						highlight : function(element) {
							$(element).closest(".form-field-input").addClass(
									"has-error");
						},
						unhighlight : function(element) {

							$(element).closest(".form-field-input")
									.removeClass("has-error");
						},

					})
			//tipo di messaggio se campo è vuoto
			$.validator.messages.required = 'Codice identificativo o Pin errati';

		});
	</script>
	
	<script type="text/javascript" language="JavaScript">
					<!--
					if (navigator.cookieEnabled == false) {
						document.write('<div class="box-esito messagePanel error" style="display:block"><h3 class="titleSection">Attenzione</h3><p><strong>Per accedere al sito è necessario che il browser utilizzato accetti i cookie.</strong></p></div>');
					} //-->
					/* $(document).ready(function () {
						if(false) {
							if('' == 'ERRORE_GENERICO_BLOCCO') {
								$('#errore-dati-blocco').css("display", "block");
								$('#errore-dati-text').css("display", "none");
							} else {
								$('#errore-dati-text').css("display", "block");
								$('#errore-dati-blocco').css("display", "none");
							}
							$(".form-field-input").addClass('has-error');
							$(".hidden-error").css("display", "none");
							$(".error-code, #password-error").css("display", "block");
							$(".error-code a").css("color", "#f16875!important");
						} else {
							$(".error-code, #password-error, #errore-dati-text, #errore-dati-blocco").css("display", "none");
						}
					}); */
					
					
				</script>

	<script type="text/javascript">
		var cookieName = 'userAccess';
		var crtAccess = 'https://youwebcertificatopprod.bancopopolare.it/';
		var cookieAccess = Cookies.get(cookieName);
		window.reloadPage = function() {
			if (cookieAccess != null && cookieAccess != undefined
					&& crtAccess != "") {
				window.location.href = crtAccess;
			}

		}
		removeCookieAccess = function() {
			Cookies.remove(cookieName, {
				domain : getDomainCookie(),
				path : '/',
				secure : false,
			});
		}
		createCookieAccess = function() {
			Cookies.set(cookieName, 'CRT', {
				domain : getDomainCookie(),
				expires : 1200,
				path : '/',
				secure : false,
			});
		}
		
		
		reloadPage();
		
		
		
		$(function(){
			setCookieNG();
		});
	</script>
	
	<script type="text/javascript" language="JavaScript">
		$(window).resize(function() {
			$('#device').attr('value', getBreakpoint());
			if (isMobile()) {
				document.title = "YouWeb";
				$("#loginFrame").removeClass("row-eq-height");
	
		}

		}).resize();
	</script>
	<script type="text/javascript">
		$(function() {
			//$.get("contentLeft.html", function(data) {$("#contentLeft").replaceWith(data);});
			$.get("/HT/fe/video.html", function(data) {$("#video").replaceWith(data);});
			
 			$.get("/HT/fe/header.html", function(data) {
				$("#header").replaceWith(data);
				$.getScript( "/HT/fe/js/script/struttura.js" );
				$("#menuMainMobileWrapper ul li").each(function() {
					$(this).removeClass("active");
					if ($(this).attr("data-id") == 'hp') {
						$(this).addClass("active");
					}
				});
				
			});
			$.get("/HT/fe/footer.html", function(data) {$("#footer").replaceWith(data);});
		});
	</script>
	<script>
	$(function(){
		$('#passwordLabel').popover( {
						trigger: 'focus',
						template: '<div class="credenzialiPopOver popover"><div class="arrow"></div><div class="popover-content"></div></div>',
						html: true,
						content: 'Se sei un cliente ex BPM Banking, inserisci la tua attuale <strong>PASSWORD</strong> nel campo <strong>PIN</strong><br><img src="/HT/fe/img/login_password.png">',
						placement:'top'
					}
				);
		})
	</script>

</body>
</html>