<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front no-close ui-draggable" tabindex="-1" role="dialog" aria-describedby="dialog-confirm" aria-labelledby="ui-id-1" style="height: auto; width: 350px; top: 351px; left: 456.5px; display: block; z-index: 101;"><div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle"><span id="ui-id-1" class="ui-dialog-title">&nbsp;</span><button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">Close</span></button></div><div id="dialog-confirm" style="width: auto; min-height: 0px; max-height: none; height: 149px;" class="ui-dialog-content ui-widget-content">
<div class="ui-dialog-content bs-example form-horizontal margin-top20">
<div class="form-group col-xs-12">
<div class="form-field-resume clearfix">
<p id="message-confirm">Hai dichiarato di essere <b>utente non professionale</b>.</p>
<br>
<p>Confermi la scelta?</p>
</div>
</div>
</div>
<div style="border-top: 1px solid #B0B0B0; padding: 8px 5;">
<div class="pull-right margin-top10 margin-right10"><input class="btn" onclick="dialogConfirmNo()" type="button" value="Annulla"> <input class="btn" onclick="dialogConfirmYes()" type="button" value="Conferma"></div>
</div>
</div></div>