<div id="dialogAbiCab" class="ui-dialog-content ui-widget-content clearfix" style="max-height: none; width: auto; min-height: 119px; height: auto;">
	<div id="gridBody">
		<div class="contentFull">
			<div class="riquadro">
				<style>
				.imgSrv{
					float: none;
				}
				</style>
				<h1><div class="hidden-print hidden-xxs flag info">&nbsp;</div>
					<span>COSA SONO I FONDI PIR</span>
	 			</h1>
	 			<p>I <strong>Fondi PIR</strong> sono &laquo; <strong>investimenti qualificati&raquo; conformi alla disciplina PIR</strong>  come  definita dalla &laquo;Legge di Bilancio 2017&raquo;. Il rispetto del vincolo normativo di <strong>composizione di portafoglio</strong> viene garantito dal Regolamento del Fondo e sono le <strong>Case di Gestione</strong> a fare da sostituto d'imposta e a gestire le <strong>agevolazioni fiscali per i sottoscrittori.</strong></p>
	 			<p>Per usufruire dell'<strong>azzeramento delle imposte sul capital gain e delle imposte di successione</strong> &egrave; importante rispettare i seguenti vincoli:</p>
	 			<ul class="padding-left15">
					<li>investimento <strong>massimo 30.000 &euro; all'anno (*)</strong> per un totale di <strong>150.000 &euro; in 5 anni;</strong></li>
					<li>un PIR deve essere mantenuto in portafoglio per <strong>almeno 5 anni solari;</strong></li>
					<li>ogni persona fisica pu&ograve; avere solo un PIR, e questo non pu&ograve; essere cointestato <strong>(1 codice fiscale > 1 PIR).</strong></li>
					<li>I PIR sono inoltre riservati alle singole persone fisiche residenti fiscalmente in Italia.</li>
				</ul>
				<p>I PIR sono inoltre riservati alle singole persone fisiche residenti fiscalmente in Italia.</p>
				<p>(*) L'eventuale rimborso entro l'anno comporta la perdita delle agevolazioni fiscali ma consente all'investitore di effettuare altre sottoscrizioni, purch&eacute;sia rispettato il limite dei 30.000 &euro;.<br>
				Esempio: un cliente ha sottoscritto 30.000  &euro; il 01/04/2017 e successivamente ne disinveste 10.000  &euro;, entro il 31/12/2017 potr&agrave; eseguire altre sottoscrizioni per un massimo di 10.000  &euro;.
</p>
	 			<div>
	 				<input type="button" name="" value="Chiudi" onclick="javascript:CloseHelp();" class="btn pull-right" alt="Chiudi">
	 			</div>
	 		</div>
		</div>
	</div>
</div>