<div id="gridBody">
	<div class="contentFull">
		<div class="riquadro clearfix costi-commissioni">
			<h1>TEMPI, COSTI E COMMISSIONI</h1>
			<section>
				<h3 class="titleSection">Diritti Fissi</h2>
				<div class="wrapper-overCont">
					<div class="row">
						<div class="col-xs-6">Sottoscrizione PIN:</div>
						<div class="col-xs-6 oRight">12,50 &euro;</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Rimborso:</div>
						<div class="col-xs-6 oRight">12,50 &euro;</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Prima sottoscrizione PAC::</div>
						<div class="col-xs-6 oRight">10,00 &euro;</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Rate successive:</div>
						<div class="col-xs-6 oRight">1,00 &euro;</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Switch:</div>
						<div class="col-xs-6 oRight">Zero</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Stacco cedola:</div>
						<div class="col-xs-6 oRight">1,50 &euro;</div>
					</div>
				</div>
			</section>
			<section>
				<h3 class="titleSection">Tempi</h2>
				 <script>
				  $( function() {
				    $( "#accordion" ).accordion({
				      collapsible: true,
				      animated: 'slide',
				      heightStyle: "content"
				    });
				  } );
				  </script>
					<div id="accordion">
  						<h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" ole="tab" id="ui-id-1" aria-controls="ui-id-1" aria-selected="true" aria-expanded="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Acquisto</a></h3>
						<div>
							  <div class="tempi">
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>Oggi</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Inserito</strong></div>
											<ul>
												<li>data valuta</li>
												<li>calcolo valore quota/NAV</li>
											</ul>
										</div>
									</div>
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>+2GG</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Inviato</strong></div>
											<ul>
												<li>Lorem ipsum</li>
												<li>Dolor sit amet consectetur</li>
											</ul>
										</div>
									</div>
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>+5gg</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Eseguito</strong></div>
											<ul>
												<li>Lorem ipsum</li>
												<li>Dolor sit amet consectetur</li>
											</ul>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, impedit.</p>
										</div>
									</div>
							   </div>
						</div>
						<h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" ole="tab" id="ui-id-2" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Vendita</a></h3>
						<div>
							  <div class="tempi">
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>Oggi</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Inserito</strong></div>
											<ul>
												<li>data valuta</li>
												<li>calcolo valore quota/NAV</li>
											</ul>
										</div>
									</div>
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>+2GG</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Inviato</strong></div>
											<ul>
												<li>Lorem ipsum</li>
												<li>Dolor sit amet consectetur</li>
											</ul>
										</div>
									</div>
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>+5gg</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Eseguito</strong></div>
											<ul>
												<li>Lorem ipsum</li>
												<li>Dolor sit amet consectetur</li>
											</ul>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, impedit.</p>
										</div>
									</div>
							   </div>
						</div>
						<h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" ole="tab" id="ui-id-3" aria-controls="ui-id-3" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Switch cambio classe</a></h3>
						<div>
							  <div class="tempi">
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>Oggi</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Inserito</strong></div>
											<ul>
												<li>data valuta</li>
												<li>calcolo valore quota/NAV</li>
											</ul>
										</div>
									</div>
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>+2GG</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Inviato</strong></div>
											<ul>
												<li>Lorem ipsum</li>
												<li>Dolor sit amet consectetur</li>
											</ul>
										</div>
									</div>
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>+4GG</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Lorem</strong></div>
											<ul>
												<li>Lorem ipsum</li>
												<li>Dolor sit amet consectetur</li>
											</ul>
										</div>
									</div>
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>+5gg</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Eseguito</strong></div>
											<ul>
												<li>Lorem ipsum</li>
												<li>Dolor sit amet consectetur</li>
											</ul>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, impedit.</p>
										</div>
									</div>
							   </div>
						</div>
						<h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" ole="tab" id="ui-id-4" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Switch cambio comparto</a></h3>
						<div>
							  <div class="tempi">
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>Oggi</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Inserito</strong></div>
											<ul>
												<li>data valuta</li>
												<li>calcolo valore quota/NAV</li>
											</ul>
										</div>
									</div>
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>+2GG</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Inviato</strong></div>
											<ul>
												<li>Lorem ipsum</li>
												<li>Dolor sit amet consectetur</li>
											</ul>
										</div>
									</div>
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>+4GG</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Lorem</strong></div>
											<ul>
												<li>Lorem ipsum</li>
												<li>Dolor sit amet consectetur</li>
											</ul>
										</div>
									</div>
									<div class="tempo">
										<div class="milestone"><span class="dot"></span>+5gg</div>
										<div class="contenuto">
											<div class="titolo">Stato ordine: <strong>Eseguito</strong></div>
											<ul>
												<li>Lorem ipsum</li>
												<li>Dolor sit amet consectetur</li>
											</ul>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, impedit.</p>
										</div>
									</div>
							   </div>
						</div>
 					</div>
 					<ul>
 						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </li>
 						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </li>
 						<li><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</strong> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </li>
 					</ul>

 					<script>
				  $( function() {
				    $( "#accordion2" ).accordion({
				      collapsible: true,
				      animated: 'slide',
				      heightStyle: "content",
				      active: false
			
				    });
				  } );
				  </script>
					<div id="accordion2">
  						<h3 class="ui-accordion-header ui-state-default ui-state-pl-min ui-corner-all ui-accordion-icons" ole="tab" id="ui-id-1" aria-controls="ui-id-1" aria-selected="false" aria-expanded="false" tabindex="0"><span class="plus-min"></span><a href="#">TEMPI ANIMA TRAGUARDO II 2016</a></h3>
						<div>
							 <div class="wrapper-overCont">
								  <div class="row">
								  	<div class="col-sm-4">Nav</div>
								  	<div class="col-sm-8">Valorizzazione settimanale(ogni venerd&igrave; lavorativo di borsa aperta)</div>
								  </div>
								   <div class="row">
								  	<div class="col-sm-4">Data scadenza</div>
								  	<div class="col-sm-8"><p>30 giugno 2017 (in luogo di 31 ottobre 2016)</p><p>Switch automatico nel fondo anima</p></div>
								  </div>
							</div>
						</div>
						<h3 class="ui-accordion-header ui-state-default ui-state-pl-min ui-corner-all ui-accordion-icons" ole="tab" id="ui-id-2" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="0"><span class="plus-min"></span><a href="#">TEMPI ANIMA TRAGUARDO II 2017 CEDOLA 4</a></h3>
						<div>
							 <div class="wrapper-overCont">
								  <div class="row">
								  	<div class="col-sm-4">Nav</div>
								  	<div class="col-sm-8">Valorizzazione settimanale(ogni venerd&igrave; lavorativo di borsa aperta)</div>
								  </div>
								   <div class="row">
								  	<div class="col-sm-4">Data scadenza</div>
								  	<div class="col-sm-8"><p>30 giugno 2017 (in luogo di 31 ottobre 2016)</p><p>Switch automatico nel fondo anima</p></div>
								  </div>
							</div>
						</div>
						<h3 class="ui-accordion-header ui-state-default ui-state-pl-min ui-corner-all ui-accordion-icons" ole="tab" id="ui-id-3" aria-controls="ui-id-3" aria-selected="false" aria-expanded="false" tabindex="0"><span class="plus-min"></span><a href="#">TEMPI ANIMA TRAGUARDO II 2017 CEDOLA 4 II</a></h3>
						<div>
							 <div class="wrapper-overCont">
								  <div class="row">
								  	<div class="col-sm-4">Nav</div>
								  	<div class="col-sm-8">Valorizzazione settimanale(ogni venerd&igrave; lavorativo di borsa aperta)</div>
								  </div>
								   <div class="row">
								  	<div class="col-sm-4">Data scadenza</div>
								  	<div class="col-sm-8"><p>30 giugno 2017 (in luogo di 31 ottobre 2016)</p><p>Switch automatico nel fondo anima</p></div>
								  </div>
							</div>
						</div>
 					</div>
			</section>
			<div class="pull-right margin-bottom20">
				<button onclick="CloseHelp()" class="btn btn-primary" type="button" title="chiudi">Chiudi</button>
			</div>
		</div>
	</div>
</div>