/* Css dei grafici */
.graph-space {
  height: 250px;
  width: 100%;
  display: block;
  /* Ciambella */
}
.graph-space.graph-space-donut {
  height: 250px;
  width: 250px;
  max-width: 100%;
  margin: 0 auto 13px;
  position: relative;
}
.graph-space.graph-space-donut .donut-title {
  display: flex;
  line-height: 22px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  left: 0;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #999;
}
.graph-space.graph-space-donut .donut-title .value {
  font-size: 22px;
  color: #333;
}

/* Classi per trasformare i dati visualizzati  */
.graph-space .amcharts-axis-label.selected {
  font-weight: bold;
  fill: #097562;
}

.graph-space .amcharts-graph-column.previsione {
  opacity: 0.2;
}

/* Colori per i grafici */
.bgcolor-entrate {
  background-color: #2f9988;
}

.bgcolor-uscite {
  background-color: #c84757;
}

/* Legenda grafici */
.legenda-voice {
  position: relative;
  width: auto;
  max-width: 100%;
  padding-left: 28px;
}
.legenda-voice .legenda-dot {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 2px;
}
.legenda-voice.big .legenda-dot {
  top: 4px;
}
.legenda-voice.big .legenda-label {
  font-size: 18px;
}

/* Grandezze "dedicate" */
.graph-total span.total {
  font-weight: bold;
  font-size: 18px;
  display: block;
}
.graph-total span.sub {
  font-size: 12px;
  clear: both;
  line-height: 16px;
  display: block;
  color: #737373;
}

/* Declinazioni grafico specifico */
/* Entrate e uscite */
.entrate #legUscite {
  opacity: 0.3;
}
.entrate .amcharts-graph-uscite {
  opacity: 0.5;
}

.uscite #legEntrate {
  opacity: 0.3;
}
.uscite .amcharts-graph-entrate {
  opacity: 0.5;
}

/* Fatturazione */
.graph-space.incassate .amcharts-graph-column:not([class*=-incassate]) {
  opacity: 0.3;
}
.graph-space.inscadenza .amcharts-graph-column:not([class*=-inscadenza]) {
  opacity: 0.3;
}
.graph-space.scadute .amcharts-graph-column:not([class*=-scadute]) {
  opacity: 0.3;
}

/* Navigatore con le frecce */
.graph-arrow-nav {
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
}
.graph-arrow-nav .arrow {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -31px;
  line-height: 35px;
  text-align: center;
}
.graph-arrow-nav .arrow .icon {
  margin: 0;
  float: none;
  font-size: 25px;
  top: auto;
  line-height: 30px;
}
.graph-arrow-nav .arrow.right {
  left: auto;
  right: 0;
}
.graph-arrow-nav .arrow.disabled {
  opacity: 0.3;
}

/* Bottoni con filtri dedicati al grafico */
.graph-filter-wrapper .btn {
  margin-left: 12px;
}

/* Mini switch per viste */
.graph-view-switch.checkbox.switch {
  margin: 30px 20px 0 0;
  padding-left: 0;
}
.graph-view-switch.checkbox.switch label {
  position: relative;
  padding-right: 50px;
  padding-left: 0;
  color: #737373;
}
.graph-view-switch.checkbox.switch label::before {
  position: absolute;
  right: 0;
  left: auto;
  margin-left: 0;
  padding: 0;
  height: 20px;
  width: 40px;
}
.graph-view-switch.checkbox.switch label::after {
  width: 16px;
  height: 16px;
  margin-left: 0;
  right: 0;
  margin-right: 2px;
  left: auto;
}
.graph-view-switch.checkbox.switch input[type=checkbox] {
  position: absolute;
}
.graph-view-switch.checkbox.switch input[type=checkbox]:checked + label::after {
  margin-right: 21px;
}

/*# sourceMappingURL=grafici.css.map */
