@font-face {
  font-family: 'icomoon';
  src:  url('../../fe/font/icomoon.eot?re3jm0');
  src:  url('../../fe/font/icomoon.eot?re3jm0#iefix') format('embedded-opentype'),
    url('../../fe/font/icomoon.ttf?re3jm0') format('truetype'),
    url('../../fe/font/icomoon.woff?re3jm0') format('woff'),
    url('../../fe/font/icomoon.svg?re3jm0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {display:inline-block; width:20px;height:20px;font-size:20px;}

/* INCOLLARE I FONT DA QUI IN AVANTI */
.icon-ico_dispositiva:before {
  content: "\e94d";
}
.icon-ico_mail:before {
  content: "\e94e";
}
.icon-ico_setting:before {
  content: "\e948";
}
.icon-ico_logout:before {
  content: "\e949";
}
.icon-ico_profilo:before {
  content: "\e94a";
}
.icon-icon_setting_utente:before {
  content: "\e94b";
}
.icon-ico_alert:before {
  content: "\e94c";
}
.icon-icona_alert_small:before {
  content: "\e946";
}
.icon-ico_profilo_small:before {
  content: "\e947";
}
.icon-mail_closed:before {
  content: "\e944";
}
.icon-mail_opened:before {
  content: "\e945";
}
.icon-ico_il_tuo_profilo:before {
  content: "\e943";
}
.icon-ico_bollo_auto:before {
  content: "\e934";
}
.icon-calendario_left:before {
  content: "\e935";
}
.icon-calendario_right:before {
  content: "\e936";
}
.icon-ico_domiciliazioni:before {
  content: "\e937";
}
.icon-grafico_portafoglio:before {
  content: "\e938";
}
.icon-ico_i_tuoi_vincoli:before {
  content: "\e939";
}
.icon-listato_portafoglio:before {
  content: "\e93a";
}
.icon-posta_dash:before {
  content: "\e93b";
}
.icon-riepilogo_conto_iban:before {
  content: "\e93c";
}
.icon-ico_saldo_a_data:before {
  content: "\e93d";
}
.icon-ico_svincola:before {
  content: "\e93e";
}
.icon-titoli_pref_down:before {
  content: "\e93f";
}
.icon-titoli_pref_equal:before {
  content: "\e940";
}
.icon-titoli_pref_up:before {
  content: "\e941";
}
.icon-ico_vincola_partite:before {
  content: "\e942";
}
.icon-aggiorna:before {
  content: "\e900";
}
.icon-ico_riepilogo_alert:before {
  content: "\e901";
}
.icon-ico_gestione_beneficiari:before {
  content: "\e902";
}
.icon-ico_bollettini_postali:before {
  content: "\e903";
}
.icon-ico_bonifico_sepa:before {
  content: "\e904";
}
.icon-ico_calendario:before {
  content: "\e905";
}
.icon-ico_carte:before {
  content: "\e906";
}
.icon-ico_carte_movimenti:before {
  content: "\e907";
}
.icon-ico_carte_pannello_controllo:before {
  content: "\e908";
}
.icon-ico_carte_cambio_pin:before {
  content: "\e909";
}
.icon-ico_carte_ricarica:before {
  content: "\e90a";
}
.icon-ico_carte_scarica:before {
  content: "\e90b";
}
.icon-ico_gestione_contatti:before {
  content: "\e90c";
}
.icon-ico_conti_depositi:before {
  content: "\e90d";
}
.icon-ico_conto:before {
  content: "\e90e";
}
.icon-documento:before {
  content: "\e90f";
}
.icon-ico_pagamento_f24:before {
  content: "\e910";
}
.icon-ico_finanziamenti:before {
  content: "\e911";
}
.icon-arrow_right:before {
  content: "\e912";
}
.icon-arrow_down:before {
  content: "\e913";
}
.icon-arrow_up:before {
  content: "\e914";
}
.icon-arrow_left:before {
  content: "\e915";
}
.icon-ico_coordinate_iban:before {
  content: "\e916";
}
.icon-ico_indici_mercati:before {
  content: "\e917";
}
.icon-ico_investimenti:before {
  content: "\e918";
}
.icon-logout:before {
  content: "\e919";
}
.icon-ico_bollettino_mav:before {
  content: "\e91a";
}
.icon-meno:before {
  content: "\e91b";
}
.icon-menu:before {
  content: "\e91c";
}
.icon-mostra:before {
  content: "\e91d";
}
.icon-ico_saldo_movimenti:before {
  content: "\e91e";
}
.icon-movimenti_42:before {
  content: "\e91f";
}
.icon-nascondi:before {
  content: "\e920";
}
.icon-ico_elenco_news:before {
  content: "\e921";
}
.icon-ico_gestione_patrimoniale:before {
  content: "\e922";
}
.icon-piu:before {
  content: "\e923";
}
.icon-ico_posta_arrivo:before {
  content: "\e924";
}
.icon-ico_archivio_posta:before {
  content: "\e925";
}
.icon-ico_rapporti_predefiniti:before {
  content: "\e926";
}
.icon-ico_bollettino_rav:before {
  content: "\e927";
}
.icon-ico_ricariche_cellulare:before {
  content: "\e928";
}
.icon-settings:before {
  content: "\e929";
}
.icon-ico_titoli:before {
  content: "\e92a";
}
.icon-ico_ordini_movimenti_titoli:before {
  content: "\e92b";
}
.icon-ico_titoli_dossier:before {
  content: "\e92c";
}
.icon-ico_portafoglio_simulato_titoli:before {
  content: "\e92d";
}
.icon-ico_trasferimento_tra_conti:before {
  content: "\e92e";
}
.icon-ico_ultime_disposizioni:before {
  content: "\e92f";
}
.icon-user:before {
  content: "\e930";
}
.icon-user_mobile:before {
  content: "\e931";
}
.icon-ico_youshop:before {
  content: "\e932";
}
.icon-ico_youwin:before {
  content: "\e933";
}
.icon-icona_alert:before {
  content: "\e946";
}
.icon-icona_profilo:before {
  content: "\e947";
}