@restyling-image-path: "../alten-anchise-images/";

@blank_pin_red: "@{restyling-image-path}blank_pin_red.png";
@blank_pin: "@{restyling-image-path}blank_pin.png";
@search_pin: "@{restyling-image-path}search_pin.png";

@sf_titolo: "@{restyling-image-path}sf_titolo.png";