<div #composizionePort>
    <h2>Portafoglio modello</h2>
    <div class="row">
        <div class="col-sm-8">
            <p>&Egrave; la soluzione guidata che <strong>ti supporta nella costruzione del tuo portafoglio</strong> in modo semplice e intuitivo:</p>
            <ul>
                <li><strong>scegli uno dei 5 Portafogli Modello</strong> (difensivo, prudente, moderato, attivo, dinamico);</li>
                <li><strong>seleziona uno o più Fondi e comparti di SICAV</strong> associati a ciascun portafoglio modello.</li>
            </ul>
            <p>I <strong>Portafogli Modello</strong> sono ripartiti <strong>per macro asset</strong> class (azionario, obbligazionario e monetario) e <strong>aree geografiche</strong> (Europa, USA, Giappone, Paesi emergenti, etc.) con livelli di rischio differenziati, sulla base di <strong>analisi quantitative e qualitative aggiornate mensilmente</strong> e in funzione dell’andamento dei mercati finanziari.
            </p>
        </div>
        <div class="col-sm-4">
            <box-link [backgroundBox]=true [textBox]="'Vuoi investire in più fondi?'" [linkBox]="'vai al portafoglio modello'" [gotoBox]="'#'"></box-link>
            <box-link [titleBox]="'Alert'" [textBox]="'Ricevi aggiornamenti email sulla Top selection'" [linkBox]="'attiva alert'" [gotoBox]="'#'"></box-link>
        </div>
    </div>
   
    <tabs>
        <tab *ngFor="let tab of pModelli;index as i" [tabTitle]="pModelli[i].description" [active]="pModelli[i].active">
            <!--sezione composizione portafoglio tabella e richiamo ad overlayer-->
            <pmodello-content [textIntro]="pModelli[i].pintro" [DataFromService]="pModelli[i].dataFromService" [headingsCol]="headingsColTablePm" [rowData]="rowsDataTablePm[i]" [cellClassName]="cellClassNameTablePm" (handleFondiSuggeriti)="handleFondiSuggeriti($event)" (handlecalcolaPerc)="handlecalcolaPerc($event)"></pmodello-content>
            <!--fine sezione composizione portafoglio tabella e overlayer-->
        </tab>
    </tabs>
  
    <!-- modale per i fondi suggeriti -->
    <div id="modaleFondiSuggeriti" class="modal fade" role="dialog" #modaleFondiSuggeriti>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" #closebuttonModal>×</button>
              <h1 class="modal-title">Fondi selezionati per l'asset class Liquidit&agrave; del portafoglio {{typePortafoglio}}.</h1>
            </div>
            <div class="modal-body">
               <div id="lef-cont" class="formGenerico" #modaleFondiSuggeritiContent>
                    <p>Questi sono i <strong>migliori tre</strong> fondi corrispondenti al profilo di investimento selezionato.<br>
                    Puoi <strong>aggiungerne uno</strong> al portafoglio o <strong>visualizzarne altri</strong> disponibili per questa categoria.</p>
                    <div *ngIf="isRenderingReady">
                        <simple-table [headingsCol]="headingsColTabellaSugg" [rowData]="rowDataTabellaSugg" [colsTemplate]="colsTemplateTabellaSugg" [cellClassName]="cellClassNameTabellaSugg" [rowClassName]="rowClassNameTabellaSugg"></simple-table> 
                    </div>
                     <ng-template #radiobtnCell let-data="data" let-i="id">
                         {{data.t}}
                        <label class="textWrapper">
                            <input [attr.checked]="data.value === t ? '' : null"  #radioFondo type="radio" name="" id="rb{{i+1}}"  name="idxfondo"  value="{{data.value}}" (click)="setBtnSalva($event,data.pdf,data.impMin)">
                            <span class="text">{{i+1}}</span>
                        </label>
                    </ng-template>
                    <ng-template #descCell let-data="data">
                        <span><a (click)="apriPdfFondo(data.pdf)" #descriptionSel id="name-{{data.value}}">{{data.description}}</a></span>
                    </ng-template>
                    <ng-template #impMinCell let-data="data">
                        <a *ngIf="data.warning==='y'" class="btn-icon"><i data-toggle="tooltip" data-title="L’importo minimo della prima sottoscrizione è superiore all’importo da investire per il fondo selezionato. Scegli un altro fondo per questa asset class o modifica l’importo da investire." class="icon icon-alert_outline no-rendering-position" title=""></i></a>
                        <span id="minp-{{data.value}}" #importoSel>{{data.impMin}} </span>
                    </ng-template>
                    <a (click)="toggleRow()">
                        <span *ngIf="this.onlySomeRow;else hideRow"><i class="icon icon-f-row_expand"></i> Vedi altri fondi</span>
                        <ng-template #hideRow><span><i class="icon icon-f-row_contract"></i> Nascondi</span></ng-template>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group btnWrapper">
                    <div class="btn-align-left">
                        <a type="button" class="btn btn-default" data-dismiss="modal">chiudi</a>
                    </div>
                    <div class="btn-align-right">
                        <a *ngIf="isRoleModifica" type="button" class='btn btn-primary'>Rimuovi</a>
                        <a type="button" [ngClass]="!isRadioChecked ? 'btn btn-disabled' : 'btn btn-primary' " id=""  ng-disabled="!isRadioChecked" (click)="salva(idaaSelected,idacSelected)">Salva</a>
                    </div>
                    <br class="clear">
                </div>
            </div>
          </div>
          </div>
    </div>
    <div #wrapperTooltip></div>
</div>
