/* Box linee vincolate */
#boxTabLineeVincolateWrap {
    width: 100%;
    overflow-x: hidden;
}

#boxTabLineeVincolate {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -10px;

    .offertaLV, .offertaVerdeLV, .offertaPromoLV {
        width: 150px;
        margin: 10px;
    }

    .offertaLV .infoLV {
        border-color: #B3B3B3;
        background: #FFFFFF;
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.08) 100%), -webkit-linear-gradient(rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.00) 50%);
        background: -o-linear-gradient(rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.08) 100%), -o-linear-gradient(rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.00) 50%);
        background: linear-gradient(rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.08) 100%), linear-gradient(rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.00) 50%);
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.50), 0 3px 3px 0 rgba(0, 0, 0, 0.10), inset 0 0 1px 0 rgba(0, 0, 0, 0.18);
        color: #000;
    }

    .offertaVerdeLV .infoLV {
        border-color: #6F8F0A;
        background: #DBE9AF;
        background: -webkit-linear-gradient(rgba(138, 177, 11, 0.38) 0%, rgba(138, 177, 11, 0.52) 100%), -webkit-linear-gradient(rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
        background: -o-linear-gradient(rgba(138, 177, 11, 0.38) 0%, rgba(138, 177, 11, 0.52) 100%), -o-linear-gradient(rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
        background: linear-gradient(rgba(138, 177, 11, 0.38) 0%, rgba(138, 177, 11, 0.52) 100%), linear-gradient(rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.50), 0 3px 3px 0 rgba(0, 0, 0, 0.10), inset 0 0 1px 0 rgba(0, 0, 0, 0.18);
        color: #000;
    }

    .offertaPromoLV .infoLV {
        border-color: #4a8a99;
        background-color: #6fb1c7;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.50), 0 3px 3px 0 rgba(0, 0, 0, 0.10), inset 0 0 1px 0 rgba(0, 0, 0, 0.18);
        color: #fff;
    }

    .infoLV {
        padding: 10px 10px 7px 10px;
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-radius: 2px 2px 0 0;
        text-align: center;
        letter-spacing: 0;
    }

    &.noBtn {
        margin-bottom: 30px;

        .infoLV {
            border-width: 1px;
        }

        .offertaPromoLV {
            .infoLV {
                .percentuale {
                    margin-bottom: 8px;
                }

                .guadagni {
                    line-height: 41px;
                }
            }
        }
    }

    .vincolaLV {
        height: 33px;
        line-height: 31px;
        border-radius: 0 0 2px 2px;
        text-align: center;
    }

    .vincolaLV .promoLV {
        line-height: 20px;
    }

    .vincolaLV .promoLV .icon {
        position: relative;
        top: 4px;
        font-size: 12px;
        color: #fff;
        text-shadow: 0 1px 1px #29507D;
    }

    .vincolaLV .btnLV {
        font-size: 16px;
        letter-spacing: 0;
        color: #FFFFFF;
        text-shadow: 0 3px 5px #000000;
    }

    .offertaLV .vincolaLV, .offertaVerdeLV .vincolaLV {
        border: 1px solid #3F3F3F;
        background: #383838;
        box-shadow: inset 0 -1px 3px 0 rgba(255, 255, 255, 0.60);
    }

    .offertaLV .vincolaLV:hover, .offertaVerdeLV .vincolaLV:hover {
        background: #515151;
        cursor: pointer;
    }

    .offertaPromoLV .vincolaLV {
        height: 53px;
        border: 1px solid #4a8a99;
        background: #4a8a99;
        box-shadow: inset 0 -1px 3px 0 rgba(255, 255, 255, 0.60);
    }

    .offertaPromoLV .vincolaLV:hover {
        background: #6da3b2;
        cursor: pointer;
    }

    .infoLV .vincolo {
        line-height: 20px;
        font-size: 13px;
    }

    .infoLV .vincolo span {
        font-weight: 700;
    }

    .infoLV .percentuale {
        line-height: 49px;
        font-size: 36px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.7);
        text-shadow: 0 0.5px 0 rgba(255, 255, 255, 0.12);
    }

    .offertaPromoLV .infoLV .percentuale {
        color: rgba(255, 255, 255, 0.9);
    }

    .infoLV .diff {
        margin-top: -3px;
        line-height: 16px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.7);
    }

    .infoLV .diff span {
        text-decoration: line-through;
    }

    .infoLV .tasso {
        line-height: 16px;
        font-size: 12px;
    }

    .infoLV .interessi {
        line-height: 19px;
        font-size: 14px;
    }

    .infoLV .guadagni {
        line-height: 41px;
        font-size: 20px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.7);
        text-shadow: 0 0.5px 0 rgba(255, 255, 255, 0.12);
    }

    .offertaPromoLV .infoLV .guadagni {
        color: rgba(255, 255, 255, 0.9);
        line-height: 21px;
        font-size: 18px;
    }

    .infoLV .sepLV1 {
        height: 0;
        margin: 8px 0 4px 0;
        border-top: 1px solid #ccc;
    }

    .infoLV .sepLV2 {
        height: 0;
        margin: 5px 0 2px 0;
        border-top: 1px solid #ccc;
    }

    .offertaVerdeLV .sepLV2 {
        border-top-color: #A1B65F;
    }

    .offertaPromoLV .sepLV1, .offertaPromoLV .sepLV2 {
        border-top-color: #7EA3CC;
    }
}

/* BOX HERO */
.box-hero {width:100%;display:inline-block; position:relative; background-color: #8ab10b;min-height:460px;clear:both;}
.box-hero .box-bg-dark {background-color:#2c2c2c;padding:20px 20px 20px 340px;}
.box-hero .box-bg-dark .hero-block {position:absolute;width:300px;left:20px;top:20;text-align:center}
.box-hero .box-bg-dark .hero {height: 360px; margin: 0px auto 25px; display:block;}
.box-hero .box-bg-dark .hero-promo-text {color:#fff}
.box-hero .box-bg-light {padding:20px 20px 20px 340px;display:block;clear:both;}
.box-hero .bullet-hero {padding:0 0 20px 80px; position:relative;min-height:60px;}
.box-hero .bullet-hero img {position:absolute;top:0;left:0;width:60px;}
.box-hero .bullet-text {padding:8px 0 5px 0; font-size:14px; display:inline-block}
.box-hero .bullet-text span.title {font-size:20px; font-weight:600;color:#8ab10b;}

/* Bottoni app */ 
.btn-app-console {text-align:left;}
.btn-app-console .btn-app {margin-right:10px; margin-bottom:10px;}
.btn-app {width:135px;height:40px;display:inline-block;background-size:cover !important;background: transparent none no-repeat center center; border:solid 1px #ddd; border-radius:7px}
.btn-appstore {background-image: url("/common/fe/img/bdg_applestore.png");}
.btn-googleplay {background-image: url("/common/fe/img/bdg_googleplay.png");}
.btn-appgallery {background-image: url("/common/fe/img/bdg_appgallery.png");}

@media (max-width:767px) {
    /* Hero smart */
    .btn-app-console {text-align:center;}
    .box-hero {min-height:auto !important}
    .box-bg-dark,.box-bg-light {padding-left:20px !important}
    .box-hero .box-bg-light {padding-top:90px}
    .box-hero .box-bg-dark .hero-block {width:100%;left:0;top:15px;}
    .box-hero .box-bg-dark {height:230px;padding:0 !important}
    .box-hero .box-bg-dark .hero {height:220px}
    .box-hero .box-bg-dark .hero-promo-text {display:none}
    .box-hero  .btn-app {width:125px;height:36px;margin-left:5px !important;}
}

/* Box con impaginazione automatica */
.auto-lr-boxes {position:relative;width:100%;display:inline-block;}
.auto-lr-boxes .lr-box {margin-bottom:40px;width:100%;display:flex}
.auto-lr-boxes .lr-box .box-image {width:300px; padding:0; flex-grow:0; flex-shrink:0; margin:0 20px; float:right;display:block; text-align: center}
.auto-lr-boxes .lr-box .box-description { flex: auto; float:left;display:block;}
.auto-lr-boxes .lr-box:nth-child(even) {
    flex-direction: row-reverse;
}
@media (max-width:767px) {
    .auto-lr-boxes .lr-box {display:inline-block}
    .auto-lr-boxes .lr-box .box-image {float:none !important;width:100% !important;padding:0 !important;margin:0 0 25px !important; clear:both;display:inline-block;}
    .auto-lr-boxes .lr-box .box-description {float:none !important;width:100%;}
}

/* Box con background "grigetto" e padding */
.light-bg {background:#eee;padding:15px;}

/* Smartphone wrapper per immagini ed animazioni */
.smartphone-wrapper {display:inline-block;width:190px;height:368px;position:relative}
.smartphone-wrapper img {width:172px;height: 290px;margin-top:40px;}
.smartphone-wrapper::before {content:"";width:100%;height:100%;display:block;position:absolute;background:transparent url(/common/fe/img/smartphone_wrapper.png) no-repeat center center;background-size:cover;}
.smartphone-wrapper.small {width:140px;height:270px}
.smartphone-wrapper.small img {width: 126px;height: 215px;margin-top: 28px;}
@media (max-width:767px) {
    .smartphone-wrapper {width:140px;height:270px}
    .smartphone-wrapper img {width: 126px;height: 215px;margin-top: 28px;}
}

/* BOX DI FEEDBACK NUOVA VERSIONE */
/* con filetto */
.box-feedback-bordered {
    border-left: solid 4px #ddd; 
    padding: 0 0 0 14px;
    margin-bottom:20px;
    &.success {
        border-color:#A8C630;  
    } 
    &.error {
        border-color:#ef5133;
    }
    &.alert {
        border-color: #F6CF00; 
    }
    div {
        padding-bottom:20px
    }
    p:last-child {
        margin-bottom:0
    }
}
/* senza filetto */
.box-feedback {
    margin-bottom:20px;
    &.success {
        h3, div p {
            color:#A8C630;
        } 
    }
    &.error {
        h3, div p {
            color:#ef5133;
        } 
    }
    &.alert {
        h3, div p {
            color: #F6CF00;
        } 
    }
    
    div {
        padding-bottom:20px
    }
    p:last-child {
        margin-bottom:0
    }
}

/* Pdf */
.pdf-container {
    &, iframe {
        height:300px;
        width:100%; 
        border:0 none;
    }
    iframe{
        border:solid 1px #cacaca;
    }
}

 /* Overlay documenti */
 .fhw-mobile-overlay{
    display:none;
    position:fixed;
    top:62px; 
    left:0px; 
    width:100%;
    height:calc(100% - 62px); 
    background-color:#fff;
    &-header {
        margin:10px; 
        position:relative;
        padding-right:40px;
        height: 30px;
        .closer {
            position:absolute; 
            right:0px; 
            top:5px; 
            width:30px; 
            height:30px; 
        }
    }
    &-content{
        margin: 0; 
        height:calc(100% - 110px); 
        width:100%;
        overflow:scroll;
        .pdf-container, .pdf-container iframe {
            height:100%;
        }
    }
    &-footer {
        margin:13px 15px 0; 
        height: 40px;
    }
}

@media only screen and (max-width: 770px) {
    .fhw-mobile-overlay{
        display:block;
    }
}
body.fhw-opened {overflow-y:hidden}

/*box di selezione per bonifici */
.box-type-wrapper {margin-bottom:40px;}
.box-type {
    height: 100%;position: relative;;border-radius: 5px;
    &.available:hover, &.selected { 
        box-shadow: 0px 0px 15px rgb(228 228 228);cursor:pointer;
        .box-type-footer { 
            background-color: @colorBank2;
        }
        .box-type-header {color: @colorBank2;} 
    }
    .box-type-body { padding:20px 16px 20px; min-height: calc(100% - 77px);border:1px solid #ebedee;border-radius: 0 0 5px;
        p{
            margin-bottom:0;
        }
    }
    &.not-available {
        .box-type-body {
            display: flex;justify-content: center;flex-direction: column;
            p{padding-top:18px}
        }
    }
    .box-type-header{border:1px solid #ebedee;border-radius: 5px 5px 0 0;height: 77px;
        div {padding:20px} 
        h3 {margin-bottom: 0;}  
    }
    .box-type-footer {height: 38px;line-height:38px;position:absolute;bottom: 0;left: 0;background: #a2a2a2;width: 100%;border-radius: 0 0 5px 5px;color:#fff;text-align: center;font-weight:bold}
    .field-space {margin-bottom:20px;}
}
 @media screen and (min-width: 768px) {
    .flex-desktop { 
        display: flex;
    }
   
} 
@media screen and (max-width: 768px) {
   
    .box-type {margin-bottom:15px}
} 

/* nuovo alert contestuale*/
.box-alert-inline {
    text-align: center;
    .box-alert-inline-text {
        text-transform: uppercase;
    }
    .box-alert-inline-esito {
        color:#edb54d;
        font-weight: bold;
    }
    &.warning {
        .box-alert-inline-esito .icon {
            margin-bottom: 20px;
            font-size: 25px;
            font-weight: normal;
            color:#edb54d;
        }
    }
}

/* Acceptance element*/
.accept-wrapper {
    position: relative; 
    margin: 3px 0 10px;
    .icon {
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 20px;
        height: 20px;
        color: #6f8f0a;
        cursor: pointer;
    }
    .text {
        padding-left: 30px;
        display: block;
    }
    &.accepted .text {
        font-weight: bold;
    }
}

i.css-square {
    height: 20px;
    width: 20px;
    border: 2px solid #6f8f0a;
    display: inline-block;
}
.has-error i.css-square {
    border-color: #f16875;
}