/* Colore dei testi personalizzato per banca */
@textColorBank: @colorBank1;
@textColorBank2: @colorBank2;
/*Colore tabelle evidenziate */
@colorTableEvident: @colorBank10;
@textColorBank3: #fff;

/* VARIABILI COLORE SPECIFICHE PER OGNI BANCA*/
/* Colore dei testi */
@textColor: #666;
@textColorDark: #171717;
@textColorValuePositivo: #00a651;
@textColorValueNegativo: #f00;
@textColorWhite: #fff;
@textColorDisabled: #ccc;
@textColorGrey: #999;
@textColorBlack: #000;
@textColorHightlight: #4A90E2;

/* Colore dei link */
@linkColor: @colorBank1;
@linkBgColorMobile: @colorBank2;

/* Colore dei bottoni */
@bgColorBtn: @colorBank2b;
@bgColorBtnGrey: #aaa;
@bgColorBtnDis: #dfdfdf;
@bgColorBtnOver: @colorBank3b;
@bgColorBtnGreyOver: #b5b5b5;
@borderColorBtn: @colorBank2;
@gradientBgColorFrom: @colorBank4;
@gradientBgColorTo: @colorBank2;

/* Colore delle tabelle */
@borderColorTab: #afafaf;
@borderColorCel: #c6c6c6;
@bgColorHeading: #f2f2f2;
@bgColorDispari: #fff;
@bgColorPari: #fbfbfb;
@bgColorEvident: @colorBank7;

/* Colore Pin2 */
@bgColorPinText: #555;
@bgColorPinForm: #363636;

/* Colore dei form*/
@borderColorForm: #ccc;
@borderColorSelettore: #e3e3e3;
@bgColorForm: #fff;
@bgColorDisabled: #dfdfdf;
@bgColorDisabled2: #f8f8f8;
@colorPlaceholder: #999;
@borderColorDisabled: #ddd;
@borderColorDisabled2: #e5e5e5;
@bckFocusInput: fade(@colorBank1, 40%);
@hoverColorSelettore: @colorBank9;
@bgColorSelettore: #fafafa;

/* Colore dei bottoni personalizzato per banca */
@gradientBgColorFrom: @colorBank4;
@gradientBgColorTo: @colorBank2;

/* Tab */
@borderColorFrontPageOn: @colorBank2;
@borderColorOn: #ccc;
@borderColorOff: #e9e9e9;
@backgroundColorOn: #FFF;
@backgroundColorOut: #FF0;

/* BOX GENERICI */
@bgColorTitleBox: #f6f6f6;
@borderColorBox: #ccc;

/* Colore del calendario*/
@borderSelected: @colorBank5;
@bckSelected: @colorBank6;

/*Colori profili commissionali */
@colorProAttivo: #8bb702;
@colorTabellaProfiloTh: #b3b3b3;
@colorTabellaCosto1: #a6cc3b;
@colorTabellaCosto2: #8ab10b;
@colorTabellaCosto3: #4d9e07;
@colorTabellaCosto4: #417c03;
@colorTabellaCosto5: #216302;
@colorTabellaCosto1Off: #8a995a;
@colorTabellaCosto2Off: #6a8514;
@colorTabellaCosto3Off: #496c23;
@colorTabellaCosto4Off: #385913;
@colorTabellaCosto5Off: #284507;

/*Colore numeri verde */
@colorTelefonoVerde: #217e31;

