@colorBank1: #6f8f0a;
@colorBank2: #8ab10b;
@colorBank3: #96c10c;
@colorBank2b: #8ab10b;
@colorBank3b: #96c10c;
@colorBank4: #a8c44e;
@colorBank5: #b6ca77;
@colorBank6: #c4d885;
@colorBank7: #dce7b5;
@colorBank8: #e3e3e3;
@colorBank9: #FAFFEB;
@colorBank10:#DBE9AF;
@progressColor: #333333;

/* Colori delle icone */
@iconColor1: #99cc66;
@iconColor2: #d4eabb;
