.glyph-arrow_trading_fill .path1:before {
    content: "\e94d";
    color: rgb(0, 0, 0);
}

.glyph-arrow_trading_fill .path2:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-arrow_trading_line .path1:before {
    content: "\e94f";
    color: rgb(255, 255, 255);
}

.glyph-arrow_trading_line .path2:before {
    content: "\e950";
    margin-left: -1.2275390625em;
    color: rgb(0, 0, 0);
}

.glyph-arrow_trading_line .path3:before {
    content: "\e951";
    margin-left: -1.2275390625em;
    color: rgb(0, 0, 0);
}

.glyph-down_arrow_table .path1:before {
    content: "\e94b";
    color: rgb(220, 232, 176);
}

.glyph-down_arrow_table .path2:before {
    content: "\e94c";
    margin-left: -1.7998046875em;
    color: rgb(198, 198, 198);
}

.glyph-recl_come .path1:before {
    content: "\e931";
    color: rgb(157, 205, 87);
}

.glyph-recl_come .path2:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_come .path3:before {
    content: "\e933";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-recl_come .path4:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_come .path5:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_quando .path1:before {
    content: "\e936";
    color: rgb(157, 205, 87);
}

.glyph-recl_quando .path2:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-recl_quando .path3:before {
    content: "\e938";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_quando .path4:before {
    content: "\e939";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_quando .path5:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_quando .path6:before {
    content: "\e93b";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_quando .path7:before {
    content: "\e93c";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_quando .path8:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_tempo .path1:before {
    content: "\e93e";
    color: rgb(157, 205, 87);
}

.glyph-recl_tempo .path2:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_tempo .path3:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_tempo .path4:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-recl_tempo .path5:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-recl_tempo .path6:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-recl_tempo .path7:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_tempo .path8:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-recl_tempo .path9:before {
    content: "\e946";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-recl_tempo .path10:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-recl_tempo .path11:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-recl_tempo .path12:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-recl_tempo .path13:before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(213, 234, 182);
}

.glyph-grafico_patrimonio .path1:before {
    content: "\e92e";
    color: rgb(255, 255, 255);
}

.glyph-grafico_patrimonio .path2:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(183, 212, 78);
}

.glyph-grafico_patrimonio .path3:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(223, 248, 144);
}

.glyph-promo .path1:before {
    content: "\e922";
    color: rgb(255, 255, 255);
}

.glyph-promo .path2:before {
    content: "\e923";
    margin-left: -1em;
    color: @iconColor1;
}

.glyph-insurance .path1:before {
    content: "\e924";
    color: @iconColor1;
}

.glyph-insurance .path2:before {
    content: "\e925";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-insurance .path3:before {
    content: "\e92c";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-insurance .path4:before {
    content: "\e92d";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-alert .path1:before {
    content: "\e91f";
    color: @iconColor1;
}

.glyph-alert .path2:before {
    content: "\e920";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-alert .path3:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-watchlist .path1:before {
    content: "\e910";
    color: @iconColor1;
}

.glyph-watchlist .path2:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-watchlist .path3:before {
    content: "\e912";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-watchlist .path4:before {
    content: "\e913";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-watchlist .path5:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-ricerca_confronta .path1:before {
    content: "\e915";
    color: @iconColor1;
}

.glyph-ricerca_confronta .path2:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-ricerca_confronta .path3:before {
    content: "\e91a";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-migliori_peggiori .path1:before {
    content: "\e91b";
    color: @iconColor1;
}

.glyph-migliori_peggiori .path2:before {
    content: "\e91c";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-migliori_peggiori .path3:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-migliori_peggiori .path4:before {
    content: "\e91e";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-portafoglio_modello .path1:before {
    content: "\e900";
    color: @iconColor1;
}

.glyph-portafoglio_modello .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-portafoglio_modello .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-top_selection .path1:before {
    content: "\e926";
    color: @iconColor1;
}

.glyph-top_selection .path2:before {
    content: "\e927";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-top_selection .path3:before {
    content: "\e928";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-top_selection .path4:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-top_selection .path5:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-top_selection .path6:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-cardless-01 .path1:before {
    content: "\e903";
    color: @iconColor1;
}

.glyph-cardless-01 .path2:before {
    content: "\e904";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-cardless-01 .path3:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-cardless-02 .path1:before {
    content: "\e906";
    color: @iconColor1;
}

.glyph-cardless-02 .path2:before {
    content: "\e907";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-cardless-02 .path3:before {
    content: "\e908";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-cardless-02 .path4:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-cardless-03 .path1:before {
    content: "\e90a";
    color: @iconColor1;
}

.glyph-cardless-03 .path2:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-cardless-03 .path3:before {
    content: "\e90c";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-cardless-03 .path4:before {
    content: "\e90d";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-cardless-04 .path1:before {
    content: "\e90e";
    color: @iconColor1;
}

.glyph-cardless-04 .path2:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-cardless-04 .path3:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.glyph-cardless-04 .path4:before {
    content: "\e918";
    margin-left: -1em;
    color: @iconColor2;
}

.glyph-cardless-04 .path5:before {
    content: "\e919";
    margin-left: -1em;
    color: @iconColor2;
}
.glyph-ico_cmb_alert .path1:before {
    content: "\e952";
    color: rgb(0, 0, 0);
  }
  .glyph-ico_cmb_alert .path2:before {
    content: "\e953";
    margin-left: -1em;
    color: rgb(255, 255, 255);
    opacity: 0.3;
  }
  .glyph-ico_cmb_alert .path3:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(255, 255, 255);
    opacity: 0.3;
  }
  .glyph-ico_cmb_alert .path4:before {
    content: "\e955";
    margin-left: -1em;
    color: rgb(242, 221, 107);
  }
  .glyph-ico_cmb_alert .path5:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .glyph-ico_cmb_alert .path6:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .glyph-ico_cmb_alert .path7:before {
    content: "\e958";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .glyph-ico_cmb_badge .path1:before {
    content: "\e959";
    color: rgb(0, 0, 0);
  }
  .glyph-ico_cmb_badge .path2:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
    opacity: 0.3;
  }
  .glyph-ico_cmb_badge .path3:before {
    content: "\e95b"; 
    margin-left: -1em;
    color: rgb(255, 255, 255);
    opacity: 0.3;
  }
  .glyph-ico_cmb_badge .path4:before {
    content: "\e95c";
    margin-left: -1em;
    color: rgb(255, 0, 0);
  }
  .glyph-ico_cmb_badge .path5:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .glyph-ico_cmb_disservizio .path1:before {
    content: "\e95e";
    color: rgb(242, 221, 107);
  }
  .glyph-ico_cmb_disservizio .path2:before {
    content: "\e95f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .glyph-ico_cmb_disservizio .path3:before {
    content: "\e960";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .glyph-ico_cmb_disservizio .path4:before {
    content: "\e961";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .glyph-ico_cmb_disservizio_fill .path1:before {
    content: "\e962";
    color: rgb(0, 0, 0);
  }
  .glyph-ico_cmb_disservizio_fill .path2:before {
    content: "\e963";
    margin-left: -1em;
    color: rgb(242, 221, 107);
  }
  .glyph-ico_cmb_disservizio_fill .path3:before { 
    content: "\e964";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .glyph-ico_cmb_disservizio_fill .path4:before {
    content: "\e965";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .glyph-ico_cmb_disservizio_fill .path5:before {
    content: "\e966";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }