.icon-green_fill:before {
  content: "\eab9";
}
.icon-green_outline:before {
  content: "\eaba";
}
.icon-trading:before {
  content: "\eab7";
}
.icon-carte:before {
  content: "\eab8";
}
.icon-ico_cmb_fill:before {
  content: "\eab6";
}
.icon-ico_cmb_outline:before {
  content: "\eaad";
}
.icon-ico_cmb_attesa_fill:before {
  content: "\eaae";
}
.icon-ico_cmb_attesa_outline:before {
  content: "\eaaf";
}
.icon-ico_cmb_cancellata_fill:before {
  content: "\eab0";
}
.icon-ico_cmb_cancellata_outline:before {
  content: "\eab1";
}
.icon-ico_cmb_indisponibile_fill:before {
  content: "\eab2";
}
.icon-ico_cmb_indisponibile_outline:before {
  content: "\eab3";
}
.icon-ico_cmb_prenotata_fill:before {
  content: "\eab4";
}
.icon-ico_cmb_prenotata_outline:before {
  content: "\eab5";
}
.icon-ico_muoviti_con_free_now:before {
  content: "\eaac";
}
.icon-ico_eventi_2_1:before {
  content: "\eaa2";
}
.icon-ico_eventi_2_1_b:before {
  content: "\eaa3";
}
.icon-ico_priority_pass:before {
  content: "\eaa4";
}
.icon-ico_regalo_ogni_anno:before {
  content: "\eaa5";
}
.icon-ico_regalo_ogni_anno_b:before {
  content: "\eaa6";
}
.icon-ico_servizio_concierge:before {
  content: "\eaa7";
}
.icon-ico_club_membership_rewards:before {
  content: "\eaa8";
}
.icon-ico_protezione_acquisto:before {
  content: "\eaa9";
}
.icon-ico_protezione_acquisto_b:before {
  content: "\eaaa";
}
.icon-ico_protezione_antifrode:before {
  content: "\eaab";
}
.icon-pagamenti_con_smartphone-grid64-o:before {
  content: "\eaa0";
}
.icon-pagamenti_con_smartphone-grid64-f:before {
  content: "\eaa1";
}
.icon-meno:before {
  content: "\ea9f";
}
.icon-ico_help_tab:before {
  content: "\ea93";
}
.icon-ico_help_filled_tab:before {
  content: "\ea94";
}
.icon-messaggio:before {
  content: "\ea90";
}
.icon-cellulare:before {
  content: "\ea8e";
}
.icon-documento:before {
  content: "\ea8f";
}
.icon-app:before {
  content: "\ea89";
}
.icon-furto_smarrimento:before {
  content: "\ea8a";
}
.icon-richiesta_attivazione:before {
  content: "\ea8b";
}
.icon-rivedi_video:before {
  content: "\ea8c";
}
.icon-token:before {
  content: "\ea8d";
}
.icon-recall_V2:before {
  content: "\ea88";
}
.icon-socialcc_fill:before {
  content: "\ea75";
}
.icon-socialcc_outline:before {
  content: "\ea78";
}
.icon-indiretta_Wb:before {
  content: "\ea79";
}
.icon-block_carte:before {
  content: "\ea7a";
}
.icon-mov_nr:before {
  content: "\ea7b";
}
.icon-contatti_chat:before {
  content: "\ea7c";
}
.icon-contatti_estero:before {
  content: "\ea7d";
}
.icon-num-verde_fill:before {
  content: "\ea7e";
}
.icon-num-verde_outline:before {
  content: "\ea7f";
}
.icon-num_utili:before {
  content: "\ea80";
}
.icon-num-utili_fill:before {
  content: "\ea81";
}
.icon-scrivici1:before {
  content: "\ea82";
}
.icon-pin1:before {
  content: "\ea83";
}
.icon-acc_veloce_fill:before {
  content: "\ea84";
}
.icon-acc-veloce_outline:before {
  content: "\ea85";
}
.icon-pcarta_fill:before {
  content: "\ea86";
}
.icon-pcarta_outline:before {
  content: "\ea87";
}
.icon-view_grafico_filled:before {
  content: "\ea76";
}
.icon-view_tabella_filled:before {
  content: "\ea77";
}
.icon-compares:before {
  content: "\ea6b";
}
.icon-clessidra_fill:before {
  content: "\ea69";
}
.icon-clessidra_stroke:before {
  content: "\ea6a";
}
.icon-bullet_9:before {
  content: "\ea6c";
}
.icon-bullet_8:before {
  content: "\ea6d";
}
.icon-bullet_7:before {
  content: "\ea6e";
}
.icon-bullet_6:before {
  content: "\ea6f";
}
.icon-bullet_5:before {
  content: "\ea70";
}
.icon-bullet_4:before {
  content: "\ea71";
}
.icon-bullet_3:before {
  content: "\ea72";
}
.icon-bullet_2:before {
  content: "\ea73";
}
.icon-bullet_1:before {
  content: "\ea74";
}
.icon-calendario:before {
  content: "\ea5d";
}
.icon-prenota:before {
  content: "\ea5e";
}
.icon-eventi_misti:before {
  content: "\ea5f";
}
.icon-view_grafico:before {
  content: "\e942";
}
.icon-view_tabella:before {
  content: "\e957";
}
.icon-eventi_live:before {
  content: "\ea60";
}
.icon-eventi_streaming:before {
  content: "\ea61";
}
.icon-bonifico-accredito:before {
  content: "\ea62";
}
.icon-bonifico-esecuzione:before {
  content: "\ea63";
}
.icon-ico_casa:before {
  content: "\ea64";
}
.icon-ico_famiglia:before {
  content: "\ea65";
}
.icon-ico_patrimonio:before {
  content: "\ea66";
}
.icon-mail_opened:before {
  content: "\ea5b";
}
.icon-mail_closed:before {
  content: "\ea5c";
}
.icon-push_off:before {
  content: "\ea59";
}
.icon-push_on:before {
  content: "\ea5a";
}
.icon-ico_cta_compara:before {
  content: "\ea58";
}
.icon-ico_mutuofisso:before {
  content: "\ea54";
}
.icon-ico_mutuofissoconopzione:before {
  content: "\ea55";
}
.icon-ico_mutuovariabileconopzione:before {
  content: "\ea56";
}
.icon-ico_mutuovariabile:before {
  content: "\ea57";
}
.icon-close_toolbox:before {
  content: "\ea23";
}
.icon-enlarge_window:before {
  content: "\ea24";
}
.icon-hide_text:before {
  content: "\ea25";
}
.icon-send_message:before {
  content: "\ea26";
}
.icon-show_text:before {
  content: "\ea27";
}
.icon-audio_max:before {
  content: "\ea28";
}
.icon-audio_middle:before {
  content: "\ea68";
}
.icon-audio_off:before {
  content: "\ea67";
}
.icon-calendar_circle:before {
  content: "\ea02";
}
.icon-cursore-menu-down:before {
  content: "\ea01";
}
.icon-buono_promo:before {
  content: "\e961";
}
.icon-ricarica_atm_sportello:before {
  content: "\ea03";
}
.icon-bollo_auto_sportello:before {
  content: "\ea07";
}
.icon-bollettini_postali_sportello:before {
  content: "\ea1d";
}
.icon-bonifico_ordinario_sportello:before {
  content: "\ea1e";
}
.icon-ricarica_cellulare_sportello:before {
  content: "\ea1f";
}
.icon-ricarica_prepagata_sportello:before {
  content: "\ea20";
}
.icon-promo_big:before {
  content: "\ea21";
}
.icon-checkbox_filled:before {
  content: "\e960";
}
.icon-delete_table:before {
  content: "\ea1c";
}
.icon-unlock_table:before {
  content: "\e907";
}
.icon-document_table:before {
  content: "\e952";
}
.icon-smartphone_table:before {
  content: "\e954";
}
.icon-check-ok_table:before {
  content: "\e956";
}
.icon-error_table:before {
  content: "\e958";
}
.icon-in-lavorazione_table:before {
  content: "\e95a";
}
.icon-show:before {
  content: "\ea05";
}
.icon-add:before {
  content: "\ea17";
}
.icon-livetour:before {
  content: "\ea18";
}
.icon-ondemand:before {
  content: "\ea19";
}
.icon-online:before {
  content: "\ea1a";
}
.icon-streaming:before {
  content: "\ea1b";
}
.icon-r-casa:before {
  content: "\ea0d";
}
.icon-r-dettaglio2:before {
  content: "\ea0e";
}
.icon-r-elimina2:before {
  content: "\ea0f";
}
.icon-r-euro:before {
  content: "\ea10";
}
.icon-r-famiglia:before {
  content: "\ea11";
}
.icon-r-lavoro:before {
  content: "\ea12";
}
.icon-r-modifica2:before {
  content: "\ea13";
}
.icon-r-user2:before {
  content: "\ea14";
}
.icon-r-user_add2:before {
  content: "\ea15";
}
.icon-r-user-f:before {
  content: "\ea16";
}
.icon-r-dettaglio:before {
  content: "\ea08";
}
.icon-r-elimina:before {
  content: "\ea09";
}
.icon-r-modifica:before {
  content: "\ea0a";
}
.icon-r-user:before {
  content: "\ea0b";
}
.icon-r-user_add:before {
  content: "\ea0c";
}
.icon-hr-arrow:before {
  content: "\ea00";
}
.icon-hide:before {
  content: "\ea04";
}
.icon-indicatore_legenda:before {
  content: "\ea06";
}
.icon-small-dislike:before {
  content: "\e9fb";
}
.icon-small-like:before {
  content: "\e9fc";
}
.icon-dashed_or_sx:before {
  content: "\e9fd";
}
.icon-dashed_or_dx:before {
  content: "\e9fe";
}
.icon-arrow_bottom_box:before {
  content: "\e9ff";
}
.icon-bg_arrow_right:before {
  content: "\e9f7";
}
.icon-19:before {
  content: "\e9f8";
}
.icon-ore_10:before {
  content: "\e9f9";
}
.icon-ore_21_35:before {
  content: "\e9fa";
}
.icon-monitor:before {
  content: "\e9f6";
}
.icon-book:before {
  content: "\e905";
}
.icon-guida_mercati:before {
  content: "\e906";
}
.icon-pause:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e909";
}
.icon-scheda_titolo:before {
  content: "\e90a";
}
.icon-big-attivo:before {
  content: "\e90b";
}
.icon-big-edit:before {
  content: "\e95c";
}
.icon-big-movimenti:before {
  content: "\e90d";
}
.icon-big-non_attivo:before {
  content: "\e90e";
}
.icon-big-operazionebpm:before {
  content: "\e90f";
}
.icon-big-operazionebpmcons:before {
  content: "\e910";
}
.icon-big-operazionewb:before {
  content: "\e911";
}
.icon-big-operazionewbcons:before {
  content: "\e912";
}
.icon-big-ricarica:before {
  content: "\e913";
}
.icon-big-rimborso:before {
  content: "\e914";
}
.icon-big-zoom_less:before {
  content: "\e915";
}
.icon-big-zoom_more:before {
  content: "\e916";
}
.icon-small-attivo:before {
  content: "\e917";
}
.icon-small-compra_vendi:before {
  content: "\e918";
}
.icon-small-edit:before {
  content: "\e919";
}
.icon-small-movimenti:before {
  content: "\e91a";
}
.icon-small-non_attivo:before {
  content: "\e91b";
}
.icon-small-operazionebpm:before {
  content: "\e91c";
}
.icon-small-operazionebpmcons:before {
  content: "\e91d";
}
.icon-small-operazionewb:before {
  content: "\e91e";
}
.icon-small-operazionewbcons:before {
  content: "\e91f";
}
.icon-small-ricarica:before {
  content: "\e920";
}
.icon-small-rimborso:before {
  content: "\e921";
}
.icon-small-zoom_less:before {
  content: "\e922";
}
.icon-small-zoom_more:before {
  content: "\e923";
}
.icon-attivo_table:before {
  content: "\e924";
}
.icon-corona:before {
  content: "\e925";
}
.icon-movimenti_table:before {
  content: "\e927";
}
.icon-non_attivo_table:before {
  content: "\e928";
}
.icon-ricarica_table:before {
  content: "\e929";
}
.icon-rimborso_table:before {
  content: "\e92a";
}
.icon-spinner_less:before {
  content: "\e92b";
}
.icon-spinner_more:before {
  content: "\e92c";
}
.icon-zoom_less_table:before {
  content: "\e92d";
}
.icon-zoom_more_table:before {
  content: "\e92e";
}
.icon-compra_vendi:before {
  content: "\e92f";
}
.icon-acquisti_mondo_grid64-f:before {
  content: "\e930";
}
.icon-acquisti_mondo_grid64-o:before {
  content: "\e931";
}
.icon-acquisti_online_grid64-f:before {
  content: "\e932";
}
.icon-acquisti_online_grid64-o:before {
  content: "\e933";
}
.icon-carta_aggiuntiva_grid64-f:before {
  content: "\e934";
}
.icon-carte_block:before {
  content: "\e936";
}
.icon-check_desktop:before {
  content: "\e937";
}
.icon-download:before {
  content: "\e938";
}
.icon-f-row_canc:before {
  content: "\e939";
}
.icon-f-row_contract:before {
  content: "\e93a";
}
.icon-f-row_expand:before {
  content: "\e93b";
}
.icon-folder:before {
  content: "\e93c";
}
.icon-ico_azioni01A:before {
  content: "\e93d";
}
.icon-ico_azioni01B:before {
  content: "\e93e";
}
.icon-ico_azioni02A:before {
  content: "\e93f";
}
.icon-ico_azioni02B:before {
  content: "\e940";
}
.icon-massimali_elevati_grid64-f:before {
  content: "\e941";
}
.icon-prelievi_gratuiti_grid64-f:before {
  content: "\e943";
}
.icon-prelievi_gratuiti_grid64-o:before {
  content: "\e944";
}
.icon-promozioni_grid64-f:before {
  content: "\e945";
}
.icon-promozioni_grid64-o:before {
  content: "\e946";
}
.icon-row_canc:before {
  content: "\e947";
}
.icon-row_contract:before {
  content: "\e948";
}
.icon-row_expand:before {
  content: "\e949";
}
.icon-share_filled:before {
  content: "\e94a";
}
.icon-share_outline:before {
  content: "\e94b";
}
.icon-share:before {
  content: "\e94c";
}
.icon-thunder_full:before {
  content: "\e94d";
}
.icon-thunder:before {
  content: "\e94e";
}
.icon-trend_down:before {
  content: "\e94f";
}
.icon-trend_np:before {
  content: "\e950";
}
.icon-trend_up:before {
  content: "\e951";
}
.icon-update:before {
  content: "\e953";
}
.icon-upload:before {
  content: "\e955";
}
.icon-check_ok_big:before {
  content: "\e959";
}
.icon-documenti:before {
  content: "\e95b";
}
.icon-sp_accordata:before {
  content: "\e95d";
}
.icon-sp_erogata:before {
  content: "\e95e";
}
.icon-sp_inlavorazione:before {
  content: "\e95f";
}
.icon-sp_inviata:before {
  content: "\e962";
}
.icon-sp_rifiutata:before {
  content: "\e963";
}
.icon-sp_sospesa:before {
  content: "\e964";
}
.icon-back_filled:before {
  content: "\e965";
}
.icon-btn_slider:before {
  content: "\e966";
}
.icon-checkbox:before {
  content: "\e967";
}
.icon-filtra_filled:before {
  content: "\e968";
}
.icon-forward_filled:before {
  content: "\e969";
}
.icon-grafico_torta_filled:before {
  content: "\e96a";
}
.icon-grafico_torta_outline:before {
  content: "\e96b";
}
.icon-excel_filled:before {
  content: "\e96c";
}
.icon-zoom_out_table_filled:before {
  content: "\e96e";
}
.icon-accordion_down:before {
  content: "\e96f";
}
.icon-accordion_up:before {
  content: "\e970";
}
.icon-add_filled:before {
  content: "\e971";
}
.icon-alert_caution_fill:before {
  content: "\e972";
}
.icon-alert_caution:before {
  content: "\e973";
}
.icon-alert_desktop:before {
  content: "\e974";
}
.icon-alert_error_fill:before {
  content: "\e975";
}
.icon-alert_error:before {
  content: "\e976";
}
.icon-alert_mobile:before {
  content: "\e977";
}
.icon-alert_ok_fill:before {
  content: "\e978";
}
.icon-alert_ok:before {
  content: "\e979";
}
.icon-appuntamento:before {
  content: "\e97a";
}
.icon-architettura_filled:before {
  content: "\e97b";
}
.icon-architettura_outline:before {
  content: "\e97c";
}
.icon-arrow_down:before {
  content: "\e97d";
}
.icon-arrow_emphasis_filled:before {
  content: "\e97e";
}
.icon-arrow_emphasis:before {
  content: "\e97f";
}
.icon-arrow_left_filled:before {
  content: "\e980";
}
.icon-arrow_left:before {
  content: "\e981";
}
.icon-arrow_right_filled:before {
  content: "\e982";
}
.icon-arrow_right:before {
  content: "\e983";
}
.icon-arrow_up:before {
  content: "\e984";
}
.icon-assicurazioni:before {
  content: "\e985";
}
.icon-attach_filled:before {
  content: "\e986";
}
.icon-attach_outline:before {
  content: "\e987";
}
.icon-attenzione_assist:before {
  content: "\e988";
}
.icon-attivo_filled:before {
  content: "\e989";
}
.icon-attualita_filled:before {
  content: "\e98a";
}
.icon-attualita_outline:before {
  content: "\e98b";
}
.icon-automobili_filled:before {
  content: "\e98c";
}
.icon-automobili_outline:before {
  content: "\e98d";
}
.icon-benfatto:before {
  content: "\e98e";
}
.icon-calendar_filled:before {
  content: "\e98f";
}
.icon-calendar:before {
  content: "\e990";
}
.icon-calendario_assist:before {
  content: "\e991";
}
.icon-carrello_filled:before {
  content: "\e992";
}
.icon-carrello_ouline:before {
  content: "\e993";
}
.icon-carte_new:before {
  content: "\e994";
}
.icon-chat_assist:before {
  content: "\e995";
}
.icon-chat:before {
  content: "\e996";
}
.icon-check_ok:before {
  content: "\e997";
}
.icon-chiudi_table:before {
  content: "\e998";
}
.icon-close_inverted_fill:before {
  content: "\e999";
}
.icon-close:before {
  content: "\e99a";
}
.icon-commerciale_assist:before {
  content: "\e99b";
}
.icon-comunicazione_assist:before {
  content: "\e99c";
}
.icon-consultare_desktop:before {
  content: "\e99d";
}
.icon-consultare_mobile:before {
  content: "\e99e";
}
.icon-contatto_assist:before {
  content: "\e99f";
}
.icon-cucina_filled:before {
  content: "\e9a0";
}
.icon-cucina_outline:before {
  content: "\e9a1";
}
.icon-difensivo_filled:before {
  content: "\e9a2";
}
.icon-difensivo_outline:before {
  content: "\e9a3";
}
.icon-dinamico_filled:before {
  content: "\e9a4";
}
.icon-edit_fill:before {
  content: "\e9a5";
}
.icon-ellipsis-h:before {
  content: "\e9a6";
}
.icon-ellipsis-v:before {
  content: "\e9a7";
}
.icon-esci_desktop:before {
  content: "\e9a8";
}
.icon-esci_mobile:before {
  content: "\e9a9";
}
.icon-femminili_filled:before {
  content: "\e9aa";
}
.icon-femminili_outline:before {
  content: "\e9ab";
}
.icon-file_pdf_fill:before {
  content: "\e9ac";
}
.icon-file_pdf:before {
  content: "\e9ad";
}
.icon-finanziamenti:before {
  content: "\e9ae";
}
.icon-freccia_assist:before {
  content: "\e9af";
}
.icon-help_filled:before {
  content: "\e9b0";
}
.icon-help_outline:before {
  content: "\e9b1";
}
.icon-idea_assist:before {
  content: "\e9b3";
}
.icon-imieidati_desktop:before {
  content: "\e9b4";
}
.icon-imieidati_mobile:before {
  content: "\e9b5";
}
.icon-info_fill:before {
  content: "\e9b6";
}
.icon-info:before {
  content: "\e9b7";
}
.icon-investimenti:before {
  content: "\e9b8";
}
.icon-letture_filled:before {
  content: "\e9b9";
}
.icon-letture_outline:before {
  content: "\e9ba";
}
.icon-lock_filled:before {
  content: "\e9bb";
}
.icon-lock_outline:before {
  content: "\e9bd";
}
.icon-mail_ria_filled:before {
  content: "\e9be";
}
.icon-mail_ria_outline:before {
  content: "\e9bf";
}
.icon-maschili_filled:before {
  content: "\e9c0";
}
.icon-maschili_outline:before {
  content: "\e9c1";
}
.icon-moderato_filled:before {
  content: "\e9c2";
}
.icon-movimenti_ria_filled:before {
  content: "\e9c3";
}
.icon-movimenti_ria_outline:before {
  content: "\e9c4";
}
.icon-myhome:before {
  content: "\e9c5";
}
.icon-noimage_filled:before {
  content: "\e9c6";
}
.icon-noimage_outline:before {
  content: "\e9c7";
}
.icon-numeroverde_desktop:before {
  content: "\e9c8";
}
.icon-numeroverde_mobile:before {
  content: "\e9c9";
}
.icon-pass_01:before {
  content: "\e9ca";
}
.icon-pass_02:before {
  content: "\e9cb";
}
.icon-pass_03:before {
  content: "\e9cc";
}
.icon-pdf_circle_filled:before {
  content: "\e9cd";
}
.icon-pdf_circle:before {
  content: "\e9ce";
}
.icon-prenota_old:before {
  content: "\e9cf";
}
.icon-print_ria_filled:before {
  content: "\e9d0";
}
.icon-print_ria_outline:before {
  content: "\e9d1";
}
.icon-prudente_filled:before {
  content: "\e9d2";
}
.icon-prudente_outline:before {
  content: "\e9d3";
}
.icon-ragazzi_filled:before {
  content: "\e9d4";
}
.icon-ragazzi_outline:before {
  content: "\e9d5";
}
.icon-scienza_filled:before {
  content: "\e9d6";
}
.icon-scienza_outline:before {
  content: "\e9d7";
}
.icon-scrivici:before {
  content: "\e9d8";
}
.icon-send_filled:before {
  content: "\e9d9";
}
.icon-send_outline:before {
  content: "\e9da";
}
.icon-social_assist:before {
  content: "\e9dd";
}
.icon-spettacoli_filled:before {
  content: "\e9de";
}
.icon-spettacoli_outline:before {
  content: "\e9df";
}
.icon-sportello:before {
  content: "\e9e0";
}
.icon-spunta_light:before {
  content: "\e9e1";
}
.icon-spunta:before {
  content: "\e9e2";
}
.icon-star_fill:before {
  content: "\e9e3";
}
.icon-star:before {
  content: "\e9e4";
}
.icon-tap_filled:before {
  content: "\e9e5";
}
.icon-tap_outline:before {
  content: "\e9e7";
}
.icon-test:before {
  content: "\e9e8";
}
.icon-trading_noDT:before {
  content: "\e9e9";
}
.icon-trash_filled:before {
  content: "\e9ea";
}
.icon-user_id:before {
  content: "\e9eb";
}
.icon-viaggi_filled:before {
  content: "\e9ec";
}
.icon-viaggi_outline:before {
  content: "\e9ed";
}
.icon-withdraw_filled:before {
  content: "\e9ee";
}
.icon-withdraw_outline:before {
  content: "\e9ef";
}
.icon-zoom_big:before {
  content: "\e9f0";
}
.icon-zoom_filled:before {
  content: "\e9f1";
}
.icon-zoom_meno_big:before {
  content: "\e9f2";
}
.icon-zoom_meno_filled:before {
  content: "\e9f3";
}
.icon-zoom_piu_big:before {
  content: "\e9f4";
}
.icon-zoom_piu_filled:before {
  content: "\e9f5";
}
.icon-zoom_ria_filled:before {
  content: "\ea39";
}
.icon-zoom_ria_outline:before {
  content: "\ea3a";
}
.icon-zoom_small_meno:before {
  content: "\ea3b";
}
.icon-zoom_small_piu:before {
  content: "\ea3c";
}
.icon-zoom_small:before {
  content: "\ea3d";
}
.icon-carta_aggiuntiva_grid64-o:before {
  content: "\e935";
}
.icon-massimali_elevati_grid64-o:before {
  content: "\ea29";
}
.icon-check_ok_big_new:before {
  content: "\ea2a";
}
.icon-big-compra_vendi:before {
  content: "\e90c";
}
.icon-edit_table:before {
  content: "\e926";
}
.icon-zoom_in_table_filled:before {
  content: "\e96d";
}
.icon-helpcenter:before {
  content: "\e9b2";
}
.icon-sicurezza_desktop:before {
  content: "\e9db";
}
.icon-sicurezza_mobile:before {
  content: "\e9dc";
}
.icon-atm:before {
  content: "\ea4d";
}
.icon-online2:before {
  content: "\ea4e";
}
.icon-telephone:before {
  content: "\ea4f";
}
.icon-transfer:before {
  content: "\ea50";
}
.icon-cat_beni:before {
  content: "\ea3f";
}
.icon-cat_telecomunicazioni:before {
  content: "\ea48";
}
.icon-ascend:before {
  content: "\ea95";
}
.icon-cambi:before {
  content: "\ea96";
}
.icon-datemod:before {
  content: "\ea97";
}
.icon-descend:before {
  content: "\ea98";
}
.icon-erase:before {
  content: "\ea99";
}
.icon-filter:before {
  content: "\ea9a";
}
.icon-mod:before {
  content: "\ea9b";
}
.icon-multifunz:before {
  content: "\ea9c";
}
.icon-piumeno:before {
  content: "\ea9d";
}
.icon-sort:before {
  content: "\ea9e";
}
.icon-ico_geosafe:before {
  content: "\ea91";
}
.icon-ico_ric_automatica:before {
  content: "\ea92";
}
.icon-custom:before {
  content: "\ea51";
}
.icon-pin:before {
  content: "\ea52";
}
.icon-websafe:before {
  content: "\ea53";
}
.icon-voice_outline:before {
  content: "\ea4c";
}
.icon-cat_altro:before {
  content: "\ea3e";
}
.icon-cat_consumi:before {
  content: "\ea40";
}
.icon-cat_energia:before {
  content: "\ea41";
}
.icon-cat_finanza:before {
  content: "\ea42";
}
.icon-cat_industria:before {
  content: "\ea43";
}
.icon-cat_materie:before {
  content: "\ea44";
}
.icon-cat_np:before {
  content: "\ea45";
}
.icon-cat_sanita:before {
  content: "\ea46";
}
.icon-cat_tecnologia:before {
  content: "\ea47";
}
.icon-voce_fill:before {
  content: "\ea49";
}
.icon-stella_fill:before {
  content: "\ea4a";
}
.icon-campana_fill:before {
  content: "\ea4b";
}
.icon-social_fb:before {
  content: "\e900";
}
.icon-social_gplus:before {
  content: "\e901";
}
.icon-social_mail:before {
  content: "\e902";
}
.icon-social_tw:before {
  content: "\e903";
}
.icon-ticket_side:before {
  content: "\e904";
}
.icon-scrivici_device:before {
  content: "\e9bc";
}
.icon-appuntamento_agenzia_device:before {
  content: "\e9e6";
}
.icon-appuntamento_telefonico_device:before {
  content: "\ea2b";
}
.icon-chat_device:before {
  content: "\ea2c";
}
.icon-help_center_device:before {
  content: "\ea2d";
}
.icon-trading_info:before {
  content: "\ea2e";
}
.icon-trading_euro:before {
  content: "\ea2f";
}
.icon-trading_arrow:before {
  content: "\ea30";
}
.icon-trading_mondo:before {
  content: "\ea31";
}
.icon-trading_chiuso:before {
  content: "\ea32";
}
.icon-trading_equal:before {
  content: "\ea33";
}
.icon-trading_positivo:before {
  content: "\ea34";
}
.icon-trading_negativo:before {
  content: "\ea35";
}
.icon-arrow_trading_right:before {
  content: "\ea36";
}
.icon-menu:before {
  content: "\ea37";
}
.icon-user:before {
  content: "\ea38";
}
.icon-reduce_toolbox:before {
  content: "\ea22";
}
