#grafPatrimonio {
    position: relative;
    min-height: 356px;
    z-index: 0;
}

#boxTesto {
    display: none
}

#boxTesto p {
    color: #000;
    padding: 5px 35px 5px 35px;
    line-height: 11px
}

#noChartText {
    display: block;
    position: absolute;
    top: 1px;
    right: 13px;
    width: 10px;
    height: 10px;
    overflow: hidden;
    z-index: 10
}

#legenda {
    position: relative;
    float: right;
    width: 275px;
    margin-top: 25px;
    z-index: 10
}

#grafPatrimonio.visibleText {
    min-height: 401px;
}

.visibleText {
    #boxTesto {
        display: block;
        position: absolute;
        top: 3px;
        left: 6px;
        width: 570px;
        height: 40px;
        background: url(/WB/fe/img/str_bg_boxtesto.gif) transparent no-repeat left top;
        z-index: 9
    }

    #titPatrimonio {
        top: 59px
    }

    #legenda {
        margin-top: 50px
    }

    #borPatrimonioLeft {
        height: 355px
    }

    #borPatrimonioRight {
        height: 335px
    }

    #borPatrimonioBottom {
        top: 362px
    }

    #blurGrafPatrimonio {
        top: 319px
    }

    #subGrafPatrimonio {
        margin-top: 319px
    }

    #chartPatrimonio {
        top: 70px
    }
}

#legendaContent .grafSubLegenda .first a {
    margin-top: 2px;
    margin-bottom: 2px
}

#grafPatrimonio .clear {
    display: block;
    clear: both;
    overflow: hidden;
    height: 0
}

#subGrafPatrimonio {
    position: relative;
    z-index: 1
}

.collapse:not(.in) .subLegenda {
    display: none;
}


/* Grafici */

#chartPatrimonioWrap,
#subChartPatrimonioWrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

#chartPatrimonio,
#subChartPatrimonio,
#coveringDiv,
#coveringDiv2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#coveringDiv.empty {
    background: url("/WB/fe/img/mio_patrimonio_empty_chart.png") no-repeat 0 0;
    background-size: cover;
}

#coveringDiv2.empty {
    background: url("/WB/fe/img/mio_patrimonio_empty_chart2.png") no-repeat 0 0;
    background-size: cover;
}

.btnBgPortafoglio {
    width: 245px;
    height: 39px;
    margin-left: 11px
}

#legendaContent .grafLegenda li.btnBgPort {
    background: none;
    height: 39px;
    margin-bottom: 5px
}

.btnBgPortafoglio a,
#legendaContent .grafLegenda li.btnBgPort .btnBgPortafoglio a {
    display: block;
    width: 206px;
    height: 31px;
    background: url(/WB/fe/img/btn_bg_patr_portafoglio.gif) no-repeat left top;
    cursor: pointer;
    padding: 4px 30px 4px 9px;
    text-decoration: none !important;
    color: #6F8F0A !important;
    font-weight: bold !important;
    line-height: 14px
}

.btnBgPortafoglio a:hover,
#legendaContent .grafLegenda li.btnBgPort .btnBgPortafoglio a:hover {
    display: block;
    width: 206px;
    height: 31px;
    background: url(/WB/fe/img/btn_bg_patr_portafoglio_on.gif) no-repeat left top;
    cursor: pointer;
    padding: 4px 30px 4px 9px;
    text-decoration: none !important;
    color: #6F8F0A !important;
    font-weight: bold !important
}

#legendaContent #boxPortafoglio .btnBgPortafoglio a {
    padding-top: 11px
}


/* |FINE| Grafici */

.descLegenda h3 {
    margin-bottom: 5px
}

.descLegenda ul {
    padding-left: 30px
}


/* Versione selettore conti */

#content,
#contenuti {
    .rapporti {
        .depwt {
            width: 50px;
            height: 13px
        }

        .rappWt {
            height: 27px
        }

        .selTutti {
            float: left;
            width: 100px;
            height: 13px;
            line-height: 13px;
            margin-left: 16px;
            margin-right: 0;
            cursor: pointer;

            label {
                cursor: pointer;
            }

            .txtinput {
                width: 70px;
                height: 20px;
                line-height: 27px;
                overflow: hidden;
            }
        }

        #selTuttiCB {
            float: left;
            display: block;
            margin-top: 8px;
            cursor: default;
        }

        .selectRapp,
        .selectRappOut,
        .selectRapp .inputSx {
            width: 335px !important
        }

        .selectRapp {
            .selectorSpacer {
                width: 333px
            }

            .selector {
                width: 331px
            }
        }

        .selectorConfirm {
            position: absolute;
            left: 0;
            top: 0;
            width: 335px;
            height: 34px;
            margin: 0;
            background: url(/WB/fe/img/str_sr_confirmLeft.gif) transparent no-repeat scroll left top
        }

        .selectorConfirm2 {
            height: 34px;
            margin: 0 0 0 4px;
            background: url(/WB/fe/img/str_sr_confirmRight.gif) transparent no-repeat scroll right top
        }

        .selectorConfirm3 {
            height: 26px;
            margin: 0 4px 0 0;
            padding-top: 8px;
            background: url(/WB/fe/img/str_sr_confirmMid.gif) transparent repeat-x scroll left top
        }

        .btnConfirm {
            width: 71px;
            height: 20px;
            margin: 0 auto;
            background: url(/WB/fe/img/str_sr_btnConfirmLeft.gif) transparent no-repeat scroll left top
        }

        .btnConfirm2 {
            height: 20px;
            margin: 0 0 0 8px;
            background: url(/WB/fe/img/str_sr_btnConfirmRight.gif) transparent no-repeat scroll right top
        }

        .btnConfirm3 {
            height: 20px;
            margin: 0 8px 0 0;
            background: url(/WB/fe/img/str_sr_btnConfirmMid.gif) transparent repeat-x scroll left top
        }

        .btnConfirm3 a,
        .btnConfirm3 a:visited,
        .btnConfirm3 a:hover {
            display: block;
            height: 20px;
            margin: 0 auto;
            line-height: 20px;
            padding: 0;
            background-color: transparent;
            text-align: center;
            color: #fff !important
        }

        &.form01 {
            float: left;
            margin-top: 10px;
        }

        .selectorOptions {
            .selConto {
                float: left;
                display: block;
                margin: 5px 5px 0 5px;
                cursor: default;
            }

            span {
                float: left;
                display: block;
                margin: 0;
                cursor: pointer
            }
        }

        .selectRappOut {
            line-height: 22px;
            font-weight: bold
        }
    }

    .selectRapp {
        .selectorOptions {
            margin: 0;
            padding: 0 0 0 5px;
            height: 23px;
            line-height: 23px;
            vertical-align: middle
        }

        .selected {
            background-color: #ececec
        }

        .optionOver {
            color: #666 !important;
            background-color: #f9f9f9;
            text-decoration: none
        }
    }

    .btncustomer {
        float: right;
        margin-top: -5px
    }

    .form01.rapporti.noQuest {
        width: 700px !important
    }
}

#coveringDiv a {
    display: none
}

#coveringDiv2 a {
    display: none
}

#coveringDiv.empty a {
    background: url(/WB/fe/img/str_bg_graficonodati.gif) transparent repeat-x scroll 0 -14px
}

#coveringDiv2.empty a {
    background: url(/WB/fe/img/str_bg_subgraficonodati.gif) transparent repeat-x scroll left top
}

#outputConti {
    margin: 5px -5px -5px -5px;
}

.listaConti {
    float: none;
    margin: 5px;
    padding: 5px 10px;
    background-color: #Fff;
    border: 1px solid #cecece;
}

.clear {
    display: block;
    overflow: hidden
}

#switch_contoPredefinito {
    float: left;
    margin-top: 5px;
    width: 30px
}


/* HEAD tebella */

.spHead {
    margin-bottom: 0;
    padding: 20px 30px;
    border: 1px solid #CCCCCC;
    background-color: #FBFBFB;
}

.spHead.formGeneric .row-fluid {
    margin-bottom: 0;
}

.spNome,
.spSaldo {
    height: 67px;
    padding-left: 30px;
}

.panel-group.panel-group-icon {
    .panel-title {
        a {
            padding: 8px 62px 8px 0;
            line-height: 32px;
            font-size: 16px;
            white-space: normal;
            overflow: visible;
            text-overflow: unset;

            &,
            &:hover {
                cursor: default;
            }

            .icoLegenda,
            .valLegenda,
            .icon-arrow_down,
            .icon-arrow_up {
                &,
                &:hover {
                    color: #8ab10b;
                    cursor: pointer;
                }
            }

            .valLegenda {
                text-decoration: underline;
                color: #6F8F0A;

                &:hover {
                    text-decoration: none;
                    color: #6F8F0A;
                }
            }

            .labelLegenda {
                color: #000;
            }

            .valLegenda {
                padding: 8px 62px 8px 0;
                line-height: 32px;
            }

            .title-icon {
                display: inline-block;
                padding-right: 16px;
                vertical-align: middle;
                font-size: 32px;
                font-weight: 300;
                color: #262626;
                position: absolute;
                width: 32px;
                height: 32px;
                top: 18px;
                left: -44px;
                background-color: transparent;
                z-index: 20;
            }

            .icon.icon-small-attivo {
                top: 1px;
                right: 8px;
                font-size: 16px;
                color: #fff;
            }

            .boxBgIcon {
                border-radius: 5px;
            }

            .boxBgIcon01 {
                background: #00331d;
            }

            .boxBgIcon02 {
                background: #016725;
            }

            .boxBgIcon03 {
                background: #7e9732;
            }

            .boxBgIcon04 {
                background: #ced786;
            }

            .boxBgIcon05 {
                background: #102943;
            }

            .boxBgIcon06 {
                background: #5cbce2;
            }

            .boxBgIcon07 {
                background: #aed9ea;
            }

            .boxBgIconDis {
                background: #eeeeee;
            }
        }
    }

    .panel-default:not(.active) {
        .icon-arrow_down, .icon-arrow_up {
            display: none;
        }
    }

    .disabled .panel-title a {
        .labelLegenda, .valLegenda, .boxBgIcon, .icon-arrow_down, .icon-arrow_up {
            &,
            &:hover {
                color: #eee;
            }
        }

        .boxBgIcon, .boxBgIcon:hover {
            background-color: #eee;
        }
    }

    .subLegenda {
        .boxBgIcon01_1 {
            background-color: #00561e;
        }

        .boxBgIcon01_2 {
            background-color: #00782a;
        }

        .boxBgIcon01_3 {
            background-color: #009a35;
        }

        .boxBgIcon01_4 {
            background-color: #00bc41;
        }

        .boxBgIcon01_5 {
            background-color: #00de4d;
        }

        .boxBgIcon01_6 {
            background-color: #01ff59;
        }

        .boxBgIcon03_1 {
            background-color: #a4c857;
        }

        .boxBgIcon03_2 {
            background-color: #b2d170;
        }

        .boxBgIcon03_3 {
            background-color: #c0d98a;
        }

        .boxBgIcon03_4 {
            background-color: #cee1a4;
        }

        .boxBgIcon04_1 {
            background-color: #d6df9e;
        }

        .boxBgIcon04_2 {
            background-color: #e1e7b7;
        }

        .boxBgIcon05_1 {
            background-color: #1a426c;
        }

        .boxBgIcon05_2 {
            background-color: #245b95;
        }

        .boxBgIcon05_3 {
            background-color: #2d75be;
        }

        .boxBgIcon05_4 {
            background-color: #5997d7;
        }

        .boxBgIcon05_5 {
            background-color: #82b0e1;
        }

        .boxBgIcon05_6 {
            background-color: #b8d3ee;
        }

        .boxBgIcon05_7 {
            background-color: #e2edf8;
        }
    }
}

#legendaBody .panel-group.panel-group-icon .panel-title a .title-text {
    display: inline-block;
    line-height: 26px;
    color: #262626;
}

.panel-heading h4 {
    font-weight: 300;
    position: relative;
}

.panel-group.panel-group-icon .panel {
    background: #fff;
}

.formGenericoBlack {
    background: #000;
    color: #fff;
    margin-bottom: 0;
    border: 1px solid #000
}

#headingOnePre_1 .panel-heading a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Legenda */

#legendaBody .panel-body {
    padding: 0;
}

#legendaBody a.link {
    padding-right: 30px;
    text-decoration: underline;
    cursor: pointer;
}

#legendaBody a.link:hover {
    text-decoration: none;
}

.saldoRow {
    display: table;
    width: 100%;
    height: 45px;
    border-top: 1px solid #e3e3e3;
    font-size: 16px;
}

.saldoRow:first-of-type {
    border-top: 0;
}

.saldoColor {
    display: table-cell;
    width: 15px;
    padding: 15px 15px 15px 0;
}

.saldoColorBox {
    width: 15px;
    height: 15px;
    background-color: #ececec;
}

.saldoLabel {
    display: table-cell;
    padding: 15px 0;
    line-height: 15px;
}

.saldoVal {
    display: table-cell;
    text-align: right;
    width: 122px;
    padding: 15px 0;
    line-height: 15px;
}

#accordionLegPor {
    margin-bottom: 0;
}


/* Totali */

#totali {
    background-color: #333;
}

#totali .control-label {
    margin-bottom: 0;
    line-height: 32px;
    font-size: 20px;
    font-weight: 300;
}

#titPatrimonio {
    line-height: 32px;
    font-size: 23px;
    font-weight: 600;
    text-align: right;
}

.titLegenda {
    position: relative;
    font-size: 18px;
    font-weight: 600;
}

.titValLegenda {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

@media (max-width: 767px) {
    #sceltaRapportoForm {
        border: 0;
        padding: 0;
        background-color: #fff;
    }

    #totali {
        margin-left: -15px;
        margin-right: -15px;
        width: auto;
    }

    .saldoLabel {
        display: block;
        width: 100%;
    }

    .saldoVal {
        display: block;
        width: 100%;
        padding-top: 0;
        text-align: left;
    }

    #titPatrimonio {
        text-align: left;
    }

    #grafPatrimonio {
        border: 0;
        padding: 20px 0 0 16px;
        background-color: #fff;
    }

    #patrimonioBtns {
        margin-left: -15px;
        margin-right: -15px;
        padding: 0 15px;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        background-color: #fbfbfb;

        .flRight .btn-icon:first-of-type {
            margin-right: 20px;
        }
    }

    .btn-icon .icon-3x {
        font-size: 48px;
    }
}