@import "_color_webank";
@import "_color";
@import "_struttura";
@import "_toolbox_fixed";
@import "_chat";

/* DECLINAZIONI ELEMENTI STRUTTURALI */
header {
    background-color: #000;

    .userMenu .icon {
        color: @textColorBank3;
    }

    #logoWrap {
        width: 223px;
        height: 124px;
        padding: 0;

        img {
            margin-top: 28px;
        }
    }

    .printlogoNew {
        display: none;
    }
}

nav {
    margin-bottom: 65px;
    background: #000;

    ul {
        li {
            margin: 0;

            a {
                font-size: 1.13em;
            }
        }

        &.level1 .selected .voice {
            color: #000;
            border-bottom: solid 1px @textColorBank2;
        }

        &.level2 {
            height: 49px;

            li {
                a {
                    margin: 0;
                    padding: 18px 0 0 0;
                    color: @textColorBank;
                    border: 0;
                    font-size: 1em;
                    line-height: 1em;
                    text-decoration: none;
                }

                &.selected a, a:hover {
                    color: #000;
                }
            }
        }
    }
}

/* FOOTER */
footer {
    text-align: center;
    border-top: solid 1px #e3e3e3;
    background: #fafafa;
    font-size: 1em;
    padding-bottom: 30px;

    ul {
        float: left;
        width: 100%;
        margin: 0;
        padding: 30px 15px;
        list-style-type: none;

        li {
            display: inline-block;
            margin: 0 9px;

            a {
                color: @textColorBank !important;
                text-decoration: none
            }
        }
    }

    .footermenu {
        float: left;
        width: 100%;
        border-bottom: solid 1px #e3e3e3;
        background: #fff;
    }

    p {
        display: inline-block;
        margin: 0 auto;
        color: #999;
        font-size: 0.8em;
        line-height: 20px;
        padding: 10px 0;
    }

    a {
        font-size: 0.875em;
    }
}


/**/
#toolbox {
    .toolbtn a {
        text-decoration: none;
        color: @textColorBank3;

        &:hover, &:focus {
            text-decoration: none;
            color: @textColorBank2;
        }

    }
}


header .userMenu .telLink {
    &:hover, &:focus {
        cursor: default;
        color: @textColorBank3;

        .icon {
            color: @textColorBank3;
        }
    }
}

/* Spalla destra */
.boxdx {
    margin-bottom: 30px;
}

.eventi {
    .btn-big-ico {
        display: block;
    }
}

.news {
    padding: 14px 20px;
    border: solid 1px #ccc;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);

    h4 {
        margin: 0 0 20px 0;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
    }

    .notizia {
        width: 100%;
        padding: 0 0 11px 0;
        margin: 0 0 10px 0;
        border-bottom: solid 1px #e3e3e3;

        .note {
            padding: 0;
            margin: 0 0 2px 0;
            font-size: 12px;
        }

        .link {
            display: block;
            padding: 0;
            margin: 0 0 5px 0;
            font-weight: 600;
            line-height: 19px;
        }

        p {
            padding: 0;
            margin: 0;
            font-size: 13px;
            line-height: 18px;
        }
    }

    .vaia {
        display: block;
        padding: 4px 0 0 0;
        margin: 0;
        text-align: right;
    }
}

#contenuti {
    padding-bottom: 20px;
}

@media screen and (max-width: 1023px) {
    nav {
        margin-bottom: 0;
    }

    #leftmenu {
        ul li.selected a {
            color: #000;
        }
    }

    footer {
        margin-top: 30px;
        padding: 0 15px;
        text-align: left;
        border: 0;
        background: #fff;

        .footermenu {
            float: left;
            width: 100%;
            border: none;

            ul {
                padding: 17px 0;
                border-top: solid 1px #e3e3e3;
                border-bottom: solid 1px #e3e3e3;
                line-height: 25px;

                li {
                    margin: 0 9px 0 0;
                }
            }
        }

        p {
            margin: 22px 0 70px;
        }
    }
}


/* Elementi in spalla destra */
/* Celletta "universale" */
.wdg-carousel.loading {
    max-height: 300px;
    border: 0;
}

.wdg-carousel {
    margin: 0 0 30px;
    display: block;
    min-height: 200px;
    width: 100%;
    border: 1px solid #CCCCCC;
    overflow-x: hidden;
    max-width: 500px;
}

.wdg-carousel .carousel-inner {
    margin-bottom: 40px;
}

.wdg-carousel ol.carousel-indicators {
    position: absolute;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    line-height: 39px;
    text-align: center;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    left: 0;
}

.wdg-carousel ol.carousel-indicators li {
    background-color: #8ab10b;
    border: solid 1px #8ab10b;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin: 0 4px;
}

.wdg-carousel ol.carousel-indicators li.active {
    background-color: #fff;
}

.wdg-carousel.no-indicators ol {
    display: none;
}

.wdg-carousel.no-indicators .carousel-inner {
    margin-bottom: 0;
}

.eventi .btn.btn-large-ico {
    width: 100%;
}

/* Per nascondere blocchi in Webank e visibili in Youweb */
.siYnoW {
    display: none
}

/* CSS riservato F24 */
body.f24 {
    /* STRUTTURA */
		.headerFixed .wrapperDesk .headerDesktopX {
			display: table;
			width: 100%;
			font-size: 14px;
		}

		.headerFixed .wrapperDesk .headerDesktopX>* {
			display: table-cell;
			vertical-align: middle;
		}

		/* LOGO */
		.headerFixed .wrapperDesk .headerDesktopX .contLogoDesk {
			padding-left: 10px;
			width: 100%;
			text-align: center;
		}

		.headerFixed .wrapperDesk .headerDesktopX .contLogoDesk a {
			display: inline-block;
		}

		.headerFixed .wrapperDesk .headerDesktopX .contLogoDesk a img {
			margin: 0 !important;
			height: 32px;
			width: auto;
		}

		/* CLOSE */
		.headerFixed .wrapperDesk .headerDesktopX .contImpDxDesk.contImpDxDeskX,
		.headerFixed .wrapperDesk .headerDesktopX .contImpDxDesk.contImpDxDeskX a.iconExit {
			width: 60px;
			line-height: 60px;
		}

		.headerFixed .wrapperDesk .headerDesktopX .contImpDxDesk.contImpDxDeskX a.iconExit {
			display: block;
			text-align: center;
			text-decoration: none;
			background-color: #8ab10b;
			color: white;
			transition: background 0.3s;
			font-size: 36px;
		}

		.headerFixed .wrapperDesk .headerDesktopX .contImpDxDesk.contImpDxDeskX a.iconExit:hover {
			background-color: #8ab10b;
			cursor: pointer;
		}

		.headerFixed .wrapperDesk .headerDesktopX .contImpDxDesk.contImpDxDeskX a.iconExit:after {
			content: '\2715';
		}

		.headerFixed .wrapperDesk .headerDesktopX .contImpDxDesk.contImpDxDeskX a.iconExit img,
		.headerFixed .wrapperDesk .headerDesktopX .contImpDxDesk.contImpDxDeskX a.iconExit .containerIconHeadDX {
			display: none;
		}

		/* MOBILE ONLY */
		@media (max-width:767px) {

			/* TOGGLER MENU */
			.headerFixed .wrapperDesk .headerDesktopX #menuToggler {
				float: left;
				width: 60px;
				height: 60px;
				line-height: 60px;
				margin: 0;
				cursor: pointer;
				text-align: center;
				background-size: cover;
				transition: background 0.3s;
			}

			.headerFixed .wrapperDesk .headerDesktopX #menuToggler.opened {
				background: white;
			}

			.headerFixed .wrapperDesk .headerDesktopX #menuToggler i {
				font-size: 20px;
			}

			/* MENU */
			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk {
				position: fixed;
				top: 60px;
				left: -100%;
				transition: left 0.3s;
				width: 100%;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk.opened {
				left: 0;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul {
				margin: 0 20px;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li {
				display: block;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li a {
				display: block;
				float: left;
				width: 100%;
				cursor: pointer;
				border-bottom: solid 1px #dedede;
				padding: 1em 0;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li a,
			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li a span {
				font-size: 1.1em;
				text-decoration: none;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li a:hover {
				color: #333;
			}
		}

		/* DESKTOP AND TABLET */
		@media (min-width:768px) {

			/* TOGGLER MENU */
			.headerFixed .wrapperDesk .headerDesktopX #menuToggler {
				display: none;
			}

			/* LOGO */
			header #logoWrap,
			.headerFixed .wrapperDesk .headerDesktopX .contLogoDesk {
				width: auto;
				text-align: left;
			}

			/* MENU */
			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk {
				display: table-cell;
				padding: 5px 15px;
				margin: 0;
				width: 100%;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul {
				text-align: center;
				display: block;
				padding: 0;
				margin: 0;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul+br {
				display: none
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li {
				list-style: none;
				padding: 0;
				margin: 0;
				display: inline-block;
				border-left: 1px solid #555;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li:first-child {
				border-left: none;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li a {
				text-align: center;
				display: block;
				padding: 3px 5px 3px 7px;
				color: white;
				text-decoration: none;
				line-height: 1.1em;
				transition: color 0.3s;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li a:hover,
			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li a:active,
			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li a.active {
				color: #8ab10b;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li a span {
				font-size: 1.1em !important;
			}
		}

		/* MOBILE AND TABLET */
		@media (max-width:991px) {

			/* MENU */
			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li a span {
				font-size: 0.9em !important;
			}
		}

		/* DESKTOP ONLY */
		@media (min-width:992px) {

			/*  CLOSE */
			.headerFixed .wrapperDesk .headerDesktopX .contImpDxDesk.contImpDxDeskX a.iconExit {
				font-size: 46px;
			}

			header #logoWrap a img,
			.headerFixed .wrapperDesk .headerDesktopX .contLogoDesk a img {
				height: 45px;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contLogoDesk {
				height: 84px;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contImpDxDesk.contImpDxDeskX,
			.headerFixed .wrapperDesk .headerDesktopX .contImpDxDesk.contImpDxDeskX a.iconExit {
				width: 84px;
				line-height: 84px;
			}

			.headerFixed .wrapperDesk .headerDesktopX .contMenuDesk ul li a {
				padding: 7px 12px 7px 15px;
			}
		}
}