/* Header*/

header {
  width: 100%;
  display: block;
  height: 70px;
  background-color: $white;
  border-bottom: solid 1px #c8c8c8;
  .logospace {
    float: left;
  }
  // BOOTSTRAP REWRITES
  .navbar {
    padding: 0 1rem;
    height: 70px;
    @media (max-width: $bp_md_max) {
      height: 60px;
    }
    .navbar-brand {
      margin: 0;
      padding: 0;
      #menutoggle {
        margin: 0;
        padding: 0 15px 0 0;
        line-height: 20px;
        color: $gray1;
      }
      .logo {
        margin: 0 0 10px 0;
        padding: 0;
        @media (min-width: $bp_lg_min) {
          margin-left: 35px;
          margin-right: 20px;
        }
        @media (min-width: 1025px) {
          margin-right: 50px;
        }
        img {
          @media (max-width: 349px) {
            width: 80px;
            max-width: 80px;
          }
        }
      }
    }
    .navbar-nav {

      $iconSize : 20px;
      $iconTextSize : 12px;
      $iconTextHeight : 11px;
      $iconTextLines : 2;

      .nav-item {
        font-size: $iconTextSize;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        &.nav-item-divider {
          position: relative;
          &::before {
            display: block;
            content: '';
            border-right: 1px solid $grayBordered;
            position: absolute;
            height: 45px;
            width: 0px;
            top:50%;
            right:0;
            transform: translate(0,-50%);
          }
        }
        .nav-info {
          font-weight: bold;
        }
        .nav-link {
          position:relative;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          padding: 0; 
          cursor: pointer;
          transition: all 0.3s;
          &, * { 
            @include svg-icon-color($gray1); 
          }
          &:hover { opacity: 0.7; }
          &.ico-btn {
            padding: 0;
            width: auto;
            height: auto;
            @media (max-width:$bp_sm_max) {
              padding: 10px;
            }
            @media (min-width:$bp_md_min) {
              // per compensare testi su due righe
              margin-top: $iconTextSize; 
              min-width: $iconSize*2;
              justify-content: flex-start;
            }
            .nominativo {
              text-align: right;
            }
            img, svg {
              @include svg-icon-size(24px); 
            }
            @include svg-icon-color($gray1); 
            .ico-label {
              margin-top: 5px;
              margin-bottom: 5px;
              font-size: $iconTextSize;
              line-height: $iconTextHeight;
              // per testi su due righe
              height: calc( ( #{$iconTextHeight} * #{$iconTextLines} ) + 1px ); 
              max-width: 106px;
              color: $gray5 !important;
              display: block;
              overflow: hidden;
              @media (max-width:$bp_md_max) {
                display: none;                
              }
            }
            .ico-badge {
              position: absolute;
              top: -2px;
              left: calc( 50% + 10px );
              transform: translate(-50%, 0);
              background: $greenLink;
              color: white !important;
              padding: 0 2px;
              font-size: 10px;
              border-radius: 2em;
              font-weight: bold;
              min-width: 1.5em;
              text-align: center;
              @media (max-width:$bp_sm_max) {
                margin-top: 10px;
              }
            }
          }
          i, i:before, img, svg {
            margin: 0;
            padding: 0;
            font-size: calc( #{$iconSize} - 2px );
            line-height: $iconSize;
            width: $iconSize;
            height: $iconSize;
          }
          &.skin-btn {
            background: $gray2;
            color: $white !important;
            padding: 0 0.5rem;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
}

/* Milestones & responsive*/
/* Risoluzione alta */
@media (min-width: $bp_tablet_min) {
  header {
    transition: margin-top 0.3s;
    position: fixed;
    z-index: 10;
    #menutoggle {
      display: none !important;
    }
    .logo {
      //margin-left: 30px !important;
      padding: 0;
    }
  }
  body {
    &.scroll-down header {
      margin-top: -70px;
      position: fixed;
    }
    &.scroll-up header {
      margin-top: 0;
      position: fixed;
    }
  }
}

/* Tablet & small desktop */
@media (max-width: $bp_tablet_max) {
  header {
    position: fixed;
    z-index: 10;
    .accinfo {
      display: none;
    }
  }
}

/* Smartphones */
@media (max-width: $bp_md_max) {
  /* Form stile mobile */
  header {
    height: 60px;
  }
}
