.help {
    FONT: bold 11px Arial, Helvetica, sans-serif; COLOR: #ff0000
}
.testoBlackSmall {
    PADDING-LEFT: 3px; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBlackNormal {
    PADDING-LEFT: 3px; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBlackBig {
    PADDING-LEFT: 3px; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBlackSmallBold {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBlackNormalBold {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBlackBigBold {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoWhiteNormalBold {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedSmall {
    PADDING-LEFT: 3px; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedNormal {
    PADDING-LEFT: 3px; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedBig {
    PADDING-LEFT: 3px; FONT-SIZE: 16px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedSmallBold {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedNormalBold {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedBigBold {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoYellowSmallBold {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffe400; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoYellowSmallBold {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffe400; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.titoloTabella {
    FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #525297; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sottoTitoloTabella {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #e0e7f0; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.rigaChiara {
    FONT-SIZE: 10px; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.rigaScura {
    FONT-SIZE: 10px; BACKGROUND: #e7e7d6; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.blu {
    FONT-SIZE: 10px; COLOR: #525297; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.primaSelezione {
    FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.help {
    FONT: bold 11px Arial, Helvetica, sans-serif; COLOR: #ff0000
}
A.primaSelezione:hover {
    FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fcdc02; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.secondaSelezione {
    FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.secondaSelezione:hover {
    FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fcdc02; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.tabella {
    FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.tabellaBold {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.submit {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #4f4f90; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.submit:hover {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fe7e16; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.testoBluBold {
    FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #e7e7d6; COLOR: #1f3168; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedBold {
    FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #e7e7d6; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.testoBluSmallBold {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #e2e2da; COLOR: #1f3168; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBlackBold {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #e7e7d6; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.inizioSezione {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #e2e2da; COLOR: #1f3168; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.fineSezione {
    BACKGROUND: #c3c3ba
}


.helpDetail {
    FONT: bold 11px Arial, Helvetica, sans-serif; COLOR: #ff0000
}
.testoBlackSmallDetail {
    PADDING-LEFT: 3px; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBlackNormalDetail {
    PADDING-LEFT: 3px; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBlackBigDetail {
    PADDING-LEFT: 3px; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBlackSmallBoldDetail {
    PADDING-LEFT: 3px; BACKGROUND: rgb(220,220,220); FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBlackNormalBoldDetail {
    PADDING-LEFT: 3px; BACKGROUND: rgb(230,230,230); FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBlackBigBoldDetail {
    PADDING-LEFT: 3px; BACKGROUND: rgb(230,230,230); FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoWhiteNormalBoldDetail {
    PADDING-LEFT: 3px; BACKGROUND: rgb(230,230,230); FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedSmallDetail {
    PADDING-LEFT: 3px; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedNormalDetail {
    PADDING-LEFT: 3px; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedBigDetail {
    PADDING-LEFT: 3px; FONT-SIZE: 14px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedSmallBoldDetail {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10x; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedNormalBoldDetail {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoRedBigBoldDetail {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoYellowSmallBoldDetail {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10x; COLOR: #ffe400; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoYellowSmallBoldDetail {
    PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffe400; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.titoloTabellaDetail {
    FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sottoTitoloTabellaDetail {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.rigaChiaraDetail {
    FONT-SIZE: 12px; BACKGROUND: rgb(250,250,250); COLOR: #000000; FONT-FAMILY: monospace, Verdana, Arial, Helvetica, sans-serif;
    border-right : 1 solid rgb(230,230,230); 
    border-bottom : 1 solid rgb(230,230,230); 
    border-top : 0 solid rgb(250,250,250); 
    border-left : 0 solid rgb(250,250,250)
}
.rigaScuraDetail {
    FONT-SIZE: 10px; BACKGROUND: rgb(240,240,240); COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.bluDetail {
    FONT-SIZE: 10px; COLOR: #525297; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.primaSelezioneDetail {
    FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.primaSelezioneDetail:hover {
    FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fcdc02; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.secondaSelezioneDetail {
    FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.secondaSelezioneDetail:hover {
    FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fcdc02; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.tabellaDetail {
    FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.tabellaBoldDetail {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.submitDetail {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #4f4f90; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.submit:hoverDetail {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fe7e16; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.testoBluBoldDetail {
    FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: rgb(230,230,230); COLOR: #1f3168; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBluSmallBoldDetail {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: rgb(230,230,230); COLOR: #1f3168; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testoBlackBoldDetail {
    FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: rgb(240,240,240); COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.fineSezioneDetail {
    BACKGROUND: rgb(220,220,220)
}


