span.debugstate {
    display:inline-block;
    padding:20px;
    background: #c00; 
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    border-radius:4px;
    width:100%;
    margin:0 0 20px;
    &.attivo {
        background-color:rgb(15, 104, 15);
    }
}
button.debugbutton {
    border:none;
    background: #21557e;
    cursor:pointer;
    font-size:13px;
    color:#fff;
    border-radius:5px;
    padding:5px 10px;
    text-transform:uppercase;
    width:100%

}
.debug-console {
    width:280px;
    margin:0 auto;
    text-align:center;
    border:solid 1px #ddd;
    padding:15px;
    border-radius: 5px;
}