// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// FONTS

$bodyFontSize : 14px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Bootstrap Grid

$bp_sm_min : 576px;
$bp_sm_max : $bp_sm_min - 1;
$bp_md_min : 768px;
$bp_md_max : $bp_md_min - 1;
$bp_lg_min : 992px;
$bp_lg_max : $bp_lg_min - 1;
$bp_xl_min : 1200px;
$bp_xl_max : $bp_xl_min - 1;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// CUSTOM BREAKPOINTS

$bp_tablet_min : 1025px;
$bp_tablet_max : $bp_tablet_min - 1;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// MISURE

$spacer : 1rem;

$footerHeight: 260px;
$footerHeight_md_max: 600px;
$headerHeight: 70px;

$checkboxSize: 24px;
$checkboxSizeGap: 0.5rem;
$inputHeight: 44px;


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// COLORE

// !!! IMPORTANTE!!!
// Ogni volta che si aggiunge un nuovo colore alla palette,
// è necessario riportare la variabile colore anche nell'array $colors qui sotto.

$white : #FFFFFF;
$black : #000000;
$green : #37AD9C;
$greenLink : #2F9988;
$greenLink_hover : #248C7B;
$greenMenu : #097562;
$greenMenu_hover : #046957;
$greenLight : #30C9B4;
$greenLight2: #08BBCA;
$greenLighter : #e1f3f0;
$grayBordered : #c8c8c8;
$grayLightBorder: #f2f2f2;
$gray1 : #3e3e3e;
$gray1_hover : #333333;
$gray2 : #737373;
$gray2_hover : #5c5c5c;
$gray3 : #999999;
$gray4 : #DDDDDD;
$gray4_hover : $grayBordered;
$gray5 : #888888;
$gray6: #e4e4e4;
$gray7: #EEEEEE;
$gray8:#797979;
$gray9:$grayBordered;
$grayBG : #F5F5F5;
$grayMid : #666666;
$blueLight : #f5f9fc;
$blue : #0b2147;
$orange: #ee9314;
$warning : #CF9418;
$error : #CC1615 ;
$success : $greenLink;
$input_placeholder: #AAAAAA;
$input_disabled_bkg: #DDDDDD;
$input_disabled_color: $white;
$input_disabled_placeholder: $gray7;
$tableStriped : #fafafa;

// Array per le classi .color-NOMECOLORE e .bkg-NOMECOLORE ( vedere "FUNZIONE DI COLORE" in _mixins.scss )

$colors:(
    white               : $white,
    black               : $black,
    green               : $green,
    greenLink           : $greenLink,
    greenLink_hover     : $greenLink_hover,
    greenMenu           : $greenMenu,
    greenMenu_hover     : $greenMenu_hover,
    greenLight          : $greenLight,
    greenLighter        : $greenLighter,
    grayBordered        : $grayBordered,
    gray1               : $gray1,
    gray1_hover         : $gray1_hover,
    gray2               : $gray2,
    gray2_hover         : $gray2_hover,
    gray3               : $gray3,
    gray4               : $gray4,
    gray4_hover         : $gray4_hover,
    gray5               : $gray5,
    gray6               : $gray6,
    gray7               : $gray7,
    grayBG              : $grayBG,
    grayMid             : $grayMid,
    blue                : $blue,
    orange              : $orange,
    warning             : $warning,
    error               : $error,
    success             : $success,
    input_placeholder   : $input_placeholder,
    input_disabled_bkg  : $input_disabled_bkg,
    input_disabled_color : $input_disabled_color,
    input_disabled_placeholder : $input_disabled_placeholder,
    tableStriped :      $tableStriped,
);
