// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// FONTS

$bodyFontSize : 14px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Bootstrap Grid

$bp_sm_min : 576px;
$bp_sm_max : $bp_sm_min - 1;
$bp_md_min : 768px;
$bp_md_max : $bp_md_min - 1;
$bp_lg_min : 992px;
$bp_lg_max : $bp_lg_min - 1;
$bp_xl_min : 1200px;
$bp_xl_max : $bp_xl_min - 1;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// CUSTOM BREAKPOINTS

$bp_tablet_min : 1025px;
$bp_tablet_max : $bp_tablet_min - 1;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// MISURE

$spacer : 1rem;

$footerHeight: 260px;
$footerHeight_md_max: 600px;
$headerHeight: 70px;

$checkboxSize: 24px;
$checkboxSizeGap: 0.5rem;
$inputHeight: 44px;


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// COLORE

// !!! IMPORTANTE!!!
// Ogni volta che si aggiunge un nuovo colore alla palette,
// è necessario riportare la variabile colore anche nell'array $colors qui sotto.

$white : #FFFFFF;
$black : #000000;
$green : #37AD9C;
$greenLink : #2F9988;
$greenLink_hover : #248C7B;
$greenMenu : #097562;
$greenMenu_hover : #046957;
$greenLight : #30C9B4;
$greenLight2: #08BBCA;
$greenLighter : #e1f3f0;
$greenLightBordered : #afd4cd;
$greenLighterTh : #e9f3f1;
$grayBordered : #c8c8c8;
$grayBordered2:#d9dce6;
$grayLightBorder: #f2f2f2;
$gray1 : #3e3e3e;
$gray1_hover : #333333;
$gray2 : #737373;
$gray2_hover : #5c5c5c;
$gray3 : #999999;
$gray4 : #DDDDDD;
$gray4_hover : $grayBordered;
$gray5 : #888888;
$gray6: #e4e4e4;
$gray7: #EEEEEE;
$gray8:#797979;
$gray9:$grayBordered;
$gray10: #d8d8d8;
$grayBG : #F5F5F5;
$grayMid : #666666;
$blueLight : #f5f9fc;
$blue : #0b2147;
$orange: #ee9314;
$warning : #CF9418;
$error : #CC1615 ;
$success : $greenLink;
$input_placeholder: #AAAAAA;
$input_disabled_bkg: #DDDDDD;
$input_disabled_color: #495057;
$input_disabled_placeholder:  #495057;
$tableStriped : #fafafa;
$greenLighter_border: #afdbd4;
$boxHighLight : #d1e6e2;
/* bfm colori status*/
$bfm_status_confermare: #e9ce96;
$bfm_status_attive: #37ad9c;
$bfm_status_categorizzare:#f5f5f5;
$bfm_status_inscadenza:#f6cf49;
$bfm_status_scaduta:#7d48aa;
$bfm_status_incassata:#52a99b;
$bfm_status_parzialmente_incassata:#dddddd;
$bfm_status_totale:#3e3e3e;

/* bfm colori categorie*/
$bfm_bollette: #00755c;
$bfm_fornitori: #8fc7ff;
$bfm_operazionifinanziarie: #5094ff;
$bfm_ricavi: #003cac;
$bfm_assicurazione: #2ec5e9;
$bfm_altrespese: #94eade;
$bfm_servizi: #98d1c9;
$bfm_tasse: #37ad9c;
$bfm_trasporti: #178494;
$bfm_immobilizzazioni: #6570c0;
$bfm_intercompany: #a575ac;
$bfm_altrepassivita: #ef98dc;
$bfm_altriproventi: #bcbcbc;
$bfm_risorseumane: #186bee;
// Array per le classi .color-NOMECOLORE e .bkg-NOMECOLORE ( vedere "FUNZIONE DI COLORE" in _mixins.scss )

$colors:(
    white               : $white,
    black               : $black,
    green               : $green,
    greenLink           : $greenLink,
    greenLink_hover     : $greenLink_hover,
    greenMenu           : $greenMenu,
    greenMenu_hover     : $greenMenu_hover,
    greenLight          : $greenLight,
    greenLighter        : $greenLighter,
    greenLighterTh     : $greenLighterTh,
    grayBordered        : $grayBordered,
    gray1               : $gray1,
    gray1_hover         : $gray1_hover,
    gray2               : $gray2,
    gray2_hover         : $gray2_hover,
    gray3               : $gray3,
    gray4               : $gray4,
    gray4_hover         : $gray4_hover,
    gray5               : $gray5,
    gray6               : $gray6,
    gray7               : $gray7,
    gray10              : $gray10,
    grayBG              : $grayBG,
    grayMid             : $grayMid,
    blue                : $blue,
    orange              : $orange,
    warning             : $warning,
    error               : $error,
    success             : $success,
    input_placeholder   : $input_placeholder,
    input_disabled_bkg  : $input_disabled_bkg,
    input_disabled_color : $input_disabled_color,
    input_disabled_placeholder : $input_disabled_placeholder,
    tableStriped :      $tableStriped,
    greenLighter_border: $greenLighter_border,
    bfm_status_confermare : $bfm_status_confermare,
    bfm_status_attive :$bfm_status_attive,
    bfm_status_categorizzare :$bfm_status_categorizzare,
    bfm_status_totale: $bfm_status_totale,
    bfm_status_parzialmente_incassata: $bfm_status_parzialmente_incassata,
    bfm_bollette: $bfm_bollette,
    bfm_fornitori: $bfm_fornitori,
    bfm_operazionifinanziarie: $bfm_operazionifinanziarie,
    bfm_ricavi: $bfm_ricavi,
    bfm_assicurazione: $bfm_assicurazione,
    bfm_altrespese: $bfm_altrespese,
    bfm_servizi : $bfm_servizi,
    bfm_tasse : $bfm_tasse,
    bfm_trasporti : $bfm_trasporti,
    bfm_immobilizzazioni : $bfm_immobilizzazioni,
    bfm_intercompany: $bfm_intercompany,
    bfm_altrepassivita: $bfm_altrepassivita,
    bfm_altriproventi: $bfm_altriproventi,
    bfm_risorseumane: $bfm_risorseumane,
    bfm_status_inscadenza: $bfm_status_inscadenza,
    bfm_status_scaduta: $bfm_status_scaduta,
    bfm_status_incassata: $bfm_status_incassata,
    boxHighLight: $boxHighLight,

);
