<div>
    <h2>Overview</h2>

    <!-- Introduzione -->
    <section>
        <h3>Semplifica il tuo modo di investire</h3>
        <p>Le migliori soluzioni d'investimento <strong>in pochi click. Potrai investire e costruire il tuo portafoglio in autonomia, orientandoti facilmente nell'universo degli oltre 3.000 Fondi e Sicav.</strong></p>
    </section>
    <!-- Fine introduzione -->

    <!-- Top selection -->
    <section>
        <div class="row">
            <div class="col-xs-12">
                <h4>Top Selection</h4>
                <div class="testoIcona">
                    <span class="glyph glyph-top_selection flLeft layered"><span class="path1"></span><span
                            class="path2"></span><span class="path3"></span><span class="path4"></span><span
                            class="path5"></span><span class="path6"></span><span class="path7"></span><span
                            class="path8"></span><span class="path9"></span><span class="path10"></span><span
                            class="path11"></span><span class="path12"></span><span class="path13"></span></span>
                    <div class="leftTesto glifiLeftText">
                        <p>La soluzione semplice e immediata per investire in un solo
                            fondo selezionato tra i migliori disponibili, senza rinunciare alla
                            diversificazione che proprio i fondi e le Sicav ti offrono.</p>
                        <ol>
                            <li>Scopri la nostra TOP SELECTION</li>
                            <li>Scegli il fondo in cui investire</li>
                            <li>Sottoscrivi il fondo in un click</li>
                        </ol>
                        <div class="form-group btnWrapper">
                            <div class="btn-align-left">
                                <a href="xxxyyyy.pdf" title="Visualizza la guida">Guida alla Top Selection</a>
                            </div>
                            <div class="btn-align-right">

                                <a type="button" class="btn btn-primary" (click)="navto('topselection')" title="Vai alla top selection">Vai
                                    alla top selection</a>

                            </div>
                            <br class="clear">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fine top selection -->

    <!-- Portafoglio modello -->
    <section>
        <div class="row">
            <div class="col-xs-12">
                <h4>Portafoglio modello</h4>
                <div class="testoIcona">
                    <span class="glyph glyph-portafoglio_modello flLeft layered"><span class="path1"></span><span
                            class="path2"></span><span class="path3"></span><span class="path4"></span><span
                            class="path5"></span><span class="path6"></span><span class="path7"></span><span
                            class="path8"></span><span class="path9"></span><span class="path10"></span><span
                            class="path11"></span><span class="path12"></span><span class="path13"></span></span>
                    <div class="leftTesto glifiLeftText">
                        <p>Soluzioni intuitive e facili per costruire il tuo portafoglio
                            e diversificarlo in massima autonomia partendo da Portafogli
                            Modello pensati per diversi profili di investimento.</p>
                        <ol>
                            <li>Seleziona il PORTAFOGLIO MODELLO che preferisci</li>
                            <li>Scopri la composizione del portafoglio scelto</li>
                            <li>Scegli e sottoscrivi i singoli fondi da inserire in portafoglio</li>
                        </ol>
                        <div class="form-group btnWrapper">
                            <div class="btn-align-left">
                                <a href="xxxyyyy.pdf" title="Visualizza la guida">Guida ai Portafogli Modello</a>
                            </div>
                            <div class="btn-align-right">
                                <a type="button" class="btn btn-primary" title="Vai al portafoglio modello">Vai
                                    al portafoglio modello</a>
                            </div>
                            <br class="clear">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fine portafoglio modello -->

    <!-- Promo -->
    <section>
        <div class="row banner-inv">
            <div class="col-xs-3 col-sm-2 inv-left"></div>
            <div class="col-xs-9 col-sm-10 no-gutter inv-right">
                <p>Ti potrebbe interessare anche...</p>
                <div class="form-group btnWrapper">

                    <div class="btn-align-right">
                        <a type="button" class="btn btn-primary" href="#">Soluzioni self</a>
                    </div>
                    <div class="btn-align-right">
                        <a type="button" class="btn btn-primary" href="#">Piani di accumulo</a>
                    </div>
                    <br class="clear">
                </div>
            </div>
        </div>
    </section>
    <!-- Fine promo -->

</div>